<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;simplecov&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="no">SimpleCov</span><span class="o">.</span><span class="n">profiles</span><span class="o">.</span><span class="n">define</span> <span class="s2">&quot;gem&quot;</span> <span class="k">do</span>
<a name="gbab-6"></a>  <span class="n">add_filter</span> <span class="s2">&quot;/test/&quot;</span>
<a name="gbab-7"></a>  <span class="n">add_filter</span> <span class="s2">&quot;/features/&quot;</span>
<a name="gbab-8"></a>  <span class="n">add_filter</span> <span class="s2">&quot;/autotest/&quot;</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>  <span class="n">add_group</span> <span class="s2">&quot;Binaries&quot;</span><span class="p">,</span> <span class="s2">&quot;/bin/&quot;</span>
<a name="gbab-11"></a>  <span class="n">add_group</span> <span class="s2">&quot;Libraries&quot;</span><span class="p">,</span> <span class="s2">&quot;/lib/&quot;</span>
<a name="gbab-12"></a><span class="k">end</span>
</pre></div>
</td></tr></table>