<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestAnsi</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="kp">nil</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="vi">@subject</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">::</span><span class="no">Ansi</span>
<a name="gbab-9"></a>    <span class="k">end</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>    <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">::</span><span class="no">Ansi</span><span class="o">::</span><span class="no">COLORS</span><span class="o">.</span><span class="n">each_key</span> <span class="k">do</span> <span class="o">|</span><span class="n">color</span><span class="o">|</span>
<a name="gbab-12"></a>      <span class="n">should</span> <span class="s2">&quot;respond_to? </span><span class="si">#{</span><span class="n">color</span><span class="si">}</span><span class="s2">&quot;</span> <span class="k">do</span>
<a name="gbab-13"></a>        <span class="n">assert</span> <span class="vi">@subject</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="n">color</span><span class="p">)</span>
<a name="gbab-14"></a>      <span class="k">end</span>
<a name="gbab-15"></a>    <span class="k">end</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>    <span class="n">should</span> <span class="s2">&quot;be able to strip colors&quot;</span> <span class="k">do</span>
<a name="gbab-18"></a>      <span class="n">assert_equal</span> <span class="vi">@subject</span><span class="o">.</span><span class="n">strip</span><span class="p">(</span><span class="vi">@subject</span><span class="o">.</span><span class="n">yellow</span><span class="p">(</span><span class="vi">@subject</span><span class="o">.</span><span class="n">red</span><span class="p">(</span><span class="s2">&quot;hello&quot;</span><span class="p">))),</span> <span class="s2">&quot;hello&quot;</span>
<a name="gbab-19"></a>    <span class="k">end</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>    <span class="n">should</span> <span class="s2">&quot;be able to detect colors&quot;</span> <span class="k">do</span>
<a name="gbab-22"></a>      <span class="n">assert</span> <span class="vi">@subject</span><span class="o">.</span><span class="n">has?</span><span class="p">(</span><span class="vi">@subject</span><span class="o">.</span><span class="n">yellow</span><span class="p">(</span><span class="s2">&quot;hello&quot;</span><span class="p">))</span>
<a name="gbab-23"></a>    <span class="k">end</span>
<a name="gbab-24"></a>  <span class="k">end</span>
<a name="gbab-25"></a><span class="k">end</span>
</pre></div>
</td></tr></table>