<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestCollections</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;an evil collection&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="vi">@collection</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Collection</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">fixture_site</span><span class="p">,</span> <span class="s2">&quot;../../etc/password&quot;</span><span class="p">)</span>
<a name="gbab-9"></a>    <span class="k">end</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>    <span class="n">should</span> <span class="s2">&quot;sanitize the label name&quot;</span> <span class="k">do</span>
<a name="gbab-12"></a>      <span class="n">assert_equal</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">label</span><span class="p">,</span> <span class="s2">&quot;....etcpassword&quot;</span>
<a name="gbab-13"></a>    <span class="k">end</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>    <span class="n">should</span> <span class="s2">&quot;have a sanitized relative path name&quot;</span> <span class="k">do</span>
<a name="gbab-16"></a>      <span class="n">assert_equal</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">relative_directory</span><span class="p">,</span> <span class="s2">&quot;_....etcpassword&quot;</span>
<a name="gbab-17"></a>    <span class="k">end</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a>    <span class="n">should</span> <span class="s2">&quot;have a sanitized full path&quot;</span> <span class="k">do</span>
<a name="gbab-20"></a>      <span class="n">assert_equal</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">directory</span><span class="p">,</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_....etcpassword&quot;</span><span class="p">)</span>
<a name="gbab-21"></a>    <span class="k">end</span>
<a name="gbab-22"></a>  <span class="k">end</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>  <span class="n">context</span> <span class="s2">&quot;a simple collection&quot;</span> <span class="k">do</span>
<a name="gbab-25"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-26"></a>      <span class="vi">@collection</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Collection</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">fixture_site</span><span class="p">,</span> <span class="s2">&quot;methods&quot;</span><span class="p">)</span>
<a name="gbab-27"></a>    <span class="k">end</span>
<a name="gbab-28"></a>
<a name="gbab-29"></a>    <span class="n">should</span> <span class="s2">&quot;sanitize the label name&quot;</span> <span class="k">do</span>
<a name="gbab-30"></a>      <span class="n">assert_equal</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">label</span><span class="p">,</span> <span class="s2">&quot;methods&quot;</span>
<a name="gbab-31"></a>    <span class="k">end</span>
<a name="gbab-32"></a>
<a name="gbab-33"></a>    <span class="n">should</span> <span class="s2">&quot;have default URL template&quot;</span> <span class="k">do</span>
<a name="gbab-34"></a>      <span class="n">assert_equal</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">url_template</span><span class="p">,</span> <span class="s2">&quot;/:collection/:path:output_ext&quot;</span>
<a name="gbab-35"></a>    <span class="k">end</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a>    <span class="n">should</span> <span class="s2">&quot;contain no docs when initialized&quot;</span> <span class="k">do</span>
<a name="gbab-38"></a>      <span class="n">assert_empty</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">docs</span>
<a name="gbab-39"></a>    <span class="k">end</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>    <span class="n">should</span> <span class="s2">&quot;know its relative directory&quot;</span> <span class="k">do</span>
<a name="gbab-42"></a>      <span class="n">assert_equal</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">relative_directory</span><span class="p">,</span> <span class="s2">&quot;_methods&quot;</span>
<a name="gbab-43"></a>    <span class="k">end</span>
<a name="gbab-44"></a>
<a name="gbab-45"></a>    <span class="n">should</span> <span class="s2">&quot;know the full path to itself on the filesystem&quot;</span> <span class="k">do</span>
<a name="gbab-46"></a>      <span class="n">assert_equal</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">directory</span><span class="p">,</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_methods&quot;</span><span class="p">)</span>
<a name="gbab-47"></a>    <span class="k">end</span>
<a name="gbab-48"></a>
<a name="gbab-49"></a>    <span class="n">context</span> <span class="s2">&quot;when turned into Liquid&quot;</span> <span class="k">do</span>
<a name="gbab-50"></a>      <span class="n">should</span> <span class="s2">&quot;have a label attribute&quot;</span> <span class="k">do</span>
<a name="gbab-51"></a>        <span class="n">assert_equal</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">[</span><span class="s2">&quot;label&quot;</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;methods&quot;</span>
<a name="gbab-52"></a>      <span class="k">end</span>
<a name="gbab-53"></a>
<a name="gbab-54"></a>      <span class="n">should</span> <span class="s2">&quot;have a docs attribute&quot;</span> <span class="k">do</span>
<a name="gbab-55"></a>        <span class="n">assert_equal</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">[</span><span class="s2">&quot;docs&quot;</span><span class="o">]</span><span class="p">,</span> <span class="o">[]</span>
<a name="gbab-56"></a>      <span class="k">end</span>
<a name="gbab-57"></a>
<a name="gbab-58"></a>      <span class="n">should</span> <span class="s2">&quot;have a directory attribute&quot;</span> <span class="k">do</span>
<a name="gbab-59"></a>        <span class="n">assert_equal</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">[</span><span class="s2">&quot;directory&quot;</span><span class="o">]</span><span class="p">,</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_methods&quot;</span><span class="p">)</span>
<a name="gbab-60"></a>      <span class="k">end</span>
<a name="gbab-61"></a>
<a name="gbab-62"></a>      <span class="n">should</span> <span class="s2">&quot;have a relative_directory attribute&quot;</span> <span class="k">do</span>
<a name="gbab-63"></a>        <span class="n">assert_equal</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">[</span><span class="s2">&quot;relative_directory&quot;</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;_methods&quot;</span>
<a name="gbab-64"></a>      <span class="k">end</span>
<a name="gbab-65"></a>
<a name="gbab-66"></a>      <span class="n">should</span> <span class="s2">&quot;have a output attribute&quot;</span> <span class="k">do</span>
<a name="gbab-67"></a>        <span class="n">assert_equal</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">[</span><span class="s2">&quot;output&quot;</span><span class="o">]</span><span class="p">,</span> <span class="kp">false</span>
<a name="gbab-68"></a>      <span class="k">end</span>
<a name="gbab-69"></a>    <span class="k">end</span>
<a name="gbab-70"></a>
<a name="gbab-71"></a>    <span class="n">should</span> <span class="s2">&quot;know whether it should be written or not&quot;</span> <span class="k">do</span>
<a name="gbab-72"></a>      <span class="n">assert_equal</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">write?</span><span class="p">,</span> <span class="kp">false</span>
<a name="gbab-73"></a>      <span class="vi">@collection</span><span class="o">.</span><span class="n">metadata</span><span class="o">[</span><span class="s2">&quot;output&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-74"></a>      <span class="n">assert_equal</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">write?</span><span class="p">,</span> <span class="kp">true</span>
<a name="gbab-75"></a>      <span class="vi">@collection</span><span class="o">.</span><span class="n">metadata</span><span class="o">.</span><span class="n">delete</span> <span class="s2">&quot;output&quot;</span>
<a name="gbab-76"></a>    <span class="k">end</span>
<a name="gbab-77"></a>  <span class="k">end</span>
<a name="gbab-78"></a>
<a name="gbab-79"></a>  <span class="n">context</span> <span class="s2">&quot;with no collections specified&quot;</span> <span class="k">do</span>
<a name="gbab-80"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-81"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span>
<a name="gbab-82"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-83"></a>    <span class="k">end</span>
<a name="gbab-84"></a>
<a name="gbab-85"></a>    <span class="n">should</span> <span class="s2">&quot;contain only the default collections&quot;</span> <span class="k">do</span>
<a name="gbab-86"></a>      <span class="n">refute_equal</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="p">,</span> <span class="p">{}</span>
<a name="gbab-87"></a>      <span class="n">refute_nil</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span>
<a name="gbab-88"></a>    <span class="k">end</span>
<a name="gbab-89"></a>  <span class="k">end</span>
<a name="gbab-90"></a>
<a name="gbab-91"></a>  <span class="n">context</span> <span class="s2">&quot;a collection with permalink&quot;</span> <span class="k">do</span>
<a name="gbab-92"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-93"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-94"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-95"></a>          <span class="s2">&quot;methods&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-96"></a>            <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;/awesome/:path/&quot;</span><span class="p">,</span>
<a name="gbab-97"></a>          <span class="p">},</span>
<a name="gbab-98"></a>        <span class="p">},</span>
<a name="gbab-99"></a>      <span class="p">})</span>
<a name="gbab-100"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-101"></a>      <span class="vi">@collection</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">]</span>
<a name="gbab-102"></a>    <span class="k">end</span>
<a name="gbab-103"></a>
<a name="gbab-104"></a>    <span class="n">should</span> <span class="s2">&quot;have custom URL template&quot;</span> <span class="k">do</span>
<a name="gbab-105"></a>      <span class="n">assert_equal</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">url_template</span><span class="p">,</span> <span class="s2">&quot;/awesome/:path/&quot;</span>
<a name="gbab-106"></a>    <span class="k">end</span>
<a name="gbab-107"></a>  <span class="k">end</span>
<a name="gbab-108"></a>
<a name="gbab-109"></a>  <span class="n">context</span> <span class="s2">&quot;with a collection&quot;</span> <span class="k">do</span>
<a name="gbab-110"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-111"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-112"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-113"></a>      <span class="p">})</span>
<a name="gbab-114"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-115"></a>      <span class="vi">@collection</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">]</span>
<a name="gbab-116"></a>    <span class="k">end</span>
<a name="gbab-117"></a>
<a name="gbab-118"></a>    <span class="n">should</span> <span class="s2">&quot;create a Hash mapping label to Collection instance&quot;</span> <span class="k">do</span>
<a name="gbab-119"></a>      <span class="n">assert</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span>
<a name="gbab-120"></a>      <span class="n">refute_nil</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">]</span>
<a name="gbab-121"></a>      <span class="n">assert</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">].</span><span class="n">is_a?</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Collection</span>
<a name="gbab-122"></a>    <span class="k">end</span>
<a name="gbab-123"></a>
<a name="gbab-124"></a>    <span class="n">should</span> <span class="s2">&quot;collects docs in an array on the Collection object&quot;</span> <span class="k">do</span>
<a name="gbab-125"></a>      <span class="n">assert</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">.</span><span class="n">is_a?</span> <span class="nb">Array</span>
<a name="gbab-126"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">doc</span><span class="o">|</span>
<a name="gbab-127"></a>        <span class="n">assert</span> <span class="n">doc</span><span class="o">.</span><span class="n">is_a?</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Document</span>
<a name="gbab-128"></a>        <span class="n">assert_includes</span> <span class="sx">%w(</span>
<a name="gbab-129"></a><span class="sx">          _methods/configuration.md</span>
<a name="gbab-130"></a><span class="sx">          _methods/sanitized_path.md</span>
<a name="gbab-131"></a><span class="sx">          _methods/collection/entries</span>
<a name="gbab-132"></a><span class="sx">          _methods/site/generate.md</span>
<a name="gbab-133"></a><span class="sx">          _methods/site/initialize.md</span>
<a name="gbab-134"></a><span class="sx">          _methods/um_hi.md</span>
<a name="gbab-135"></a><span class="sx">          _methods/escape-+\ #%20[].md</span>
<a name="gbab-136"></a><span class="sx">          _methods/yaml_with_dots.md</span>
<a name="gbab-137"></a><span class="sx">          _methods/3940394-21-9393050-fifif1323-test.md</span>
<a name="gbab-138"></a><span class="sx">        )</span><span class="p">,</span> <span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span>
<a name="gbab-139"></a>      <span class="k">end</span>
<a name="gbab-140"></a>    <span class="k">end</span>
<a name="gbab-141"></a>
<a name="gbab-142"></a>    <span class="n">should</span> <span class="s2">&quot;not include files from base dir which start with an underscore&quot;</span> <span class="k">do</span>
<a name="gbab-143"></a>      <span class="n">refute_includes</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">filtered_entries</span><span class="p">,</span> <span class="s2">&quot;_do_not_read_me.md&quot;</span>
<a name="gbab-144"></a>    <span class="k">end</span>
<a name="gbab-145"></a>
<a name="gbab-146"></a>    <span class="n">should</span> <span class="s2">&quot;not include files which start with an underscore in a subdirectory&quot;</span> <span class="k">do</span>
<a name="gbab-147"></a>      <span class="n">refute_includes</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">filtered_entries</span><span class="p">,</span> <span class="s2">&quot;site/_dont_include_me_either.md&quot;</span>
<a name="gbab-148"></a>    <span class="k">end</span>
<a name="gbab-149"></a>
<a name="gbab-150"></a>    <span class="n">should</span> <span class="s2">&quot;not include the underscored files in the list of docs&quot;</span> <span class="k">do</span>
<a name="gbab-151"></a>      <span class="n">refute_includes</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">map</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:relative_path</span><span class="p">),</span> <span class="s2">&quot;_methods/_do_not_read_me.md&quot;</span>
<a name="gbab-152"></a>      <span class="n">refute_includes</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">map</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:relative_path</span><span class="p">),</span>
<a name="gbab-153"></a>                                           <span class="s2">&quot;_methods/site/_dont_include_me_either.md&quot;</span>
<a name="gbab-154"></a>    <span class="k">end</span>
<a name="gbab-155"></a>  <span class="k">end</span>
<a name="gbab-156"></a>
<a name="gbab-157"></a>  <span class="n">context</span> <span class="s2">&quot;with a collection with metadata&quot;</span> <span class="k">do</span>
<a name="gbab-158"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-159"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-160"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-161"></a>          <span class="s2">&quot;methods&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-162"></a>            <span class="s2">&quot;foo&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span>
<a name="gbab-163"></a>            <span class="s2">&quot;baz&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;whoo&quot;</span><span class="p">,</span>
<a name="gbab-164"></a>          <span class="p">},</span>
<a name="gbab-165"></a>        <span class="p">},</span>
<a name="gbab-166"></a>      <span class="p">})</span>
<a name="gbab-167"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-168"></a>      <span class="vi">@collection</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">]</span>
<a name="gbab-169"></a>    <span class="k">end</span>
<a name="gbab-170"></a>
<a name="gbab-171"></a>    <span class="n">should</span> <span class="s2">&quot;extract the configuration collection information as metadata&quot;</span> <span class="k">do</span>
<a name="gbab-172"></a>      <span class="n">assert_equal</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">metadata</span><span class="p">,</span> <span class="p">{</span><span class="s2">&quot;foo&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="s2">&quot;baz&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;whoo&quot;</span><span class="p">}</span>
<a name="gbab-173"></a>    <span class="k">end</span>
<a name="gbab-174"></a>  <span class="k">end</span>
<a name="gbab-175"></a>
<a name="gbab-176"></a>  <span class="n">context</span> <span class="s2">&quot;in safe mode&quot;</span> <span class="k">do</span>
<a name="gbab-177"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-178"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-179"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-180"></a>        <span class="s2">&quot;safe&quot;</span>        <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-181"></a>      <span class="p">})</span>
<a name="gbab-182"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-183"></a>      <span class="vi">@collection</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">]</span>
<a name="gbab-184"></a>    <span class="k">end</span>
<a name="gbab-185"></a>
<a name="gbab-186"></a>    <span class="n">should</span> <span class="s2">&quot;include the symlinked file as it resolves to inside site.source&quot;</span> <span class="k">do</span>
<a name="gbab-187"></a>      <span class="n">assert_includes</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">filtered_entries</span><span class="p">,</span> <span class="s2">&quot;um_hi.md&quot;</span>
<a name="gbab-188"></a>      <span class="n">refute_includes</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">filtered_entries</span><span class="p">,</span> <span class="s2">&quot;/um_hi.md&quot;</span>
<a name="gbab-189"></a>    <span class="k">end</span>
<a name="gbab-190"></a>
<a name="gbab-191"></a>    <span class="n">should</span> <span class="s2">&quot;include the symlinked file from site.source in the list of docs&quot;</span> <span class="k">do</span>
<a name="gbab-192"></a>      <span class="c1"># no support for including symlinked file on Windows</span>
<a name="gbab-193"></a>      <span class="n">skip_if_windows</span> <span class="s2">&quot;Jekyll does not currently support symlinks on Windows.&quot;</span>
<a name="gbab-194"></a>
<a name="gbab-195"></a>      <span class="n">assert_includes</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">map</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:relative_path</span><span class="p">),</span> <span class="s2">&quot;_methods/um_hi.md&quot;</span>
<a name="gbab-196"></a>    <span class="k">end</span>
<a name="gbab-197"></a>  <span class="k">end</span>
<a name="gbab-198"></a>
<a name="gbab-199"></a>  <span class="n">context</span> <span class="s2">&quot;with dots in the filenames&quot;</span> <span class="k">do</span>
<a name="gbab-200"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-201"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-202"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;with.dots&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-203"></a>        <span class="s2">&quot;safe&quot;</span>        <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-204"></a>      <span class="p">})</span>
<a name="gbab-205"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-206"></a>      <span class="vi">@collection</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;with.dots&quot;</span><span class="o">]</span>
<a name="gbab-207"></a>    <span class="k">end</span>
<a name="gbab-208"></a>
<a name="gbab-209"></a>    <span class="n">should</span> <span class="s2">&quot;exist&quot;</span> <span class="k">do</span>
<a name="gbab-210"></a>      <span class="n">refute_nil</span> <span class="vi">@collection</span>
<a name="gbab-211"></a>    <span class="k">end</span>
<a name="gbab-212"></a>
<a name="gbab-213"></a>      <span class="n">assert_equal</span> <span class="mi">4</span><span class="p">,</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">size</span>
<a name="gbab-214"></a>      <span class="n">assert_equal</span> <span class="mi">3</span><span class="p">,</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">size</span>
<a name="gbab-215"></a>    <span class="k">end</span>
<a name="gbab-216"></a>
<a name="gbab-217"></a>    <span class="n">should</span> <span class="s2">&quot;allow dots in the filename&quot;</span> <span class="k">do</span>
<a name="gbab-218"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;_with.dots&quot;</span><span class="p">,</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">relative_directory</span>
<a name="gbab-219"></a>    <span class="k">end</span>
<a name="gbab-220"></a>
<a name="gbab-221"></a>    <span class="n">should</span> <span class="s2">&quot;read document in subfolders with dots&quot;</span> <span class="k">do</span>
<a name="gbab-222"></a>      <span class="n">assert</span><span class="p">(</span>
<a name="gbab-223"></a>        <span class="vi">@collection</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">any?</span> <span class="p">{</span> <span class="o">|</span><span class="n">d</span><span class="o">|</span> <span class="n">d</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;all.dots&quot;</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-224"></a>      <span class="p">)</span>
<a name="gbab-225"></a>    <span class="k">end</span>
<a name="gbab-226"></a>  <span class="k">end</span>
<a name="gbab-227"></a>
<a name="gbab-228"></a>  <span class="n">context</span> <span class="s2">&quot;a collection with included dotfiles&quot;</span> <span class="k">do</span>
<a name="gbab-229"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-230"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-231"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-232"></a>          <span class="s2">&quot;methods&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-233"></a>            <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;/awesome/:path/&quot;</span><span class="p">,</span>
<a name="gbab-234"></a>          <span class="p">},</span>
<a name="gbab-235"></a>        <span class="p">},</span>
<a name="gbab-236"></a>        <span class="s2">&quot;include&quot;</span>     <span class="o">=&gt;</span> <span class="sx">%w(.htaccess .gitignore)</span><span class="p">,</span>
<a name="gbab-237"></a>      <span class="p">})</span>
<a name="gbab-238"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-239"></a>      <span class="vi">@collection</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">]</span>
<a name="gbab-240"></a>    <span class="k">end</span>
<a name="gbab-241"></a>
<a name="gbab-242"></a>    <span class="n">should</span> <span class="s2">&quot;contain .htaccess file&quot;</span> <span class="k">do</span>
<a name="gbab-243"></a>      <span class="n">assert</span><span class="p">(</span><span class="vi">@collection</span><span class="o">.</span><span class="n">files</span><span class="o">.</span><span class="n">any?</span> <span class="p">{</span> <span class="o">|</span><span class="n">d</span><span class="o">|</span> <span class="n">d</span><span class="o">.</span><span class="n">name</span> <span class="o">==</span> <span class="s2">&quot;.htaccess&quot;</span> <span class="p">})</span>
<a name="gbab-244"></a>    <span class="k">end</span>
<a name="gbab-245"></a>
<a name="gbab-246"></a>    <span class="n">should</span> <span class="s2">&quot;contain .gitignore file&quot;</span> <span class="k">do</span>
<a name="gbab-247"></a>      <span class="n">assert</span><span class="p">(</span><span class="vi">@collection</span><span class="o">.</span><span class="n">files</span><span class="o">.</span><span class="n">any?</span> <span class="p">{</span> <span class="o">|</span><span class="n">d</span><span class="o">|</span> <span class="n">d</span><span class="o">.</span><span class="n">name</span> <span class="o">==</span> <span class="s2">&quot;.gitignore&quot;</span> <span class="p">})</span>
<a name="gbab-248"></a>    <span class="k">end</span>
<a name="gbab-249"></a>
<a name="gbab-250"></a>    <span class="n">should</span> <span class="s2">&quot;have custom URL in static file&quot;</span> <span class="k">do</span>
<a name="gbab-251"></a>      <span class="n">assert</span><span class="p">(</span>
<a name="gbab-252"></a>        <span class="vi">@collection</span><span class="o">.</span><span class="n">files</span><span class="o">.</span><span class="n">any?</span> <span class="p">{</span> <span class="o">|</span><span class="n">d</span><span class="o">|</span> <span class="n">d</span><span class="o">.</span><span class="n">url</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;/awesome/with.dots/&quot;</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-253"></a>      <span class="p">)</span>
<a name="gbab-254"></a>    <span class="k">end</span>
<a name="gbab-255"></a>  <span class="k">end</span>
<a name="gbab-256"></a><span class="k">end</span>
</pre></div>
</td></tr></table>