<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;webrick&quot;</span>
<a name="gbab-4"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-5"></a><span class="nb">require</span> <span class="s2">&quot;net/http&quot;</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a><span class="k">class</span> <span class="nc">TestCommandsServeServlet</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-8"></a>  <span class="k">def</span> <span class="nf">get</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-9"></a>    <span class="no">TestWEBrick</span><span class="o">.</span><span class="n">mount_server</span> <span class="k">do</span> <span class="o">|</span><span class="n">_server</span><span class="p">,</span> <span class="n">addr</span><span class="p">,</span> <span class="n">port</span><span class="o">|</span>
<a name="gbab-10"></a>      <span class="n">http</span> <span class="o">=</span> <span class="no">Net</span><span class="o">::</span><span class="no">HTTP</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">addr</span><span class="p">,</span> <span class="n">port</span><span class="p">)</span>
<a name="gbab-11"></a>      <span class="n">req</span> <span class="o">=</span> <span class="no">Net</span><span class="o">::</span><span class="no">HTTP</span><span class="o">::</span><span class="no">Get</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>      <span class="n">http</span><span class="o">.</span><span class="n">request</span><span class="p">(</span><span class="n">req</span><span class="p">)</span> <span class="p">{</span> <span class="o">|</span><span class="n">response</span><span class="o">|</span> <span class="k">yield</span><span class="p">(</span><span class="n">response</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-14"></a>    <span class="k">end</span>
<a name="gbab-15"></a>  <span class="k">end</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>  <span class="n">context</span> <span class="s2">&quot;with a directory and file with the same name&quot;</span> <span class="k">do</span>
<a name="gbab-18"></a>    <span class="n">should</span> <span class="s2">&quot;find that file&quot;</span> <span class="k">do</span>
<a name="gbab-19"></a>      <span class="n">get</span><span class="p">(</span><span class="s2">&quot;/bar/&quot;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">response</span><span class="o">|</span>
<a name="gbab-20"></a>        <span class="n">assert_equal</span><span class="p">(</span><span class="s2">&quot;200&quot;</span><span class="p">,</span> <span class="n">response</span><span class="o">.</span><span class="n">code</span><span class="p">)</span>
<a name="gbab-21"></a>        <span class="n">assert_equal</span><span class="p">(</span><span class="s2">&quot;Content of bar.html&quot;</span><span class="p">,</span> <span class="n">response</span><span class="o">.</span><span class="n">body</span><span class="o">.</span><span class="n">strip</span><span class="p">)</span>
<a name="gbab-22"></a>      <span class="k">end</span>
<a name="gbab-23"></a>    <span class="k">end</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>    <span class="n">should</span> <span class="s2">&quot;find file in directory&quot;</span> <span class="k">do</span>
<a name="gbab-26"></a>      <span class="n">get</span><span class="p">(</span><span class="s2">&quot;/bar/baz&quot;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">response</span><span class="o">|</span>
<a name="gbab-27"></a>        <span class="n">assert_equal</span><span class="p">(</span><span class="s2">&quot;200&quot;</span><span class="p">,</span> <span class="n">response</span><span class="o">.</span><span class="n">code</span><span class="p">)</span>
<a name="gbab-28"></a>        <span class="n">assert_equal</span><span class="p">(</span><span class="s2">&quot;Content of baz.html&quot;</span><span class="p">,</span> <span class="n">response</span><span class="o">.</span><span class="n">body</span><span class="o">.</span><span class="n">strip</span><span class="p">)</span>
<a name="gbab-29"></a>      <span class="k">end</span>
<a name="gbab-30"></a>    <span class="k">end</span>
<a name="gbab-31"></a>
<a name="gbab-32"></a>    <span class="n">should</span> <span class="s2">&quot;return 404 for non-existing files&quot;</span> <span class="k">do</span>
<a name="gbab-33"></a>      <span class="n">get</span><span class="p">(</span><span class="s2">&quot;/bar/missing&quot;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">response</span><span class="o">|</span>
<a name="gbab-34"></a>        <span class="n">assert_equal</span><span class="p">(</span><span class="s2">&quot;404&quot;</span><span class="p">,</span> <span class="n">response</span><span class="o">.</span><span class="n">code</span><span class="p">)</span>
<a name="gbab-35"></a>      <span class="k">end</span>
<a name="gbab-36"></a>    <span class="k">end</span>
<a name="gbab-37"></a>  <span class="k">end</span>
<a name="gbab-38"></a><span class="k">end</span>
<a name="gbab-39"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a><span class="nb">require</span> <span class="s2">&quot;webrick&quot;</span>
<a name="gbab-42"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-43"></a><span class="nb">require</span> <span class="s2">&quot;net/http&quot;</span>
<a name="gbab-44"></a>
<a name="gbab-45"></a><span class="k">class</span> <span class="nc">TestCommandsServeServlet</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-46"></a>  <span class="k">def</span> <span class="nf">get</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-47"></a>    <span class="no">TestWEBrick</span><span class="o">.</span><span class="n">mount_server</span> <span class="k">do</span> <span class="o">|</span><span class="n">_server</span><span class="p">,</span> <span class="n">addr</span><span class="p">,</span> <span class="n">port</span><span class="o">|</span>
<a name="gbab-48"></a>      <span class="n">http</span> <span class="o">=</span> <span class="no">Net</span><span class="o">::</span><span class="no">HTTP</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">addr</span><span class="p">,</span> <span class="n">port</span><span class="p">)</span>
<a name="gbab-49"></a>      <span class="n">req</span> <span class="o">=</span> <span class="no">Net</span><span class="o">::</span><span class="no">HTTP</span><span class="o">::</span><span class="no">Get</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>      <span class="n">http</span><span class="o">.</span><span class="n">request</span><span class="p">(</span><span class="n">req</span><span class="p">)</span> <span class="p">{</span> <span class="o">|</span><span class="n">response</span><span class="o">|</span> <span class="k">yield</span><span class="p">(</span><span class="n">response</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-52"></a>    <span class="k">end</span>
<a name="gbab-53"></a>  <span class="k">end</span>
<a name="gbab-54"></a>
<a name="gbab-55"></a>  <span class="n">context</span> <span class="s2">&quot;with a directory and file with the same name&quot;</span> <span class="k">do</span>
<a name="gbab-56"></a>    <span class="n">should</span> <span class="s2">&quot;find that file&quot;</span> <span class="k">do</span>
<a name="gbab-57"></a>      <span class="n">get</span><span class="p">(</span><span class="s2">&quot;/bar/&quot;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">response</span><span class="o">|</span>
<a name="gbab-58"></a>        <span class="n">assert_equal</span><span class="p">(</span><span class="s2">&quot;200&quot;</span><span class="p">,</span> <span class="n">response</span><span class="o">.</span><span class="n">code</span><span class="p">)</span>
<a name="gbab-59"></a>        <span class="n">assert_equal</span><span class="p">(</span><span class="s2">&quot;Content of bar.html&quot;</span><span class="p">,</span> <span class="n">response</span><span class="o">.</span><span class="n">body</span><span class="o">.</span><span class="n">strip</span><span class="p">)</span>
<a name="gbab-60"></a>      <span class="k">end</span>
<a name="gbab-61"></a>    <span class="k">end</span>
<a name="gbab-62"></a>
<a name="gbab-63"></a>    <span class="n">should</span> <span class="s2">&quot;find file in directory&quot;</span> <span class="k">do</span>
<a name="gbab-64"></a>      <span class="n">get</span><span class="p">(</span><span class="s2">&quot;/bar/baz&quot;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">response</span><span class="o">|</span>
<a name="gbab-65"></a>        <span class="n">assert_equal</span><span class="p">(</span><span class="s2">&quot;200&quot;</span><span class="p">,</span> <span class="n">response</span><span class="o">.</span><span class="n">code</span><span class="p">)</span>
<a name="gbab-66"></a>        <span class="n">assert_equal</span><span class="p">(</span><span class="s2">&quot;Content of baz.html&quot;</span><span class="p">,</span> <span class="n">response</span><span class="o">.</span><span class="n">body</span><span class="o">.</span><span class="n">strip</span><span class="p">)</span>
<a name="gbab-67"></a>      <span class="k">end</span>
<a name="gbab-68"></a>    <span class="k">end</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a>    <span class="n">should</span> <span class="s2">&quot;return 404 for non-existing files&quot;</span> <span class="k">do</span>
<a name="gbab-71"></a>      <span class="n">get</span><span class="p">(</span><span class="s2">&quot;/bar/missing&quot;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">response</span><span class="o">|</span>
<a name="gbab-72"></a>        <span class="n">assert_equal</span><span class="p">(</span><span class="s2">&quot;404&quot;</span><span class="p">,</span> <span class="n">response</span><span class="o">.</span><span class="n">code</span><span class="p">)</span>
<a name="gbab-73"></a>      <span class="k">end</span>
<a name="gbab-74"></a>    <span class="k">end</span>
<a name="gbab-75"></a>  <span class="k">end</span>
<a name="gbab-76"></a><span class="k">end</span>
</pre></div>
</td></tr></table>