<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a><span class="nb">require</span> <span class="s2">&quot;jekyll/commands/doctor&quot;</span>
<a name="gbab-5"></a>
<a name="gbab-6"></a><span class="k">class</span> <span class="nc">TestDoctorCommand</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-7"></a>  <span class="n">context</span> <span class="s2">&quot;URLs only differ by case&quot;</span> <span class="k">do</span>
<a name="gbab-8"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-9"></a>      <span class="n">clear_dest</span>
<a name="gbab-10"></a>    <span class="k">end</span>
<a name="gbab-11"></a>
<a name="gbab-12"></a>    <span class="n">should</span> <span class="s2">&quot;return success on a valid site/page&quot;</span> <span class="k">do</span>
<a name="gbab-13"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">({</span>
<a name="gbab-14"></a>        <span class="s2">&quot;source&quot;</span> <span class="o">=&gt;</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">source_dir</span><span class="p">,</span> <span class="s2">&quot;/_urls_differ_by_case_valid&quot;</span><span class="p">),</span>
<a name="gbab-15"></a>        <span class="s2">&quot;destination&quot;</span> <span class="o">=&gt;</span> <span class="n">dest_dir</span><span class="p">,</span>
<a name="gbab-16"></a>      <span class="p">}))</span>
<a name="gbab-17"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-18"></a>      <span class="n">output</span> <span class="o">=</span> <span class="n">capture_stderr</span> <span class="k">do</span> 
<a name="gbab-19"></a>         <span class="n">ret</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">Doctor</span><span class="o">.</span><span class="n">urls_only_differ_by_case</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-20"></a>         <span class="n">assert_equal</span> <span class="kp">false</span><span class="p">,</span> <span class="n">ret</span>
<a name="gbab-21"></a>      <span class="k">end</span>
<a name="gbab-22"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="n">output</span>
<a name="gbab-23"></a>    <span class="k">end</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>    <span class="n">should</span> <span class="s2">&quot;return warning for pages only differing by case&quot;</span> <span class="k">do</span>
<a name="gbab-26"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">({</span>
<a name="gbab-27"></a>        <span class="s2">&quot;source&quot;</span> <span class="o">=&gt;</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">source_dir</span><span class="p">,</span> <span class="s2">&quot;/_urls_differ_by_case_invalid&quot;</span><span class="p">),</span>
<a name="gbab-28"></a>        <span class="s2">&quot;destination&quot;</span> <span class="o">=&gt;</span> <span class="n">dest_dir</span><span class="p">,</span>
<a name="gbab-29"></a>      <span class="p">}))</span>
<a name="gbab-30"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-31"></a>      <span class="n">output</span> <span class="o">=</span> <span class="n">capture_stderr</span> <span class="k">do</span> 
<a name="gbab-32"></a>         <span class="n">ret</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">Doctor</span><span class="o">.</span><span class="n">urls_only_differ_by_case</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-33"></a>         <span class="n">assert_equal</span> <span class="kp">true</span><span class="p">,</span> <span class="n">ret</span>
<a name="gbab-34"></a>      <span class="k">end</span>
<a name="gbab-35"></a>      <span class="n">assert_includes</span> <span class="n">output</span><span class="p">,</span> <span class="s2">&quot;Warning: The following URLs only differ by case. &quot;</span><span class="p">\</span>
<a name="gbab-36"></a>      <span class="s2">&quot;On a case-insensitive file system one of the URLs will be overwritten by the &quot;</span><span class="p">\</span>
<a name="gbab-37"></a>      <span class="s2">&quot;other: </span><span class="si">#{</span><span class="n">dest_dir</span><span class="si">}</span><span class="s2">/about/index.html, </span><span class="si">#{</span><span class="n">dest_dir</span><span class="si">}</span><span class="s2">/About/index.html&quot;</span>
<a name="gbab-38"></a>    <span class="k">end</span>
<a name="gbab-39"></a>  <span class="k">end</span>
<a name="gbab-40"></a><span class="k">end</span>
</pre></div>
</td></tr></table>