<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a><span class="nb">require</span> <span class="s2">&quot;ostruct&quot;</span>
<a name="gbab-5"></a>
<a name="gbab-6"></a><span class="k">class</span> <span class="nc">TestConvertible</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-7"></a>  <span class="n">context</span> <span class="s2">&quot;YAML front matter&quot;</span> <span class="k">do</span>
<a name="gbab-8"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-9"></a>      <span class="vi">@convertible</span> <span class="o">=</span> <span class="no">OpenStruct</span><span class="o">.</span><span class="n">new</span><span class="p">(</span>
<a name="gbab-10"></a>        <span class="s2">&quot;site&quot;</span> <span class="o">=&gt;</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span>
<a name="gbab-11"></a>          <span class="s2">&quot;source&quot;</span> <span class="o">=&gt;</span> <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="s2">&quot;fixtures&quot;</span><span class="p">,</span> <span class="n">__dir__</span><span class="p">)</span>
<a name="gbab-12"></a>        <span class="p">))</span>
<a name="gbab-13"></a>      <span class="p">)</span>
<a name="gbab-14"></a>      <span class="vi">@convertible</span><span class="o">.</span><span class="n">extend</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Convertible</span>
<a name="gbab-15"></a>      <span class="vi">@base</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="s2">&quot;fixtures&quot;</span><span class="p">,</span> <span class="n">__dir__</span><span class="p">)</span>
<a name="gbab-16"></a>    <span class="k">end</span>
<a name="gbab-17"></a>
<a name="gbab-18"></a>    <span class="n">should</span> <span class="s2">&quot;parse the front matter correctly&quot;</span> <span class="k">do</span>
<a name="gbab-19"></a>      <span class="n">ret</span> <span class="o">=</span> <span class="vi">@convertible</span><span class="o">.</span><span class="n">read_yaml</span><span class="p">(</span><span class="vi">@base</span><span class="p">,</span> <span class="s2">&quot;front_matter.erb&quot;</span><span class="p">)</span>
<a name="gbab-20"></a>      <span class="n">assert_equal</span><span class="p">({</span> <span class="s2">&quot;test&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;good&quot;</span> <span class="p">},</span> <span class="n">ret</span><span class="p">)</span>
<a name="gbab-21"></a>    <span class="k">end</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>    <span class="n">should</span> <span class="s2">&quot;not parse if the front matter is not at the start of the file&quot;</span> <span class="k">do</span>
<a name="gbab-24"></a>      <span class="n">ret</span> <span class="o">=</span> <span class="vi">@convertible</span><span class="o">.</span><span class="n">read_yaml</span><span class="p">(</span><span class="vi">@base</span><span class="p">,</span> <span class="s2">&quot;broken_front_matter1.erb&quot;</span><span class="p">)</span>
<a name="gbab-25"></a>      <span class="n">assert_equal</span><span class="p">({},</span> <span class="n">ret</span><span class="p">)</span>
<a name="gbab-26"></a>    <span class="k">end</span>
<a name="gbab-27"></a>
<a name="gbab-28"></a>    <span class="n">should</span> <span class="s2">&quot;not parse if there is syntax error in front matter&quot;</span> <span class="k">do</span>
<a name="gbab-29"></a>      <span class="nb">name</span> <span class="o">=</span> <span class="s2">&quot;broken_front_matter2.erb&quot;</span>
<a name="gbab-30"></a>      <span class="n">out</span> <span class="o">=</span> <span class="n">capture_stderr</span> <span class="k">do</span>
<a name="gbab-31"></a>        <span class="n">ret</span> <span class="o">=</span> <span class="vi">@convertible</span><span class="o">.</span><span class="n">read_yaml</span><span class="p">(</span><span class="vi">@base</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-32"></a>        <span class="n">assert_equal</span><span class="p">({},</span> <span class="n">ret</span><span class="p">)</span>
<a name="gbab-33"></a>      <span class="k">end</span>
<a name="gbab-34"></a>      <span class="n">assert_match</span><span class="p">(</span><span class="sr">%r!YAML Exception!</span><span class="p">,</span> <span class="n">out</span><span class="p">)</span>
<a name="gbab-35"></a>      <span class="n">assert_match</span><span class="p">(</span><span class="sr">%r!</span><span class="si">#{</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="vi">@base</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span><span class="si">}</span><span class="sr">!</span><span class="p">,</span> <span class="n">out</span><span class="p">)</span>
<a name="gbab-36"></a>    <span class="k">end</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>    <span class="n">should</span> <span class="s2">&quot;raise for broken front matter with `strict_front_matter` set&quot;</span> <span class="k">do</span>
<a name="gbab-39"></a>      <span class="nb">name</span> <span class="o">=</span> <span class="s2">&quot;broken_front_matter2.erb&quot;</span>
<a name="gbab-40"></a>      <span class="vi">@convertible</span><span class="o">.</span><span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;strict_front_matter&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-41"></a>      <span class="n">assert_raises</span><span class="p">(</span><span class="no">Psych</span><span class="o">::</span><span class="no">SyntaxError</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-42"></a>        <span class="vi">@convertible</span><span class="o">.</span><span class="n">read_yaml</span><span class="p">(</span><span class="vi">@base</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-43"></a>      <span class="k">end</span>
<a name="gbab-44"></a>    <span class="k">end</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a>    <span class="n">should</span> <span class="s2">&quot;not allow ruby objects in YAML&quot;</span> <span class="k">do</span>
<a name="gbab-47"></a>      <span class="n">out</span> <span class="o">=</span> <span class="n">capture_stderr</span> <span class="k">do</span>
<a name="gbab-48"></a>        <span class="vi">@convertible</span><span class="o">.</span><span class="n">read_yaml</span><span class="p">(</span><span class="vi">@base</span><span class="p">,</span> <span class="s2">&quot;exploit_front_matter.erb&quot;</span><span class="p">)</span>
<a name="gbab-49"></a>      <span class="k">end</span>
<a name="gbab-50"></a>      <span class="n">refute_match</span><span class="p">(</span><span class="sr">%r!undefined class\/module DoesNotExist!</span><span class="p">,</span> <span class="n">out</span><span class="p">)</span>
<a name="gbab-51"></a>    <span class="k">end</span>
<a name="gbab-52"></a>
<a name="gbab-53"></a>      <span class="n">should</span> <span class="s2">&quot;not parse if there is encoding error in file&quot;</span> <span class="k">do</span>
<a name="gbab-54"></a>      <span class="nb">name</span> <span class="o">=</span> <span class="s2">&quot;broken_front_matter3.erb&quot;</span>
<a name="gbab-55"></a>      <span class="n">out</span> <span class="o">=</span> <span class="n">capture_stderr</span> <span class="k">do</span>
<a name="gbab-56"></a>        <span class="n">ret</span> <span class="o">=</span> <span class="vi">@convertible</span><span class="o">.</span><span class="n">read_yaml</span><span class="p">(</span><span class="vi">@base</span><span class="p">,</span> <span class="nb">name</span><span class="p">,</span> <span class="ss">:encoding</span> <span class="o">=&gt;</span> <span class="s2">&quot;utf-8&quot;</span><span class="p">)</span>
<a name="gbab-57"></a>          <span class="n">assert_equal</span><span class="p">({},</span> <span class="n">ret</span><span class="p">)</span>
<a name="gbab-58"></a>        <span class="k">end</span>
<a name="gbab-59"></a>      <span class="n">assert_match</span><span class="p">(</span><span class="sr">%r!invalid byte sequence in UTF-8!</span><span class="p">,</span> <span class="n">out</span><span class="p">)</span>
<a name="gbab-60"></a>      <span class="n">assert_match</span><span class="p">(</span><span class="sr">%r!</span><span class="si">#{</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="vi">@base</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span><span class="si">}</span><span class="sr">!</span><span class="p">,</span> <span class="n">out</span><span class="p">)</span>
<a name="gbab-61"></a>      <span class="k">end</span>
<a name="gbab-62"></a>
<a name="gbab-63"></a>    <span class="n">should</span> <span class="s2">&quot;parse the front matter but show an error if permalink is empty&quot;</span> <span class="k">do</span>
<a name="gbab-64"></a>      <span class="nb">name</span> <span class="o">=</span> <span class="s2">&quot;empty_permalink.erb&quot;</span>
<a name="gbab-65"></a>      <span class="n">assert_raises</span><span class="p">(</span><span class="no">Errors</span><span class="o">::</span><span class="no">InvalidPermalinkError</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-66"></a>        <span class="vi">@convertible</span><span class="o">.</span><span class="n">read_yaml</span><span class="p">(</span><span class="vi">@base</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-67"></a>      <span class="k">end</span>
<a name="gbab-68"></a>    <span class="k">end</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a>    <span class="n">should</span> <span class="s2">&quot;parse the front matter correctly without permalink&quot;</span> <span class="k">do</span>
<a name="gbab-71"></a>      <span class="n">out</span> <span class="o">=</span> <span class="n">capture_stderr</span> <span class="k">do</span>
<a name="gbab-72"></a>        <span class="vi">@convertible</span><span class="o">.</span><span class="n">read_yaml</span><span class="p">(</span><span class="vi">@base</span><span class="p">,</span> <span class="s2">&quot;front_matter.erb&quot;</span><span class="p">)</span>
<a name="gbab-73"></a>      <span class="k">end</span>
<a name="gbab-74"></a>      <span class="n">refute_match</span><span class="p">(</span><span class="sr">%r!Invalid permalink!</span><span class="p">,</span> <span class="n">out</span><span class="p">)</span>
<a name="gbab-75"></a>    <span class="k">end</span>
<a name="gbab-76"></a>    <span class="k">end</span>
<a name="gbab-77"></a>  <span class="k">end</span>
</pre></div>
</td></tr></table>