<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestExcerptDrop</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;an excerpt drop&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span>
<a name="gbab-9"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-10"></a>      <span class="vi">@doc</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">docs_to_write</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">d</span><span class="o">|</span> <span class="o">!</span><span class="n">d</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">].</span><span class="n">nil?</span> <span class="p">}</span>
<a name="gbab-11"></a>      <span class="vi">@doc_drop</span> <span class="o">=</span> <span class="vi">@doc</span><span class="o">.</span><span class="n">to_liquid</span>
<a name="gbab-12"></a>      <span class="vi">@excerpt</span> <span class="o">=</span> <span class="vi">@doc</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;excerpt&quot;</span><span class="o">]</span>
<a name="gbab-13"></a>      <span class="vi">@excerpt_drop</span> <span class="o">=</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">to_liquid</span>
<a name="gbab-14"></a>    <span class="k">end</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>    <span class="n">should</span> <span class="s2">&quot;have the right thing&quot;</span> <span class="k">do</span>
<a name="gbab-17"></a>      <span class="n">assert</span> <span class="vi">@doc</span><span class="o">.</span><span class="n">is_a?</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Document</span>
<a name="gbab-18"></a>      <span class="n">assert</span> <span class="vi">@doc_drop</span><span class="o">.</span><span class="n">is_a?</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Drops</span><span class="o">::</span><span class="no">DocumentDrop</span>
<a name="gbab-19"></a>      <span class="n">assert</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">is_a?</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Excerpt</span>
<a name="gbab-20"></a>      <span class="n">assert</span> <span class="vi">@excerpt_drop</span><span class="o">.</span><span class="n">is_a?</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Drops</span><span class="o">::</span><span class="no">ExcerptDrop</span>
<a name="gbab-21"></a>    <span class="k">end</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>    <span class="n">should</span> <span class="s2">&quot;not have an excerpt&quot;</span> <span class="k">do</span>
<a name="gbab-24"></a>      <span class="n">assert_nil</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;excerpt&quot;</span><span class="o">]</span>
<a name="gbab-25"></a>      <span class="n">assert</span> <span class="vi">@excerpt_drop</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">invokable?</span> <span class="s2">&quot;excerpt&quot;</span>
<a name="gbab-26"></a>      <span class="n">assert_nil</span> <span class="vi">@excerpt_drop</span><span class="o">[</span><span class="s2">&quot;excerpt&quot;</span><span class="o">]</span>
<a name="gbab-27"></a>    <span class="k">end</span>
<a name="gbab-28"></a>
<a name="gbab-29"></a>    <span class="n">should</span> <span class="s2">&quot;inherit the layout for the drop but not the excerpt&quot;</span> <span class="k">do</span>
<a name="gbab-30"></a>      <span class="n">assert_nil</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span>
<a name="gbab-31"></a>      <span class="n">assert_equal</span> <span class="vi">@excerpt_drop</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span><span class="p">,</span> <span class="vi">@doc_drop</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span>
<a name="gbab-32"></a>    <span class="k">end</span>
<a name="gbab-33"></a>
<a name="gbab-34"></a>    <span class="n">should</span> <span class="s2">&quot;be inspectable&quot;</span> <span class="k">do</span>
<a name="gbab-35"></a>      <span class="n">refute_empty</span> <span class="vi">@excerpt_drop</span><span class="o">.</span><span class="n">inspect</span>
<a name="gbab-36"></a>    <span class="k">end</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>    <span class="n">should</span> <span class="s2">&quot;inherit values from the document&quot;</span> <span class="k">do</span>
<a name="gbab-39"></a>      <span class="n">assert_equal</span> <span class="vi">@excerpt_drop</span><span class="o">.</span><span class="n">keys</span><span class="o">.</span><span class="n">sort</span><span class="p">,</span> <span class="vi">@doc_drop</span><span class="o">.</span><span class="n">keys</span><span class="o">.</span><span class="n">sort</span>
<a name="gbab-40"></a>    <span class="k">end</span>
<a name="gbab-41"></a>  <span class="k">end</span>
<a name="gbab-42"></a><span class="k">end</span>
</pre></div>
</td></tr></table>