<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestEntryFilter</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;Filtering entries&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site_configuration</span><span class="p">)</span>
<a name="gbab-9"></a>    <span class="k">end</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>    <span class="n">should</span> <span class="s2">&quot;filter entries&quot;</span> <span class="k">do</span>
<a name="gbab-12"></a>      <span class="n">ent1</span> <span class="o">=</span> <span class="sx">%w(foo.markdown bar.markdown baz.markdown #baz.markdown#</span>
<a name="gbab-13"></a><span class="sx">              .baz.markdow foo.markdown~ .htaccess _posts _pages ~$benbalter.docx)</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>      <span class="n">entries</span> <span class="o">=</span> <span class="no">EntryFilter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="n">ent1</span><span class="p">)</span>
<a name="gbab-16"></a>      <span class="n">assert_equal</span> <span class="sx">%w(foo.markdown bar.markdown baz.markdown .htaccess)</span><span class="p">,</span> <span class="n">entries</span>
<a name="gbab-17"></a>    <span class="k">end</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a>    <span class="n">should</span> <span class="s2">&quot;allow regexp filtering&quot;</span> <span class="k">do</span>
<a name="gbab-20"></a>      <span class="n">files</span> <span class="o">=</span> <span class="sx">%w(README.md)</span>
<a name="gbab-21"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">exclude</span> <span class="o">=</span> <span class="o">[</span>
<a name="gbab-22"></a>        <span class="sr">%r!README!</span><span class="p">,</span>
<a name="gbab-23"></a>      <span class="o">]</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>      <span class="n">assert_empty</span> <span class="vi">@site</span><span class="o">.</span><span class="n">reader</span><span class="o">.</span><span class="n">filter_entries</span><span class="p">(</span>
<a name="gbab-26"></a>        <span class="n">files</span>
<a name="gbab-27"></a>      <span class="p">)</span>
<a name="gbab-28"></a>    <span class="k">end</span>
<a name="gbab-29"></a>
<a name="gbab-30"></a>    <span class="n">should</span> <span class="s2">&quot;filter entries with exclude&quot;</span> <span class="k">do</span>
<a name="gbab-31"></a>      <span class="n">excludes</span> <span class="o">=</span> <span class="sx">%w(README TODO vendor/bundle)</span>
<a name="gbab-32"></a>      <span class="n">files</span> <span class="o">=</span> <span class="sx">%w(index.html site.css .htaccess vendor)</span>
<a name="gbab-33"></a>
<a name="gbab-34"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">exclude</span> <span class="o">=</span> <span class="n">excludes</span> <span class="o">+</span> <span class="o">[</span><span class="s2">&quot;exclude*&quot;</span><span class="o">]</span>
<a name="gbab-35"></a>      <span class="n">assert_equal</span> <span class="n">files</span><span class="p">,</span> <span class="vi">@site</span><span class="o">.</span><span class="n">reader</span><span class="o">.</span><span class="n">filter_entries</span><span class="p">(</span><span class="n">excludes</span> <span class="o">+</span> <span class="n">files</span> <span class="o">+</span> <span class="o">[</span><span class="s2">&quot;excludeA&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-36"></a>    <span class="k">end</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>    <span class="n">should</span> <span class="s2">&quot;filter entries with exclude relative to site source&quot;</span> <span class="k">do</span>
<a name="gbab-39"></a>      <span class="n">excludes</span> <span class="o">=</span> <span class="sx">%w(README TODO css)</span>
<a name="gbab-40"></a>      <span class="n">files</span> <span class="o">=</span> <span class="sx">%w(index.html vendor/css .htaccess)</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">exclude</span> <span class="o">=</span> <span class="n">excludes</span>
<a name="gbab-43"></a>      <span class="n">assert_equal</span> <span class="n">files</span><span class="p">,</span> <span class="vi">@site</span><span class="o">.</span><span class="n">reader</span><span class="o">.</span><span class="n">filter_entries</span><span class="p">(</span><span class="n">excludes</span> <span class="o">+</span> <span class="n">files</span> <span class="o">+</span> <span class="o">[</span><span class="s2">&quot;css&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-44"></a>    <span class="k">end</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a>    <span class="n">should</span> <span class="s2">&quot;filter excluded directory and contained files&quot;</span> <span class="k">do</span>
<a name="gbab-47"></a>      <span class="n">excludes</span> <span class="o">=</span> <span class="sx">%w(README TODO css)</span>
<a name="gbab-48"></a>      <span class="n">files</span> <span class="o">=</span> <span class="sx">%w(index.html .htaccess)</span>
<a name="gbab-49"></a>
<a name="gbab-50"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">exclude</span> <span class="o">=</span> <span class="n">excludes</span>
<a name="gbab-51"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-52"></a>        <span class="n">files</span><span class="p">,</span>
<a name="gbab-53"></a>        <span class="vi">@site</span><span class="o">.</span><span class="n">reader</span><span class="o">.</span><span class="n">filter_entries</span><span class="p">(</span>
<a name="gbab-54"></a>          <span class="n">excludes</span> <span class="o">+</span> <span class="n">files</span> <span class="o">+</span> <span class="o">[</span><span class="s2">&quot;css&quot;</span><span class="p">,</span> <span class="s2">&quot;css/main.css&quot;</span><span class="p">,</span> <span class="s2">&quot;css/vendor.css&quot;</span><span class="o">]</span>
<a name="gbab-55"></a>        <span class="p">)</span>
<a name="gbab-56"></a>      <span class="p">)</span>
<a name="gbab-57"></a>    <span class="k">end</span>
<a name="gbab-58"></a>
<a name="gbab-59"></a>    <span class="n">should</span> <span class="s2">&quot;not filter entries within include&quot;</span> <span class="k">do</span>
<a name="gbab-60"></a>      <span class="n">includes</span> <span class="o">=</span> <span class="sx">%w(_index.html .htaccess include*)</span>
<a name="gbab-61"></a>      <span class="n">files</span> <span class="o">=</span> <span class="sx">%w(index.html _index.html .htaccess includeA)</span>
<a name="gbab-62"></a>
<a name="gbab-63"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">include</span> <span class="o">=</span> <span class="n">includes</span>
<a name="gbab-64"></a>      <span class="n">assert_equal</span> <span class="n">files</span><span class="p">,</span> <span class="vi">@site</span><span class="o">.</span><span class="n">reader</span><span class="o">.</span><span class="n">filter_entries</span><span class="p">(</span><span class="n">files</span><span class="p">)</span>
<a name="gbab-65"></a>    <span class="k">end</span>
<a name="gbab-66"></a>
<a name="gbab-67"></a>    <span class="n">should</span> <span class="s2">&quot;keep safe symlink entries when safe mode enabled&quot;</span> <span class="k">do</span>
<a name="gbab-68"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">File</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:symlink?</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;symlink.js&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">true</span><span class="p">)</span>
<a name="gbab-69"></a>      <span class="n">files</span> <span class="o">=</span> <span class="sx">%w(symlink.js)</span>
<a name="gbab-70"></a>      <span class="n">assert_equal</span> <span class="n">files</span><span class="p">,</span> <span class="vi">@site</span><span class="o">.</span><span class="n">reader</span><span class="o">.</span><span class="n">filter_entries</span><span class="p">(</span><span class="n">files</span><span class="p">)</span>
<a name="gbab-71"></a>    <span class="k">end</span>
<a name="gbab-72"></a>
<a name="gbab-73"></a>    <span class="n">should</span> <span class="s2">&quot;not filter symlink entries when safe mode disabled&quot;</span> <span class="k">do</span>
<a name="gbab-74"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">File</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:symlink?</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;symlink.js&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">true</span><span class="p">)</span>
<a name="gbab-75"></a>      <span class="n">files</span> <span class="o">=</span> <span class="sx">%w(symlink.js)</span>
<a name="gbab-76"></a>      <span class="n">assert_equal</span> <span class="n">files</span><span class="p">,</span> <span class="vi">@site</span><span class="o">.</span><span class="n">reader</span><span class="o">.</span><span class="n">filter_entries</span><span class="p">(</span><span class="n">files</span><span class="p">)</span>
<a name="gbab-77"></a>    <span class="k">end</span>
<a name="gbab-78"></a>
<a name="gbab-79"></a>    <span class="n">should</span> <span class="s2">&quot;filter symlink pointing outside site source&quot;</span> <span class="k">do</span>
<a name="gbab-80"></a>      <span class="n">ent1</span> <span class="o">=</span> <span class="sx">%w(_includes/tmp)</span>
<a name="gbab-81"></a>      <span class="n">entries</span> <span class="o">=</span> <span class="no">EntryFilter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="n">ent1</span><span class="p">)</span>
<a name="gbab-82"></a>      <span class="n">assert_equal</span> <span class="sx">%w()</span><span class="p">,</span> <span class="n">entries</span>
<a name="gbab-83"></a>    <span class="k">end</span>
<a name="gbab-84"></a>
<a name="gbab-85"></a>    <span class="c1"># rubocop:disable Performance/FixedSize</span>
<a name="gbab-86"></a>    <span class="n">should</span> <span class="s2">&quot;include only safe symlinks in safe mode&quot;</span> <span class="k">do</span>
<a name="gbab-87"></a>      <span class="c1"># no support for symlinks on Windows</span>
<a name="gbab-88"></a>      <span class="n">skip_if_windows</span> <span class="s2">&quot;Jekyll does not currently support symlinks on Windows.&quot;</span>
<a name="gbab-89"></a>
<a name="gbab-90"></a>      <span class="n">site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site_configuration</span><span class="p">(</span><span class="s2">&quot;safe&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">))</span>
<a name="gbab-91"></a>      <span class="n">site</span><span class="o">.</span><span class="n">reader</span><span class="o">.</span><span class="n">read_directories</span><span class="p">(</span><span class="s2">&quot;symlink-test&quot;</span><span class="p">)</span>
<a name="gbab-92"></a>
<a name="gbab-93"></a>      <span class="n">assert_equal</span> <span class="sx">%w(main.scss symlinked-file)</span><span class="o">.</span><span class="n">length</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">length</span>
<a name="gbab-94"></a>      <span class="n">refute_equal</span> <span class="o">[]</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">static_files</span>
<a name="gbab-95"></a>    <span class="k">end</span>
<a name="gbab-96"></a>    <span class="c1"># rubocop:enable Performance/FixedSize</span>
<a name="gbab-97"></a>
<a name="gbab-98"></a>    <span class="n">should</span> <span class="s2">&quot;include symlinks in unsafe mode&quot;</span> <span class="k">do</span>
<a name="gbab-99"></a>      <span class="c1"># no support for symlinks on Windows</span>
<a name="gbab-100"></a>      <span class="n">skip_if_windows</span> <span class="s2">&quot;Jekyll does not currently support symlinks on Windows.&quot;</span>
<a name="gbab-101"></a>
<a name="gbab-102"></a>      <span class="n">site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site_configuration</span><span class="p">)</span>
<a name="gbab-103"></a>
<a name="gbab-104"></a>      <span class="n">site</span><span class="o">.</span><span class="n">reader</span><span class="o">.</span><span class="n">read_directories</span><span class="p">(</span><span class="s2">&quot;symlink-test&quot;</span><span class="p">)</span>
<a name="gbab-105"></a>      <span class="n">refute_equal</span> <span class="o">[]</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">pages</span>
<a name="gbab-106"></a>      <span class="n">refute_equal</span> <span class="o">[]</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">static_files</span>
<a name="gbab-107"></a>    <span class="k">end</span>
<a name="gbab-108"></a>  <span class="k">end</span>
<a name="gbab-109"></a>
<a name="gbab-110"></a>  <span class="n">context</span> <span class="s2">&quot;#glob_include?&quot;</span> <span class="k">do</span>
<a name="gbab-111"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-112"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site_configuration</span><span class="p">)</span>
<a name="gbab-113"></a>      <span class="vi">@filter</span> <span class="o">=</span> <span class="no">EntryFilter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-114"></a>    <span class="k">end</span>
<a name="gbab-115"></a>
<a name="gbab-116"></a>    <span class="n">should</span> <span class="s2">&quot;return false with no glob patterns&quot;</span> <span class="k">do</span>
<a name="gbab-117"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@filter</span><span class="o">.</span><span class="n">glob_include?</span><span class="p">(</span><span class="o">[]</span><span class="p">,</span> <span class="s2">&quot;a.txt&quot;</span><span class="p">)</span>
<a name="gbab-118"></a>    <span class="k">end</span>
<a name="gbab-119"></a>
<a name="gbab-120"></a>    <span class="n">should</span> <span class="s2">&quot;return false with all not match path&quot;</span> <span class="k">do</span>
<a name="gbab-121"></a>      <span class="n">data</span> <span class="o">=</span> <span class="o">[</span><span class="s2">&quot;a*&quot;</span><span class="p">,</span> <span class="s2">&quot;b?&quot;</span><span class="o">]</span>
<a name="gbab-122"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@filter</span><span class="o">.</span><span class="n">glob_include?</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;ca.txt&quot;</span><span class="p">)</span>
<a name="gbab-123"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@filter</span><span class="o">.</span><span class="n">glob_include?</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;ba.txt&quot;</span><span class="p">)</span>
<a name="gbab-124"></a>    <span class="k">end</span>
<a name="gbab-125"></a>
<a name="gbab-126"></a>    <span class="n">should</span> <span class="s2">&quot;return true with match path&quot;</span> <span class="k">do</span>
<a name="gbab-127"></a>      <span class="n">data</span> <span class="o">=</span> <span class="o">[</span><span class="s2">&quot;a*&quot;</span><span class="p">,</span> <span class="s2">&quot;b?&quot;</span><span class="p">,</span> <span class="s2">&quot;**/a*&quot;</span><span class="o">]</span>
<a name="gbab-128"></a>      <span class="n">assert</span> <span class="vi">@filter</span><span class="o">.</span><span class="n">glob_include?</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;a.txt&quot;</span><span class="p">)</span>
<a name="gbab-129"></a>      <span class="n">assert</span> <span class="vi">@filter</span><span class="o">.</span><span class="n">glob_include?</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;ba&quot;</span><span class="p">)</span>
<a name="gbab-130"></a>      <span class="n">assert</span> <span class="vi">@filter</span><span class="o">.</span><span class="n">glob_include?</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;c/a/a.txt&quot;</span><span class="p">)</span>
<a name="gbab-131"></a>      <span class="n">assert</span> <span class="vi">@filter</span><span class="o">.</span><span class="n">glob_include?</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;c/a/b/a.txt&quot;</span><span class="p">)</span>
<a name="gbab-132"></a>    <span class="k">end</span>
<a name="gbab-133"></a>
<a name="gbab-134"></a>    <span class="n">should</span> <span class="s2">&quot;match even if there is no leading slash&quot;</span> <span class="k">do</span>
<a name="gbab-135"></a>      <span class="n">data</span> <span class="o">=</span> <span class="o">[</span><span class="s2">&quot;vendor/bundle&quot;</span><span class="o">]</span>
<a name="gbab-136"></a>      <span class="n">assert</span> <span class="vi">@filter</span><span class="o">.</span><span class="n">glob_include?</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;/vendor/bundle&quot;</span><span class="p">)</span>
<a name="gbab-137"></a>      <span class="n">assert</span> <span class="vi">@filter</span><span class="o">.</span><span class="n">glob_include?</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;vendor/bundle&quot;</span><span class="p">)</span>
<a name="gbab-138"></a>    <span class="k">end</span>
<a name="gbab-139"></a>  <span class="k">end</span>
<a name="gbab-140"></a><span class="k">end</span>
</pre></div>
</td></tr></table>