<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestLiquidExtensions</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;looking up a variable in a Liquid context&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="k">class</span> <span class="nc">SayHi</span> <span class="o">&lt;</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Tag</span>
<a name="gbab-8"></a>      <span class="kp">include</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LiquidExtensions</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>      <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">_tag_name</span><span class="p">,</span> <span class="n">markup</span><span class="p">,</span> <span class="n">_tokens</span><span class="p">)</span>
<a name="gbab-11"></a>        <span class="vi">@markup</span> <span class="o">=</span> <span class="n">markup</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-12"></a>      <span class="k">end</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>      <span class="k">def</span> <span class="nf">render</span><span class="p">(</span><span class="n">context</span><span class="p">)</span>
<a name="gbab-15"></a>        <span class="s2">&quot;hi </span><span class="si">#{</span><span class="n">lookup_variable</span><span class="p">(</span><span class="n">context</span><span class="p">,</span> <span class="vi">@markup</span><span class="p">)</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-16"></a>      <span class="k">end</span>
<a name="gbab-17"></a>    <span class="k">end</span>
<a name="gbab-18"></a>    <span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">register_tag</span><span class="p">(</span><span class="s2">&quot;say_hi&quot;</span><span class="p">,</span> <span class="no">SayHi</span><span class="p">)</span>
<a name="gbab-19"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-20"></a>      <span class="c1"># Parses and compiles the template</span>
<a name="gbab-21"></a>      <span class="vi">@template</span> <span class="o">=</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="s2">&quot;{% say_hi page.name %}&quot;</span><span class="p">)</span>
<a name="gbab-22"></a>    <span class="k">end</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>    <span class="n">should</span> <span class="s2">&quot;extract the var properly&quot;</span> <span class="k">do</span>
<a name="gbab-25"></a>      <span class="n">assert_equal</span> <span class="vi">@template</span><span class="o">.</span><span class="n">render</span><span class="p">({</span> <span class="s2">&quot;page&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;name&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;tobi&quot;</span> <span class="p">}</span> <span class="p">}),</span> <span class="s2">&quot;hi tobi&quot;</span>
<a name="gbab-26"></a>    <span class="k">end</span>
<a name="gbab-27"></a>
<a name="gbab-28"></a>    <span class="n">should</span> <span class="s2">&quot;return the variable name if the value isn&#39;t there&quot;</span> <span class="k">do</span>
<a name="gbab-29"></a>      <span class="n">assert_equal</span> <span class="vi">@template</span><span class="o">.</span><span class="n">render</span><span class="p">({</span> <span class="s2">&quot;page&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;title&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;tobi&quot;</span> <span class="p">}</span> <span class="p">}),</span> <span class="s2">&quot;hi page.name&quot;</span>
<a name="gbab-30"></a>    <span class="k">end</span>
<a name="gbab-31"></a>  <span class="k">end</span>
<a name="gbab-32"></a><span class="k">end</span>
</pre></div>
</td></tr></table>