<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestLayoutReader</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;reading layouts&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="n">config</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Configuration</span><span class="o">::</span><span class="no">DEFAULTS</span><span class="o">.</span><span class="n">merge</span><span class="p">({</span> <span class="s2">&quot;source&quot;</span> <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">,</span>
<a name="gbab-9"></a>                                                       <span class="s2">&quot;destination&quot;</span> <span class="o">=&gt;</span> <span class="n">dest_dir</span><span class="p">,</span> <span class="p">})</span>
<a name="gbab-10"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-11"></a>    <span class="k">end</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>    <span class="n">should</span> <span class="s2">&quot;read layouts&quot;</span> <span class="k">do</span>
<a name="gbab-14"></a>      <span class="n">layouts</span> <span class="o">=</span> <span class="no">LayoutReader</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-15"></a>      <span class="n">assert_equal</span> <span class="o">[</span><span class="s2">&quot;default&quot;</span><span class="p">,</span> <span class="s2">&quot;simple&quot;</span><span class="p">,</span> <span class="s2">&quot;post/simple&quot;</span><span class="o">].</span><span class="n">sort</span><span class="p">,</span> <span class="n">layouts</span><span class="o">.</span><span class="n">keys</span><span class="o">.</span><span class="n">sort</span>
<a name="gbab-16"></a>    <span class="k">end</span>
<a name="gbab-17"></a>
<a name="gbab-18"></a>    <span class="n">context</span> <span class="s2">&quot;when no _layouts directory exists in CWD&quot;</span> <span class="k">do</span>
<a name="gbab-19"></a>      <span class="n">should</span> <span class="s2">&quot;know to use the layout directory relative to the site source&quot;</span> <span class="k">do</span>
<a name="gbab-20"></a>        <span class="n">assert_equal</span> <span class="no">LayoutReader</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span><span class="o">.</span><span class="n">layout_directory</span><span class="p">,</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_layouts&quot;</span><span class="p">)</span>
<a name="gbab-21"></a>      <span class="k">end</span>
<a name="gbab-22"></a>    <span class="k">end</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>    <span class="n">context</span> <span class="s2">&quot;when a _layouts directory exists in CWD&quot;</span> <span class="k">do</span>
<a name="gbab-25"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-26"></a>        <span class="n">allow</span><span class="p">(</span><span class="no">File</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:directory?</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">true</span><span class="p">)</span>
<a name="gbab-27"></a>        <span class="n">allow</span><span class="p">(</span><span class="no">Dir</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:pwd</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;blah&quot;</span><span class="p">))</span>
<a name="gbab-28"></a>      <span class="k">end</span>
<a name="gbab-29"></a>
<a name="gbab-30"></a>      <span class="n">should</span> <span class="s2">&quot;know to use the layout directory relative to CWD&quot;</span> <span class="k">do</span>
<a name="gbab-31"></a>        <span class="n">assert_equal</span> <span class="no">LayoutReader</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span><span class="o">.</span><span class="n">layout_directory</span><span class="p">,</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;blah/_layouts&quot;</span><span class="p">)</span>
<a name="gbab-32"></a>      <span class="k">end</span>
<a name="gbab-33"></a>    <span class="k">end</span>
<a name="gbab-34"></a>  <span class="k">end</span>
<a name="gbab-35"></a><span class="k">end</span>
</pre></div>
</td></tr></table>