<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a><span class="nb">require</span> <span class="s2">&quot;jekyll/commands/new&quot;</span>
<a name="gbab-5"></a>
<a name="gbab-6"></a><span class="k">class</span> <span class="nc">TestNewCommand</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-7"></a>  <span class="k">def</span> <span class="nf">dir_contents</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-8"></a>    <span class="no">Dir</span><span class="o">[</span><span class="s2">&quot;</span><span class="si">#{</span><span class="n">path</span><span class="si">}</span><span class="s2">/**/*&quot;</span><span class="o">].</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">file</span><span class="o">|</span>
<a name="gbab-9"></a>      <span class="n">file</span><span class="o">.</span><span class="n">gsub!</span> <span class="n">path</span><span class="p">,</span> <span class="s2">&quot;&quot;</span>
<a name="gbab-10"></a>    <span class="k">end</span>
<a name="gbab-11"></a>  <span class="k">end</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>  <span class="k">def</span> <span class="nf">site_template</span>
<a name="gbab-14"></a>    <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="s2">&quot;../lib/site_template&quot;</span><span class="p">,</span> <span class="n">__dir__</span><span class="p">)</span>
<a name="gbab-15"></a>  <span class="k">end</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>  <span class="n">context</span> <span class="s2">&quot;when args contains a path&quot;</span> <span class="k">do</span>
<a name="gbab-18"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-19"></a>      <span class="vi">@path</span> <span class="o">=</span> <span class="s2">&quot;new-site&quot;</span>
<a name="gbab-20"></a>      <span class="vi">@args</span> <span class="o">=</span> <span class="o">[</span><span class="vi">@path</span><span class="o">]</span>
<a name="gbab-21"></a>      <span class="vi">@full_path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="vi">@path</span><span class="p">,</span> <span class="no">Dir</span><span class="o">.</span><span class="n">pwd</span><span class="p">)</span>
<a name="gbab-22"></a>    <span class="k">end</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>    <span class="n">teardown</span> <span class="k">do</span>
<a name="gbab-25"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_r</span> <span class="vi">@full_path</span> <span class="k">if</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="vi">@full_path</span><span class="p">)</span>
<a name="gbab-26"></a>    <span class="k">end</span>
<a name="gbab-27"></a>
<a name="gbab-28"></a>    <span class="n">should</span> <span class="s2">&quot;create a new directory&quot;</span> <span class="k">do</span>
<a name="gbab-29"></a>      <span class="n">refute_exist</span> <span class="vi">@full_path</span>
<a name="gbab-30"></a>      <span class="n">capture_output</span> <span class="p">{</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">New</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="vi">@args</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-31"></a>      <span class="n">assert_exist</span> <span class="vi">@full_path</span>
<a name="gbab-32"></a>    <span class="k">end</span>
<a name="gbab-33"></a>
<a name="gbab-34"></a>    <span class="n">should</span> <span class="s2">&quot;create a Gemfile&quot;</span> <span class="k">do</span>
<a name="gbab-35"></a>      <span class="n">gemfile</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="vi">@full_path</span><span class="p">,</span> <span class="s2">&quot;Gemfile&quot;</span><span class="p">)</span>
<a name="gbab-36"></a>      <span class="n">refute_exist</span> <span class="vi">@full_path</span>
<a name="gbab-37"></a>      <span class="n">capture_output</span> <span class="p">{</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">New</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="vi">@args</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-38"></a>      <span class="n">assert_exist</span> <span class="n">gemfile</span>
<a name="gbab-39"></a>      <span class="n">assert_match</span><span class="p">(</span><span class="sr">%r!gem &quot;jekyll&quot;, &quot;~&gt; </span><span class="si">#{</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">VERSION</span><span class="si">}</span><span class="sr">&quot;!</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="n">gemfile</span><span class="p">))</span>
<a name="gbab-40"></a>      <span class="n">assert_match</span><span class="p">(</span><span class="sr">%r!gem &quot;github-pages&quot;!</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="n">gemfile</span><span class="p">))</span>
<a name="gbab-41"></a>    <span class="k">end</span>
<a name="gbab-42"></a>
<a name="gbab-43"></a>    <span class="n">should</span> <span class="s2">&quot;display a success message&quot;</span> <span class="k">do</span>
<a name="gbab-44"></a>      <span class="n">output</span> <span class="o">=</span> <span class="n">capture_output</span> <span class="p">{</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">New</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="vi">@args</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-45"></a>      <span class="n">success_message</span> <span class="o">=</span> <span class="s2">&quot;New jekyll site installed in </span><span class="si">#{</span><span class="vi">@full_path</span><span class="o">.</span><span class="n">cyan</span><span class="si">}</span><span class="s2">.&quot;</span>
<a name="gbab-46"></a>      <span class="n">bundle_message</span> <span class="o">=</span> <span class="s2">&quot;Running bundle install in </span><span class="si">#{</span><span class="vi">@full_path</span><span class="o">.</span><span class="n">cyan</span><span class="si">}</span><span class="s2">...&quot;</span>
<a name="gbab-47"></a>      <span class="n">assert_includes</span> <span class="n">output</span><span class="p">,</span> <span class="n">success_message</span>
<a name="gbab-48"></a>      <span class="n">assert_includes</span> <span class="n">output</span><span class="p">,</span> <span class="n">bundle_message</span>
<a name="gbab-49"></a>    <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>    <span class="n">should</span> <span class="s2">&quot;copy the static files in site template to the new directory&quot;</span> <span class="k">do</span>
<a name="gbab-52"></a>      <span class="n">static_template_files</span> <span class="o">=</span> <span class="n">dir_contents</span><span class="p">(</span><span class="n">site_template</span><span class="p">)</span><span class="o">.</span><span class="n">reject</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-53"></a>        <span class="no">File</span><span class="o">.</span><span class="n">extname</span><span class="p">(</span><span class="n">f</span><span class="p">)</span> <span class="o">==</span> <span class="s2">&quot;.erb&quot;</span>
<a name="gbab-54"></a>      <span class="k">end</span>
<a name="gbab-55"></a>      <span class="n">static_template_files</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;/Gemfile&quot;</span>
<a name="gbab-56"></a>
<a name="gbab-57"></a>      <span class="n">capture_output</span> <span class="p">{</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">New</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="vi">@args</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-58"></a>
<a name="gbab-59"></a>      <span class="n">new_site_files</span> <span class="o">=</span> <span class="n">dir_contents</span><span class="p">(</span><span class="vi">@full_path</span><span class="p">)</span><span class="o">.</span><span class="n">reject</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-60"></a>        <span class="no">File</span><span class="o">.</span><span class="n">extname</span><span class="p">(</span><span class="n">f</span><span class="p">)</span> <span class="o">==</span> <span class="s2">&quot;.markdown&quot;</span>
<a name="gbab-61"></a>      <span class="k">end</span>
<a name="gbab-62"></a>
<a name="gbab-63"></a>      <span class="n">assert_same_elements</span> <span class="n">static_template_files</span><span class="p">,</span> <span class="n">new_site_files</span>
<a name="gbab-64"></a>    <span class="k">end</span>
<a name="gbab-65"></a>
<a name="gbab-66"></a>    <span class="n">should</span> <span class="s2">&quot;process any ERB files&quot;</span> <span class="k">do</span>
<a name="gbab-67"></a>      <span class="n">erb_template_files</span> <span class="o">=</span> <span class="n">dir_contents</span><span class="p">(</span><span class="n">site_template</span><span class="p">)</span><span class="o">.</span><span class="n">select</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-68"></a>        <span class="no">File</span><span class="o">.</span><span class="n">extname</span><span class="p">(</span><span class="n">f</span><span class="p">)</span> <span class="o">==</span> <span class="s2">&quot;.erb&quot;</span>
<a name="gbab-69"></a>      <span class="k">end</span>
<a name="gbab-70"></a>
<a name="gbab-71"></a>      <span class="n">stubbed_date</span> <span class="o">=</span> <span class="s2">&quot;2013-01-01&quot;</span>
<a name="gbab-72"></a>      <span class="n">allow_any_instance_of</span><span class="p">(</span><span class="no">Time</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:strftime</span><span class="p">)</span> <span class="p">{</span> <span class="n">stubbed_date</span> <span class="p">}</span>
<a name="gbab-73"></a>
<a name="gbab-74"></a>      <span class="n">erb_template_files</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-75"></a>        <span class="n">f</span><span class="o">.</span><span class="n">chomp!</span> <span class="s2">&quot;.erb&quot;</span>
<a name="gbab-76"></a>        <span class="n">f</span><span class="o">.</span><span class="n">gsub!</span> <span class="s2">&quot;0000-00-00&quot;</span><span class="p">,</span> <span class="n">stubbed_date</span>
<a name="gbab-77"></a>      <span class="k">end</span>
<a name="gbab-78"></a>
<a name="gbab-79"></a>      <span class="n">capture_output</span> <span class="p">{</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">New</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="vi">@args</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-80"></a>
<a name="gbab-81"></a>      <span class="n">new_site_files</span> <span class="o">=</span> <span class="n">dir_contents</span><span class="p">(</span><span class="vi">@full_path</span><span class="p">)</span><span class="o">.</span><span class="n">select</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-82"></a>        <span class="n">erb_template_files</span><span class="o">.</span><span class="n">include?</span> <span class="n">f</span>
<a name="gbab-83"></a>      <span class="k">end</span>
<a name="gbab-84"></a>
<a name="gbab-85"></a>      <span class="n">assert_same_elements</span> <span class="n">erb_template_files</span><span class="p">,</span> <span class="n">new_site_files</span>
<a name="gbab-86"></a>    <span class="k">end</span>
<a name="gbab-87"></a>      <span class="n">assert_match</span><span class="p">(</span><span class="sr">/New jekyll site installed in/</span><span class="p">,</span> <span class="n">output</span><span class="p">)</span>
<a name="gbab-88"></a>    <span class="n">should</span> <span class="s2">&quot;create blank project&quot;</span> <span class="k">do</span>
<a name="gbab-89"></a>      <span class="n">blank_contents</span> <span class="o">=</span> <span class="sx">%w(/_drafts /_layouts /_posts /index.html)</span>
<a name="gbab-90"></a>      <span class="n">output</span> <span class="o">=</span> <span class="n">capture_output</span> <span class="p">{</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">New</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="vi">@args</span><span class="p">,</span> <span class="s2">&quot;--blank&quot;</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-91"></a>      <span class="n">bundle_message</span> <span class="o">=</span> <span class="s2">&quot;Running bundle install in </span><span class="si">#{</span><span class="vi">@full_path</span><span class="o">.</span><span class="n">cyan</span><span class="si">}</span><span class="s2">...&quot;</span>
<a name="gbab-92"></a>      <span class="n">assert_same_elements</span> <span class="n">blank_contents</span><span class="p">,</span> <span class="n">dir_contents</span><span class="p">(</span><span class="vi">@full_path</span><span class="p">)</span>
<a name="gbab-93"></a>      <span class="n">refute_includes</span> <span class="n">output</span><span class="p">,</span> <span class="n">bundle_message</span>
<a name="gbab-94"></a>    <span class="k">end</span>  
<a name="gbab-95"></a>
<a name="gbab-96"></a>    <span class="n">should</span> <span class="s2">&quot;force created folder&quot;</span> <span class="k">do</span>
<a name="gbab-97"></a>      <span class="n">capture_output</span> <span class="p">{</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">New</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="vi">@args</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-98"></a>      <span class="n">output</span> <span class="o">=</span> <span class="n">capture_output</span> <span class="p">{</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">New</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="vi">@args</span><span class="p">,</span> <span class="s2">&quot;--force&quot;</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-99"></a>      <span class="n">assert_match</span> <span class="sr">%r!New jekyll site installed in!</span><span class="p">,</span> <span class="n">output</span>
<a name="gbab-100"></a>    <span class="k">end</span>  
<a name="gbab-101"></a>
<a name="gbab-102"></a>    <span class="n">should</span> <span class="s2">&quot;skip bundle install when opted to&quot;</span> <span class="k">do</span>
<a name="gbab-103"></a>      <span class="n">output</span> <span class="o">=</span> <span class="n">capture_output</span> <span class="p">{</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">New</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="vi">@args</span><span class="p">,</span> <span class="s2">&quot;--skip-bundle&quot;</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-104"></a>      <span class="n">bundle_message</span> <span class="o">=</span> <span class="s2">&quot;Bundle install skipped.&quot;</span>
<a name="gbab-105"></a>      <span class="n">assert_includes</span> <span class="n">output</span><span class="p">,</span> <span class="n">bundle_message</span>
<a name="gbab-106"></a>    <span class="k">end</span>
<a name="gbab-107"></a>  <span class="k">end</span>
<a name="gbab-108"></a>
<a name="gbab-109"></a>  <span class="n">context</span> <span class="s2">&quot;when multiple args are given&quot;</span> <span class="k">do</span>
<a name="gbab-110"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-111"></a>      <span class="vi">@site_name_with_spaces</span> <span class="o">=</span> <span class="s2">&quot;new site name&quot;</span>
<a name="gbab-112"></a>      <span class="vi">@multiple_args</span> <span class="o">=</span> <span class="vi">@site_name_with_spaces</span><span class="o">.</span><span class="n">split</span>
<a name="gbab-113"></a>    <span class="k">end</span>
<a name="gbab-114"></a>
<a name="gbab-115"></a>    <span class="n">teardown</span> <span class="k">do</span>
<a name="gbab-116"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_r</span> <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="vi">@site_name_with_spaces</span><span class="p">,</span> <span class="no">Dir</span><span class="o">.</span><span class="n">pwd</span><span class="p">)</span>
<a name="gbab-117"></a>    <span class="k">end</span>
<a name="gbab-118"></a>
<a name="gbab-119"></a>    <span class="n">should</span> <span class="s2">&quot;create a new directory&quot;</span> <span class="k">do</span>
<a name="gbab-120"></a>      <span class="n">refute_exist</span> <span class="vi">@site_name_with_spaces</span>
<a name="gbab-121"></a>      <span class="n">capture_output</span> <span class="p">{</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">New</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="vi">@multiple_args</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-122"></a>      <span class="n">assert_exist</span> <span class="vi">@site_name_with_spaces</span>
<a name="gbab-123"></a>    <span class="k">end</span>
<a name="gbab-124"></a>  <span class="k">end</span>
<a name="gbab-125"></a>
<a name="gbab-126"></a>  <span class="n">context</span> <span class="s2">&quot;when no args are given&quot;</span> <span class="k">do</span>
<a name="gbab-127"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-128"></a>      <span class="vi">@empty_args</span> <span class="o">=</span> <span class="o">[]</span>
<a name="gbab-129"></a>    <span class="k">end</span>
<a name="gbab-130"></a>
<a name="gbab-131"></a>    <span class="n">should</span> <span class="s2">&quot;raise an ArgumentError&quot;</span> <span class="k">do</span>
<a name="gbab-132"></a>      <span class="n">exception</span> <span class="o">=</span> <span class="n">assert_raises</span> <span class="no">ArgumentError</span> <span class="k">do</span>
<a name="gbab-133"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">New</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="vi">@empty_args</span><span class="p">)</span>
<a name="gbab-134"></a>      <span class="k">end</span>
<a name="gbab-135"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;You must specify a path.&quot;</span><span class="p">,</span> <span class="n">exception</span><span class="o">.</span><span class="n">message</span>
<a name="gbab-136"></a>    <span class="k">end</span>
<a name="gbab-137"></a>  <span class="k">end</span>
<a name="gbab-138"></a><span class="k">end</span>
</pre></div>
</td></tr></table>