<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestPathSanitization</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;on Windows with absolute source&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="vi">@source</span> <span class="o">=</span> <span class="s2">&quot;C:/Users/xmr/Desktop/mpc-hc.org&quot;</span>
<a name="gbab-9"></a>      <span class="vi">@dest</span>   <span class="o">=</span> <span class="s2">&quot;./_site/&quot;</span>
<a name="gbab-10"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">Dir</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:pwd</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="s2">&quot;C:/Users/xmr/Desktop/mpc-hc.org&quot;</span><span class="p">)</span>
<a name="gbab-11"></a>    <span class="k">end</span>
<a name="gbab-12"></a>    <span class="n">should</span> <span class="s2">&quot;strip drive name from path&quot;</span> <span class="k">do</span>
<a name="gbab-13"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;C:/Users/xmr/Desktop/mpc-hc.org/_site&quot;</span><span class="p">,</span>
<a name="gbab-14"></a>                   <span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="vi">@source</span><span class="p">,</span> <span class="vi">@dest</span><span class="p">)</span>
<a name="gbab-15"></a>    <span class="k">end</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>    <span class="n">should</span> <span class="s2">&quot;strip just the initial drive name&quot;</span> <span class="k">do</span>
<a name="gbab-18"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/tmp/foobar/jail/..c:/..c:/..c:/etc/passwd&quot;</span><span class="p">,</span>
<a name="gbab-19"></a>                   <span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="s2">&quot;/tmp/foobar/jail&quot;</span><span class="p">,</span> <span class="s2">&quot;..c:/..c:/..c:/etc/passwd&quot;</span><span class="p">)</span>
<a name="gbab-20"></a>    <span class="k">end</span>
<a name="gbab-21"></a>  <span class="k">end</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>  <span class="n">should</span> <span class="s2">&quot;escape tilde&quot;</span> <span class="k">do</span>
<a name="gbab-24"></a>    <span class="n">assert_equal</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;~hi.txt&quot;</span><span class="p">),</span> <span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="n">source_dir</span><span class="p">,</span> <span class="s2">&quot;~hi.txt&quot;</span><span class="p">)</span>
<a name="gbab-25"></a>    <span class="n">assert_equal</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;files&quot;</span><span class="p">,</span> <span class="s2">&quot;~hi.txt&quot;</span><span class="p">),</span>
<a name="gbab-26"></a>                 <span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="n">source_dir</span><span class="p">,</span> <span class="s2">&quot;files/../files/~hi.txt&quot;</span><span class="p">)</span>
<a name="gbab-27"></a>  <span class="k">end</span>
<a name="gbab-28"></a>
<a name="gbab-29"></a>  <span class="n">should</span> <span class="s2">&quot;remove path traversals&quot;</span> <span class="k">do</span>
<a name="gbab-30"></a>    <span class="n">assert_equal</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;files&quot;</span><span class="p">,</span> <span class="s2">&quot;hi.txt&quot;</span><span class="p">),</span>
<a name="gbab-31"></a>                 <span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="n">source_dir</span><span class="p">,</span> <span class="s2">&quot;f./../../../../../../files/hi.txt&quot;</span><span class="p">)</span>
<a name="gbab-32"></a>  <span class="k">end</span>
<a name="gbab-33"></a>
<a name="gbab-34"></a>  <span class="k">if</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">::</span><span class="no">Platforms</span><span class="o">.</span><span class="n">really_windows?</span>
<a name="gbab-35"></a>  <span class="n">context</span> <span class="s2">&quot;on Windows with absolute path&quot;</span> <span class="k">do</span>
<a name="gbab-36"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-37"></a>      <span class="vi">@base_path</span> <span class="o">=</span> <span class="s2">&quot;D:/demo&quot;</span>
<a name="gbab-38"></a>      <span class="vi">@file_path</span> <span class="o">=</span> <span class="s2">&quot;D:/demo/_site&quot;</span>
<a name="gbab-39"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">Dir</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:pwd</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="s2">&quot;D:/&quot;</span><span class="p">)</span>
<a name="gbab-40"></a>    <span class="k">end</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a>    <span class="n">should</span> <span class="s2">&quot;strip just the clean path drive name&quot;</span> <span class="k">do</span>
<a name="gbab-43"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;D:/demo/_site&quot;</span><span class="p">,</span>
<a name="gbab-44"></a>                   <span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="vi">@base_path</span><span class="p">,</span> <span class="vi">@file_path</span><span class="p">)</span>
<a name="gbab-45"></a>    <span class="k">end</span>
<a name="gbab-46"></a>  <span class="k">end</span>
<a name="gbab-47"></a>
<a name="gbab-48"></a>  <span class="n">context</span> <span class="s2">&quot;on Windows with file path has matching prefix&quot;</span> <span class="k">do</span>
<a name="gbab-49"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-50"></a>      <span class="vi">@base_path</span> <span class="o">=</span> <span class="s2">&quot;D:/site&quot;</span>
<a name="gbab-51"></a>      <span class="vi">@file_path</span> <span class="o">=</span> <span class="s2">&quot;D:/sitemap.xml&quot;</span>
<a name="gbab-52"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">Dir</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:pwd</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="s2">&quot;D:/&quot;</span><span class="p">)</span>
<a name="gbab-53"></a>    <span class="k">end</span>
<a name="gbab-54"></a>
<a name="gbab-55"></a>    <span class="n">should</span> <span class="s2">&quot;not strip base path&quot;</span> <span class="k">do</span>
<a name="gbab-56"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;D:/site/sitemap.xml&quot;</span><span class="p">,</span>
<a name="gbab-57"></a>                   <span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="vi">@base_path</span><span class="p">,</span> <span class="vi">@file_path</span><span class="p">)</span>
<a name="gbab-58"></a>    <span class="k">end</span>
<a name="gbab-59"></a>  <span class="k">end</span>
<a name="gbab-60"></a>  <span class="k">end</span>
<a name="gbab-61"></a>
<a name="gbab-62"></a>  <span class="n">should</span> <span class="s2">&quot;not strip base path if file path has matching prefix&quot;</span> <span class="k">do</span>
<a name="gbab-63"></a>    <span class="n">assert_equal</span> <span class="s2">&quot;/site/sitemap.xml&quot;</span><span class="p">,</span>
<a name="gbab-64"></a>                 <span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="s2">&quot;/site&quot;</span><span class="p">,</span> <span class="s2">&quot;sitemap.xml&quot;</span><span class="p">)</span>
<a name="gbab-65"></a>  <span class="k">end</span>
<a name="gbab-66"></a><span class="k">end</span>
</pre></div>
</td></tr></table>