<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a>    <span class="n">should</span> <span class="s2">&quot;process other static files and generate correct permalinks&quot;</span> <span class="k">do</span>
<a name="gbab-2"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-3"></a>
<a name="gbab-4"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-5"></a>      <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">exists?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s1">&#39;/contacts.html&#39;</span><span class="p">))</span>
<a name="gbab-6"></a><span class="k">class</span> <span class="nc">TestGeneratedSite</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>  <span class="k">def</span> <span class="nf">test_posts_directory_not_copied</span>
<a name="gbab-9"></a>    <span class="n">assert</span> <span class="o">!</span><span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">,</span> <span class="s1">&#39;_posts&#39;</span><span class="p">))</span>
<a name="gbab-10"></a>        <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;index.html&quot;</span><span class="p">),</span>
<a name="gbab-11"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">merged_file_read_opts</span><span class="p">(</span><span class="vi">@site</span><span class="p">,</span> <span class="p">{})</span>
<a name="gbab-12"></a>      <span class="p">)</span>
<a name="gbab-13"></a>    <span class="n">should</span> <span class="s2">&quot;ensure post count is as expected&quot;</span> <span class="k">do</span>
<a name="gbab-14"></a>      <span class="n">assert_equal</span> <span class="mi">54</span><span class="p">,</span> <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">size</span>
<a name="gbab-15"></a>    <span class="k">end</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>    <span class="n">should</span> <span class="s2">&quot;insert variable from layout into the index&quot;</span> <span class="k">do</span>
<a name="gbab-18"></a>      <span class="n">assert</span> <span class="vi">@index</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;variable from layout&quot;</span><span class="p">)</span>
<a name="gbab-19"></a>    <span class="k">end</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>    <span class="n">should</span> <span class="s2">&quot;hide unpublished page&quot;</span> <span class="k">do</span>
<a name="gbab-22"></a>      <span class="n">refute_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;/unpublished.html&quot;</span><span class="p">)</span>
<a name="gbab-23"></a>    <span class="k">end</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>    <span class="n">should</span> <span class="s2">&quot;process a page with a folder permalink properly&quot;</span> <span class="k">do</span>
<a name="gbab-26"></a>      <span class="n">about</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">name</span> <span class="o">==</span> <span class="s2">&quot;about.html&quot;</span> <span class="p">}</span>
<a name="gbab-27"></a>      <span class="n">assert_equal</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;about&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">),</span> <span class="n">about</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-28"></a>      <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;about&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">)</span>
<a name="gbab-29"></a>    <span class="k">end</span>
<a name="gbab-30"></a>
<a name="gbab-31"></a>
<a name="gbab-32"></a>    <span class="n">should</span> <span class="s2">&quot;include a post with a abbreviated dates&quot;</span> <span class="k">do</span>
<a name="gbab-33"></a>      <span class="n">refute_nil</span><span class="p">(</span>
<a name="gbab-34"></a>        <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">index</span> <span class="k">do</span> <span class="o">|</span><span class="n">post</span><span class="o">|</span>
<a name="gbab-35"></a>        <span class="n">post</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;_posts/2017-2-5-i-dont-like-zeroes.md&quot;</span>
<a name="gbab-36"></a>        <span class="k">end</span>
<a name="gbab-37"></a>      <span class="p">)</span>
<a name="gbab-38"></a>      <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;2017&quot;</span><span class="p">,</span> <span class="s2">&quot;02&quot;</span><span class="p">,</span> <span class="s2">&quot;05&quot;</span><span class="p">,</span> <span class="s2">&quot;i-dont-like-zeroes.html&quot;</span><span class="p">)</span>
<a name="gbab-39"></a>    <span class="k">end</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>    <span class="n">should</span> <span class="s2">&quot;print a nice list of static files&quot;</span> <span class="k">do</span>
<a name="gbab-42"></a>      <span class="n">time_regexp</span> <span class="o">=</span> <span class="s2">&quot;</span><span class="se">\\</span><span class="s2">d+:</span><span class="se">\\</span><span class="s2">d+&quot;</span>
<a name="gbab-43"></a>      <span class="c1">#</span>
<a name="gbab-44"></a>      <span class="c1"># adding a pipe character at the beginning preserves formatting with newlines</span>
<a name="gbab-45"></a>      <span class="n">expected_output</span> <span class="o">=</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">new</span> <span class="o">&lt;&lt;-</span><span class="no">OUTPUT</span>
<a name="gbab-46"></a><span class="sh">| - /css/screen.css last edited at #{time_regexp} with extname .css</span>
<a name="gbab-47"></a><span class="sh">- /pgp.key last edited at #{time_regexp} with extname .key</span>
<a name="gbab-48"></a><span class="sh">- /products.yml last edited at #{time_regexp} with extname .yml</span>
<a name="gbab-49"></a><span class="sh">- /symlink-test/symlinked-dir/screen.css last edited at #{time_regexp} with extname .css</span>
<a name="gbab-50"></a><span class="no">OUTPUT</span>
<a name="gbab-51"></a>      <span class="n">assert_match</span> <span class="n">expected_output</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;static_files.html&quot;</span><span class="p">))</span>
<a name="gbab-52"></a>    <span class="k">end</span>
<a name="gbab-53"></a>
<a name="gbab-54"></a>  <span class="n">context</span> <span class="s2">&quot;generating limited posts&quot;</span> <span class="k">do</span>
<a name="gbab-55"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-56"></a>      <span class="n">clear_dest</span>
<a name="gbab-57"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">(</span><span class="s2">&quot;limit_posts&quot;</span> <span class="o">=&gt;</span> <span class="mi">5</span><span class="p">)</span>
<a name="gbab-58"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-59"></a>      <span class="vi">@index</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;index.html&quot;</span><span class="p">))</span>
<a name="gbab-60"></a>    <span class="k">end</span>
<a name="gbab-61"></a>
<a name="gbab-62"></a>    <span class="n">should</span> <span class="s2">&quot;generate only the specified number of posts&quot;</span> <span class="k">do</span>
<a name="gbab-63"></a>      <span class="n">assert_equal</span> <span class="mi">5</span><span class="p">,</span> <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">size</span>
<a name="gbab-64"></a>    <span class="k">end</span>
<a name="gbab-65"></a>
<a name="gbab-66"></a>    <span class="n">should</span> <span class="s2">&quot;ensure limit posts is 0 or more&quot;</span> <span class="k">do</span>
<a name="gbab-67"></a>      <span class="n">assert_raises</span> <span class="no">ArgumentError</span> <span class="k">do</span>
<a name="gbab-68"></a>        <span class="n">clear_dest</span>
<a name="gbab-69"></a>        <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">(</span><span class="s2">&quot;limit_posts&quot;</span> <span class="o">=&gt;</span> <span class="o">-</span><span class="mi">1</span><span class="p">)</span>
<a name="gbab-70"></a>      <span class="k">end</span>
<a name="gbab-71"></a>    <span class="k">end</span>
<a name="gbab-72"></a>
<a name="gbab-73"></a>    <span class="n">should</span> <span class="s2">&quot;acceptable limit post is 0&quot;</span> <span class="k">do</span>
<a name="gbab-74"></a>        <span class="n">clear_dest</span>
<a name="gbab-75"></a>      <span class="n">assert</span><span class="p">(</span>
<a name="gbab-76"></a>        <span class="n">fixture_site</span><span class="p">(</span><span class="s2">&quot;limit_posts&quot;</span> <span class="o">=&gt;</span> <span class="mi">0</span><span class="p">),</span>
<a name="gbab-77"></a>        <span class="s2">&quot;Couldn&#39;t create a site with limit_posts=0.&quot;</span>
<a name="gbab-78"></a>      <span class="p">)</span>
<a name="gbab-79"></a>    <span class="k">end</span>
<a name="gbab-80"></a>  <span class="k">end</span>
<a name="gbab-81"></a>
<a name="gbab-82"></a>  <span class="n">context</span> <span class="s2">&quot;generating limited posts&quot;</span> <span class="k">do</span>
<a name="gbab-83"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-84"></a>      <span class="n">clear_dest</span>
<a name="gbab-85"></a>      <span class="n">stub</span><span class="p">(</span><span class="no">Jekyll</span><span class="p">)</span><span class="o">.</span><span class="n">configuration</span> <span class="k">do</span>
<a name="gbab-86"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">DEFAULTS</span><span class="o">.</span><span class="n">merge</span><span class="p">({</span><span class="s1">&#39;source&#39;</span> <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">,</span> <span class="s1">&#39;destination&#39;</span> <span class="o">=&gt;</span> <span class="n">dest_dir</span><span class="p">,</span> <span class="s1">&#39;limit_posts&#39;</span> <span class="o">=&gt;</span> <span class="mi">5</span><span class="p">})</span>
<a name="gbab-87"></a>      <span class="k">end</span>
<a name="gbab-88"></a>
<a name="gbab-89"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">)</span>
<a name="gbab-90"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-91"></a>      <span class="vi">@index</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s1">&#39;index.html&#39;</span><span class="p">))</span>
<a name="gbab-92"></a>    <span class="k">end</span>
<a name="gbab-93"></a>
<a name="gbab-94"></a>    <span class="n">should</span> <span class="s2">&quot;generate only the specified number of posts&quot;</span> <span class="k">do</span>
<a name="gbab-95"></a>      <span class="n">assert_equal</span> <span class="mi">5</span><span class="p">,</span> <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">size</span>
<a name="gbab-96"></a>    <span class="k">end</span>
<a name="gbab-97"></a>
<a name="gbab-98"></a>    <span class="n">should</span> <span class="s2">&quot;ensure limit posts is 1 or more&quot;</span> <span class="k">do</span>
<a name="gbab-99"></a>      <span class="n">assert_raise</span> <span class="no">ArgumentError</span> <span class="k">do</span>
<a name="gbab-100"></a>        <span class="n">clear_dest</span>
<a name="gbab-101"></a>        <span class="n">stub</span><span class="p">(</span><span class="no">Jekyll</span><span class="p">)</span><span class="o">.</span><span class="n">configuration</span> <span class="k">do</span>
<a name="gbab-102"></a>          <span class="no">Jekyll</span><span class="o">::</span><span class="no">DEFAULTS</span><span class="o">.</span><span class="n">merge</span><span class="p">({</span><span class="s1">&#39;source&#39;</span> <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">,</span> <span class="s1">&#39;destination&#39;</span> <span class="o">=&gt;</span> <span class="n">dest_dir</span><span class="p">,</span> <span class="s1">&#39;limit_posts&#39;</span> <span class="o">=&gt;</span> <span class="mi">0</span><span class="p">})</span>
<a name="gbab-103"></a>        <span class="k">end</span>
<a name="gbab-104"></a>
<a name="gbab-105"></a>        <span class="vi">@site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">)</span>
<a name="gbab-106"></a>      <span class="k">end</span>
<a name="gbab-107"></a>    <span class="k">end</span>
<a name="gbab-108"></a>  <span class="k">end</span>
</pre></div>
</td></tr></table>