<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestPage</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="k">def</span> <span class="nf">setup_page</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-7"></a>    <span class="n">dir</span><span class="p">,</span> <span class="n">file</span> <span class="o">=</span> <span class="n">args</span>
<a name="gbab-8"></a>    <span class="k">if</span> <span class="n">file</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-9"></a>      <span class="n">file</span> <span class="o">=</span> <span class="n">dir</span>
<a name="gbab-10"></a>      <span class="n">dir</span> <span class="o">=</span> <span class="s2">&quot;&quot;</span>
<a name="gbab-11"></a>    <span class="k">end</span>
<a name="gbab-12"></a>    <span class="vi">@page</span> <span class="o">=</span> <span class="no">Page</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">,</span> <span class="n">source_dir</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="n">file</span><span class="p">)</span>
<a name="gbab-13"></a>  <span class="k">end</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>  <span class="k">def</span> <span class="nf">do_render</span><span class="p">(</span><span class="n">page</span><span class="p">)</span>
<a name="gbab-16"></a>    <span class="n">layouts</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-17"></a>      <span class="s2">&quot;default&quot;</span> <span class="o">=&gt;</span> <span class="no">Layout</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">,</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_layouts&quot;</span><span class="p">),</span> <span class="s2">&quot;simple.html&quot;</span><span class="p">),</span>
<a name="gbab-18"></a>    <span class="p">}</span>
<a name="gbab-19"></a>    <span class="n">page</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">layouts</span><span class="p">,</span> <span class="vi">@site</span><span class="o">.</span><span class="n">site_payload</span><span class="p">)</span>
<a name="gbab-20"></a>  <span class="k">end</span>
<a name="gbab-21"></a>
<a name="gbab-22"></a>  <span class="n">context</span> <span class="s2">&quot;A Page&quot;</span> <span class="k">do</span>
<a name="gbab-23"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-24"></a>      <span class="n">clear_dest</span>
<a name="gbab-25"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">({</span>
<a name="gbab-26"></a>        <span class="s2">&quot;source&quot;</span> <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">,</span>
<a name="gbab-27"></a>        <span class="s2">&quot;destination&quot;</span> <span class="o">=&gt;</span> <span class="n">dest_dir</span><span class="p">,</span>
<a name="gbab-28"></a>        <span class="s2">&quot;skip_config_files&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-29"></a>      <span class="p">}))</span>
<a name="gbab-30"></a>    <span class="k">end</span>
<a name="gbab-31"></a>    
<a name="gbab-32"></a>    <span class="n">context</span> <span class="s2">&quot;processing pages&quot;</span> <span class="k">do</span>
<a name="gbab-33"></a>      <span class="n">should</span> <span class="s2">&quot;create URL based on filename&quot;</span> <span class="k">do</span>
<a name="gbab-34"></a>        <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span>
<a name="gbab-35"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;/contacts.html&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-36"></a>      <span class="k">end</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>      <span class="n">should</span> <span class="s2">&quot;not published when published yaml is false&quot;</span> <span class="k">do</span>
<a name="gbab-39"></a>        <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;unpublished.html&quot;</span><span class="p">)</span>
<a name="gbab-40"></a>        <span class="n">assert_equal</span> <span class="kp">false</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">published?</span>
<a name="gbab-41"></a>      <span class="k">end</span>
<a name="gbab-42"></a>
<a name="gbab-43"></a>      <span class="n">should</span> <span class="s2">&quot;create URL with non-alphabetic characters&quot;</span> <span class="k">do</span>
<a name="gbab-44"></a>        <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;+&quot;</span><span class="p">,</span> <span class="s2">&quot;%# +.md&quot;</span><span class="p">)</span>
<a name="gbab-45"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;/+/%25%23%20+.html&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-46"></a>      <span class="k">end</span>
<a name="gbab-47"></a>
<a name="gbab-48"></a>      <span class="n">context</span> <span class="s2">&quot;in a directory hierarchy&quot;</span> <span class="k">do</span>
<a name="gbab-49"></a>        <span class="n">should</span> <span class="s2">&quot;create URL based on filename&quot;</span> <span class="k">do</span>
<a name="gbab-50"></a>          <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;/contacts&quot;</span><span class="p">,</span> <span class="s2">&quot;bar.html&quot;</span><span class="p">)</span>
<a name="gbab-51"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;/contacts/bar.html&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-52"></a>        <span class="k">end</span>
<a name="gbab-53"></a>
<a name="gbab-54"></a>        <span class="n">should</span> <span class="s2">&quot;create index URL based on filename&quot;</span> <span class="k">do</span>
<a name="gbab-55"></a>          <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;/contacts&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">)</span>
<a name="gbab-56"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;/contacts/&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-57"></a>        <span class="k">end</span>
<a name="gbab-58"></a>      <span class="k">end</span>
<a name="gbab-59"></a>
<a name="gbab-60"></a>      <span class="n">should</span> <span class="s2">&quot;deal properly with extensions&quot;</span> <span class="k">do</span>
<a name="gbab-61"></a>        <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;deal.with.dots.html&quot;</span><span class="p">)</span>
<a name="gbab-62"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;.html&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">ext</span>
<a name="gbab-63"></a>      <span class="k">end</span>
<a name="gbab-64"></a>
<a name="gbab-65"></a>      <span class="n">should</span> <span class="s2">&quot;deal properly with non-html extensions&quot;</span> <span class="k">do</span>
<a name="gbab-66"></a>        <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;dynamic_page.php&quot;</span><span class="p">)</span>
<a name="gbab-67"></a>        <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;dynamic_page.php&quot;</span><span class="p">)</span>
<a name="gbab-68"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;.php&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">ext</span>
<a name="gbab-69"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;dynamic_page&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">basename</span>
<a name="gbab-70"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;/dynamic_page.php&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-71"></a>        <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-72"></a>      <span class="k">end</span>
<a name="gbab-73"></a>
<a name="gbab-74"></a>      <span class="n">should</span> <span class="s2">&quot;deal properly with dots&quot;</span> <span class="k">do</span>
<a name="gbab-75"></a>        <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;deal.with.dots.html&quot;</span><span class="p">)</span>
<a name="gbab-76"></a>        <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;deal.with.dots.html&quot;</span><span class="p">)</span>
<a name="gbab-77"></a>
<a name="gbab-78"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;deal.with.dots&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">basename</span>
<a name="gbab-79"></a>        <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-80"></a>      <span class="k">end</span>
<a name="gbab-81"></a>
<a name="gbab-82"></a>      <span class="n">should</span> <span class="s2">&quot;make properties accessible through #[]&quot;</span> <span class="k">do</span>
<a name="gbab-83"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;properties.html&quot;</span><span class="p">)</span>
<a name="gbab-84"></a>        <span class="n">attrs</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-85"></a>          <span class="ss">:content</span>   <span class="o">=&gt;</span> <span class="s2">&quot;All the properties.</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">,</span>
<a name="gbab-86"></a>          <span class="ss">:dir</span>       <span class="o">=&gt;</span> <span class="s2">&quot;/properties/&quot;</span><span class="p">,</span>
<a name="gbab-87"></a>          <span class="ss">:excerpt</span>   <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">,</span>
<a name="gbab-88"></a>          <span class="ss">:foo</span>       <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span>
<a name="gbab-89"></a>          <span class="ss">:layout</span>    <span class="o">=&gt;</span> <span class="s2">&quot;default&quot;</span><span class="p">,</span>
<a name="gbab-90"></a>          <span class="ss">:name</span>      <span class="o">=&gt;</span> <span class="s2">&quot;properties.html&quot;</span><span class="p">,</span>
<a name="gbab-91"></a>          <span class="ss">:path</span>      <span class="o">=&gt;</span> <span class="s2">&quot;properties.html&quot;</span><span class="p">,</span>
<a name="gbab-92"></a>          <span class="ss">:permalink</span> <span class="o">=&gt;</span> <span class="s2">&quot;/properties/&quot;</span><span class="p">,</span>
<a name="gbab-93"></a>          <span class="ss">:published</span> <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">,</span>
<a name="gbab-94"></a>          <span class="ss">:title</span>     <span class="o">=&gt;</span> <span class="s2">&quot;Properties Page&quot;</span><span class="p">,</span>
<a name="gbab-95"></a>          <span class="ss">:url</span>       <span class="o">=&gt;</span> <span class="s2">&quot;/properties/&quot;</span><span class="p">,</span>
<a name="gbab-96"></a>        <span class="p">}</span>
<a name="gbab-97"></a>
<a name="gbab-98"></a>        <span class="n">attrs</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="kp">attr</span><span class="p">,</span> <span class="n">val</span><span class="o">|</span>
<a name="gbab-99"></a>          <span class="n">attr_str</span> <span class="o">=</span> <span class="kp">attr</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-100"></a>          <span class="n">result</span> <span class="o">=</span> <span class="n">page</span><span class="o">[</span><span class="n">attr_str</span><span class="o">]</span>
<a name="gbab-101"></a>          <span class="k">if</span> <span class="n">val</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-102"></a>            <span class="n">assert_nil</span> <span class="n">result</span><span class="p">,</span> <span class="s2">&quot;For &lt;page[</span><span class="se">\&quot;</span><span class="si">#{</span><span class="n">attr_str</span><span class="si">}</span><span class="se">\&quot;</span><span class="s2">]&gt;:&quot;</span>
<a name="gbab-103"></a>          <span class="k">else</span>
<a name="gbab-104"></a>          <span class="n">assert_equal</span> <span class="n">val</span><span class="p">,</span> <span class="n">result</span><span class="p">,</span> <span class="s2">&quot;For &lt;page[</span><span class="se">\&quot;</span><span class="si">#{</span><span class="n">attr_str</span><span class="si">}</span><span class="se">\&quot;</span><span class="s2">]&gt;:&quot;</span>
<a name="gbab-105"></a>        <span class="k">end</span>
<a name="gbab-106"></a>      <span class="k">end</span>
<a name="gbab-107"></a>      <span class="k">end</span>
<a name="gbab-108"></a>
<a name="gbab-109"></a>      <span class="n">context</span> <span class="s2">&quot;with pretty permalink style&quot;</span> <span class="k">do</span>
<a name="gbab-110"></a>        <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-111"></a>          <span class="vi">@site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="ss">:pretty</span>
<a name="gbab-112"></a>        <span class="k">end</span>
<a name="gbab-113"></a>
<a name="gbab-114"></a>        <span class="n">should</span> <span class="s2">&quot;return dir, URL, and destination correctly&quot;</span> <span class="k">do</span>
<a name="gbab-115"></a>          <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span>
<a name="gbab-116"></a>          <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;contacts/index.html&quot;</span><span class="p">)</span>
<a name="gbab-117"></a>
<a name="gbab-118"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;/contacts/&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">dir</span>
<a name="gbab-119"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;/contacts/&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-120"></a>          <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-121"></a>        <span class="k">end</span>
<a name="gbab-122"></a>
<a name="gbab-123"></a>        <span class="n">should</span> <span class="s2">&quot;return dir correctly for index page&quot;</span> <span class="k">do</span>
<a name="gbab-124"></a>          <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;index.html&quot;</span><span class="p">)</span>
<a name="gbab-125"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;/&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">dir</span>
<a name="gbab-126"></a>        <span class="k">end</span>
<a name="gbab-127"></a>
<a name="gbab-128"></a>        <span class="n">context</span> <span class="s2">&quot;in a directory hierarchy&quot;</span> <span class="k">do</span>
<a name="gbab-129"></a>          <span class="n">should</span> <span class="s2">&quot;create url based on filename&quot;</span> <span class="k">do</span>
<a name="gbab-130"></a>            <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;/contacts&quot;</span><span class="p">,</span> <span class="s2">&quot;bar.html&quot;</span><span class="p">)</span>
<a name="gbab-131"></a>            <span class="n">assert_equal</span> <span class="s2">&quot;/contacts/bar/&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-132"></a>          <span class="k">end</span>
<a name="gbab-133"></a>
<a name="gbab-134"></a>          <span class="n">should</span> <span class="s2">&quot;create index URL based on filename&quot;</span> <span class="k">do</span>
<a name="gbab-135"></a>            <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;/contacts&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">)</span>
<a name="gbab-136"></a>            <span class="n">assert_equal</span> <span class="s2">&quot;/contacts/&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-137"></a>          <span class="k">end</span>
<a name="gbab-138"></a>    <span class="n">context</span> <span class="s2">&quot;with unspecified layout&quot;</span> <span class="k">do</span>
<a name="gbab-139"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-140"></a>            <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;/contacts&quot;</span><span class="p">,</span> <span class="s2">&quot;bar.html&quot;</span><span class="p">)</span>
<a name="gbab-141"></a>            <span class="n">assert_equal</span> <span class="s2">&quot;/contacts/bar/&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">dir</span>
<a name="gbab-142"></a>
<a name="gbab-143"></a>      <span class="n">should</span> <span class="s2">&quot;default to &#39;post&#39; layout&quot;</span> <span class="k">do</span>
<a name="gbab-144"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;page&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span>
<a name="gbab-145"></a>            <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;/contacts&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">)</span>
<a name="gbab-146"></a>            <span class="n">assert_equal</span> <span class="s2">&quot;/contacts/&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">dir</span>
<a name="gbab-147"></a>        
<a name="gbab-148"></a>    <span class="n">context</span> <span class="s2">&quot;with specified layout of nil&quot;</span> <span class="k">do</span>
<a name="gbab-149"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-150"></a>        <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s1">&#39;sitemap.xml&#39;</span><span class="p">)</span>
<a name="gbab-151"></a>      <span class="n">context</span> <span class="s2">&quot;with date permalink style&quot;</span> <span class="k">do</span>
<a name="gbab-152"></a>        <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-153"></a>          <span class="vi">@site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="ss">:date</span>
<a name="gbab-154"></a>        <span class="k">end</span>
<a name="gbab-155"></a>
<a name="gbab-156"></a>        <span class="n">should</span> <span class="s2">&quot;return url and destination correctly&quot;</span> <span class="k">do</span>
<a name="gbab-157"></a>          <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span>
<a name="gbab-158"></a>          <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span>
<a name="gbab-159"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;/contacts.html&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-160"></a>          <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-161"></a>        <span class="k">end</span>
<a name="gbab-162"></a>
<a name="gbab-163"></a>        <span class="n">should</span> <span class="s2">&quot;return dir correctly&quot;</span> <span class="k">do</span>
<a name="gbab-164"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;/&quot;</span><span class="p">,</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">dir</span>
<a name="gbab-165"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;/contacts/&quot;</span><span class="p">,</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;contacts/bar.html&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">dir</span>
<a name="gbab-166"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;/contacts/&quot;</span><span class="p">,</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;contacts/index.html&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">dir</span>
<a name="gbab-167"></a>        <span class="k">end</span>
<a name="gbab-168"></a>      <span class="k">end</span>
<a name="gbab-169"></a>
<a name="gbab-170"></a>      <span class="n">context</span> <span class="s2">&quot;with custom permalink style with trailing slash&quot;</span> <span class="k">do</span>
<a name="gbab-171"></a>        <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-172"></a>          <span class="vi">@site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="s2">&quot;/:title/&quot;</span>
<a name="gbab-173"></a>        <span class="k">end</span>
<a name="gbab-174"></a>
<a name="gbab-175"></a>        <span class="n">should</span> <span class="s2">&quot;return URL and destination correctly&quot;</span> <span class="k">do</span>
<a name="gbab-176"></a>          <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span>
<a name="gbab-177"></a>          <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;contacts/index.html&quot;</span><span class="p">)</span>
<a name="gbab-178"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;/contacts/&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-179"></a>          <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-180"></a>        <span class="k">end</span>
<a name="gbab-181"></a>      <span class="k">end</span>
<a name="gbab-182"></a>
<a name="gbab-183"></a>      <span class="n">context</span> <span class="s2">&quot;with custom permalink style with file extension&quot;</span> <span class="k">do</span>
<a name="gbab-184"></a>        <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-185"></a>          <span class="vi">@site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="s2">&quot;/:title:output_ext&quot;</span>
<a name="gbab-186"></a>        <span class="k">end</span>
<a name="gbab-187"></a>
<a name="gbab-188"></a>        <span class="n">should</span> <span class="s2">&quot;return URL and destination correctly&quot;</span> <span class="k">do</span>
<a name="gbab-189"></a>          <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span>
<a name="gbab-190"></a>          <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span>
<a name="gbab-191"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;/contacts.html&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-192"></a>          <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-193"></a>        <span class="k">end</span>
<a name="gbab-194"></a>      <span class="k">end</span>
<a name="gbab-195"></a>
<a name="gbab-196"></a>      <span class="n">context</span> <span class="s2">&quot;with custom permalink style with no extension&quot;</span> <span class="k">do</span>
<a name="gbab-197"></a>        <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-198"></a>          <span class="vi">@site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="s2">&quot;/:title&quot;</span>
<a name="gbab-199"></a>        <span class="k">end</span>
<a name="gbab-200"></a>
<a name="gbab-201"></a>        <span class="n">should</span> <span class="s2">&quot;return URL and destination correctly&quot;</span> <span class="k">do</span>
<a name="gbab-202"></a>          <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span>
<a name="gbab-203"></a>          <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span>
<a name="gbab-204"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;/contacts&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-205"></a>          <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-206"></a>        <span class="k">end</span>
<a name="gbab-207"></a>      <span class="k">end</span>
<a name="gbab-208"></a>
<a name="gbab-209"></a>      <span class="n">context</span> <span class="s2">&quot;with date permalink style&quot;</span> <span class="k">do</span>
<a name="gbab-210"></a>        <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-211"></a>          <span class="vi">@site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="ss">:date</span>
<a name="gbab-212"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;/&quot;</span><span class="p">,</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">dir</span>
<a name="gbab-213"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;/contacts/&quot;</span><span class="p">,</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;contacts/index.html&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">dir</span>
<a name="gbab-214"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;/contacts/&quot;</span><span class="p">,</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;contacts/bar.html&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">dir</span>
<a name="gbab-215"></a>        <span class="n">should</span> <span class="s2">&quot;return url and destination correctly&quot;</span> <span class="k">do</span>
<a name="gbab-216"></a>          <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s1">&#39;contacts.html&#39;</span><span class="p">)</span>
<a name="gbab-217"></a>          <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span>
<a name="gbab-218"></a>      <span class="n">should</span> <span class="s2">&quot;respect permalink in YAML front matter&quot;</span> <span class="k">do</span>
<a name="gbab-219"></a>          <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-220"></a>        <span class="k">end</span>
<a name="gbab-221"></a>      <span class="k">end</span>
<a name="gbab-222"></a>
<a name="gbab-223"></a>      <span class="n">context</span> <span class="s2">&quot;with custom permalink style with trailing slash&quot;</span> <span class="k">do</span>
<a name="gbab-224"></a>        <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-225"></a>          <span class="vi">@site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="s2">&quot;/:title/&quot;</span>
<a name="gbab-226"></a>        <span class="k">end</span>
<a name="gbab-227"></a>      <span class="n">should</span> <span class="s2">&quot;return nil permalink if no permalink exists&quot;</span> <span class="k">do</span>
<a name="gbab-228"></a>        <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-229"></a>        <span class="n">assert_nil</span> <span class="vi">@page</span><span class="o">.</span><span class="n">permalink</span>
<a name="gbab-230"></a>      <span class="k">end</span>
<a name="gbab-231"></a>
<a name="gbab-232"></a>
<a name="gbab-233"></a>        <span class="n">should</span> <span class="s2">&quot;return url and destination correctly&quot;</span> <span class="k">do</span>
<a name="gbab-234"></a>          <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s1">&#39;contacts.html&#39;</span><span class="p">)</span>
<a name="gbab-235"></a>          <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;contacts/index.html&quot;</span><span class="p">)</span>
<a name="gbab-236"></a>          <span class="n">assert_equal</span> <span class="s1">&#39;/contacts/&#39;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-237"></a>          <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-238"></a>        <span class="k">end</span>
<a name="gbab-239"></a>        <span class="n">refute_exist</span> <span class="n">unexpected</span>
<a name="gbab-240"></a>
<a name="gbab-241"></a>      <span class="n">context</span> <span class="s2">&quot;with custom permalink style with file extension&quot;</span> <span class="k">do</span>
<a name="gbab-242"></a>        <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-243"></a>          <span class="vi">@site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="s2">&quot;/:title:output_ext&quot;</span>
<a name="gbab-244"></a>        <span class="k">end</span>
<a name="gbab-245"></a>        <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;sitemap.xml&quot;</span><span class="p">)</span>
<a name="gbab-246"></a>        <span class="n">should</span> <span class="s2">&quot;return url and destination correctly&quot;</span> <span class="k">do</span>
<a name="gbab-247"></a>          <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s1">&#39;contacts.html&#39;</span><span class="p">)</span>
<a name="gbab-248"></a>          <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span>
<a name="gbab-249"></a>          <span class="n">assert_equal</span> <span class="s1">&#39;/contacts.html&#39;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-250"></a>          <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-251"></a>        <span class="k">end</span>
<a name="gbab-252"></a>      <span class="k">end</span>
<a name="gbab-253"></a>
<a name="gbab-254"></a>      <span class="n">context</span> <span class="s2">&quot;with custom permalink style with no extension&quot;</span> <span class="k">do</span>
<a name="gbab-255"></a>        <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-256"></a>          <span class="vi">@site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="s2">&quot;/:title&quot;</span>
<a name="gbab-257"></a>        <span class="k">end</span>
<a name="gbab-258"></a>
<a name="gbab-259"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span>
<a name="gbab-260"></a>          <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s1">&#39;contacts.html&#39;</span><span class="p">)</span>
<a name="gbab-261"></a>          <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span>
<a name="gbab-262"></a>          <span class="n">assert_equal</span> <span class="s1">&#39;/contacts&#39;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-263"></a>          <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-264"></a>        <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span>
<a name="gbab-265"></a>      <span class="k">end</span>
<a name="gbab-266"></a>
<a name="gbab-267"></a>      <span class="n">context</span> <span class="s2">&quot;with any other permalink style&quot;</span> <span class="k">do</span>
<a name="gbab-268"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;+&quot;</span><span class="p">,</span> <span class="s2">&quot;foo.md&quot;</span><span class="p">)</span>
<a name="gbab-269"></a>      <span class="n">should</span> <span class="s2">&quot;layout of nil is respected&quot;</span> <span class="k">do</span>
<a name="gbab-270"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;nil&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span>
<a name="gbab-271"></a>      <span class="k">end</span>
<a name="gbab-272"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">),</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">dest_dir</span><span class="si">}</span><span class="s2"> should be a directory&quot;</span>
<a name="gbab-273"></a>        <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;+&quot;</span><span class="p">,</span> <span class="s2">&quot;plus+in+url.html&quot;</span><span class="p">)</span>
<a name="gbab-274"></a>
<a name="gbab-275"></a>          <span class="n">should</span> <span class="s2">&quot;return dir correctly&quot;</span> <span class="k">do</span>
<a name="gbab-276"></a>            <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s1">&#39;/contacts&#39;</span><span class="p">,</span> <span class="s1">&#39;bar.html&#39;</span><span class="p">)</span>
<a name="gbab-277"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;+&quot;</span><span class="p">,</span> <span class="s2">&quot;%# +.md&quot;</span><span class="p">)</span>
<a name="gbab-278"></a>          <span class="k">end</span>
<a name="gbab-279"></a>
<a name="gbab-280"></a>          <span class="n">should</span> <span class="s2">&quot;return dir correctly for index page&quot;</span> <span class="k">do</span>
<a name="gbab-281"></a>            <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s1">&#39;/contacts&#39;</span><span class="p">,</span> <span class="s1">&#39;index.html&#39;</span><span class="p">)</span>
<a name="gbab-282"></a>        <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;+&quot;</span><span class="p">,</span> <span class="s2">&quot;%# +.html&quot;</span><span class="p">)</span>
<a name="gbab-283"></a>
<a name="gbab-284"></a>      <span class="n">should</span> <span class="s2">&quot;not be writable outside of destination&quot;</span> <span class="k">do</span>
<a name="gbab-285"></a>        <span class="n">unexpected</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="s2">&quot;../../../baddie.html&quot;</span><span class="p">,</span> <span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-286"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;contacts.html&quot;</span><span class="p">)</span>
<a name="gbab-287"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;exploit.md&quot;</span><span class="p">)</span>
<a name="gbab-288"></a>        <span class="n">do_render</span><span class="p">(</span><span class="n">page</span><span class="p">)</span>
<a name="gbab-289"></a>        <span class="n">page</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-290"></a>
<a name="gbab-291"></a>        <span class="n">assert</span> <span class="o">!</span><span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">unexpected</span><span class="p">)</span>
<a name="gbab-292"></a>        <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;contacts&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">)</span>
<a name="gbab-293"></a>          <span class="k">end</span>
<a name="gbab-294"></a>        <span class="k">end</span>
<a name="gbab-295"></a>      <span class="n">should</span> <span class="s2">&quot;support .htm extension and respects that&quot;</span> <span class="k">do</span>
<a name="gbab-296"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;contacts.htm&quot;</span><span class="p">)</span>
<a name="gbab-297"></a>        <span class="n">page</span><span class="o">.</span><span class="n">site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="ss">:pretty</span>
<a name="gbab-298"></a>        <span class="n">do_render</span><span class="p">(</span><span class="n">page</span><span class="p">)</span>
<a name="gbab-299"></a>        <span class="n">page</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-300"></a>
<a name="gbab-301"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-302"></a>        <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;contacts&quot;</span><span class="p">,</span> <span class="s2">&quot;index.htm&quot;</span><span class="p">)</span>
<a name="gbab-303"></a>      <span class="k">end</span>
<a name="gbab-304"></a>
<a name="gbab-305"></a>      <span class="n">should</span> <span class="s2">&quot;support .xhtml extension and respects that&quot;</span> <span class="k">do</span>
<a name="gbab-306"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;contacts.xhtml&quot;</span><span class="p">)</span>
<a name="gbab-307"></a>        <span class="n">page</span><span class="o">.</span><span class="n">site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="ss">:pretty</span>
<a name="gbab-308"></a>        <span class="n">do_render</span><span class="p">(</span><span class="n">page</span><span class="p">)</span>
<a name="gbab-309"></a>        <span class="n">page</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-310"></a>
<a name="gbab-311"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-312"></a>        <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;contacts&quot;</span><span class="p">,</span> <span class="s2">&quot;index.xhtml&quot;</span><span class="p">)</span>
<a name="gbab-313"></a>      <span class="k">end</span>
<a name="gbab-314"></a>
<a name="gbab-315"></a>      <span class="n">should</span> <span class="s2">&quot;respect permalink in yaml front matter&quot;</span> <span class="k">do</span>
<a name="gbab-316"></a>        <span class="n">file</span> <span class="o">=</span> <span class="s2">&quot;about.html&quot;</span>
<a name="gbab-317"></a>        <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="n">file</span><span class="p">)</span>
<a name="gbab-318"></a>
<a name="gbab-319"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;/about/&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">permalink</span>
<a name="gbab-320"></a>        <span class="n">assert_equal</span> <span class="vi">@page</span><span class="o">.</span><span class="n">permalink</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-321"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;/sitemap.xml&quot;</span><span class="p">,</span> <span class="n">page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-322"></a>        <span class="n">assert_nil</span> <span class="n">page</span><span class="o">.</span><span class="n">url</span><span class="o">[</span><span class="sr">%r!\.html$!</span><span class="o">]</span>
<a name="gbab-323"></a>    <span class="k">end</span>
<a name="gbab-324"></a>        <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;sitemap.xml&quot;</span><span class="p">)</span>
<a name="gbab-325"></a>    <span class="n">context</span> <span class="s2">&quot;rendering&quot;</span> <span class="k">do</span>
<a name="gbab-326"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-327"></a>        <span class="n">clear_dest</span>
<a name="gbab-328"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;.htaccess&quot;</span><span class="p">)</span>
<a name="gbab-329"></a>      
<a name="gbab-330"></a>      <span class="n">should</span> <span class="s2">&quot;write properly&quot;</span> <span class="k">do</span>
<a name="gbab-331"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s1">&#39;contacts.html&#39;</span><span class="p">)</span>
<a name="gbab-332"></a>        <span class="n">do_render</span><span class="p">(</span><span class="n">page</span><span class="p">)</span>
<a name="gbab-333"></a>        <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;.htaccess&quot;</span><span class="p">)</span>
<a name="gbab-334"></a>
<a name="gbab-335"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-336"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">,</span> <span class="s1">&#39;contacts.html&#39;</span><span class="p">))</span>
<a name="gbab-337"></a>      <span class="k">end</span>
<a name="gbab-338"></a>          <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;/contacts&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">)</span>
<a name="gbab-339"></a>      <span class="n">should</span> <span class="s2">&quot;write even when the folder name is plus and permalink has +&quot;</span> <span class="k">do</span>
<a name="gbab-340"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s1">&#39;+&#39;</span><span class="p">,</span> <span class="s1">&#39;foo.md&#39;</span><span class="p">)</span>
<a name="gbab-341"></a>        <span class="n">do_render</span><span class="p">(</span><span class="n">page</span><span class="p">)</span>
<a name="gbab-342"></a>        <span class="n">page</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-343"></a>          <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;contacts&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">)</span>
<a name="gbab-344"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-345"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">,</span> <span class="s1">&#39;+&#39;</span><span class="p">,</span> <span class="s1">&#39;plus+in+url.html&#39;</span><span class="p">))</span>
<a name="gbab-346"></a>      <span class="k">end</span>
<a name="gbab-347"></a>          <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;/contacts&quot;</span><span class="p">,</span> <span class="s2">&quot;bar.html&quot;</span><span class="p">)</span>
<a name="gbab-348"></a>      <span class="n">should</span> <span class="s2">&quot;write even when permalink has &#39;%# +&#39;&quot;</span> <span class="k">do</span>
<a name="gbab-349"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s1">&#39;+&#39;</span><span class="p">,</span> <span class="s1">&#39;%# +.md&#39;</span><span class="p">)</span>
<a name="gbab-350"></a>        <span class="n">do_render</span><span class="p">(</span><span class="n">page</span><span class="p">)</span>
<a name="gbab-351"></a>        <span class="n">page</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-352"></a>          <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;contacts&quot;</span><span class="p">,</span> <span class="s2">&quot;bar.html&quot;</span><span class="p">)</span>
<a name="gbab-353"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-354"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">,</span> <span class="s1">&#39;+&#39;</span><span class="p">,</span> <span class="s1">&#39;%# +.html&#39;</span><span class="p">))</span>
<a name="gbab-355"></a>      <span class="k">end</span>
<a name="gbab-356"></a>          <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;/contacts&quot;</span><span class="p">,</span> <span class="s2">&quot;bar.html&quot;</span><span class="p">)</span>
<a name="gbab-357"></a>      <span class="n">should</span> <span class="s2">&quot;write properly without html extension&quot;</span> <span class="k">do</span>
<a name="gbab-358"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s1">&#39;contacts.html&#39;</span><span class="p">)</span>
<a name="gbab-359"></a>        <span class="n">page</span><span class="o">.</span><span class="n">site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="ss">:pretty</span> 
<a name="gbab-360"></a>        <span class="n">do_render</span><span class="p">(</span><span class="n">page</span><span class="p">)</span>
<a name="gbab-361"></a>        <span class="n">page</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-362"></a>          <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;contacts&quot;</span><span class="p">,</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">)</span>
<a name="gbab-363"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-364"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">,</span> <span class="s1">&#39;contacts&#39;</span><span class="p">,</span> <span class="s1">&#39;index.html&#39;</span><span class="p">))</span>
<a name="gbab-365"></a>      <span class="k">end</span>
<a name="gbab-366"></a>      <span class="n">should</span> <span class="s2">&quot;write properly with extension different from html&quot;</span> <span class="k">do</span>
<a name="gbab-367"></a>      
<a name="gbab-368"></a>      <span class="n">should</span> <span class="s2">&quot;write dotfiles properly&quot;</span> <span class="k">do</span>
<a name="gbab-369"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s1">&#39;.htaccess&#39;</span><span class="p">)</span>
<a name="gbab-370"></a>        <span class="n">do_render</span><span class="p">(</span><span class="n">page</span><span class="p">)</span>
<a name="gbab-371"></a>        <span class="n">page</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-372"></a>
<a name="gbab-373"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-374"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">exists?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">,</span> <span class="s1">&#39;.htaccess&#39;</span><span class="p">))</span>
<a name="gbab-375"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">,</span><span class="s1">&#39;sitemap.xml&#39;</span><span class="p">))</span>
<a name="gbab-376"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;sitemap.xml&quot;</span><span class="p">)</span>
<a name="gbab-377"></a>        <span class="n">page</span><span class="o">.</span><span class="n">site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="ss">:pretty</span>
<a name="gbab-378"></a>        <span class="n">do_render</span><span class="p">(</span><span class="n">page</span><span class="p">)</span>
<a name="gbab-379"></a>        <span class="n">page</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-380"></a>
<a name="gbab-381"></a>        <span class="n">assert_equal</span><span class="p">(</span><span class="s2">&quot;/sitemap.xml&quot;</span><span class="p">,</span> <span class="n">page</span><span class="o">.</span><span class="n">url</span><span class="p">)</span>
<a name="gbab-382"></a>        <span class="n">assert_nil</span><span class="p">(</span><span class="n">page</span><span class="o">.</span><span class="n">url</span><span class="o">[</span><span class="sr">/\.html$/</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-383"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-384"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">,</span> <span class="s1">&#39;.htaccess&#39;</span><span class="p">))</span>
<a name="gbab-385"></a>      <span class="k">end</span>
<a name="gbab-386"></a>
<a name="gbab-387"></a>      <span class="n">context</span> <span class="s2">&quot;in a directory hierarchy&quot;</span> <span class="k">do</span>
<a name="gbab-388"></a>        <span class="n">should</span> <span class="s2">&quot;write properly the index&quot;</span> <span class="k">do</span>
<a name="gbab-389"></a>          <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s1">&#39;/contacts&#39;</span><span class="p">,</span> <span class="s1">&#39;index.html&#39;</span><span class="p">)</span>
<a name="gbab-390"></a>          <span class="n">do_render</span><span class="p">(</span><span class="n">page</span><span class="p">)</span>
<a name="gbab-391"></a>          <span class="n">page</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-392"></a>
<a name="gbab-393"></a>          <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-394"></a>          <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">,</span> <span class="s1">&#39;contacts&#39;</span><span class="p">,</span> <span class="s1">&#39;index.html&#39;</span><span class="p">))</span>
<a name="gbab-395"></a>        <span class="k">end</span>
<a name="gbab-396"></a>
<a name="gbab-397"></a>        <span class="n">should</span> <span class="s2">&quot;write properly&quot;</span> <span class="k">do</span>
<a name="gbab-398"></a>          <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s1">&#39;/contacts&#39;</span><span class="p">,</span> <span class="s1">&#39;bar.html&#39;</span><span class="p">)</span>
<a name="gbab-399"></a>          <span class="n">do_render</span><span class="p">(</span><span class="n">page</span><span class="p">)</span>
<a name="gbab-400"></a>          <span class="n">page</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-401"></a>
<a name="gbab-402"></a>          <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-403"></a>          <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">,</span> <span class="s1">&#39;contacts&#39;</span><span class="p">,</span> <span class="s1">&#39;bar.html&#39;</span><span class="p">))</span>
<a name="gbab-404"></a>        <span class="k">end</span>
<a name="gbab-405"></a>
<a name="gbab-406"></a>        <span class="n">should</span> <span class="s2">&quot;write properly without html extension&quot;</span> <span class="k">do</span>
<a name="gbab-407"></a>          <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s1">&#39;/contacts&#39;</span><span class="p">,</span> <span class="s1">&#39;bar.html&#39;</span><span class="p">)</span>
<a name="gbab-408"></a>          <span class="n">page</span><span class="o">.</span><span class="n">site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="ss">:pretty</span>
<a name="gbab-409"></a>          <span class="n">do_render</span><span class="p">(</span><span class="n">page</span><span class="p">)</span>
<a name="gbab-410"></a>          <span class="n">page</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-411"></a>
<a name="gbab-412"></a>          <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-413"></a>          <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">,</span> <span class="s1">&#39;contacts&#39;</span><span class="p">,</span> <span class="s1">&#39;bar&#39;</span><span class="p">,</span> <span class="s1">&#39;index.html&#39;</span><span class="p">))</span>
<a name="gbab-414"></a>        <span class="k">end</span>
<a name="gbab-415"></a>      <span class="k">end</span>
<a name="gbab-416"></a>      <span class="n">should</span> <span class="s2">&quot;write properly with extension different from html&quot;</span> <span class="k">do</span>
<a name="gbab-417"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;sitemap.xml&quot;</span><span class="p">)</span>
<a name="gbab-418"></a>        <span class="n">page</span><span class="o">.</span><span class="n">site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="ss">:pretty</span>
<a name="gbab-419"></a>        <span class="n">do_render</span><span class="p">(</span><span class="n">page</span><span class="p">)</span>
<a name="gbab-420"></a>        <span class="n">page</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-421"></a>
<a name="gbab-422"></a>        <span class="n">assert_equal</span><span class="p">(</span><span class="s2">&quot;/sitemap.xml&quot;</span><span class="p">,</span> <span class="n">page</span><span class="o">.</span><span class="n">url</span><span class="p">)</span>
<a name="gbab-423"></a>        <span class="n">assert_nil</span><span class="p">(</span><span class="n">page</span><span class="o">.</span><span class="n">url</span><span class="o">[</span><span class="sr">/\.html$/</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-424"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-425"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">exists?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">,</span><span class="s1">&#39;sitemap.xml&#39;</span><span class="p">))</span>
<a name="gbab-426"></a>      <span class="k">end</span>
<a name="gbab-427"></a>    <span class="k">end</span>
<a name="gbab-428"></a>
<a name="gbab-429"></a>  <span class="k">end</span> 
<a name="gbab-430"></a><span class="k">end</span>
</pre></div>
</td></tr></table>