<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestStaticFile</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="k">def</span> <span class="nf">make_dummy_file</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
<a name="gbab-7"></a>    <span class="no">File</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="n">filename</span><span class="p">),</span> <span class="s2">&quot;some content&quot;</span><span class="p">)</span>
<a name="gbab-8"></a>    <span class="k">end</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>  <span class="k">def</span> <span class="nf">modify_dummy_file</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
<a name="gbab-11"></a>    <span class="n">string</span> <span class="o">=</span> <span class="s2">&quot;some content&quot;</span>
<a name="gbab-12"></a>    <span class="n">offset</span> <span class="o">=</span> <span class="n">string</span><span class="o">.</span><span class="n">size</span>
<a name="gbab-13"></a>    <span class="no">File</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="n">filename</span><span class="p">),</span> <span class="s2">&quot;more content&quot;</span><span class="p">,</span> <span class="n">offset</span><span class="p">)</span>
<a name="gbab-14"></a>    <span class="k">end</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>  <span class="k">def</span> <span class="nf">remove_dummy_file</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
<a name="gbab-17"></a>    <span class="no">File</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="n">filename</span><span class="p">))</span>
<a name="gbab-18"></a>    <span class="k">end</span>
<a name="gbab-19"></a>
<a name="gbab-20"></a>    <span class="k">def</span> <span class="nf">setup_static_file</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-21"></a>    <span class="no">Dir</span><span class="o">.</span><span class="n">chdir</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">source</span><span class="p">)</span> <span class="p">{</span> <span class="no">StaticFile</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">,</span> <span class="n">base</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-22"></a>    <span class="k">end</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>  <span class="k">def</span> <span class="nf">setup_static_file_with_collection</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="nb">name</span><span class="p">,</span> <span class="n">metadata</span><span class="p">)</span>
<a name="gbab-25"></a>    <span class="n">site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">(</span><span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;foo&quot;</span> <span class="o">=&gt;</span> <span class="n">metadata</span> <span class="p">})</span>
<a name="gbab-26"></a>    <span class="no">Dir</span><span class="o">.</span><span class="n">chdir</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">source</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-27"></a>    <span class="no">StaticFile</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">base</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="nb">name</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;foo&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-28"></a>  <span class="k">end</span>
<a name="gbab-29"></a>  <span class="k">end</span>
<a name="gbab-30"></a>
<a name="gbab-31"></a>  <span class="k">def</span> <span class="nf">setup_static_file_with_defaults</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="nb">name</span><span class="p">,</span> <span class="n">defaults</span><span class="p">)</span>
<a name="gbab-32"></a>    <span class="n">site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">(</span><span class="s2">&quot;defaults&quot;</span> <span class="o">=&gt;</span> <span class="n">defaults</span><span class="p">)</span>
<a name="gbab-33"></a>    <span class="no">Dir</span><span class="o">.</span><span class="n">chdir</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">source</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-34"></a>    <span class="no">StaticFile</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">base</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-35"></a>  <span class="k">end</span>
<a name="gbab-36"></a>  <span class="k">end</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>    <span class="n">context</span> <span class="s2">&quot;A StaticFile&quot;</span> <span class="k">do</span>
<a name="gbab-39"></a>        <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-40"></a>            <span class="n">clear_dest</span>
<a name="gbab-41"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span>
<a name="gbab-42"></a>      <span class="vi">@filename</span> <span class="o">=</span> <span class="s2">&quot;static_file.txt&quot;</span>
<a name="gbab-43"></a>      <span class="n">make_dummy_file</span><span class="p">(</span><span class="vi">@filename</span><span class="p">)</span>
<a name="gbab-44"></a>      <span class="vi">@static_file</span> <span class="o">=</span> <span class="n">setup_static_file</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">source</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="vi">@filename</span><span class="p">)</span>
<a name="gbab-45"></a>    <span class="k">end</span>
<a name="gbab-46"></a>
<a name="gbab-47"></a>    <span class="n">teardown</span> <span class="k">do</span>
<a name="gbab-48"></a>      <span class="n">remove_dummy_file</span><span class="p">(</span><span class="vi">@filename</span><span class="p">)</span> <span class="k">if</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="vi">@filename</span><span class="p">))</span>
<a name="gbab-49"></a>        <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>        <span class="n">should</span> <span class="s2">&quot;have a source file path&quot;</span> <span class="k">do</span>
<a name="gbab-52"></a>      <span class="n">static_file</span> <span class="o">=</span> <span class="n">setup_static_file</span><span class="p">(</span><span class="s2">&quot;root&quot;</span><span class="p">,</span> <span class="s2">&quot;dir&quot;</span><span class="p">,</span> <span class="vi">@filename</span><span class="p">)</span>
<a name="gbab-53"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;root/dir/</span><span class="si">#{</span><span class="vi">@filename</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">,</span> <span class="n">static_file</span><span class="o">.</span><span class="n">path</span>
<a name="gbab-54"></a>    <span class="k">end</span>
<a name="gbab-55"></a>
<a name="gbab-56"></a>    <span class="n">should</span> <span class="s2">&quot;ignore a nil base or dir&quot;</span> <span class="k">do</span>
<a name="gbab-57"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;dir/</span><span class="si">#{</span><span class="vi">@filename</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">,</span> <span class="n">setup_static_file</span><span class="p">(</span><span class="kp">nil</span><span class="p">,</span> <span class="s2">&quot;dir&quot;</span><span class="p">,</span> <span class="vi">@filename</span><span class="p">)</span><span class="o">.</span><span class="n">path</span>
<a name="gbab-58"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;base/</span><span class="si">#{</span><span class="vi">@filename</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">,</span> <span class="n">setup_static_file</span><span class="p">(</span><span class="s2">&quot;base&quot;</span><span class="p">,</span> <span class="kp">nil</span><span class="p">,</span> <span class="vi">@filename</span><span class="p">)</span><span class="o">.</span><span class="n">path</span>
<a name="gbab-59"></a>        <span class="k">end</span>
<a name="gbab-60"></a>
<a name="gbab-61"></a>        <span class="n">should</span> <span class="s2">&quot;have a destination relative directory without a collection&quot;</span> <span class="k">do</span>
<a name="gbab-62"></a>            <span class="n">static_file</span> <span class="o">=</span> <span class="n">setup_static_file</span><span class="p">(</span><span class="s2">&quot;root&quot;</span><span class="p">,</span> <span class="s2">&quot;dir/subdir&quot;</span><span class="p">,</span> <span class="s2">&quot;file.html&quot;</span><span class="p">)</span>
<a name="gbab-63"></a>      <span class="n">assert_nil</span> <span class="n">static_file</span><span class="o">.</span><span class="n">type</span>
<a name="gbab-64"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;dir/subdir/file.html&quot;</span><span class="p">,</span> <span class="n">static_file</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-65"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;dir/subdir&quot;</span><span class="p">,</span> <span class="n">static_file</span><span class="o">.</span><span class="n">destination_rel_dir</span>
<a name="gbab-66"></a>    <span class="k">end</span>
<a name="gbab-67"></a>
<a name="gbab-68"></a>    <span class="n">should</span> <span class="s2">&quot;have a destination relative directory with a collection&quot;</span> <span class="k">do</span>
<a name="gbab-69"></a>      <span class="n">static_file</span> <span class="o">=</span> <span class="n">setup_static_file_with_collection</span><span class="p">(</span>
<a name="gbab-70"></a>        <span class="s2">&quot;root&quot;</span><span class="p">,</span>
<a name="gbab-71"></a>        <span class="s2">&quot;_foo/dir/subdir&quot;</span><span class="p">,</span>
<a name="gbab-72"></a>        <span class="s2">&quot;file.html&quot;</span><span class="p">,</span>
<a name="gbab-73"></a>        <span class="p">{</span> <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span> <span class="p">}</span>
<a name="gbab-74"></a>      <span class="p">)</span>
<a name="gbab-75"></a>      <span class="n">assert_equal</span> <span class="ss">:foo</span><span class="p">,</span> <span class="n">static_file</span><span class="o">.</span><span class="n">type</span>
<a name="gbab-76"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/foo/dir/subdir/file.html&quot;</span><span class="p">,</span> <span class="n">static_file</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-77"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/foo/dir/subdir&quot;</span><span class="p">,</span> <span class="n">static_file</span><span class="o">.</span><span class="n">destination_rel_dir</span>
<a name="gbab-78"></a>    <span class="k">end</span>
<a name="gbab-79"></a>
<a name="gbab-80"></a>    <span class="n">should</span> <span class="s2">&quot;use its collection&#39;s permalink template for destination relative directory&quot;</span> <span class="k">do</span>
<a name="gbab-81"></a>      <span class="n">static_file</span> <span class="o">=</span> <span class="n">setup_static_file_with_collection</span><span class="p">(</span>
<a name="gbab-82"></a>        <span class="s2">&quot;root&quot;</span><span class="p">,</span>
<a name="gbab-83"></a>        <span class="s2">&quot;_foo/dir/subdir&quot;</span><span class="p">,</span>
<a name="gbab-84"></a>        <span class="s2">&quot;file.html&quot;</span><span class="p">,</span>
<a name="gbab-85"></a>        <span class="p">{</span> <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span> <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;/:path/&quot;</span> <span class="p">}</span>
<a name="gbab-86"></a>      <span class="p">)</span>
<a name="gbab-87"></a>      <span class="n">assert_equal</span> <span class="ss">:foo</span><span class="p">,</span> <span class="n">static_file</span><span class="o">.</span><span class="n">type</span>
<a name="gbab-88"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/dir/subdir/file.html&quot;</span><span class="p">,</span> <span class="n">static_file</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-89"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/dir/subdir&quot;</span><span class="p">,</span> <span class="n">static_file</span><span class="o">.</span><span class="n">destination_rel_dir</span>
<a name="gbab-90"></a>    <span class="k">end</span>
<a name="gbab-91"></a>
<a name="gbab-92"></a>    <span class="n">should</span> <span class="s2">&quot;be writable by default&quot;</span> <span class="k">do</span>
<a name="gbab-93"></a>      <span class="n">static_file</span> <span class="o">=</span> <span class="n">setup_static_file</span><span class="p">(</span><span class="s2">&quot;root&quot;</span><span class="p">,</span> <span class="s2">&quot;dir/subdir&quot;</span><span class="p">,</span> <span class="s2">&quot;file.html&quot;</span><span class="p">)</span>
<a name="gbab-94"></a>      <span class="n">assert</span><span class="p">(</span><span class="n">static_file</span><span class="o">.</span><span class="n">write?</span><span class="p">,</span>
<a name="gbab-95"></a>        <span class="s2">&quot;static_file.write? should return true by default&quot;</span><span class="p">)</span>
<a name="gbab-96"></a>    <span class="k">end</span>
<a name="gbab-97"></a>
<a name="gbab-98"></a>    <span class="n">should</span> <span class="s2">&quot;use the _config.yml defaults to determine writability&quot;</span> <span class="k">do</span>
<a name="gbab-99"></a>      <span class="n">defaults</span> <span class="o">=</span> <span class="o">[</span><span class="p">{</span>
<a name="gbab-100"></a>        <span class="s2">&quot;scope&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span><span class="s2">&quot;path&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;private&quot;</span><span class="p">},</span>
<a name="gbab-101"></a>        <span class="s2">&quot;values&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;published&quot;</span> <span class="o">=&gt;</span> <span class="kp">false</span> <span class="p">},</span>
<a name="gbab-102"></a>      <span class="p">},</span><span class="o">]</span>
<a name="gbab-103"></a>      <span class="n">static_file</span> <span class="o">=</span> <span class="n">setup_static_file_with_defaults</span><span class="p">(</span>
<a name="gbab-104"></a>        <span class="s2">&quot;root&quot;</span><span class="p">,</span>
<a name="gbab-105"></a>        <span class="s2">&quot;private/dir/subdir&quot;</span><span class="p">,</span>
<a name="gbab-106"></a>        <span class="s2">&quot;file.html&quot;</span><span class="p">,</span>
<a name="gbab-107"></a>        <span class="n">defaults</span>
<a name="gbab-108"></a>      <span class="p">)</span>
<a name="gbab-109"></a>      <span class="n">assert</span><span class="p">(</span><span class="o">!</span><span class="n">static_file</span><span class="o">.</span><span class="n">write?</span><span class="p">,</span>
<a name="gbab-110"></a>        <span class="s2">&quot;static_file.write? should return false when _config.yml sets &quot;</span> <span class="p">\</span>
<a name="gbab-111"></a>        <span class="s2">&quot;`published: false`&quot;</span><span class="p">)</span>
<a name="gbab-112"></a>        <span class="k">end</span>
<a name="gbab-113"></a>
<a name="gbab-114"></a>    <span class="n">should</span> <span class="s2">&quot;respect front matter defaults&quot;</span> <span class="k">do</span>
<a name="gbab-115"></a>      <span class="n">defaults</span> <span class="o">=</span> <span class="o">[</span><span class="p">{</span>
<a name="gbab-116"></a>        <span class="s2">&quot;scope&quot;</span>  <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;path&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;&quot;</span> <span class="p">},</span>
<a name="gbab-117"></a>        <span class="s2">&quot;values&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;front-matter&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;default&quot;</span> <span class="p">},</span>
<a name="gbab-118"></a>      <span class="p">},</span><span class="o">]</span>
<a name="gbab-119"></a>
<a name="gbab-120"></a>      <span class="n">static_file</span> <span class="o">=</span> <span class="n">setup_static_file_with_defaults</span> <span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="s2">&quot;file.pdf&quot;</span><span class="p">,</span> <span class="n">defaults</span>
<a name="gbab-121"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;default&quot;</span><span class="p">,</span> <span class="n">static_file</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;front-matter&quot;</span><span class="o">]</span>
<a name="gbab-122"></a>    <span class="k">end</span>
<a name="gbab-123"></a>
<a name="gbab-124"></a>    <span class="n">should</span> <span class="s2">&quot;include front matter defaults in to_liquid&quot;</span> <span class="k">do</span>
<a name="gbab-125"></a>      <span class="n">defaults</span> <span class="o">=</span> <span class="o">[</span><span class="p">{</span>
<a name="gbab-126"></a>        <span class="s2">&quot;scope&quot;</span>  <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;path&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;&quot;</span> <span class="p">},</span>
<a name="gbab-127"></a>        <span class="s2">&quot;values&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;front-matter&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;default&quot;</span> <span class="p">},</span>
<a name="gbab-128"></a>      <span class="p">},</span><span class="o">]</span>
<a name="gbab-129"></a>
<a name="gbab-130"></a>      <span class="n">static_file</span> <span class="o">=</span> <span class="n">setup_static_file_with_defaults</span> <span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="s2">&quot;file.pdf&quot;</span><span class="p">,</span> <span class="n">defaults</span>
<a name="gbab-131"></a>      <span class="nb">hash</span> <span class="o">=</span> <span class="n">static_file</span><span class="o">.</span><span class="n">to_liquid</span>
<a name="gbab-132"></a>      <span class="n">assert</span> <span class="nb">hash</span><span class="o">.</span><span class="n">key?</span> <span class="s2">&quot;front-matter&quot;</span>
<a name="gbab-133"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;default&quot;</span><span class="p">,</span> <span class="nb">hash</span><span class="o">[</span><span class="s2">&quot;front-matter&quot;</span><span class="o">]</span>
<a name="gbab-134"></a>    <span class="k">end</span>
<a name="gbab-135"></a>
<a name="gbab-136"></a>        <span class="n">should</span> <span class="s2">&quot;know its last modification time&quot;</span> <span class="k">do</span>
<a name="gbab-137"></a>      <span class="n">assert_equal</span> <span class="no">File</span><span class="o">.</span><span class="n">stat</span><span class="p">(</span><span class="vi">@static_file</span><span class="o">.</span><span class="n">path</span><span class="p">)</span><span class="o">.</span><span class="n">mtime</span><span class="o">.</span><span class="n">to_i</span><span class="p">,</span> <span class="vi">@static_file</span><span class="o">.</span><span class="n">mtime</span>
<a name="gbab-138"></a>        <span class="k">end</span>
<a name="gbab-139"></a>
<a name="gbab-140"></a>    <span class="n">should</span> <span class="s2">&quot;only set modified time if not a symlink&quot;</span> <span class="k">do</span>
<a name="gbab-141"></a>      <span class="n">expect</span><span class="p">(</span><span class="no">File</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:symlink?</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">true</span><span class="p">)</span>
<a name="gbab-142"></a>      <span class="n">expect</span><span class="p">(</span><span class="no">File</span><span class="p">)</span><span class="o">.</span><span class="n">not_to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:utime</span><span class="p">)</span>
<a name="gbab-143"></a>      <span class="vi">@static_file</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-144"></a>
<a name="gbab-145"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">File</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:symlink?</span><span class="p">)</span><span class="o">.</span><span class="n">and_call_original</span>
<a name="gbab-146"></a>    <span class="k">end</span>
<a name="gbab-147"></a>
<a name="gbab-148"></a>        <span class="n">should</span> <span class="s2">&quot;known if the source path is modified, when it is&quot;</span> <span class="k">do</span>
<a name="gbab-149"></a>            <span class="nb">sleep</span> <span class="mi">1</span>
<a name="gbab-150"></a>      <span class="n">modify_dummy_file</span><span class="p">(</span><span class="vi">@filename</span><span class="p">)</span>
<a name="gbab-151"></a>      <span class="n">assert</span> <span class="vi">@static_file</span><span class="o">.</span><span class="n">modified?</span>
<a name="gbab-152"></a>        <span class="k">end</span>
<a name="gbab-153"></a>
<a name="gbab-154"></a>    <span class="n">should</span> <span class="s2">&quot;known if the source path is modified, when it&#39;s not&quot;</span> <span class="k">do</span>
<a name="gbab-155"></a>      <span class="vi">@static_file</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-156"></a>            <span class="nb">sleep</span> <span class="mi">1</span> <span class="c1"># wait, else the times are still the same</span>
<a name="gbab-157"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@static_file</span><span class="o">.</span><span class="n">modified?</span>
<a name="gbab-158"></a>        <span class="k">end</span>
<a name="gbab-159"></a>
<a name="gbab-160"></a>        <span class="n">should</span> <span class="s2">&quot;known whether to write the file to the filesystem&quot;</span> <span class="k">do</span>
<a name="gbab-161"></a>      <span class="n">assert</span> <span class="vi">@static_file</span><span class="o">.</span><span class="n">write?</span><span class="p">,</span> <span class="s2">&quot;always true, with current implementation&quot;</span>
<a name="gbab-162"></a>        <span class="k">end</span>
<a name="gbab-163"></a>
<a name="gbab-164"></a>    <span class="n">should</span> <span class="s2">&quot;be able to write itself to the destination directory&quot;</span> <span class="k">do</span>
<a name="gbab-165"></a>      <span class="n">assert</span> <span class="vi">@static_file</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-166"></a>        <span class="k">end</span>
<a name="gbab-167"></a>
<a name="gbab-168"></a>        <span class="n">should</span> <span class="s2">&quot;be able to convert to liquid&quot;</span> <span class="k">do</span>
<a name="gbab-169"></a>            <span class="n">expected</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-170"></a>        <span class="s2">&quot;basename&quot;</span>      <span class="o">=&gt;</span> <span class="s2">&quot;static_file&quot;</span><span class="p">,</span>
<a name="gbab-171"></a>        <span class="s2">&quot;name&quot;</span>          <span class="o">=&gt;</span> <span class="s2">&quot;static_file.txt&quot;</span><span class="p">,</span>
<a name="gbab-172"></a>          <span class="s2">&quot;extname&quot;</span>       <span class="o">=&gt;</span> <span class="s2">&quot;.txt&quot;</span><span class="p">,</span>
<a name="gbab-173"></a>          <span class="s2">&quot;modified_time&quot;</span> <span class="o">=&gt;</span> <span class="vi">@static_file</span><span class="o">.</span><span class="n">modified_time</span><span class="p">,</span>
<a name="gbab-174"></a>        <span class="s2">&quot;path&quot;</span>          <span class="o">=&gt;</span> <span class="s2">&quot;/static_file.txt&quot;</span><span class="p">,</span>
<a name="gbab-175"></a>        <span class="s2">&quot;collection&quot;</span>    <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">,</span>
<a name="gbab-176"></a>            <span class="p">}</span>
<a name="gbab-177"></a>      <span class="n">assert_equal</span> <span class="n">expected</span><span class="p">,</span> <span class="vi">@static_file</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">.</span><span class="n">to_h</span>
<a name="gbab-178"></a>        <span class="k">end</span>
<a name="gbab-179"></a>
<a name="gbab-180"></a>    <span class="n">should</span> <span class="s2">&quot;jsonify its liquid drop instead of itself&quot;</span> <span class="k">do</span>
<a name="gbab-181"></a>      <span class="n">assert_equal</span> <span class="vi">@static_file</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">.</span><span class="n">to_json</span><span class="p">,</span> <span class="vi">@static_file</span><span class="o">.</span><span class="n">to_json</span>
<a name="gbab-182"></a>    <span class="k">end</span>
<a name="gbab-183"></a>    <span class="k">end</span>
<a name="gbab-184"></a><span class="k">end</span>
</pre></div>
</td></tr></table>