<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestThemeAssetsReader</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="k">def</span> <span class="nf">setup</span>
<a name="gbab-7"></a>    <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">(</span>
<a name="gbab-8"></a>      <span class="s2">&quot;theme&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;test-theme&quot;</span><span class="p">,</span>
<a name="gbab-9"></a>      <span class="s2">&quot;theme-color&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;black&quot;</span>
<a name="gbab-10"></a>    <span class="p">)</span>
<a name="gbab-11"></a>    <span class="n">assert</span> <span class="vi">@site</span><span class="o">.</span><span class="n">theme</span>
<a name="gbab-12"></a>  <span class="k">end</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>  <span class="k">def</span> <span class="nf">assert_file_with_relative_path</span><span class="p">(</span><span class="n">haystack</span><span class="p">,</span> <span class="n">relative_path</span><span class="p">)</span>
<a name="gbab-15"></a>      <span class="n">assert</span> <span class="n">haystack</span><span class="o">.</span><span class="n">any?</span> <span class="p">{</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-16"></a>        <span class="n">f</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="n">relative_path</span>
<a name="gbab-17"></a>    <span class="p">},</span> <span class="s2">&quot;Site should read in the </span><span class="si">#{</span><span class="n">relative_path</span><span class="si">}</span><span class="s2"> file, &quot;</span> <span class="p">\</span>
<a name="gbab-18"></a>      <span class="s2">&quot;but it was not found in </span><span class="si">#{</span><span class="n">haystack</span><span class="o">.</span><span class="n">inspect</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-19"></a>  <span class="k">end</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>  <span class="k">def</span> <span class="nf">refute_file_with_relative_path</span><span class="p">(</span><span class="n">haystack</span><span class="p">,</span> <span class="n">relative_path</span><span class="p">)</span>
<a name="gbab-22"></a>      <span class="n">refute</span> <span class="n">haystack</span><span class="o">.</span><span class="n">any?</span> <span class="p">{</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-23"></a>        <span class="n">f</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="n">relative_path</span>
<a name="gbab-24"></a>    <span class="p">},</span> <span class="s2">&quot;Site should not have read in the </span><span class="si">#{</span><span class="n">relative_path</span><span class="si">}</span><span class="s2"> file, &quot;</span> <span class="p">\</span>
<a name="gbab-25"></a>      <span class="s2">&quot;but it was found in </span><span class="si">#{</span><span class="n">haystack</span><span class="o">.</span><span class="n">inspect</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-26"></a>  <span class="k">end</span>
<a name="gbab-27"></a>
<a name="gbab-28"></a>  <span class="n">context</span> <span class="s2">&quot;with a valid theme&quot;</span> <span class="k">do</span>
<a name="gbab-29"></a>    <span class="n">should</span> <span class="s2">&quot;read all assets&quot;</span> <span class="k">do</span>
<a name="gbab-30"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">reset</span>
<a name="gbab-31"></a>      <span class="no">ThemeAssetsReader</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-32"></a>      <span class="n">assert_file_with_relative_path</span> <span class="vi">@site</span><span class="o">.</span><span class="n">static_files</span><span class="p">,</span> <span class="s2">&quot;/assets/img/logo.png&quot;</span>
<a name="gbab-33"></a>      <span class="n">assert_file_with_relative_path</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="p">,</span> <span class="s2">&quot;assets/style.scss&quot;</span>
<a name="gbab-34"></a>    <span class="k">end</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>    <span class="n">should</span> <span class="s2">&quot;convert pages&quot;</span> <span class="k">do</span>
<a name="gbab-37"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-38"></a>
<a name="gbab-39"></a>      <span class="n">file</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span> <span class="n">f</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;assets/style.scss&quot;</span> <span class="p">}</span>
<a name="gbab-40"></a>      <span class="n">refute_nil</span> <span class="n">file</span>
<a name="gbab-41"></a>      <span class="n">assert_equal</span> <span class="vi">@site</span><span class="o">.</span><span class="n">in_dest_dir</span><span class="p">(</span><span class="s2">&quot;assets/style.css&quot;</span><span class="p">),</span> <span class="n">file</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-42"></a>      <span class="n">assert_includes</span> <span class="n">file</span><span class="o">.</span><span class="n">output</span><span class="p">,</span> <span class="s2">&quot;.sample {</span><span class="se">\n</span><span class="s2">  color: black; }&quot;</span>
<a name="gbab-43"></a>    <span class="k">end</span>
<a name="gbab-44"></a>
<a name="gbab-45"></a>    <span class="n">should</span> <span class="s2">&quot;not overwrite site content with the same relative path&quot;</span> <span class="k">do</span>
<a name="gbab-46"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">reset</span>
<a name="gbab-47"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-48"></a>
<a name="gbab-49"></a>      <span class="n">file</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span> <span class="n">f</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;assets/application.coffee&quot;</span> <span class="p">}</span>
<a name="gbab-50"></a>      <span class="n">static_script</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span>
<a name="gbab-51"></a>        <span class="vi">@site</span><span class="o">.</span><span class="n">static_files</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span> <span class="n">f</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;/assets/base.js&quot;</span> <span class="p">}</span><span class="o">.</span><span class="n">path</span>
<a name="gbab-52"></a>      <span class="p">)</span>
<a name="gbab-53"></a>      <span class="n">refute_nil</span> <span class="n">file</span>
<a name="gbab-54"></a>      <span class="n">refute_nil</span> <span class="n">static_script</span>
<a name="gbab-55"></a>      <span class="n">assert_includes</span> <span class="n">file</span><span class="o">.</span><span class="n">content</span><span class="p">,</span> <span class="s2">&quot;alert </span><span class="se">\&quot;</span><span class="s2">From your site.</span><span class="se">\&quot;</span><span class="s2">&quot;</span>
<a name="gbab-56"></a>      <span class="n">assert_includes</span> <span class="n">static_script</span><span class="p">,</span> <span class="s2">&quot;alert(</span><span class="se">\&quot;</span><span class="s2">From your site.</span><span class="se">\&quot;</span><span class="s2">);&quot;</span>
<a name="gbab-57"></a>    <span class="k">end</span>
<a name="gbab-58"></a>  <span class="k">end</span>
<a name="gbab-59"></a>
<a name="gbab-60"></a>  <span class="n">context</span> <span class="s2">&quot;with a valid theme without an assets dir&quot;</span> <span class="k">do</span>
<a name="gbab-61"></a>    <span class="n">should</span> <span class="s2">&quot;not read any assets&quot;</span> <span class="k">do</span>
<a name="gbab-62"></a>      <span class="n">site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">(</span><span class="s2">&quot;theme&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;test-theme&quot;</span><span class="p">)</span>
<a name="gbab-63"></a>      <span class="n">allow</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">theme</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:assets_path</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">nil</span><span class="p">)</span>
<a name="gbab-64"></a>      <span class="no">ThemeAssetsReader</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-65"></a>      <span class="n">refute_file_with_relative_path</span> <span class="n">site</span><span class="o">.</span><span class="n">static_files</span><span class="p">,</span> <span class="s2">&quot;/assets/img/logo.png&quot;</span>
<a name="gbab-66"></a>      <span class="n">refute_file_with_relative_path</span> <span class="n">site</span><span class="o">.</span><span class="n">pages</span><span class="p">,</span> <span class="s2">&quot;assets/style.scss&quot;</span>
<a name="gbab-67"></a>    <span class="k">end</span>
<a name="gbab-68"></a>  <span class="k">end</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a>  <span class="n">context</span> <span class="s2">&quot;with no theme&quot;</span> <span class="k">do</span>
<a name="gbab-71"></a>    <span class="n">should</span> <span class="s2">&quot;not read any assets&quot;</span> <span class="k">do</span>
<a name="gbab-72"></a>      <span class="n">site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">(</span><span class="s2">&quot;theme&quot;</span> <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-73"></a>      <span class="no">ThemeAssetsReader</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-74"></a>      <span class="n">refute_file_with_relative_path</span> <span class="n">site</span><span class="o">.</span><span class="n">static_files</span><span class="p">,</span> <span class="s2">&quot;/assets/img/logo.png&quot;</span>
<a name="gbab-75"></a>      <span class="n">refute_file_with_relative_path</span> <span class="n">site</span><span class="o">.</span><span class="n">pages</span><span class="p">,</span> <span class="s2">&quot;assets/style.scss&quot;</span>
<a name="gbab-76"></a>    <span class="k">end</span>
<a name="gbab-77"></a>  <span class="k">end</span>
<a name="gbab-78"></a><span class="k">end</span>
</pre></div>
</td></tr></table>