<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestURL</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;The URL class&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">should</span> <span class="s2">&quot;throw an exception if neither permalink or template is specified&quot;</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="n">assert_raises</span> <span class="no">ArgumentError</span> <span class="k">do</span>
<a name="gbab-9"></a>        <span class="no">URL</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="ss">:placeholders</span> <span class="o">=&gt;</span> <span class="p">{})</span>
<a name="gbab-10"></a>      <span class="k">end</span>
<a name="gbab-11"></a>    <span class="k">end</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>    <span class="n">should</span> <span class="s2">&quot;replace placeholders in templates&quot;</span> <span class="k">do</span>
<a name="gbab-14"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/foo/bar&quot;</span><span class="p">,</span> <span class="no">URL</span><span class="o">.</span><span class="n">new</span><span class="p">(</span>
<a name="gbab-15"></a>        <span class="ss">:template</span> <span class="o">=&gt;</span> <span class="s2">&quot;/:x/:y&quot;</span><span class="p">,</span>
<a name="gbab-16"></a>        <span class="ss">:placeholders</span> <span class="o">=&gt;</span> <span class="p">{</span><span class="ss">:x</span> <span class="o">=&gt;</span> <span class="s2">&quot;foo&quot;</span><span class="p">,</span> <span class="ss">:y</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">}</span>
<a name="gbab-17"></a>      <span class="p">)</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-18"></a>    <span class="k">end</span>
<a name="gbab-19"></a>
<a name="gbab-20"></a>    <span class="n">should</span> <span class="s2">&quot;handle multiple of the same key in the template&quot;</span> <span class="k">do</span>
<a name="gbab-21"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/foo/bar/foo/&quot;</span><span class="p">,</span> <span class="no">URL</span><span class="o">.</span><span class="n">new</span><span class="p">(</span>
<a name="gbab-22"></a>        <span class="ss">:template</span> <span class="o">=&gt;</span> <span class="s2">&quot;/:x/:y/:x/&quot;</span><span class="p">,</span>
<a name="gbab-23"></a>        <span class="ss">:placeholders</span> <span class="o">=&gt;</span> <span class="p">{</span><span class="ss">:x</span> <span class="o">=&gt;</span> <span class="s2">&quot;foo&quot;</span><span class="p">,</span> <span class="ss">:y</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">}</span>
<a name="gbab-24"></a>      <span class="p">)</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-25"></a>    <span class="k">end</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>    <span class="n">should</span> <span class="s2">&quot;use permalink if given&quot;</span> <span class="k">do</span>
<a name="gbab-28"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/le/perma/link&quot;</span><span class="p">,</span> <span class="no">URL</span><span class="o">.</span><span class="n">new</span><span class="p">(</span>
<a name="gbab-29"></a>        <span class="ss">:template</span> <span class="o">=&gt;</span> <span class="s2">&quot;/:x/:y&quot;</span><span class="p">,</span>
<a name="gbab-30"></a>        <span class="ss">:placeholders</span> <span class="o">=&gt;</span> <span class="p">{</span><span class="ss">:x</span> <span class="o">=&gt;</span> <span class="s2">&quot;foo&quot;</span><span class="p">,</span> <span class="ss">:y</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">},</span>
<a name="gbab-31"></a>        <span class="ss">:permalink</span> <span class="o">=&gt;</span> <span class="s2">&quot;/le/perma/link&quot;</span>
<a name="gbab-32"></a>      <span class="p">)</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-33"></a>    <span class="k">end</span>
<a name="gbab-34"></a>
<a name="gbab-35"></a>    <span class="n">should</span> <span class="s2">&quot;replace placeholders in permalinks&quot;</span> <span class="k">do</span>
<a name="gbab-36"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/foo/bar&quot;</span><span class="p">,</span> <span class="no">URL</span><span class="o">.</span><span class="n">new</span><span class="p">(</span>
<a name="gbab-37"></a>        <span class="ss">:template</span> <span class="o">=&gt;</span> <span class="s2">&quot;/baz&quot;</span><span class="p">,</span>
<a name="gbab-38"></a>        <span class="ss">:permalink</span> <span class="o">=&gt;</span> <span class="s2">&quot;/:x/:y&quot;</span><span class="p">,</span>
<a name="gbab-39"></a>        <span class="ss">:placeholders</span> <span class="o">=&gt;</span> <span class="p">{</span><span class="ss">:x</span> <span class="o">=&gt;</span> <span class="s2">&quot;foo&quot;</span><span class="p">,</span> <span class="ss">:y</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">}</span>
<a name="gbab-40"></a>      <span class="p">)</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-41"></a>    <span class="k">end</span>
<a name="gbab-42"></a>
<a name="gbab-43"></a>    <span class="n">should</span> <span class="s2">&quot;handle multiple of the same key in the permalink&quot;</span> <span class="k">do</span>
<a name="gbab-44"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/foo/bar/foo/&quot;</span><span class="p">,</span> <span class="no">URL</span><span class="o">.</span><span class="n">new</span><span class="p">(</span>
<a name="gbab-45"></a>        <span class="ss">:template</span> <span class="o">=&gt;</span> <span class="s2">&quot;/baz&quot;</span><span class="p">,</span>
<a name="gbab-46"></a>        <span class="ss">:permalink</span> <span class="o">=&gt;</span> <span class="s2">&quot;/:x/:y/:x/&quot;</span><span class="p">,</span>
<a name="gbab-47"></a>        <span class="ss">:placeholders</span> <span class="o">=&gt;</span> <span class="p">{</span><span class="ss">:x</span> <span class="o">=&gt;</span> <span class="s2">&quot;foo&quot;</span><span class="p">,</span> <span class="ss">:y</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">}</span>
<a name="gbab-48"></a>      <span class="p">)</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-49"></a>    <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>    <span class="n">should</span> <span class="s2">&quot;handle nil values for keys in the template&quot;</span> <span class="k">do</span>
<a name="gbab-52"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/foo/bar/&quot;</span><span class="p">,</span> <span class="no">URL</span><span class="o">.</span><span class="n">new</span><span class="p">(</span>
<a name="gbab-53"></a>        <span class="ss">:template</span> <span class="o">=&gt;</span> <span class="s2">&quot;/:x/:y/:z/&quot;</span><span class="p">,</span>
<a name="gbab-54"></a>        <span class="ss">:placeholders</span> <span class="o">=&gt;</span> <span class="p">{</span><span class="ss">:x</span> <span class="o">=&gt;</span> <span class="s2">&quot;foo&quot;</span><span class="p">,</span> <span class="ss">:y</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="ss">:z</span> <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">}</span>
<a name="gbab-55"></a>      <span class="p">)</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-56"></a>    <span class="k">end</span>
<a name="gbab-57"></a>
<a name="gbab-58"></a>    <span class="n">should</span> <span class="s2">&quot;handle UrlDrop as a placeholder in addition to a hash&quot;</span> <span class="k">do</span>
<a name="gbab-59"></a>      <span class="n">_</span><span class="p">,</span> <span class="n">matching_doc</span> <span class="o">=</span> <span class="n">fixture_document</span><span class="p">(</span><span class="s2">&quot;_methods/escape-+ #%20[].md&quot;</span><span class="p">)</span>
<a name="gbab-60"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/methods/escape-+-20/escape-20.html&quot;</span><span class="p">,</span> <span class="no">URL</span><span class="o">.</span><span class="n">new</span><span class="p">(</span>
<a name="gbab-61"></a>        <span class="ss">:template</span>     <span class="o">=&gt;</span> <span class="s2">&quot;/methods/:title/:name:output_ext&quot;</span><span class="p">,</span>
<a name="gbab-62"></a>        <span class="ss">:placeholders</span> <span class="o">=&gt;</span> <span class="n">matching_doc</span><span class="o">.</span><span class="n">url_placeholders</span>
<a name="gbab-63"></a>      <span class="p">)</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-64"></a>    <span class="k">end</span>
<a name="gbab-65"></a>
<a name="gbab-66"></a>    <span class="n">should</span> <span class="s2">&quot;check for key without trailing underscore&quot;</span> <span class="k">do</span>
<a name="gbab-67"></a>      <span class="n">_</span><span class="p">,</span> <span class="n">matching_doc</span> <span class="o">=</span> <span class="n">fixture_document</span><span class="p">(</span><span class="s2">&quot;_methods/configuration.md&quot;</span><span class="p">)</span>
<a name="gbab-68"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/methods/configuration-configuration_methods_configuration&quot;</span><span class="p">,</span> <span class="no">URL</span><span class="o">.</span><span class="n">new</span><span class="p">(</span>
<a name="gbab-69"></a>        <span class="ss">:template</span>     <span class="o">=&gt;</span> <span class="s2">&quot;/methods/:name-:slug_:collection_:title&quot;</span><span class="p">,</span>
<a name="gbab-70"></a>        <span class="ss">:placeholders</span> <span class="o">=&gt;</span> <span class="n">matching_doc</span><span class="o">.</span><span class="n">url_placeholders</span>
<a name="gbab-71"></a>      <span class="p">)</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-72"></a>      <span class="k">end</span>
<a name="gbab-73"></a>
<a name="gbab-74"></a>    <span class="n">should</span> <span class="s2">&quot;raise custom error when URL placeholder doesn&#39;t have key&quot;</span> <span class="k">do</span>
<a name="gbab-75"></a>      <span class="n">_</span><span class="p">,</span> <span class="n">matching_doc</span> <span class="o">=</span> <span class="n">fixture_document</span><span class="p">(</span><span class="s2">&quot;_methods/escape-+ #%20[].md&quot;</span><span class="p">)</span>
<a name="gbab-76"></a>      <span class="n">assert_raises</span> <span class="no">NoMethodError</span> <span class="k">do</span>
<a name="gbab-77"></a>        <span class="no">URL</span><span class="o">.</span><span class="n">new</span><span class="p">(</span>
<a name="gbab-78"></a>          <span class="ss">:template</span>     <span class="o">=&gt;</span> <span class="s2">&quot;/methods/:headline&quot;</span><span class="p">,</span>
<a name="gbab-79"></a>          <span class="ss">:placeholders</span> <span class="o">=&gt;</span> <span class="n">matching_doc</span><span class="o">.</span><span class="n">url_placeholders</span>
<a name="gbab-80"></a>        <span class="p">)</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-81"></a>      <span class="k">end</span>
<a name="gbab-82"></a>    <span class="k">end</span>
<a name="gbab-83"></a>  <span class="k">end</span>
<a name="gbab-84"></a><span class="k">end</span>
</pre></div>
</td></tr></table>