<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestUtils</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;The \`Utils.deep_merge_hashes\` method&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="n">clear_dest</span>
<a name="gbab-9"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span>
<a name="gbab-10"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-11"></a>    <span class="k">end</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>    <span class="n">should</span> <span class="s2">&quot;merge a drop into a hash&quot;</span> <span class="k">do</span>
<a name="gbab-14"></a>      <span class="n">data</span> <span class="o">=</span> <span class="p">{</span><span class="s2">&quot;page&quot;</span> <span class="o">=&gt;</span> <span class="p">{}}</span>
<a name="gbab-15"></a>      <span class="n">merged</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="vi">@site</span><span class="o">.</span><span class="n">site_payload</span><span class="p">)</span>
<a name="gbab-16"></a>      <span class="n">assert</span> <span class="n">merged</span><span class="o">.</span><span class="n">is_a?</span> <span class="no">Hash</span>
<a name="gbab-17"></a>      <span class="n">assert</span> <span class="n">merged</span><span class="o">[</span><span class="s2">&quot;site&quot;</span><span class="o">].</span><span class="n">is_a?</span> <span class="no">Drops</span><span class="o">::</span><span class="no">SiteDrop</span>
<a name="gbab-18"></a>      <span class="n">assert_equal</span> <span class="n">data</span><span class="o">[</span><span class="s2">&quot;page&quot;</span><span class="o">]</span><span class="p">,</span> <span class="n">merged</span><span class="o">[</span><span class="s2">&quot;page&quot;</span><span class="o">]</span>
<a name="gbab-19"></a>    <span class="k">end</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>    <span class="n">should</span> <span class="s2">&quot;merge a hash into a drop&quot;</span> <span class="k">do</span>
<a name="gbab-22"></a>      <span class="n">data</span> <span class="o">=</span> <span class="p">{</span><span class="s2">&quot;page&quot;</span> <span class="o">=&gt;</span> <span class="p">{}}</span>
<a name="gbab-23"></a>      <span class="n">assert_nil</span> <span class="vi">@site</span><span class="o">.</span><span class="n">site_payload</span><span class="o">[</span><span class="s2">&quot;page&quot;</span><span class="o">]</span>
<a name="gbab-24"></a>      <span class="n">merged</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">site_payload</span><span class="p">,</span> <span class="n">data</span><span class="p">)</span>
<a name="gbab-25"></a>      <span class="n">assert</span> <span class="n">merged</span><span class="o">.</span><span class="n">is_a?</span> <span class="no">Drops</span><span class="o">::</span><span class="no">UnifiedPayloadDrop</span>
<a name="gbab-26"></a>      <span class="n">assert</span> <span class="n">merged</span><span class="o">[</span><span class="s2">&quot;site&quot;</span><span class="o">].</span><span class="n">is_a?</span> <span class="no">Drops</span><span class="o">::</span><span class="no">SiteDrop</span>
<a name="gbab-27"></a>      <span class="n">assert_equal</span> <span class="n">data</span><span class="o">[</span><span class="s2">&quot;page&quot;</span><span class="o">]</span><span class="p">,</span> <span class="n">merged</span><span class="o">[</span><span class="s2">&quot;page&quot;</span><span class="o">]</span>
<a name="gbab-28"></a>    <span class="k">end</span>
<a name="gbab-29"></a>  <span class="k">end</span>
<a name="gbab-30"></a>
<a name="gbab-31"></a>  <span class="n">context</span> <span class="s2">&quot;hash&quot;</span> <span class="k">do</span>
<a name="gbab-32"></a>    <span class="n">context</span> <span class="s2">&quot;pluralized_array&quot;</span> <span class="k">do</span>
<a name="gbab-33"></a>      <span class="n">should</span> <span class="s2">&quot;return empty array with no values&quot;</span> <span class="k">do</span>
<a name="gbab-34"></a>        <span class="n">data</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-35"></a>        <span class="n">assert_equal</span> <span class="o">[]</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">pluralized_array_from_hash</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;tag&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span><span class="p">)</span>
<a name="gbab-36"></a>      <span class="k">end</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>      <span class="n">should</span> <span class="s2">&quot;return empty array with no matching values&quot;</span> <span class="k">do</span>
<a name="gbab-39"></a>        <span class="n">data</span> <span class="o">=</span> <span class="p">{</span> <span class="s2">&quot;foo&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span> <span class="p">}</span>
<a name="gbab-40"></a>        <span class="n">assert_equal</span> <span class="o">[]</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">pluralized_array_from_hash</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;tag&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span><span class="p">)</span>
<a name="gbab-41"></a>      <span class="k">end</span>
<a name="gbab-42"></a>
<a name="gbab-43"></a>      <span class="n">should</span> <span class="s2">&quot;return plural array with nil singular&quot;</span> <span class="k">do</span>
<a name="gbab-44"></a>        <span class="n">data</span> <span class="o">=</span> <span class="p">{</span> <span class="s2">&quot;foo&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="s2">&quot;tag&quot;</span> <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span> <span class="o">=&gt;</span> <span class="sx">%w(dog cat)</span> <span class="p">}</span>
<a name="gbab-45"></a>        <span class="n">assert_equal</span> <span class="sx">%w(dog cat)</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">pluralized_array_from_hash</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;tag&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span><span class="p">)</span>
<a name="gbab-46"></a>      <span class="k">end</span>
<a name="gbab-47"></a>
<a name="gbab-48"></a>      <span class="n">should</span> <span class="s2">&quot;return single value array with matching singular&quot;</span> <span class="k">do</span>
<a name="gbab-49"></a>        <span class="n">data</span> <span class="o">=</span> <span class="p">{</span> <span class="s2">&quot;foo&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="s2">&quot;tag&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;dog&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span> <span class="o">=&gt;</span> <span class="sx">%w(dog cat)</span> <span class="p">}</span>
<a name="gbab-50"></a>        <span class="n">assert_equal</span> <span class="o">[</span><span class="s2">&quot;dog&quot;</span><span class="o">]</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">pluralized_array_from_hash</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;tag&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span><span class="p">)</span>
<a name="gbab-51"></a>      <span class="k">end</span>
<a name="gbab-52"></a>
<a name="gbab-53"></a>      <span class="n">should</span> <span class="s2">&quot;return single value array with matching singular with spaces&quot;</span> <span class="k">do</span>
<a name="gbab-54"></a>        <span class="n">data</span> <span class="o">=</span> <span class="p">{</span> <span class="s2">&quot;foo&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="s2">&quot;tag&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;dog cat&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span> <span class="o">=&gt;</span> <span class="sx">%w(dog cat)</span> <span class="p">}</span>
<a name="gbab-55"></a>        <span class="n">assert_equal</span> <span class="o">[</span><span class="s2">&quot;dog cat&quot;</span><span class="o">]</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">pluralized_array_from_hash</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;tag&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span><span class="p">)</span>
<a name="gbab-56"></a>      <span class="k">end</span>
<a name="gbab-57"></a>
<a name="gbab-58"></a>      <span class="n">should</span> <span class="s2">&quot;return empty array with matching nil plural&quot;</span> <span class="k">do</span>
<a name="gbab-59"></a>        <span class="n">data</span> <span class="o">=</span> <span class="p">{</span> <span class="s2">&quot;foo&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span> <span class="o">=&gt;</span> <span class="kp">nil</span> <span class="p">}</span>
<a name="gbab-60"></a>        <span class="n">assert_equal</span> <span class="o">[]</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">pluralized_array_from_hash</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;tag&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span><span class="p">)</span>
<a name="gbab-61"></a>      <span class="k">end</span>
<a name="gbab-62"></a>
<a name="gbab-63"></a>      <span class="n">should</span> <span class="s2">&quot;return empty array with matching empty array&quot;</span> <span class="k">do</span>
<a name="gbab-64"></a>        <span class="n">data</span> <span class="o">=</span> <span class="p">{</span> <span class="s2">&quot;foo&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span> <span class="o">=&gt;</span> <span class="o">[]</span> <span class="p">}</span>
<a name="gbab-65"></a>        <span class="n">assert_equal</span> <span class="o">[]</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">pluralized_array_from_hash</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;tag&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span><span class="p">)</span>
<a name="gbab-66"></a>      <span class="k">end</span>
<a name="gbab-67"></a>
<a name="gbab-68"></a>      <span class="n">should</span> <span class="s2">&quot;return single value array with matching plural with single string value&quot;</span> <span class="k">do</span>
<a name="gbab-69"></a>        <span class="n">data</span> <span class="o">=</span> <span class="p">{</span> <span class="s2">&quot;foo&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;dog&quot;</span> <span class="p">}</span>
<a name="gbab-70"></a>        <span class="n">assert_equal</span> <span class="o">[</span><span class="s2">&quot;dog&quot;</span><span class="o">]</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">pluralized_array_from_hash</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;tag&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span><span class="p">)</span>
<a name="gbab-71"></a>      <span class="k">end</span>
<a name="gbab-72"></a>
<a name="gbab-73"></a>      <span class="n">should</span> <span class="s2">&quot;return multiple value array with matching plural with &quot;</span> <span class="p">\</span>
<a name="gbab-74"></a>             <span class="s2">&quot;single string value with spaces&quot;</span> <span class="k">do</span>
<a name="gbab-75"></a>        <span class="n">data</span> <span class="o">=</span> <span class="p">{</span> <span class="s2">&quot;foo&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;dog cat&quot;</span> <span class="p">}</span>
<a name="gbab-76"></a>        <span class="n">assert_equal</span> <span class="sx">%w(dog cat)</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">pluralized_array_from_hash</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;tag&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span><span class="p">)</span>
<a name="gbab-77"></a>      <span class="k">end</span>
<a name="gbab-78"></a>
<a name="gbab-79"></a>      <span class="n">should</span> <span class="s2">&quot;return single value array with matching plural with single value array&quot;</span> <span class="k">do</span>
<a name="gbab-80"></a>        <span class="n">data</span> <span class="o">=</span> <span class="p">{</span> <span class="s2">&quot;foo&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;dog&quot;</span><span class="o">]</span> <span class="p">}</span>
<a name="gbab-81"></a>        <span class="n">assert_equal</span> <span class="o">[</span><span class="s2">&quot;dog&quot;</span><span class="o">]</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">pluralized_array_from_hash</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;tag&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span><span class="p">)</span>
<a name="gbab-82"></a>      <span class="k">end</span>
<a name="gbab-83"></a>
<a name="gbab-84"></a>      <span class="n">should</span> <span class="s2">&quot;return multiple value array with matching plural with &quot;</span> <span class="p">\</span>
<a name="gbab-85"></a>             <span class="s2">&quot;multiple value array&quot;</span> <span class="k">do</span>
<a name="gbab-86"></a>        <span class="n">data</span> <span class="o">=</span> <span class="p">{</span> <span class="s2">&quot;foo&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span> <span class="o">=&gt;</span> <span class="sx">%w(dog cat)</span> <span class="p">}</span>
<a name="gbab-87"></a>        <span class="n">assert_equal</span> <span class="sx">%w(dog cat)</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">pluralized_array_from_hash</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;tag&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span><span class="p">)</span>
<a name="gbab-88"></a>      <span class="k">end</span>
<a name="gbab-89"></a>    <span class="k">end</span>
<a name="gbab-90"></a>  <span class="k">end</span>
<a name="gbab-91"></a>
<a name="gbab-92"></a>  <span class="n">context</span> <span class="s2">&quot;The \`Utils.parse_date\` method&quot;</span> <span class="k">do</span>
<a name="gbab-93"></a>    <span class="n">should</span> <span class="s2">&quot;parse a properly formatted date&quot;</span> <span class="k">do</span>
<a name="gbab-94"></a>      <span class="n">assert</span> <span class="no">Utils</span><span class="o">.</span><span class="n">parse_date</span><span class="p">(</span><span class="s2">&quot;2014-08-02 14:43:06 PDT&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">is_a?</span> <span class="no">Time</span>
<a name="gbab-95"></a>    <span class="k">end</span>
<a name="gbab-96"></a>
<a name="gbab-97"></a>    <span class="n">should</span> <span class="s2">&quot;throw an error if the input contains no date data&quot;</span> <span class="k">do</span>
<a name="gbab-98"></a>      <span class="n">assert_raises</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Errors</span><span class="o">::</span><span class="no">InvalidDateError</span> <span class="k">do</span>
<a name="gbab-99"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">parse_date</span><span class="p">(</span><span class="s2">&quot;Blah&quot;</span><span class="p">)</span>
<a name="gbab-100"></a>      <span class="k">end</span>
<a name="gbab-101"></a>    <span class="k">end</span>
<a name="gbab-102"></a>
<a name="gbab-103"></a>    <span class="n">should</span> <span class="s2">&quot;throw an error if the input is out of range&quot;</span> <span class="k">do</span>
<a name="gbab-104"></a>      <span class="n">assert_raises</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Errors</span><span class="o">::</span><span class="no">InvalidDateError</span> <span class="k">do</span>
<a name="gbab-105"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">parse_date</span><span class="p">(</span><span class="s2">&quot;9999-99-99&quot;</span><span class="p">)</span>
<a name="gbab-106"></a>      <span class="k">end</span>
<a name="gbab-107"></a>    <span class="k">end</span>
<a name="gbab-108"></a>
<a name="gbab-109"></a>    <span class="n">should</span> <span class="s2">&quot;throw an error with the default message if no message is passed in&quot;</span> <span class="k">do</span>
<a name="gbab-110"></a>      <span class="n">date</span> <span class="o">=</span> <span class="s2">&quot;Blah this is invalid&quot;</span>
<a name="gbab-111"></a>      <span class="n">assert_raises</span><span class="p">(</span>
<a name="gbab-112"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">Errors</span><span class="o">::</span><span class="no">InvalidDateError</span><span class="p">,</span>
<a name="gbab-113"></a>        <span class="s2">&quot;Invalid date &#39;</span><span class="si">#{</span><span class="n">date</span><span class="si">}</span><span class="s2">&#39;: Input could not be parsed.&quot;</span>
<a name="gbab-114"></a>      <span class="p">)</span> <span class="k">do</span>
<a name="gbab-115"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">parse_date</span><span class="p">(</span><span class="n">date</span><span class="p">)</span>
<a name="gbab-116"></a>      <span class="k">end</span>
<a name="gbab-117"></a>    <span class="k">end</span>
<a name="gbab-118"></a>
<a name="gbab-119"></a>    <span class="n">should</span> <span class="s2">&quot;throw an error with the provided message if a message is passed in&quot;</span> <span class="k">do</span>
<a name="gbab-120"></a>      <span class="n">date</span> <span class="o">=</span> <span class="s2">&quot;Blah this is invalid&quot;</span>
<a name="gbab-121"></a>      <span class="n">message</span> <span class="o">=</span> <span class="s2">&quot;Aaaah, the world has exploded!&quot;</span>
<a name="gbab-122"></a>      <span class="n">assert_raises</span><span class="p">(</span>
<a name="gbab-123"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">Errors</span><span class="o">::</span><span class="no">InvalidDateError</span><span class="p">,</span>
<a name="gbab-124"></a>        <span class="s2">&quot;Invalid date &#39;</span><span class="si">#{</span><span class="n">date</span><span class="si">}</span><span class="s2">&#39;: </span><span class="si">#{</span><span class="n">message</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-125"></a>      <span class="p">)</span> <span class="k">do</span>
<a name="gbab-126"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">parse_date</span><span class="p">(</span><span class="n">date</span><span class="p">,</span> <span class="n">message</span><span class="p">)</span>
<a name="gbab-127"></a>      <span class="k">end</span>
<a name="gbab-128"></a>    <span class="k">end</span>
<a name="gbab-129"></a>  <span class="k">end</span>
<a name="gbab-130"></a>
<a name="gbab-131"></a>  <span class="n">context</span> <span class="s2">&quot;The \`Utils.slugify\` method&quot;</span> <span class="k">do</span>
<a name="gbab-132"></a>    <span class="n">should</span> <span class="s2">&quot;return nil if passed nil&quot;</span> <span class="k">do</span>
<a name="gbab-133"></a>      <span class="k">begin</span>
<a name="gbab-134"></a>        <span class="n">assert</span> <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="kp">nil</span><span class="p">)</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-135"></a>      <span class="k">rescue</span> <span class="no">NoMethodError</span>
<a name="gbab-136"></a>        <span class="n">assert</span> <span class="kp">false</span><span class="p">,</span> <span class="s2">&quot;Threw NoMethodError&quot;</span>
<a name="gbab-137"></a>      <span class="k">end</span>
<a name="gbab-138"></a>    <span class="k">end</span>
<a name="gbab-139"></a>
<a name="gbab-140"></a>    <span class="n">should</span> <span class="s2">&quot;replace whitespace with hyphens&quot;</span> <span class="k">do</span>
<a name="gbab-141"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;working-with-drafts&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;Working with drafts&quot;</span><span class="p">)</span>
<a name="gbab-142"></a>    <span class="k">end</span>
<a name="gbab-143"></a>
<a name="gbab-144"></a>    <span class="n">should</span> <span class="s2">&quot;replace consecutive whitespace with a single hyphen&quot;</span> <span class="k">do</span>
<a name="gbab-145"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;basic-usage&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;Basic   Usage&quot;</span><span class="p">)</span>
<a name="gbab-146"></a>    <span class="k">end</span>
<a name="gbab-147"></a>
<a name="gbab-148"></a>    <span class="n">should</span> <span class="s2">&quot;trim leading and trailing whitespace&quot;</span> <span class="k">do</span>
<a name="gbab-149"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;working-with-drafts&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;  Working with drafts   &quot;</span><span class="p">)</span>
<a name="gbab-150"></a>    <span class="k">end</span>
<a name="gbab-151"></a>
<a name="gbab-152"></a>    <span class="n">should</span> <span class="s2">&quot;drop trailing punctuation&quot;</span> <span class="k">do</span>
<a name="gbab-153"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-154"></a>        <span class="s2">&quot;so-what-is-jekyll-exactly&quot;</span><span class="p">,</span>
<a name="gbab-155"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;So what is Jekyll, exactly?&quot;</span><span class="p">)</span>
<a name="gbab-156"></a>      <span class="p">)</span>
<a name="gbab-157"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;كيف-حالك&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;كيف حالك؟&quot;</span><span class="p">)</span>
<a name="gbab-158"></a>    <span class="k">end</span>
<a name="gbab-159"></a>
<a name="gbab-160"></a>    <span class="n">should</span> <span class="s2">&quot;ignore hyphens&quot;</span> <span class="k">do</span>
<a name="gbab-161"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;pre-releases&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;Pre-releases&quot;</span><span class="p">)</span>
<a name="gbab-162"></a>    <span class="k">end</span>
<a name="gbab-163"></a>
<a name="gbab-164"></a>    <span class="n">should</span> <span class="s2">&quot;replace underscores with hyphens&quot;</span> <span class="k">do</span>
<a name="gbab-165"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;the-config-yml-file&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file&quot;</span><span class="p">)</span>
<a name="gbab-166"></a>    <span class="k">end</span>
<a name="gbab-167"></a>
<a name="gbab-168"></a>    <span class="n">should</span> <span class="s2">&quot;combine adjacent hyphens and spaces&quot;</span> <span class="k">do</span>
<a name="gbab-169"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-170"></a>        <span class="s2">&quot;customizing-git-git-hooks&quot;</span><span class="p">,</span>
<a name="gbab-171"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;Customizing Git - Git Hooks&quot;</span><span class="p">)</span>
<a name="gbab-172"></a>      <span class="p">)</span>
<a name="gbab-173"></a>    <span class="k">end</span>
<a name="gbab-174"></a>
<a name="gbab-175"></a>    <span class="n">should</span> <span class="s2">&quot;replace punctuation in any scripts by hyphens&quot;</span> <span class="k">do</span>
<a name="gbab-176"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;5時-6時-三-一四&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;5時〜6時 三・一四&quot;</span><span class="p">)</span>
<a name="gbab-177"></a>    <span class="k">end</span>
<a name="gbab-178"></a>
<a name="gbab-179"></a>    <span class="n">should</span> <span class="s2">&quot;not modify the original string&quot;</span> <span class="k">do</span>
<a name="gbab-180"></a>      <span class="n">title</span> <span class="o">=</span> <span class="s2">&quot;Quick-start guide&quot;</span>
<a name="gbab-181"></a>      <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="n">title</span><span class="p">)</span>
<a name="gbab-182"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;Quick-start guide&quot;</span><span class="p">,</span> <span class="n">title</span>
<a name="gbab-183"></a>    <span class="k">end</span>
<a name="gbab-184"></a>
<a name="gbab-185"></a>    <span class="n">should</span> <span class="s2">&quot;not change behaviour if mode is default&quot;</span> <span class="k">do</span>
<a name="gbab-186"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-187"></a>        <span class="s2">&quot;the-config-yml-file&quot;</span><span class="p">,</span>
<a name="gbab-188"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;default&quot;</span><span class="p">)</span>
<a name="gbab-189"></a>      <span class="p">)</span>
<a name="gbab-190"></a>    <span class="k">end</span>
<a name="gbab-191"></a>
<a name="gbab-192"></a>    <span class="n">should</span> <span class="s2">&quot;not change behaviour if mode is nil&quot;</span> <span class="k">do</span>
<a name="gbab-193"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;the-config-yml-file&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">)</span>
<a name="gbab-194"></a>    <span class="k">end</span>
<a name="gbab-195"></a>
<a name="gbab-196"></a>    <span class="n">should</span> <span class="s2">&quot;not replace period and underscore if mode is pretty&quot;</span> <span class="k">do</span>
<a name="gbab-197"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-198"></a>        <span class="s2">&quot;the-_config.yml-file&quot;</span><span class="p">,</span>
<a name="gbab-199"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;pretty&quot;</span><span class="p">)</span>
<a name="gbab-200"></a>      <span class="p">)</span>
<a name="gbab-201"></a>    <span class="k">end</span>
<a name="gbab-202"></a>
<a name="gbab-203"></a>    <span class="n">should</span> <span class="s2">&quot;replace everything else but ASCII characters&quot;</span> <span class="k">do</span>
<a name="gbab-204"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;the-config-yml-file&quot;</span><span class="p">,</span>
<a name="gbab-205"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;ascii&quot;</span><span class="p">)</span>
<a name="gbab-206"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;f-rtive-glance&quot;</span><span class="p">,</span>
<a name="gbab-207"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;fürtive glance!!!!&quot;</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;ascii&quot;</span><span class="p">)</span>
<a name="gbab-208"></a>        <span class="s2">&quot;the-_config.yml-file?&quot;</span><span class="p">,</span>
<a name="gbab-209"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;raw&quot;</span><span class="p">)</span>
<a name="gbab-210"></a>    <span class="n">should</span> <span class="s2">&quot;map accented latin characters to ASCII characters&quot;</span> <span class="k">do</span>
<a name="gbab-211"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;the-config-yml-file&quot;</span><span class="p">,</span>
<a name="gbab-212"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;latin&quot;</span><span class="p">)</span>
<a name="gbab-213"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;furtive-glance&quot;</span><span class="p">,</span>
<a name="gbab-214"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;fürtive glance!!!!&quot;</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;latin&quot;</span><span class="p">)</span>
<a name="gbab-215"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;aaceeiioouu&quot;</span><span class="p">,</span>
<a name="gbab-216"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;àáçèéíïòóúü&quot;</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;latin&quot;</span><span class="p">)</span>
<a name="gbab-217"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;a-z&quot;</span><span class="p">,</span>
<a name="gbab-218"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;Aあわれ鬱господинZ&quot;</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;latin&quot;</span><span class="p">)</span>
<a name="gbab-219"></a>    <span class="k">end</span>
<a name="gbab-220"></a>
<a name="gbab-221"></a>      <span class="p">)</span>
<a name="gbab-222"></a>    <span class="k">end</span>
<a name="gbab-223"></a>
<a name="gbab-224"></a>    <span class="n">should</span> <span class="s2">&quot;only replace whitespace if mode is raw&quot;</span> <span class="k">do</span>
<a name="gbab-225"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-226"></a>        <span class="s2">&quot;the _config.yml file?&quot;</span><span class="p">,</span>
<a name="gbab-227"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;none&quot;</span><span class="p">)</span>
<a name="gbab-228"></a>      <span class="p">)</span>
<a name="gbab-229"></a>    <span class="k">end</span>
<a name="gbab-230"></a>
<a name="gbab-231"></a>    <span class="n">should</span> <span class="s2">&quot;return the given string if mode is none&quot;</span> <span class="k">do</span>
<a name="gbab-232"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-233"></a>        <span class="s2">&quot;Working-with-drafts&quot;</span><span class="p">,</span>
<a name="gbab-234"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;Working with drafts&quot;</span><span class="p">,</span> <span class="ss">:cased</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-235"></a>      <span class="p">)</span>
<a name="gbab-236"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-237"></a>        <span class="s2">&quot;Basic-Usage&quot;</span><span class="p">,</span>
<a name="gbab-238"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;Basic   Usage&quot;</span><span class="p">,</span> <span class="ss">:cased</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-239"></a>      <span class="p">)</span>
<a name="gbab-240"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-241"></a>        <span class="s2">&quot;Working-with-drafts&quot;</span><span class="p">,</span>
<a name="gbab-242"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;  Working with drafts   &quot;</span><span class="p">,</span> <span class="ss">:cased</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-243"></a>      <span class="p">)</span>
<a name="gbab-244"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-245"></a>        <span class="s2">&quot;So-what-is-Jekyll-exactly&quot;</span><span class="p">,</span>
<a name="gbab-246"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;So what is Jekyll, exactly?&quot;</span><span class="p">,</span> <span class="ss">:cased</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-247"></a>      <span class="p">)</span>
<a name="gbab-248"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-249"></a>        <span class="s2">&quot;Pre-releases&quot;</span><span class="p">,</span>
<a name="gbab-250"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;Pre-releases&quot;</span><span class="p">,</span> <span class="ss">:cased</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-251"></a>      <span class="p">)</span>
<a name="gbab-252"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-253"></a>        <span class="s2">&quot;The-config-yml-file&quot;</span><span class="p">,</span>
<a name="gbab-254"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file&quot;</span><span class="p">,</span> <span class="ss">:cased</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-255"></a>      <span class="p">)</span>
<a name="gbab-256"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-257"></a>        <span class="s2">&quot;Customizing-Git-Git-Hooks&quot;</span><span class="p">,</span>
<a name="gbab-258"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;Customizing Git - Git Hooks&quot;</span><span class="p">,</span> <span class="ss">:cased</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-259"></a>      <span class="p">)</span>
<a name="gbab-260"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-261"></a>        <span class="s2">&quot;The-config-yml-file&quot;</span><span class="p">,</span>
<a name="gbab-262"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;default&quot;</span><span class="p">,</span> <span class="ss">:cased</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-263"></a>      <span class="p">)</span>
<a name="gbab-264"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-265"></a>        <span class="s2">&quot;The-config-yml-file&quot;</span><span class="p">,</span>
<a name="gbab-266"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span> <span class="ss">:cased</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-267"></a>      <span class="p">)</span>
<a name="gbab-268"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-269"></a>        <span class="s2">&quot;The-_config.yml-file&quot;</span><span class="p">,</span>
<a name="gbab-270"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;pretty&quot;</span><span class="p">,</span> <span class="ss">:cased</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-271"></a>      <span class="p">)</span>
<a name="gbab-272"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-273"></a>        <span class="s2">&quot;The-_config.yml-file?&quot;</span><span class="p">,</span>
<a name="gbab-274"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;raw&quot;</span><span class="p">,</span> <span class="ss">:cased</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-275"></a>      <span class="p">)</span>
<a name="gbab-276"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-277"></a>        <span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span>
<a name="gbab-278"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;none&quot;</span><span class="p">,</span> <span class="ss">:cased</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-279"></a>      <span class="p">)</span>
<a name="gbab-280"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;The-config-yml-file&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span> <span class="ss">cased</span><span class="p">:</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-281"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;The-_config.yml-file&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span> <span class="ss">mode</span><span class="p">:</span> <span class="s2">&quot;pretty&quot;</span><span class="p">,</span> <span class="ss">cased</span><span class="p">:</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-282"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;The-_config.yml-file?&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span> <span class="ss">mode</span><span class="p">:</span> <span class="s2">&quot;raw&quot;</span><span class="p">,</span> <span class="ss">cased</span><span class="p">:</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-283"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="s2">&quot;The _config.yml file?&quot;</span><span class="p">,</span> <span class="ss">mode</span><span class="p">:</span> <span class="s2">&quot;none&quot;</span><span class="p">,</span> <span class="ss">cased</span><span class="p">:</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-284"></a>    <span class="k">end</span>
<a name="gbab-285"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-286"></a>        <span class="s2">&quot;This Is A Long Title With Mixed Capitalization&quot;</span><span class="p">,</span>
<a name="gbab-287"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">titleize_slug</span><span class="p">(</span><span class="s2">&quot;This-is-a-Long-title-with-Mixed-capitalization&quot;</span><span class="p">)</span>
<a name="gbab-288"></a>      <span class="p">)</span>
<a name="gbab-289"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-290"></a>        <span class="s2">&quot;This Is A Title With Just The Initial Word Capitalized&quot;</span><span class="p">,</span>
<a name="gbab-291"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">titleize_slug</span><span class="p">(</span><span class="s2">&quot;This-is-a-title-with-just-the-initial-word-capitalized&quot;</span><span class="p">)</span>
<a name="gbab-292"></a>      <span class="p">)</span>
<a name="gbab-293"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-294"></a>        <span class="s2">&quot;This Is A Title With No Capitalization&quot;</span><span class="p">,</span>
<a name="gbab-295"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">titleize_slug</span><span class="p">(</span><span class="s2">&quot;this-is-a-title-with-no-capitalization&quot;</span><span class="p">)</span>
<a name="gbab-296"></a>      <span class="p">)</span>
<a name="gbab-297"></a>    <span class="n">should</span> <span class="s2">&quot;capitalize all words and not drop any words&quot;</span> <span class="k">do</span>
<a name="gbab-298"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;This Is A Long Title With Mixed Capitalization&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">titleize_slug</span><span class="p">(</span><span class="s2">&quot;This-is-a-Long-title-with-Mixed-capitalization&quot;</span><span class="p">)</span>
<a name="gbab-299"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;This Is A Title With Just The Initial Word Capitalized&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">titleize_slug</span><span class="p">(</span><span class="s2">&quot;This-is-a-title-with-just-the-initial-word-capitalized&quot;</span><span class="p">)</span>
<a name="gbab-300"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;This Is A Title With No Capitalization&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">titleize_slug</span><span class="p">(</span><span class="s2">&quot;this-is-a-title-with-no-capitalization&quot;</span><span class="p">)</span>
<a name="gbab-301"></a>    <span class="k">end</span>
<a name="gbab-302"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-303"></a>        <span class="s2">&quot;/:basename/&quot;</span><span class="p">,</span>
<a name="gbab-304"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="ss">:pretty</span><span class="p">)</span>
<a name="gbab-305"></a>      <span class="p">)</span>
<a name="gbab-306"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-307"></a>        <span class="s2">&quot;/:basename:output_ext&quot;</span><span class="p">,</span>
<a name="gbab-308"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="ss">:date</span><span class="p">)</span>
<a name="gbab-309"></a>      <span class="p">)</span>
<a name="gbab-310"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-311"></a>        <span class="s2">&quot;/:basename:output_ext&quot;</span><span class="p">,</span>
<a name="gbab-312"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="ss">:ordinal</span><span class="p">)</span>
<a name="gbab-313"></a>      <span class="p">)</span>
<a name="gbab-314"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-315"></a>        <span class="s2">&quot;/:basename:output_ext&quot;</span><span class="p">,</span>
<a name="gbab-316"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="ss">:none</span><span class="p">)</span>
<a name="gbab-317"></a>      <span class="p">)</span>
<a name="gbab-318"></a>      <span class="n">dir</span> <span class="o">=</span> <span class="s2">&quot;test/safe_glob_test[&quot;</span>
<a name="gbab-319"></a>      <span class="n">assert_equal</span> <span class="o">[]</span><span class="p">,</span> <span class="no">Dir</span><span class="o">.</span><span class="n">glob</span><span class="p">(</span><span class="n">dir</span> <span class="o">+</span> <span class="s2">&quot;/*&quot;</span><span class="p">)</span>
<a name="gbab-320"></a>      <span class="n">assert_equal</span> <span class="o">[</span><span class="s2">&quot;test/safe_glob_test[/find_me.txt&quot;</span><span class="o">]</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">safe_glob</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="s2">&quot;*&quot;</span><span class="p">)</span>
<a name="gbab-321"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-322"></a>        <span class="s2">&quot;/:basename/&quot;</span><span class="p">,</span>
<a name="gbab-323"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="s2">&quot;/:title/&quot;</span><span class="p">)</span>
<a name="gbab-324"></a>      <span class="p">)</span>
<a name="gbab-325"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-326"></a>        <span class="s2">&quot;/:basename:output_ext&quot;</span><span class="p">,</span>
<a name="gbab-327"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="s2">&quot;/:title:output_ext&quot;</span><span class="p">)</span>
<a name="gbab-328"></a>      <span class="p">)</span>
<a name="gbab-329"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-330"></a>        <span class="s2">&quot;/:basename&quot;</span><span class="p">,</span>
<a name="gbab-331"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="s2">&quot;/:title&quot;</span><span class="p">)</span>
<a name="gbab-332"></a>      <span class="p">)</span>
<a name="gbab-333"></a>      <span class="n">dir</span> <span class="o">=</span> <span class="s2">&quot;test&quot;</span>
<a name="gbab-334"></a>      <span class="n">assert_equal</span> <span class="no">Dir</span><span class="o">.</span><span class="n">glob</span><span class="p">(</span><span class="n">dir</span> <span class="o">+</span> <span class="s2">&quot;/*&quot;</span><span class="p">),</span> <span class="no">Utils</span><span class="o">.</span><span class="n">safe_glob</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="s2">&quot;*&quot;</span><span class="p">)</span>
<a name="gbab-335"></a>      <span class="n">assert_equal</span> <span class="no">Dir</span><span class="o">.</span><span class="n">glob</span><span class="p">(</span><span class="n">dir</span> <span class="o">+</span> <span class="s2">&quot;/**/*&quot;</span><span class="p">),</span> <span class="no">Utils</span><span class="o">.</span><span class="n">safe_glob</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="s2">&quot;**/*&quot;</span><span class="p">)</span>
<a name="gbab-336"></a>    <span class="k">end</span>
<a name="gbab-337"></a>
<a name="gbab-338"></a>    <span class="n">should</span> <span class="s2">&quot;return the same data to #glob if dir is not found&quot;</span> <span class="k">do</span>
<a name="gbab-339"></a>      <span class="n">assert_equal</span> <span class="o">[]</span><span class="p">,</span> <span class="no">Dir</span><span class="o">.</span><span class="n">glob</span><span class="p">(</span><span class="n">dir</span> <span class="o">+</span> <span class="s2">&quot;/*&quot;</span><span class="p">)</span> <span class="k">unless</span> <span class="n">jruby?</span>
<a name="gbab-340"></a>      <span class="n">assert_equal</span> <span class="o">[]</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">safe_glob</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="s2">&quot;*&quot;</span><span class="p">)</span>
<a name="gbab-341"></a>      <span class="n">assert_equal</span> <span class="no">Dir</span><span class="o">.</span><span class="n">glob</span><span class="p">(</span><span class="n">dir</span> <span class="o">+</span> <span class="s2">&quot;/*&quot;</span><span class="p">),</span> <span class="no">Utils</span><span class="o">.</span><span class="n">safe_glob</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="s2">&quot;*&quot;</span><span class="p">)</span>
<a name="gbab-342"></a>    <span class="k">end</span>
<a name="gbab-343"></a>
<a name="gbab-344"></a>    <span class="n">should</span> <span class="s2">&quot;return the same data to #glob if pattern is blank&quot;</span> <span class="k">do</span>
<a name="gbab-345"></a>      <span class="n">dir</span> <span class="o">=</span> <span class="s2">&quot;test&quot;</span>
<a name="gbab-346"></a>      <span class="n">assert_equal</span> <span class="o">[</span><span class="n">dir</span><span class="o">]</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">safe_glob</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-347"></a>      <span class="n">assert_equal</span> <span class="no">Dir</span><span class="o">.</span><span class="n">glob</span><span class="p">(</span><span class="n">dir</span><span class="p">),</span> <span class="no">Utils</span><span class="o">.</span><span class="n">safe_glob</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-348"></a>      <span class="n">assert_equal</span> <span class="no">Dir</span><span class="o">.</span><span class="n">glob</span><span class="p">(</span><span class="n">dir</span><span class="p">),</span> <span class="no">Utils</span><span class="o">.</span><span class="n">safe_glob</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-349"></a>    <span class="k">end</span>
<a name="gbab-350"></a>
<a name="gbab-351"></a>    <span class="n">should</span> <span class="s2">&quot;return the same data to #glob if flag is given&quot;</span> <span class="k">do</span>
<a name="gbab-352"></a>      <span class="n">dir</span> <span class="o">=</span> <span class="s2">&quot;test&quot;</span>
<a name="gbab-353"></a>      <span class="n">assert_equal</span> <span class="no">Dir</span><span class="o">.</span><span class="n">glob</span><span class="p">(</span><span class="n">dir</span> <span class="o">+</span> <span class="s2">&quot;/*&quot;</span><span class="p">,</span> <span class="no">File</span><span class="o">::</span><span class="no">FNM_DOTMATCH</span><span class="p">),</span>
<a name="gbab-354"></a>                   <span class="no">Utils</span><span class="o">.</span><span class="n">safe_glob</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="s2">&quot;*&quot;</span><span class="p">,</span> <span class="no">File</span><span class="o">::</span><span class="no">FNM_DOTMATCH</span><span class="p">)</span>
<a name="gbab-355"></a>    <span class="k">end</span>
<a name="gbab-356"></a>
<a name="gbab-357"></a>    <span class="n">should</span> <span class="s2">&quot;support pattern as an array to support windows&quot;</span> <span class="k">do</span>
<a name="gbab-358"></a>      <span class="n">dir</span> <span class="o">=</span> <span class="s2">&quot;test&quot;</span>
<a name="gbab-359"></a>      <span class="n">assert_equal</span> <span class="no">Dir</span><span class="o">.</span><span class="n">glob</span><span class="p">(</span><span class="n">dir</span> <span class="o">+</span> <span class="s2">&quot;/**/*&quot;</span><span class="p">),</span> <span class="no">Utils</span><span class="o">.</span><span class="n">safe_glob</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="o">[</span><span class="s2">&quot;**&quot;</span><span class="p">,</span> <span class="s2">&quot;*&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-360"></a>    <span class="k">end</span>
<a name="gbab-361"></a>  <span class="k">end</span>
<a name="gbab-362"></a>
<a name="gbab-363"></a>
<a name="gbab-364"></a>  <span class="n">context</span> <span class="s2">&quot;The \`Utils.add_permalink_suffix\` method&quot;</span> <span class="k">do</span>
<a name="gbab-365"></a>    <span class="n">should</span> <span class="s2">&quot;handle built-in permalink styles&quot;</span> <span class="k">do</span>
<a name="gbab-366"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/:basename/&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="ss">:pretty</span><span class="p">)</span>
<a name="gbab-367"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/:basename:output_ext&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="ss">:date</span><span class="p">)</span>
<a name="gbab-368"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/:basename:output_ext&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="ss">:ordinal</span><span class="p">)</span>
<a name="gbab-369"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/:basename:output_ext&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="ss">:none</span><span class="p">)</span>
<a name="gbab-370"></a>    <span class="k">end</span>
<a name="gbab-371"></a>
<a name="gbab-372"></a>    <span class="n">should</span> <span class="s2">&quot;handle custom permalink styles&quot;</span> <span class="k">do</span>
<a name="gbab-373"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/:basename/&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="s2">&quot;/:title/&quot;</span><span class="p">)</span>
<a name="gbab-374"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/:basename:output_ext&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="s2">&quot;/:title:output_ext&quot;</span><span class="p">)</span>
<a name="gbab-375"></a>    <span class="n">should</span> <span class="s2">&quot;accept files with YAML front matter&quot;</span> <span class="k">do</span>
<a name="gbab-376"></a>    <span class="k">end</span>
<a name="gbab-377"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;---</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="s2">&quot;rb&quot;</span><span class="p">)</span> <span class="p">{</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span> <span class="n">f</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="mi">4</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-378"></a>  <span class="n">context</span> <span class="s2">&quot;The \`Utils.has_yaml_header?\` method&quot;</span> <span class="k">do</span>
<a name="gbab-379"></a>    <span class="n">should</span> <span class="s2">&quot;accept files with yaml front matter&quot;</span> <span class="k">do</span>
<a name="gbab-380"></a>    <span class="n">should</span> <span class="s2">&quot;accept files with extraneous spaces after YAML front matter&quot;</span> <span class="k">do</span>
<a name="gbab-381"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;---</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="s1">&#39;rb&#39;</span><span class="p">)</span> <span class="p">{</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span> <span class="n">f</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="mi">4</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-382"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;---  </span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="s2">&quot;rb&quot;</span><span class="p">)</span> <span class="p">{</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span> <span class="n">f</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="mi">6</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-383"></a>    <span class="k">end</span>
<a name="gbab-384"></a>    <span class="n">should</span> <span class="s2">&quot;accept files with extraneous spaces after yaml front matter&quot;</span> <span class="k">do</span>
<a name="gbab-385"></a>      <span class="n">file</span> <span class="o">=</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_posts&quot;</span><span class="p">,</span> <span class="s2">&quot;2015-12-27-extra-spaces.markdown&quot;</span><span class="p">)</span>
<a name="gbab-386"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;---  </span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="s1">&#39;rb&#39;</span><span class="p">)</span> <span class="p">{</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span> <span class="n">f</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="mi">6</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-387"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;-----B&quot;</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="s2">&quot;rb&quot;</span><span class="p">)</span> <span class="p">{</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span> <span class="n">f</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="mi">6</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-388"></a>    <span class="k">end</span>
<a name="gbab-389"></a>    <span class="n">should</span> <span class="s2">&quot;reject pgp files and the like which resemble front matter&quot;</span> <span class="k">do</span>
<a name="gbab-390"></a>      <span class="n">file</span> <span class="o">=</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;pgp.key&quot;</span><span class="p">)</span>
<a name="gbab-391"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;-----B&quot;</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="s1">&#39;rb&#39;</span><span class="p">)</span> <span class="p">{</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span> <span class="n">f</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="mi">6</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-392"></a>      <span class="n">refute</span> <span class="no">Utils</span><span class="o">.</span><span class="n">has_yaml_header?</span><span class="p">(</span><span class="n">file</span><span class="p">)</span>
<a name="gbab-393"></a>    <span class="k">end</span>
<a name="gbab-394"></a>  <span class="k">end</span>
<a name="gbab-395"></a>
<a name="gbab-396"></a>  <span class="n">context</span> <span class="s2">&quot;The \`Utils.merged_file_read_opts\` method&quot;</span> <span class="k">do</span>
<a name="gbab-397"></a>    <span class="n">should</span> <span class="s2">&quot;ignore encoding if it&#39;s not there&quot;</span> <span class="k">do</span>
<a name="gbab-398"></a>      <span class="n">opts</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">merged_file_read_opts</span><span class="p">(</span><span class="kp">nil</span><span class="p">,</span> <span class="p">{})</span>
<a name="gbab-399"></a>      <span class="n">assert_nil</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;encoding&quot;</span><span class="o">]</span>
<a name="gbab-400"></a>      <span class="n">assert_nil</span> <span class="n">opts</span><span class="o">[</span><span class="ss">:encoding</span><span class="o">]</span>
<a name="gbab-401"></a>    <span class="k">end</span>
<a name="gbab-402"></a>
<a name="gbab-403"></a>    <span class="n">should</span> <span class="s2">&quot;add bom to encoding&quot;</span> <span class="k">do</span>
<a name="gbab-404"></a>      <span class="n">opts</span> <span class="o">=</span> <span class="p">{</span> <span class="s2">&quot;encoding&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;utf-8&quot;</span><span class="p">,</span> <span class="ss">:encoding</span> <span class="o">=&gt;</span> <span class="s2">&quot;utf-8&quot;</span> <span class="p">}</span>
<a name="gbab-405"></a>      <span class="n">merged</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">merged_file_read_opts</span><span class="p">(</span><span class="kp">nil</span><span class="p">,</span> <span class="n">opts</span><span class="p">)</span>
<a name="gbab-406"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;bom|utf-8&quot;</span><span class="p">,</span> <span class="n">merged</span><span class="o">[</span><span class="s2">&quot;encoding&quot;</span><span class="o">]</span>
<a name="gbab-407"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;bom|utf-8&quot;</span><span class="p">,</span> <span class="n">merged</span><span class="o">[</span><span class="ss">:encoding</span><span class="o">]</span>
<a name="gbab-408"></a>    <span class="k">end</span>
<a name="gbab-409"></a>
<a name="gbab-410"></a>    <span class="n">should</span> <span class="s2">&quot;preserve bom in encoding&quot;</span> <span class="k">do</span>
<a name="gbab-411"></a>      <span class="n">opts</span> <span class="o">=</span> <span class="p">{</span> <span class="s2">&quot;encoding&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;bom|another&quot;</span><span class="p">,</span> <span class="ss">:encoding</span> <span class="o">=&gt;</span> <span class="s2">&quot;bom|another&quot;</span> <span class="p">}</span>
<a name="gbab-412"></a>      <span class="n">merged</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">merged_file_read_opts</span><span class="p">(</span><span class="kp">nil</span><span class="p">,</span> <span class="n">opts</span><span class="p">)</span>
<a name="gbab-413"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;bom|another&quot;</span><span class="p">,</span> <span class="n">merged</span><span class="o">[</span><span class="s2">&quot;encoding&quot;</span><span class="o">]</span>
<a name="gbab-414"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;bom|another&quot;</span><span class="p">,</span> <span class="n">merged</span><span class="o">[</span><span class="ss">:encoding</span><span class="o">]</span>
<a name="gbab-415"></a>    <span class="k">end</span>
<a name="gbab-416"></a>  <span class="k">end</span>
<a name="gbab-417"></a>
<a name="gbab-418"></a>  <span class="n">context</span> <span class="s2">&quot;Utils::Internet.connected?&quot;</span> <span class="k">do</span>
<a name="gbab-419"></a>    <span class="n">should</span> <span class="s2">&quot;return true if there&#39;s internet&quot;</span> <span class="k">do</span>
<a name="gbab-420"></a>      <span class="n">assert</span> <span class="no">Utils</span><span class="o">::</span><span class="no">Internet</span><span class="o">.</span><span class="n">connected?</span>
<a name="gbab-421"></a>    <span class="k">end</span>
<a name="gbab-422"></a>  <span class="k">end</span>
<a name="gbab-423"></a>  <span class="n">context</span> <span class="s2">&quot;The \`Utils.add_permalink_suffix\` method&quot;</span> <span class="k">do</span>
<a name="gbab-424"></a>    <span class="n">should</span> <span class="s2">&quot;handle built-in permalink styles&quot;</span> <span class="k">do</span>
<a name="gbab-425"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/:basename/&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="ss">:pretty</span><span class="p">)</span>
<a name="gbab-426"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/:basename:output_ext&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="ss">:date</span><span class="p">)</span>
<a name="gbab-427"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/:basename:output_ext&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="ss">:ordinal</span><span class="p">)</span>
<a name="gbab-428"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/:basename:output_ext&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="ss">:none</span><span class="p">)</span>
<a name="gbab-429"></a>    <span class="k">end</span>
<a name="gbab-430"></a>
<a name="gbab-431"></a>    <span class="n">should</span> <span class="s2">&quot;handle custom permalink styles&quot;</span> <span class="k">do</span>
<a name="gbab-432"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/:basename/&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="s2">&quot;/:title/&quot;</span><span class="p">)</span>
<a name="gbab-433"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/:basename:output_ext&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="s2">&quot;/:title:output_ext&quot;</span><span class="p">)</span>
<a name="gbab-434"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:basename&quot;</span><span class="p">,</span> <span class="s2">&quot;/:title&quot;</span><span class="p">)</span>
<a name="gbab-435"></a>    <span class="k">end</span>
<a name="gbab-436"></a>  <span class="k">end</span>
<a name="gbab-437"></a><span class="k">end</span>
</pre></div>
</td></tr></table>