<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;set&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-6"></a>    <span class="c1"># Handles the cleanup of a site&#39;s destination before it is built.</span>
<a name="gbab-7"></a>  <span class="k">class</span> <span class="nc">Cleaner</span>
<a name="gbab-8"></a>    <span class="no">HIDDEN_FILE_REGEX</span> <span class="o">=</span> <span class="sr">%r!\/\.{1,2}$!</span>
<a name="gbab-9"></a>      <span class="kp">attr_reader</span> <span class="ss">:site</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-12"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-13"></a>    <span class="k">end</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>    <span class="c1"># Cleans up the site&#39;s destination directory</span>
<a name="gbab-16"></a>    <span class="k">def</span> <span class="nf">cleanup!</span>
<a name="gbab-17"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_rf</span><span class="p">(</span><span class="n">obsolete_files</span><span class="p">)</span>
<a name="gbab-18"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_rf</span><span class="p">(</span><span class="n">metadata_file</span><span class="p">)</span> <span class="k">unless</span> <span class="vi">@site</span><span class="o">.</span><span class="n">incremental?</span>
<a name="gbab-19"></a>    <span class="k">end</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>    <span class="kp">private</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>      <span class="c1"># Private: The list of files and directories to be deleted during cleanup process</span>
<a name="gbab-24"></a>    <span class="c1">#</span>
<a name="gbab-25"></a>      <span class="c1"># Returns an Array of the file and directory paths</span>
<a name="gbab-26"></a>    <span class="k">def</span> <span class="nf">obsolete_files</span>
<a name="gbab-27"></a>      <span class="n">out</span> <span class="o">=</span> <span class="p">(</span><span class="n">existing_files</span> <span class="o">-</span> <span class="n">new_files</span> <span class="o">-</span> <span class="n">new_dirs</span> <span class="o">+</span> <span class="n">replaced_files</span><span class="p">)</span><span class="o">.</span><span class="n">to_a</span>
<a name="gbab-28"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">trigger</span> <span class="ss">:clean</span><span class="p">,</span> <span class="ss">:on_obsolete</span><span class="p">,</span> <span class="n">out</span>
<a name="gbab-29"></a>      <span class="n">out</span>
<a name="gbab-30"></a>      <span class="k">end</span>
<a name="gbab-31"></a>
<a name="gbab-32"></a>      <span class="c1"># Private: The metadata file storing dependency tree and build history</span>
<a name="gbab-33"></a>      <span class="c1">#</span>
<a name="gbab-34"></a>      <span class="c1"># Returns an Array with the metdata file as the only item</span>
<a name="gbab-35"></a>      <span class="k">def</span> <span class="nf">metadata_file</span>
<a name="gbab-36"></a>        <span class="o">[</span><span class="n">site</span><span class="o">.</span><span class="n">regenerator</span><span class="o">.</span><span class="n">metadata_file</span><span class="o">]</span>
<a name="gbab-37"></a>    <span class="k">end</span>
<a name="gbab-38"></a>
<a name="gbab-39"></a>    <span class="c1"># Private: The list of existing files, apart from those included in</span>
<a name="gbab-40"></a>    <span class="c1"># keep_files and hidden files.</span>
<a name="gbab-41"></a>    <span class="c1">#</span>
<a name="gbab-42"></a>    <span class="c1"># Returns a Set with the file paths</span>
<a name="gbab-43"></a>    <span class="k">def</span> <span class="nf">existing_files</span>
<a name="gbab-44"></a>      <span class="n">files</span> <span class="o">=</span> <span class="no">Set</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-45"></a>      <span class="n">regex</span> <span class="o">=</span> <span class="n">keep_file_regex</span>
<a name="gbab-46"></a>      <span class="n">dirs</span> <span class="o">=</span> <span class="n">keep_dirs</span>
<a name="gbab-47"></a>
<a name="gbab-48"></a>      <span class="no">Utils</span><span class="o">.</span><span class="n">safe_glob</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">in_dest_dir</span><span class="p">,</span> <span class="o">[</span><span class="s2">&quot;**&quot;</span><span class="p">,</span> <span class="s2">&quot;*&quot;</span><span class="o">]</span><span class="p">,</span> <span class="no">File</span><span class="o">::</span><span class="no">FNM_DOTMATCH</span><span class="p">)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">file</span><span class="o">|</span>
<a name="gbab-49"></a>        <span class="k">next</span> <span class="k">if</span> <span class="n">file</span> <span class="o">=~</span> <span class="no">HIDDEN_FILE_REGEX</span> <span class="o">||</span> <span class="n">file</span> <span class="o">=~</span> <span class="n">regex</span> <span class="o">||</span> <span class="n">dirs</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">file</span><span class="p">)</span>
<a name="gbab-50"></a>        <span class="n">files</span> <span class="o">&lt;&lt;</span> <span class="n">file</span>
<a name="gbab-51"></a>      <span class="k">end</span>
<a name="gbab-52"></a>
<a name="gbab-53"></a>      <span class="n">files</span>
<a name="gbab-54"></a>    <span class="k">end</span>
<a name="gbab-55"></a>
<a name="gbab-56"></a>      <span class="c1"># Private: The list of files to be created when site is built.</span>
<a name="gbab-57"></a>    <span class="c1">#</span>
<a name="gbab-58"></a>    <span class="c1"># Returns a Set with the file paths</span>
<a name="gbab-59"></a>    <span class="k">def</span> <span class="nf">new_files</span>
<a name="gbab-60"></a>      <span class="vi">@new_files</span> <span class="o">||=</span> <span class="no">Set</span><span class="o">.</span><span class="n">new</span><span class="o">.</span><span class="n">tap</span> <span class="k">do</span> <span class="o">|</span><span class="n">files</span><span class="o">|</span>
<a name="gbab-61"></a>        <span class="n">site</span><span class="o">.</span><span class="n">each_site_file</span> <span class="p">{</span> <span class="o">|</span><span class="n">item</span><span class="o">|</span> <span class="n">files</span> <span class="o">&lt;&lt;</span> <span class="n">item</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">dest</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-62"></a>      <span class="k">end</span>
<a name="gbab-63"></a>    <span class="k">end</span>
<a name="gbab-64"></a>
<a name="gbab-65"></a>      <span class="c1"># Private: The list of directories to be created when site is built.</span>
<a name="gbab-66"></a>    <span class="c1"># These are the parent directories of the files in #new_files.</span>
<a name="gbab-67"></a>    <span class="c1">#</span>
<a name="gbab-68"></a>    <span class="c1"># Returns a Set with the directory paths</span>
<a name="gbab-69"></a>    <span class="k">def</span> <span class="nf">new_dirs</span>
<a name="gbab-70"></a>      <span class="vi">@new_dirs</span> <span class="o">||=</span> <span class="n">new_files</span><span class="o">.</span><span class="n">map</span> <span class="p">{</span> <span class="o">|</span><span class="n">file</span><span class="o">|</span> <span class="n">parent_dirs</span><span class="p">(</span><span class="n">file</span><span class="p">)</span> <span class="p">}</span><span class="o">.</span><span class="n">flatten</span><span class="o">.</span><span class="n">to_set</span>
<a name="gbab-71"></a>      <span class="k">end</span>
<a name="gbab-72"></a>
<a name="gbab-73"></a>      <span class="c1"># Private: The list of parent directories of a given file</span>
<a name="gbab-74"></a>      <span class="c1">#</span>
<a name="gbab-75"></a>      <span class="c1"># Returns an Array with the directory paths</span>
<a name="gbab-76"></a>      <span class="k">def</span> <span class="nf">parent_dirs</span><span class="p">(</span><span class="n">file</span><span class="p">)</span>
<a name="gbab-77"></a>        <span class="n">parent_dir</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="n">file</span><span class="p">)</span>
<a name="gbab-78"></a>        <span class="k">if</span> <span class="n">parent_dir</span> <span class="o">==</span> <span class="n">site</span><span class="o">.</span><span class="n">dest</span>
<a name="gbab-79"></a>          <span class="o">[]</span>
<a name="gbab-80"></a>        <span class="k">else</span>
<a name="gbab-81"></a>          <span class="o">[</span><span class="n">parent_dir</span><span class="o">]</span> <span class="o">+</span> <span class="n">parent_dirs</span><span class="p">(</span><span class="n">parent_dir</span><span class="p">)</span>
<a name="gbab-82"></a>        <span class="k">end</span>
<a name="gbab-83"></a>    <span class="k">end</span>
<a name="gbab-84"></a>
<a name="gbab-85"></a>    <span class="c1"># Private: The list of existing files that will be replaced by a directory</span>
<a name="gbab-86"></a>    <span class="c1"># during build</span>
<a name="gbab-87"></a>    <span class="c1">#</span>
<a name="gbab-88"></a>    <span class="c1"># Returns a Set with the file paths</span>
<a name="gbab-89"></a>    <span class="k">def</span> <span class="nf">replaced_files</span>
<a name="gbab-90"></a>      <span class="n">new_dirs</span><span class="o">.</span><span class="n">select</span> <span class="p">{</span> <span class="o">|</span><span class="n">dir</span><span class="o">|</span> <span class="no">File</span><span class="o">.</span><span class="n">file?</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span> <span class="p">}</span><span class="o">.</span><span class="n">to_set</span>
<a name="gbab-91"></a>    <span class="k">end</span>
<a name="gbab-92"></a>
<a name="gbab-93"></a>    <span class="c1"># Private: The list of directories that need to be kept because they are</span>
<a name="gbab-94"></a>    <span class="c1"># parent directories of files specified in keep_files</span>
<a name="gbab-95"></a>      <span class="c1">#</span>
<a name="gbab-96"></a>      <span class="c1"># Returns a Set with the directory paths</span>
<a name="gbab-97"></a>      <span class="k">def</span> <span class="nf">keep_dirs</span>
<a name="gbab-98"></a>      <span class="n">site</span><span class="o">.</span><span class="n">keep_files</span><span class="o">.</span><span class="n">map</span> <span class="p">{</span> <span class="o">|</span><span class="n">file</span><span class="o">|</span> <span class="n">parent_dirs</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">in_dest_dir</span><span class="p">(</span><span class="n">file</span><span class="p">))</span> <span class="p">}</span><span class="o">.</span><span class="n">flatten</span><span class="o">.</span><span class="n">to_set</span>
<a name="gbab-99"></a>      <span class="k">end</span>
<a name="gbab-100"></a>
<a name="gbab-101"></a>      <span class="c1"># Private: Creates a regular expression from the config&#39;s keep_files array</span>
<a name="gbab-102"></a>    <span class="c1">#</span>
<a name="gbab-103"></a>    <span class="c1"># Examples</span>
<a name="gbab-104"></a>    <span class="c1">#   [&#39;.git&#39;,&#39;.svn&#39;] with site.dest &quot;/myblog/_site&quot; creates </span>
<a name="gbab-105"></a>    <span class="c1">#   the following regex: /\A\/myblog\/_site\/(\.git|\/.svn)/</span>
<a name="gbab-106"></a>    <span class="c1">#</span>
<a name="gbab-107"></a>    <span class="c1"># Returns the regular expression</span>
<a name="gbab-108"></a>    <span class="k">def</span> <span class="nf">keep_file_regex</span>
<a name="gbab-109"></a>      <span class="sr">%r!\A</span><span class="si">#{</span><span class="no">Regexp</span><span class="o">.</span><span class="n">quote</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">dest</span><span class="p">)</span><span class="si">}</span><span class="sr">\/(</span><span class="si">#{</span><span class="no">Regexp</span><span class="o">.</span><span class="n">union</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">keep_files</span><span class="p">)</span><span class="o">.</span><span class="n">source</span><span class="si">}</span><span class="sr">)!</span>
<a name="gbab-110"></a>    <span class="k">end</span>
<a name="gbab-111"></a>  <span class="k">end</span>
<a name="gbab-112"></a><span class="k">end</span>
</pre></div>
</td></tr></table>