<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="vg">$LOAD_PATH</span><span class="o">.</span><span class="n">unshift</span> <span class="n">__dir__</span> <span class="c1"># For use/testing when no gem is installed</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="c1"># Require all of the Ruby files in the given directory.</span>
<a name="gbab-6"></a><span class="c1">#</span>
<a name="gbab-7"></a><span class="c1"># path - The String relative path from here to the directory.</span>
<a name="gbab-8"></a><span class="c1">#</span>
<a name="gbab-9"></a><span class="c1"># Returns nothing.</span>
<a name="gbab-10"></a><span class="k">def</span> <span class="nf">require_all</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-11"></a>  <span class="n">glob</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">__dir__</span><span class="p">,</span> <span class="n">path</span><span class="p">,</span> <span class="s2">&quot;*.rb&quot;</span><span class="p">)</span>
<a name="gbab-12"></a>  <span class="no">Dir</span><span class="o">[</span><span class="n">glob</span><span class="o">].</span><span class="n">sort</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-13"></a>    <span class="nb">require</span> <span class="n">f</span>
<a name="gbab-14"></a>  <span class="k">end</span>
<a name="gbab-15"></a><span class="k">end</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a><span class="c1"># rubygems</span>
<a name="gbab-18"></a><span class="nb">require</span> <span class="s2">&quot;rubygems&quot;</span>
<a name="gbab-19"></a>
<a name="gbab-20"></a><span class="c1"># stdlib</span>
<a name="gbab-21"></a><span class="nb">require</span> <span class="s2">&quot;pathutil&quot;</span>
<a name="gbab-22"></a><span class="nb">require</span> <span class="s2">&quot;forwardable&quot;</span>
<a name="gbab-23"></a><span class="nb">require</span> <span class="s2">&quot;fileutils&quot;</span>
<a name="gbab-24"></a><span class="nb">require</span> <span class="s2">&quot;time&quot;</span>
<a name="gbab-25"></a><span class="nb">require</span> <span class="s2">&quot;English&quot;</span>
<a name="gbab-26"></a><span class="nb">require</span> <span class="s2">&quot;pathname&quot;</span>
<a name="gbab-27"></a><span class="nb">require</span> <span class="s2">&quot;logger&quot;</span>
<a name="gbab-28"></a><span class="nb">require</span> <span class="s2">&quot;set&quot;</span>
<a name="gbab-29"></a>
<a name="gbab-30"></a><span class="c1"># 3rd party</span>
<a name="gbab-31"></a><span class="nb">require</span> <span class="s2">&quot;safe_yaml/load&quot;</span>
<a name="gbab-32"></a><span class="nb">require</span> <span class="s2">&quot;liquid&quot;</span>
<a name="gbab-33"></a><span class="nb">require</span> <span class="s2">&quot;kramdown&quot;</span>
<a name="gbab-34"></a><span class="nb">require</span> <span class="s2">&quot;colorator&quot;</span>
<a name="gbab-35"></a><span class="nb">require</span> <span class="s2">&quot;i18n&quot;</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a><span class="no">SafeYAML</span><span class="o">::</span><span class="no">OPTIONS</span><span class="o">[</span><span class="ss">:suppress_warnings</span><span class="o">]</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-38"></a>
<a name="gbab-39"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-40"></a><span class="c1"># internal requires</span>
<a name="gbab-41"></a>  <span class="nb">autoload</span> <span class="ss">:Cleaner</span><span class="p">,</span>             <span class="s2">&quot;jekyll/cleaner&quot;</span>
<a name="gbab-42"></a>  <span class="nb">autoload</span> <span class="ss">:Collection</span><span class="p">,</span>          <span class="s2">&quot;jekyll/collection&quot;</span>
<a name="gbab-43"></a>  <span class="nb">autoload</span> <span class="ss">:Configuration</span><span class="p">,</span>       <span class="s2">&quot;jekyll/configuration&quot;</span>
<a name="gbab-44"></a>  <span class="nb">autoload</span> <span class="ss">:Convertible</span><span class="p">,</span>         <span class="s2">&quot;jekyll/convertible&quot;</span>
<a name="gbab-45"></a>  <span class="nb">autoload</span> <span class="ss">:Deprecator</span><span class="p">,</span>          <span class="s2">&quot;jekyll/deprecator&quot;</span>
<a name="gbab-46"></a>  <span class="nb">autoload</span> <span class="ss">:Document</span><span class="p">,</span>            <span class="s2">&quot;jekyll/document&quot;</span>
<a name="gbab-47"></a>  <span class="nb">autoload</span> <span class="ss">:EntryFilter</span><span class="p">,</span>         <span class="s2">&quot;jekyll/entry_filter&quot;</span>
<a name="gbab-48"></a>  <span class="nb">autoload</span> <span class="ss">:Errors</span><span class="p">,</span>              <span class="s2">&quot;jekyll/errors&quot;</span>
<a name="gbab-49"></a>  <span class="nb">autoload</span> <span class="ss">:Excerpt</span><span class="p">,</span>             <span class="s2">&quot;jekyll/excerpt&quot;</span>
<a name="gbab-50"></a>  <span class="nb">autoload</span> <span class="ss">:External</span><span class="p">,</span>            <span class="s2">&quot;jekyll/external&quot;</span>
<a name="gbab-51"></a>  <span class="nb">autoload</span> <span class="ss">:FrontmatterDefaults</span><span class="p">,</span> <span class="s2">&quot;jekyll/frontmatter_defaults&quot;</span>
<a name="gbab-52"></a>  <span class="nb">autoload</span> <span class="ss">:Hooks</span><span class="p">,</span>               <span class="s2">&quot;jekyll/hooks&quot;</span>
<a name="gbab-53"></a>  <span class="nb">autoload</span> <span class="ss">:Layout</span><span class="p">,</span>              <span class="s2">&quot;jekyll/layout&quot;</span>
<a name="gbab-54"></a>  <span class="nb">autoload</span> <span class="ss">:CollectionReader</span><span class="p">,</span>    <span class="s2">&quot;jekyll/readers/collection_reader&quot;</span>
<a name="gbab-55"></a>  <span class="nb">autoload</span> <span class="ss">:DataReader</span><span class="p">,</span>          <span class="s2">&quot;jekyll/readers/data_reader&quot;</span>
<a name="gbab-56"></a>  <span class="nb">autoload</span> <span class="ss">:LayoutReader</span><span class="p">,</span>        <span class="s2">&quot;jekyll/readers/layout_reader&quot;</span>
<a name="gbab-57"></a>  <span class="nb">autoload</span> <span class="ss">:PostReader</span><span class="p">,</span>          <span class="s2">&quot;jekyll/readers/post_reader&quot;</span>
<a name="gbab-58"></a>  <span class="nb">autoload</span> <span class="ss">:PageReader</span><span class="p">,</span>          <span class="s2">&quot;jekyll/readers/page_reader&quot;</span>
<a name="gbab-59"></a>  <span class="nb">autoload</span> <span class="ss">:StaticFileReader</span><span class="p">,</span>    <span class="s2">&quot;jekyll/readers/static_file_reader&quot;</span>
<a name="gbab-60"></a>  <span class="nb">autoload</span> <span class="ss">:ThemeAssetsReader</span><span class="p">,</span>   <span class="s2">&quot;jekyll/readers/theme_assets_reader&quot;</span>
<a name="gbab-61"></a>  <span class="nb">autoload</span> <span class="ss">:LogAdapter</span><span class="p">,</span>          <span class="s2">&quot;jekyll/log_adapter&quot;</span>
<a name="gbab-62"></a>  <span class="nb">autoload</span> <span class="ss">:Page</span><span class="p">,</span>                <span class="s2">&quot;jekyll/page&quot;</span>
<a name="gbab-63"></a>  <span class="nb">autoload</span> <span class="ss">:PageWithoutAFile</span><span class="p">,</span>    <span class="s2">&quot;jekyll/page_without_a_file&quot;</span>
<a name="gbab-64"></a>  <span class="nb">autoload</span> <span class="ss">:PageWithoutAFile</span><span class="p">,</span>    <span class="s2">&quot;jekyll/page_without_a_file&quot;</span>
<a name="gbab-65"></a>  <span class="nb">autoload</span> <span class="ss">:PluginManager</span><span class="p">,</span>       <span class="s2">&quot;jekyll/plugin_manager&quot;</span>
<a name="gbab-66"></a>  <span class="nb">autoload</span> <span class="ss">:Publisher</span><span class="p">,</span>           <span class="s2">&quot;jekyll/publisher&quot;</span>
<a name="gbab-67"></a>  <span class="nb">autoload</span> <span class="ss">:Reader</span><span class="p">,</span>              <span class="s2">&quot;jekyll/reader&quot;</span>
<a name="gbab-68"></a>  <span class="nb">autoload</span> <span class="ss">:Regenerator</span><span class="p">,</span>         <span class="s2">&quot;jekyll/regenerator&quot;</span>
<a name="gbab-69"></a>  <span class="nb">autoload</span> <span class="ss">:RelatedPosts</span><span class="p">,</span>        <span class="s2">&quot;jekyll/related_posts&quot;</span>
<a name="gbab-70"></a>  <span class="nb">autoload</span> <span class="ss">:Renderer</span><span class="p">,</span>            <span class="s2">&quot;jekyll/renderer&quot;</span>
<a name="gbab-71"></a>  <span class="nb">autoload</span> <span class="ss">:LiquidRenderer</span><span class="p">,</span>      <span class="s2">&quot;jekyll/liquid_renderer&quot;</span>
<a name="gbab-72"></a>  <span class="nb">autoload</span> <span class="ss">:Site</span><span class="p">,</span>                <span class="s2">&quot;jekyll/site&quot;</span>
<a name="gbab-73"></a>  <span class="nb">autoload</span> <span class="ss">:StaticFile</span><span class="p">,</span>          <span class="s2">&quot;jekyll/static_file&quot;</span>
<a name="gbab-74"></a>  <span class="nb">autoload</span> <span class="ss">:Stevenson</span><span class="p">,</span>           <span class="s2">&quot;jekyll/stevenson&quot;</span>
<a name="gbab-75"></a>  <span class="nb">autoload</span> <span class="ss">:Theme</span><span class="p">,</span>               <span class="s2">&quot;jekyll/theme&quot;</span>
<a name="gbab-76"></a>  <span class="nb">autoload</span> <span class="ss">:ThemeBuilder</span><span class="p">,</span>        <span class="s2">&quot;jekyll/theme_builder&quot;</span>
<a name="gbab-77"></a>  <span class="nb">autoload</span> <span class="ss">:URL</span><span class="p">,</span>                 <span class="s2">&quot;jekyll/url&quot;</span>
<a name="gbab-78"></a>  <span class="nb">autoload</span> <span class="ss">:Utils</span><span class="p">,</span>               <span class="s2">&quot;jekyll/utils&quot;</span>
<a name="gbab-79"></a>  <span class="nb">autoload</span> <span class="ss">:VERSION</span><span class="p">,</span>             <span class="s2">&quot;jekyll/version&quot;</span>
<a name="gbab-80"></a>
<a name="gbab-81"></a><span class="c1">#extensions</span>
<a name="gbab-82"></a>  <span class="nb">require</span> <span class="s2">&quot;jekyll/plugin&quot;</span>
<a name="gbab-83"></a>  <span class="nb">require</span> <span class="s2">&quot;jekyll/converter&quot;</span>
<a name="gbab-84"></a>  <span class="nb">require</span> <span class="s2">&quot;jekyll/generator&quot;</span>
<a name="gbab-85"></a>  <span class="nb">require</span> <span class="s2">&quot;jekyll/command&quot;</span>
<a name="gbab-86"></a>  <span class="nb">require</span> <span class="s2">&quot;jekyll/liquid_extensions&quot;</span>
<a name="gbab-87"></a><span class="nb">require</span> <span class="s1">&#39;jekyll/liquid_extensions&#39;</span>
<a name="gbab-88"></a>
<a name="gbab-89"></a>  <span class="k">class</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span>
<a name="gbab-90"></a>  <span class="c1"># Public: Tells you which Jekyll environment you are building in so you can skip tasks</span>
<a name="gbab-91"></a>  <span class="c1"># if you need to.  This is useful when doing expensive compression tasks on css and</span>
<a name="gbab-92"></a>  <span class="c1"># images and allows you to skip that when working in development.</span>
<a name="gbab-93"></a>
<a name="gbab-94"></a>    <span class="k">def</span> <span class="nf">env</span>
<a name="gbab-95"></a>    <span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;JEKYLL_ENV&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="s2">&quot;development&quot;</span>
<a name="gbab-96"></a>  <span class="k">end</span>
<a name="gbab-97"></a>
<a name="gbab-98"></a>  
<a name="gbab-99"></a>  <span class="c1"># Generate a Jekyll configuration Hash by merging the default options</span>
<a name="gbab-100"></a>  <span class="c1"># with anything in _config.yml, and adding the given options on top.</span>
<a name="gbab-101"></a>  <span class="c1">#            the defaults and the config file. See Jekyll::Configuration::DEFAULTS for a</span>
<a name="gbab-102"></a>    <span class="c1">#            the defaults and the config file.</span>
<a name="gbab-103"></a>    <span class="c1">#            See Jekyll::Configuration::DEFAULTS for a</span>
<a name="gbab-104"></a>  <span class="c1">#            the defaults and the config file. See Jekyll::DEFAULTS for a</span>
<a name="gbab-105"></a>  <span class="c1">#            list of option names and their defaults.</span>
<a name="gbab-106"></a>  <span class="c1">#</span>
<a name="gbab-107"></a>    <span class="k">def</span> <span class="nf">configuration</span><span class="p">(</span><span class="n">override</span> <span class="o">=</span> <span class="p">{})</span>
<a name="gbab-108"></a>      <span class="n">config</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-109"></a>      <span class="n">override</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="n">override</span><span class="o">].</span><span class="n">stringify_keys</span>
<a name="gbab-110"></a>      <span class="k">unless</span> <span class="n">override</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="s2">&quot;skip_config_files&quot;</span><span class="p">)</span>
<a name="gbab-111"></a>    <span class="k">end</span>
<a name="gbab-112"></a>      <span class="k">end</span>
<a name="gbab-113"></a>
<a name="gbab-114"></a>    <span class="n">config</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="n">config</span><span class="p">,</span> <span class="n">override</span><span class="p">)</span><span class="o">.</span><span class="n">stringify_keys</span>
<a name="gbab-115"></a>      <span class="no">Configuration</span><span class="o">.</span><span class="n">from</span><span class="p">(</span><span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="n">config</span><span class="p">,</span> <span class="n">override</span><span class="p">))</span><span class="o">.</span><span class="n">tap</span> <span class="k">do</span> <span class="o">|</span><span class="n">obj</span><span class="o">|</span>
<a name="gbab-116"></a>        <span class="n">set_timezone</span><span class="p">(</span><span class="n">obj</span><span class="o">[</span><span class="s2">&quot;timezone&quot;</span><span class="o">]</span><span class="p">)</span> <span class="k">if</span> <span class="n">obj</span><span class="o">[</span><span class="s2">&quot;timezone&quot;</span><span class="o">]</span>
<a name="gbab-117"></a>      <span class="k">end</span>
<a name="gbab-118"></a>
<a name="gbab-119"></a>  <span class="c1"># Static: Set the TZ environment variable to use the timezone specified</span>
<a name="gbab-120"></a>    <span class="c1"># Public: Set the TZ environment variable to use the timezone specified</span>
<a name="gbab-121"></a>  <span class="c1"># timezone - the IANA Time Zone</span>
<a name="gbab-122"></a>  <span class="c1">#</span>
<a name="gbab-123"></a>  <span class="c1"># Returns nothing</span>
<a name="gbab-124"></a>  <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">set_timezone</span><span class="p">(</span><span class="n">timezone</span><span class="p">)</span>
<a name="gbab-125"></a>    <span class="c1"># rubocop:disable Naming/AccessorMethodName</span>
<a name="gbab-126"></a>    <span class="k">def</span> <span class="nf">set_timezone</span><span class="p">(</span><span class="n">timezone</span><span class="p">)</span>
<a name="gbab-127"></a>      <span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;TZ&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="k">if</span> <span class="no">Utils</span><span class="o">::</span><span class="no">Platforms</span><span class="o">.</span><span class="n">really_windows?</span>
<a name="gbab-128"></a>                    <span class="no">Utils</span><span class="o">::</span><span class="no">WinTZ</span><span class="o">.</span><span class="n">calculate</span><span class="p">(</span><span class="n">timezone</span><span class="p">)</span>
<a name="gbab-129"></a>                  <span class="k">else</span>
<a name="gbab-130"></a>                    <span class="n">timezone</span>
<a name="gbab-131"></a>                  <span class="k">end</span>
<a name="gbab-132"></a>
<a name="gbab-133"></a>    <span class="c1"># rubocop:enable Naming/AccessorMethodName</span>
<a name="gbab-134"></a>  <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">logger</span>
<a name="gbab-135"></a>    <span class="c1"># Public: Fetch the logger instance for this Jekyll process.</span>
<a name="gbab-136"></a>    <span class="c1">#</span>
<a name="gbab-137"></a>    <span class="c1"># Returns the LogAdapter instance.</span>
<a name="gbab-138"></a>    <span class="k">def</span> <span class="nf">logger</span>
<a name="gbab-139"></a>      <span class="vi">@logger</span> <span class="o">||=</span> <span class="no">LogAdapter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Stevenson</span><span class="o">.</span><span class="n">new</span><span class="p">,</span> <span class="p">(</span><span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;JEKYLL_LOG_LEVEL&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="ss">:info</span><span class="p">)</span><span class="o">.</span><span class="n">to_sym</span><span class="p">)</span>
<a name="gbab-140"></a>  <span class="k">end</span>
<a name="gbab-141"></a>
<a name="gbab-142"></a>    <span class="c1"># Public: Set the log writer.</span>
<a name="gbab-143"></a>    <span class="c1">#         New log writer must respond to the same methods</span>
<a name="gbab-144"></a>    <span class="c1">#         as Ruby&#39;s interal Logger.</span>
<a name="gbab-145"></a>    <span class="c1">#</span>
<a name="gbab-146"></a>    <span class="c1"># writer - the new Logger-compatible log transport</span>
<a name="gbab-147"></a>    <span class="c1">#</span>
<a name="gbab-148"></a>    <span class="c1"># Returns the new logger.</span>
<a name="gbab-149"></a>    <span class="k">def</span> <span class="nf">logger</span><span class="o">=</span><span class="p">(</span><span class="n">writer</span><span class="p">)</span>
<a name="gbab-150"></a>      <span class="vi">@logger</span> <span class="o">=</span> <span class="no">LogAdapter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">writer</span><span class="p">,</span> <span class="p">(</span><span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;JEKYLL_LOG_LEVEL&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="ss">:info</span><span class="p">)</span><span class="o">.</span><span class="n">to_sym</span><span class="p">)</span>
<a name="gbab-151"></a>
<a name="gbab-152"></a>  <span class="c1"># Public: File system root</span>
<a name="gbab-153"></a>    <span class="c1"># Public: An array of sites</span>
<a name="gbab-154"></a>  <span class="c1"># Returns the root of the filesystem as a Pathname</span>
<a name="gbab-155"></a>    <span class="c1"># Returns the Jekyll sites created.</span>
<a name="gbab-156"></a>    <span class="k">def</span> <span class="nf">sites</span>
<a name="gbab-157"></a>      <span class="vi">@sites</span> <span class="o">||=</span> <span class="o">[]</span>
<a name="gbab-158"></a>
<a name="gbab-159"></a>  <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">sanitized_path</span><span class="p">(</span><span class="n">base_directory</span><span class="p">,</span> <span class="n">questionable_path</span><span class="p">)</span>
<a name="gbab-160"></a>    <span class="c1"># Public: Ensures the questionable path is prefixed with the base directory</span>
<a name="gbab-161"></a>    <span class="c1">#         and prepends the questionable path with the base directory if false.</span>
<a name="gbab-162"></a>    <span class="c1">#</span>
<a name="gbab-163"></a>    <span class="c1"># base_directory - the directory with which to prefix the questionable path</span>
<a name="gbab-164"></a>    <span class="c1"># questionable_path - the path we&#39;re unsure about, and want prefixed</span>
<a name="gbab-165"></a>    <span class="c1">#</span>
<a name="gbab-166"></a>    <span class="c1"># Returns the sanitized path.</span>
<a name="gbab-167"></a>    <span class="k">def</span> <span class="nf">sanitized_path</span><span class="p">(</span><span class="n">base_directory</span><span class="p">,</span> <span class="n">questionable_path</span><span class="p">)</span>
<a name="gbab-168"></a>      <span class="k">return</span> <span class="n">base_directory</span> <span class="k">if</span> <span class="n">base_directory</span><span class="o">.</span><span class="n">eql?</span><span class="p">(</span><span class="n">questionable_path</span><span class="p">)</span>
<a name="gbab-169"></a>
<a name="gbab-170"></a>      <span class="n">clean_path</span> <span class="o">=</span> <span class="n">questionable_path</span><span class="o">.</span><span class="n">dup</span>
<a name="gbab-171"></a>      <span class="n">clean_path</span><span class="o">.</span><span class="n">insert</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span> <span class="s2">&quot;/&quot;</span><span class="p">)</span> <span class="k">if</span> <span class="n">clean_path</span><span class="o">.</span><span class="n">start_with?</span><span class="p">(</span><span class="s2">&quot;~&quot;</span><span class="p">)</span>
<a name="gbab-172"></a>      <span class="n">clean_path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="n">clean_path</span><span class="p">,</span> <span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-173"></a>
<a name="gbab-174"></a>      <span class="k">return</span> <span class="n">clean_path</span> <span class="k">if</span> <span class="n">clean_path</span><span class="o">.</span><span class="n">eql?</span><span class="p">(</span><span class="n">base_directory</span><span class="p">)</span>
<a name="gbab-175"></a>
<a name="gbab-176"></a>      <span class="k">if</span> <span class="n">clean_path</span><span class="o">.</span><span class="n">start_with?</span><span class="p">(</span><span class="n">base_directory</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="sr">%r!\z!</span><span class="p">,</span> <span class="s2">&quot;/&quot;</span><span class="p">))</span>
<a name="gbab-177"></a>  <span class="k">end</span>
<a name="gbab-178"></a>      <span class="k">else</span>
<a name="gbab-179"></a>        <span class="n">clean_path</span><span class="o">.</span><span class="n">sub!</span><span class="p">(</span><span class="sr">%r!\A\w:/!</span><span class="p">,</span> <span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-180"></a>        <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">base_directory</span><span class="p">,</span> <span class="n">clean_path</span><span class="p">)</span>
<a name="gbab-181"></a>  <span class="k">end</span>
<a name="gbab-182"></a>      <span class="vg">$stderr</span><span class="o">.</span><span class="n">puts</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">err</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-183"></a>
<a name="gbab-184"></a>    <span class="c1"># Conditional optimizations</span>
<a name="gbab-185"></a>    <span class="no">Jekyll</span><span class="o">::</span><span class="no">External</span><span class="o">.</span><span class="n">require_if_present</span><span class="p">(</span><span class="s2">&quot;liquid-c&quot;</span><span class="p">)</span>
<a name="gbab-186"></a>  <span class="k">end</span>
<a name="gbab-187"></a>      <span class="n">config</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-188"></a>
<a name="gbab-189"></a><span class="nb">require</span> <span class="s2">&quot;jekyll/drops/drop&quot;</span>
<a name="gbab-190"></a><span class="n">require_all</span> <span class="s1">&#39;jekyll/commands&#39;</span>
<a name="gbab-191"></a><span class="n">require_all</span> <span class="s2">&quot;jekyll/commands&quot;</span>
<a name="gbab-192"></a><span class="n">require_all</span> <span class="s2">&quot;jekyll/converters&quot;</span>
<a name="gbab-193"></a><span class="n">require_all</span> <span class="s2">&quot;jekyll/converters/markdown&quot;</span>
<a name="gbab-194"></a><span class="n">require_all</span> <span class="s2">&quot;jekyll/drops&quot;</span>
<a name="gbab-195"></a><span class="n">require_all</span> <span class="s2">&quot;jekyll/generators&quot;</span>
<a name="gbab-196"></a><span class="n">require_all</span> <span class="s2">&quot;jekyll/tags&quot;</span>
<a name="gbab-197"></a>
<a name="gbab-198"></a><span class="nb">require</span> <span class="s2">&quot;jekyll-sass-converter&quot;</span>
<a name="gbab-199"></a>  <span class="k">end</span>
<a name="gbab-200"></a>
<a name="gbab-201"></a>    <span class="c1"># Merge DEFAULTS &lt; _config.yml &lt; override</span>
<a name="gbab-202"></a>    <span class="no">Jekyll</span><span class="o">::</span><span class="no">DEFAULTS</span><span class="o">.</span><span class="n">deep_merge</span><span class="p">(</span><span class="n">config</span><span class="p">)</span><span class="o">.</span><span class="n">deep_merge</span><span class="p">(</span><span class="n">override</span><span class="p">)</span>
<a name="gbab-203"></a>  <span class="k">end</span>
<a name="gbab-204"></a><span class="k">end</span>
</pre></div>
</td></tr></table>