<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;erb&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-6"></a>  <span class="k">module</span> <span class="nn">Commands</span>
<a name="gbab-7"></a>    <span class="k">class</span> <span class="nc">New</span> <span class="o">&lt;</span> <span class="no">Command</span>
<a name="gbab-8"></a>      <span class="k">class</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span> 
<a name="gbab-9"></a>        <span class="k">def</span> <span class="nf">init_with_program</span><span class="p">(</span><span class="n">prog</span><span class="p">)</span>
<a name="gbab-10"></a>        <span class="n">prog</span><span class="o">.</span><span class="n">command</span><span class="p">(</span><span class="ss">:new</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span>
<a name="gbab-11"></a>            <span class="n">c</span><span class="o">.</span><span class="n">syntax</span> <span class="s2">&quot;new PATH&quot;</span>
<a name="gbab-12"></a>            <span class="n">c</span><span class="o">.</span><span class="n">description</span> <span class="s2">&quot;Creates a new Jekyll site scaffold in PATH&quot;</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>            <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;force&quot;</span><span class="p">,</span> <span class="s2">&quot;--force&quot;</span><span class="p">,</span> <span class="s2">&quot;Force creation even if PATH already exists&quot;</span>
<a name="gbab-15"></a>            <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;blank&quot;</span><span class="p">,</span> <span class="s2">&quot;--blank&quot;</span><span class="p">,</span> <span class="s2">&quot;Creates scaffolding but with empty files&quot;</span>
<a name="gbab-16"></a>            <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;skip-bundle&quot;</span><span class="p">,</span> <span class="s2">&quot;--skip-bundle&quot;</span><span class="p">,</span> <span class="s2">&quot;Skip &#39;bundle install&#39;&quot;</span>
<a name="gbab-17"></a>
<a name="gbab-18"></a>          <span class="n">c</span><span class="o">.</span><span class="n">action</span> <span class="k">do</span> <span class="o">|</span><span class="n">args</span><span class="p">,</span> <span class="n">options</span><span class="o">|</span>
<a name="gbab-19"></a>            <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">New</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="n">args</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span>
<a name="gbab-20"></a>          <span class="k">end</span>
<a name="gbab-21"></a>        <span class="k">end</span>
<a name="gbab-22"></a>      <span class="k">end</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>        <span class="k">def</span> <span class="nf">process</span><span class="p">(</span><span class="n">args</span><span class="p">,</span> <span class="n">options</span> <span class="o">=</span> <span class="p">{})</span>
<a name="gbab-25"></a>          <span class="k">raise</span> <span class="no">ArgumentError</span><span class="p">,</span> <span class="s2">&quot;You must specify a path.&quot;</span> <span class="k">if</span> <span class="n">args</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>        <span class="n">new_blog_path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="n">args</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot; &quot;</span><span class="p">),</span> <span class="no">Dir</span><span class="o">.</span><span class="n">pwd</span><span class="p">)</span>
<a name="gbab-28"></a>        <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span> <span class="n">new_blog_path</span>
<a name="gbab-29"></a>        <span class="k">if</span> <span class="n">preserve_source_location?</span><span class="p">(</span><span class="n">new_blog_path</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span>
<a name="gbab-30"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;Conflict:&quot;</span><span class="p">,</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">new_blog_path</span><span class="si">}</span><span class="s2"> exists and is not empty.&quot;</span>
<a name="gbab-31"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">abort_with</span> <span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="s2">&quot;Ensure </span><span class="si">#{</span><span class="n">new_blog_path</span><span class="si">}</span><span class="s2"> is empty or else &quot;</span> <span class="p">\</span>
<a name="gbab-32"></a>                      <span class="s2">&quot;try again with `--force` to proceed and overwrite any files.&quot;</span>
<a name="gbab-33"></a>        <span class="k">end</span>
<a name="gbab-34"></a>
<a name="gbab-35"></a>          <span class="k">if</span> <span class="n">options</span><span class="o">[</span><span class="s2">&quot;blank&quot;</span><span class="o">]</span>
<a name="gbab-36"></a>            <span class="n">create_blank_site</span> <span class="n">new_blog_path</span>
<a name="gbab-37"></a>          <span class="k">else</span>
<a name="gbab-38"></a>            <span class="n">create_site</span> <span class="n">new_blog_path</span>
<a name="gbab-39"></a>          <span class="k">end</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>          <span class="n">after_install</span><span class="p">(</span><span class="n">new_blog_path</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span>
<a name="gbab-42"></a>      <span class="k">end</span>
<a name="gbab-43"></a>
<a name="gbab-44"></a>        <span class="k">def</span> <span class="nf">create_blank_site</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-45"></a>        <span class="no">Dir</span><span class="o">.</span><span class="n">chdir</span><span class="p">(</span><span class="n">path</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-46"></a>          <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir</span><span class="p">(</span><span class="sx">%w(_layouts _posts _drafts)</span><span class="p">)</span>
<a name="gbab-47"></a>          <span class="no">FileUtils</span><span class="o">.</span><span class="n">touch</span><span class="p">(</span><span class="s2">&quot;index.html&quot;</span><span class="p">)</span>
<a name="gbab-48"></a>        <span class="k">end</span>
<a name="gbab-49"></a>      <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>        <span class="k">def</span> <span class="nf">scaffold_post_content</span>
<a name="gbab-52"></a>        <span class="no">ERB</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="n">scaffold_path</span><span class="p">,</span> <span class="n">site_template</span><span class="p">)))</span><span class="o">.</span><span class="n">result</span>
<a name="gbab-53"></a>    <span class="k">end</span>
<a name="gbab-54"></a>    
<a name="gbab-55"></a>    <span class="c1"># Internal: Gets the filename of the sample post to be created</span>
<a name="gbab-56"></a>    <span class="c1">#</span>
<a name="gbab-57"></a>    <span class="c1"># Returns the filename of the sample post, as a String</span>
<a name="gbab-58"></a>        <span class="k">def</span> <span class="nf">initialized_post_name</span>
<a name="gbab-59"></a>          <span class="s2">&quot;_posts/</span><span class="si">#{</span><span class="no">Time</span><span class="o">.</span><span class="n">now</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%Y-%m-%d&quot;</span><span class="p">)</span><span class="si">}</span><span class="s2">-welcome-to-jekyll.markdown&quot;</span>
<a name="gbab-60"></a>    <span class="k">end</span>
<a name="gbab-61"></a>
<a name="gbab-62"></a>      <span class="kp">private</span>
<a name="gbab-63"></a>      
<a name="gbab-64"></a>        <span class="k">def</span> <span class="nf">gemfile_contents</span>
<a name="gbab-65"></a>          <span class="o">&lt;&lt;-</span><span class="no">RUBY</span>
<a name="gbab-66"></a><span class="sh">source &quot;https://rubygems.org&quot;</span>
<a name="gbab-67"></a><span class="sh">  </span>
<a name="gbab-68"></a><span class="sh"># Hello! This is where you manage which Jekyll version is used to run.</span>
<a name="gbab-69"></a><span class="sh"># When you want to use a different version, change it below, save the</span>
<a name="gbab-70"></a><span class="sh"># file and run `bundle install`. Run Jekyll with `bundle exec`, like so:</span>
<a name="gbab-71"></a><span class="sh">#</span>
<a name="gbab-72"></a><span class="sh">#     bundle exec jekyll serve</span>
<a name="gbab-73"></a><span class="sh">#</span>
<a name="gbab-74"></a><span class="sh"># This will help ensure the proper Jekyll version is running.</span>
<a name="gbab-75"></a><span class="sh"># Happy Jekylling!</span>
<a name="gbab-76"></a><span class="sh">gem &quot;jekyll&quot;, &quot;~&gt; #{Jekyll::VERSION}&quot;</span>
<a name="gbab-77"></a>
<a name="gbab-78"></a><span class="sh"># This is the default theme for new Jekyll sites. You may change this to anything you like.</span>
<a name="gbab-79"></a><span class="sh">gem &quot;minima&quot;, &quot;~&gt; 2.0&quot;</span>
<a name="gbab-80"></a>
<a name="gbab-81"></a><span class="sh"># If you want to use GitHub Pages, remove the &quot;gem &quot;jekyll&quot;&quot; above and</span>
<a name="gbab-82"></a><span class="sh"># uncomment the line below. To upgrade, run `bundle update github-pages`.</span>
<a name="gbab-83"></a><span class="sh"># gem &quot;github-pages&quot;, group: :jekyll_plugins</span>
<a name="gbab-84"></a><span class="sh">  </span>
<a name="gbab-85"></a><span class="sh"># If you have any plugins, put them here!</span>
<a name="gbab-86"></a><span class="sh">group :jekyll_plugins do</span>
<a name="gbab-87"></a><span class="sh">   gem &quot;jekyll-feed&quot;, &quot;~&gt; 0.6&quot;</span>
<a name="gbab-88"></a><span class="sh">end</span>
<a name="gbab-89"></a>
<a name="gbab-90"></a><span class="sh"># Windows does not include zoneinfo files, so bundle the tzinfo-data gem</span>
<a name="gbab-91"></a><span class="sh">gem &quot;tzinfo-data&quot;, platforms: [:mingw, :mswin, :x64_mingw, :jruby]</span>
<a name="gbab-92"></a>
<a name="gbab-93"></a><span class="sh"># Performance-booster for watching directories on Windows</span>
<a name="gbab-94"></a><span class="sh">gem &quot;wdm&quot;, &quot;~&gt; 0.1.0&quot; if Gem.win_platform?</span>
<a name="gbab-95"></a>
<a name="gbab-96"></a><span class="no">RUBY</span>
<a name="gbab-97"></a>        <span class="k">end</span>
<a name="gbab-98"></a>
<a name="gbab-99"></a>        <span class="k">def</span> <span class="nf">create_site</span><span class="p">(</span><span class="n">new_blog_path</span><span class="p">)</span>
<a name="gbab-100"></a>            <span class="n">create_sample_files</span> <span class="n">new_blog_path</span>
<a name="gbab-101"></a>
<a name="gbab-102"></a>            <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="n">initialized_post_name</span><span class="p">,</span> <span class="n">new_blog_path</span><span class="p">),</span> <span class="s2">&quot;w&quot;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-103"></a>              <span class="n">f</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">scaffold_post_content</span><span class="p">)</span>
<a name="gbab-104"></a>            <span class="k">end</span>
<a name="gbab-105"></a>
<a name="gbab-106"></a>            <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="s2">&quot;Gemfile&quot;</span><span class="p">,</span> <span class="n">new_blog_path</span><span class="p">),</span> <span class="s2">&quot;w&quot;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-107"></a>              <span class="n">f</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">gemfile_contents</span><span class="p">)</span>
<a name="gbab-108"></a>            <span class="k">end</span>
<a name="gbab-109"></a>          <span class="k">end</span>
<a name="gbab-110"></a>
<a name="gbab-111"></a>        <span class="k">def</span> <span class="nf">preserve_source_location?</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span>
<a name="gbab-112"></a>        <span class="o">!</span><span class="n">options</span><span class="o">[</span><span class="s2">&quot;force&quot;</span><span class="o">]</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="no">Dir</span><span class="o">[</span><span class="s2">&quot;</span><span class="si">#{</span><span class="n">path</span><span class="si">}</span><span class="s2">/**/*&quot;</span><span class="o">].</span><span class="n">empty?</span>
<a name="gbab-113"></a>      <span class="k">end</span>
<a name="gbab-114"></a>
<a name="gbab-115"></a>        <span class="k">def</span> <span class="nf">create_sample_files</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-116"></a>          <span class="no">FileUtils</span><span class="o">.</span><span class="n">cp_r</span> <span class="n">site_template</span> <span class="o">+</span> <span class="s2">&quot;/.&quot;</span><span class="p">,</span> <span class="n">path</span>
<a name="gbab-117"></a>          <span class="no">FileUtils</span><span class="o">.</span><span class="n">chmod_R</span> <span class="s2">&quot;u+w&quot;</span><span class="p">,</span> <span class="n">path</span>
<a name="gbab-118"></a>          <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm</span> <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="n">scaffold_path</span><span class="p">,</span> <span class="n">path</span><span class="p">)</span>
<a name="gbab-119"></a>        <span class="k">end</span>
<a name="gbab-120"></a>
<a name="gbab-121"></a>        <span class="k">def</span> <span class="nf">site_template</span>
<a name="gbab-122"></a>          <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="s2">&quot;../../site_template&quot;</span><span class="p">,</span> <span class="n">__dir__</span><span class="p">)</span>
<a name="gbab-123"></a>        <span class="k">end</span>
<a name="gbab-124"></a>
<a name="gbab-125"></a>        <span class="k">def</span> <span class="nf">scaffold_path</span>
<a name="gbab-126"></a>        <span class="s2">&quot;_posts/0000-00-00-welcome-to-jekyll.markdown.erb&quot;</span>
<a name="gbab-127"></a>        <span class="k">end</span>
<a name="gbab-128"></a>
<a name="gbab-129"></a>        <span class="c1"># After a new blog has been created, print a success notification and</span>
<a name="gbab-130"></a>        <span class="k">def</span> <span class="nf">after_install</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">options</span> <span class="o">=</span> <span class="p">{})</span>
<a name="gbab-131"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;New jekyll site installed in </span><span class="si">#{</span><span class="n">path</span><span class="o">.</span><span class="n">cyan</span><span class="si">}</span><span class="s2">.&quot;</span>
<a name="gbab-132"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Bundle install skipped.&quot;</span> <span class="k">if</span> <span class="n">options</span><span class="o">[</span><span class="s2">&quot;skip-bundle&quot;</span><span class="o">]</span>
<a name="gbab-133"></a>
<a name="gbab-134"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;New jekyll site installed in </span><span class="si">#{</span><span class="n">path</span><span class="o">.</span><span class="n">cyan</span><span class="si">}</span><span class="s2">.&quot;</span>
<a name="gbab-135"></a>            <span class="k">begin</span>
<a name="gbab-136"></a>              <span class="nb">require</span> <span class="s2">&quot;bundler&quot;</span>
<a name="gbab-137"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Bundle install skipped.&quot;</span> <span class="k">if</span> <span class="n">options</span><span class="o">[</span><span class="s2">&quot;skip-bundle&quot;</span><span class="o">]</span>
<a name="gbab-138"></a>            <span class="k">rescue</span> <span class="no">LoadError</span>
<a name="gbab-139"></a>              <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Could not load Bundler. Bundle install skipped.&quot;</span>
<a name="gbab-140"></a>            <span class="k">end</span>
<a name="gbab-141"></a>
<a name="gbab-142"></a>          <span class="k">unless</span> <span class="n">options</span><span class="o">[</span><span class="s2">&quot;blank&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="n">options</span><span class="o">[</span><span class="s2">&quot;skip-bundle&quot;</span><span class="o">]</span>
<a name="gbab-143"></a>            <span class="n">bundle_install</span> <span class="n">path</span>
<a name="gbab-144"></a>          <span class="k">end</span>
<a name="gbab-145"></a>        <span class="k">end</span>
<a name="gbab-146"></a>
<a name="gbab-147"></a>            <span class="n">process</span><span class="p">,</span> <span class="n">output</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">::</span><span class="no">Exec</span><span class="o">.</span><span class="n">run</span><span class="p">(</span><span class="s2">&quot;bundle&quot;</span><span class="p">,</span> <span class="s2">&quot;install&quot;</span><span class="p">)</span>
<a name="gbab-148"></a>              <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span><span class="p">(</span><span class="s2">&quot;Bundler:&quot;</span><span class="o">.</span><span class="n">green</span><span class="p">,</span> <span class="n">line</span><span class="o">.</span><span class="n">strip</span><span class="p">)</span> <span class="k">unless</span> <span class="n">line</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-149"></a>            <span class="k">if</span> <span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;CI&quot;</span><span class="o">]</span>
<a name="gbab-150"></a>            <span class="n">exe</span> <span class="o">=</span> <span class="no">Gem</span><span class="o">.</span><span class="n">bin_path</span><span class="p">(</span><span class="s2">&quot;bundler&quot;</span><span class="p">,</span> <span class="s2">&quot;bundle&quot;</span><span class="p">)</span>
<a name="gbab-151"></a>            <span class="n">process</span><span class="p">,</span> <span class="n">output</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">::</span><span class="no">Exec</span><span class="o">.</span><span class="n">run</span><span class="p">(</span><span class="s2">&quot;ruby&quot;</span><span class="p">,</span> <span class="n">exe</span><span class="p">,</span> <span class="s2">&quot;install&quot;</span><span class="p">)</span>
<a name="gbab-152"></a>
<a name="gbab-153"></a>              <span class="nb">system</span><span class="p">(</span><span class="s2">&quot;bundle&quot;</span><span class="p">,</span> <span class="s2">&quot;install&quot;</span><span class="p">,</span> <span class="s2">&quot;--quiet&quot;</span><span class="p">)</span>
<a name="gbab-154"></a>            <span class="k">else</span>
<a name="gbab-155"></a>            <span class="nb">system</span><span class="p">(</span><span class="s2">&quot;bundle&quot;</span><span class="p">,</span> <span class="s2">&quot;install&quot;</span><span class="p">)</span>
<a name="gbab-156"></a>
<a name="gbab-157"></a>          <span class="k">end</span>
<a name="gbab-158"></a>        <span class="k">end</span>
<a name="gbab-159"></a>  <span class="k">end</span>
<a name="gbab-160"></a><span class="k">end</span>
<a name="gbab-161"></a><span class="k">end</span>
<a name="gbab-162"></a><span class="k">end</span>
<a name="gbab-163"></a><span class="k">end</span>
</pre></div>
</td></tr></table>