<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Converters</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">Identity</span> <span class="o">&lt;</span> <span class="no">Converter</span>
<a name="gbab-6"></a>    <span class="n">safe</span> <span class="kp">true</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>    <span class="n">priority</span> <span class="ss">:lowest</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>      <span class="k">def</span> <span class="nf">matches</span><span class="p">(</span><span class="n">_ext</span><span class="p">)</span>
<a name="gbab-11"></a>      <span class="kp">true</span>
<a name="gbab-12"></a>    <span class="k">end</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>    <span class="k">def</span> <span class="nf">output_ext</span><span class="p">(</span><span class="n">ext</span><span class="p">)</span>
<a name="gbab-15"></a>      <span class="n">ext</span>
<a name="gbab-16"></a>    <span class="k">end</span>
<a name="gbab-17"></a>
<a name="gbab-18"></a>    <span class="k">def</span> <span class="nf">convert</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-19"></a>      <span class="n">content</span>
<a name="gbab-20"></a>    <span class="k">end</span>
<a name="gbab-21"></a>  <span class="k">end</span>
<a name="gbab-22"></a>  <span class="k">end</span>
<a name="gbab-23"></a><span class="k">end</span>
</pre></div>
</td></tr></table>