<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">Converter</span> <span class="o">&lt;</span> <span class="no">Plugin</span>
<a name="gbab-5"></a>    <span class="c1"># Public: Get or set the highlighter prefix. When an argument is specified,</span>
<a name="gbab-6"></a>    <span class="c1"># the prefix will be set. If no argument is specified, the current prefix</span>
<a name="gbab-7"></a>    <span class="c1"># will be returned.</span>
<a name="gbab-8"></a>    <span class="c1">#</span>
<a name="gbab-9"></a>    <span class="c1"># highlighter_prefix - The String prefix (default: nil).</span>
<a name="gbab-10"></a>    <span class="c1">#</span>
<a name="gbab-11"></a>    <span class="c1"># Returns the String prefix.</span>
<a name="gbab-12"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">highlighter_prefix</span><span class="p">(</span><span class="n">highlighter_prefix</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-13"></a>      <span class="k">unless</span> <span class="n">defined?</span><span class="p">(</span><span class="vi">@highlighter_prefix</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">highlighter_prefix</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-14"></a>        <span class="vi">@highlighter_prefix</span> <span class="o">=</span> <span class="n">highlighter_prefix</span>
<a name="gbab-15"></a>      <span class="k">end</span>
<a name="gbab-16"></a>      <span class="vi">@highlighter_prefix</span>
<a name="gbab-17"></a>      <span class="k">end</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a>    <span class="c1"># Public: Get or set the highlighter suffix. When an argument is specified,</span>
<a name="gbab-20"></a>    <span class="c1"># the suffix will be set. If no argument is specified, the current suffix</span>
<a name="gbab-21"></a>    <span class="c1"># will be returned.</span>
<a name="gbab-22"></a>    <span class="c1">#</span>
<a name="gbab-23"></a>    <span class="c1"># highlighter_suffix - The String suffix (default: nil).</span>
<a name="gbab-24"></a>    <span class="c1">#</span>
<a name="gbab-25"></a>    <span class="c1"># Returns the String suffix.</span>
<a name="gbab-26"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">highlighter_suffix</span><span class="p">(</span><span class="n">highlighter_suffix</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-27"></a>      <span class="k">unless</span> <span class="n">defined?</span><span class="p">(</span><span class="vi">@highlighter_suffix</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">highlighter_suffix</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-28"></a>        <span class="vi">@highlighter_suffix</span> <span class="o">=</span> <span class="n">highlighter_suffix</span>
<a name="gbab-29"></a>      <span class="k">end</span>
<a name="gbab-30"></a>      <span class="vi">@highlighter_suffix</span>
<a name="gbab-31"></a>      <span class="k">end</span>
<a name="gbab-32"></a>
<a name="gbab-33"></a>    <span class="c1"># Initialize the converter.</span>
<a name="gbab-34"></a>    <span class="c1">#</span>
<a name="gbab-35"></a>    <span class="c1"># Returns an initialized Converter.</span>
<a name="gbab-36"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">config</span> <span class="o">=</span> <span class="p">{})</span>
<a name="gbab-37"></a>      <span class="vi">@config</span> <span class="o">=</span> <span class="n">config</span>
<a name="gbab-38"></a>    <span class="k">end</span>
<a name="gbab-39"></a>
<a name="gbab-40"></a>    <span class="c1"># Get the highlighter prefix.</span>
<a name="gbab-41"></a>    <span class="c1">#</span>
<a name="gbab-42"></a>    <span class="c1"># Returns the String prefix.</span>
<a name="gbab-43"></a>    <span class="k">def</span> <span class="nf">highlighter_prefix</span>
<a name="gbab-44"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">highlighter_prefix</span>
<a name="gbab-45"></a>    <span class="k">end</span>
<a name="gbab-46"></a>
<a name="gbab-47"></a>    <span class="c1"># Get the highlighter suffix.</span>
<a name="gbab-48"></a>    <span class="c1">#</span>
<a name="gbab-49"></a>    <span class="c1"># Returns the String suffix.</span>
<a name="gbab-50"></a>    <span class="k">def</span> <span class="nf">highlighter_suffix</span>
<a name="gbab-51"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">highlighter_suffix</span>
<a name="gbab-52"></a>    <span class="k">end</span>
<a name="gbab-53"></a>  <span class="k">end</span>
<a name="gbab-54"></a><span class="k">end</span>
</pre></div>
</td></tr></table>