<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;webrick&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-6"></a>  <span class="k">module</span> <span class="nn">Commands</span>
<a name="gbab-7"></a>    <span class="k">class</span> <span class="nc">Serve</span>
<a name="gbab-8"></a>      <span class="c1"># This class is used to determine if the Servlet should modify a served file</span>
<a name="gbab-9"></a>      <span class="c1"># to insert the LiveReload script tags</span>
<a name="gbab-10"></a>      <span class="k">class</span> <span class="nc">SkipAnalyzer</span>
<a name="gbab-11"></a>        <span class="no">BAD_USER_AGENTS</span> <span class="o">=</span> <span class="o">[</span><span class="sr">%r!MSIE!</span><span class="o">].</span><span class="n">freeze</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>        <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">skip_processing?</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="n">response</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span>
<a name="gbab-14"></a>          <span class="kp">new</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="n">response</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span><span class="o">.</span><span class="n">skip_processing?</span>
<a name="gbab-15"></a>        <span class="k">end</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>        <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="n">response</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span>
<a name="gbab-18"></a>          <span class="vi">@options</span> <span class="o">=</span> <span class="n">options</span>
<a name="gbab-19"></a>          <span class="vi">@request</span> <span class="o">=</span> <span class="n">request</span>
<a name="gbab-20"></a>          <span class="vi">@response</span> <span class="o">=</span> <span class="n">response</span>
<a name="gbab-21"></a>        <span class="k">end</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>        <span class="k">def</span> <span class="nf">skip_processing?</span>
<a name="gbab-24"></a>          <span class="o">!</span><span class="n">html?</span> <span class="o">||</span> <span class="n">chunked?</span> <span class="o">||</span> <span class="n">inline?</span> <span class="o">||</span> <span class="n">bad_browser?</span>
<a name="gbab-25"></a>        <span class="k">end</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>        <span class="k">def</span> <span class="nf">chunked?</span>
<a name="gbab-28"></a>          <span class="vi">@response</span><span class="o">[</span><span class="s2">&quot;Transfer-Encoding&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;chunked&quot;</span>
<a name="gbab-29"></a>        <span class="k">end</span>
<a name="gbab-30"></a>
<a name="gbab-31"></a>        <span class="k">def</span> <span class="nf">inline?</span>
<a name="gbab-32"></a>          <span class="vi">@response</span><span class="o">[</span><span class="s2">&quot;Content-Disposition&quot;</span><span class="o">]</span> <span class="o">=~</span> <span class="sr">%r!^inline!</span>
<a name="gbab-33"></a>        <span class="k">end</span>
<a name="gbab-34"></a>
<a name="gbab-35"></a>        <span class="k">def</span> <span class="nf">bad_browser?</span>
<a name="gbab-36"></a>          <span class="no">BAD_USER_AGENTS</span><span class="o">.</span><span class="n">any?</span> <span class="p">{</span> <span class="o">|</span><span class="n">pattern</span><span class="o">|</span> <span class="vi">@request</span><span class="o">[</span><span class="s2">&quot;User-Agent&quot;</span><span class="o">]</span> <span class="o">=~</span> <span class="n">pattern</span> <span class="p">}</span>
<a name="gbab-37"></a>        <span class="k">end</span>
<a name="gbab-38"></a>
<a name="gbab-39"></a>        <span class="k">def</span> <span class="nf">html?</span>
<a name="gbab-40"></a>          <span class="vi">@response</span><span class="o">[</span><span class="s2">&quot;Content-Type&quot;</span><span class="o">]</span> <span class="o">=~</span> <span class="sr">%r!text/html!</span>
<a name="gbab-41"></a>        <span class="k">end</span>
<a name="gbab-42"></a>      <span class="k">end</span>
<a name="gbab-43"></a>
<a name="gbab-44"></a>      <span class="c1"># This class inserts the LiveReload script tags into HTML as it is served</span>
<a name="gbab-45"></a>      <span class="k">class</span> <span class="nc">BodyProcessor</span>
<a name="gbab-46"></a>        <span class="no">HEAD_TAG_REGEX</span> <span class="o">=</span> <span class="sr">%r!&lt;head&gt;|&lt;head[^(er)][^&lt;]*&gt;!</span>
<a name="gbab-47"></a>
<a name="gbab-48"></a>        <span class="kp">attr_reader</span> <span class="ss">:content_length</span><span class="p">,</span> <span class="ss">:new_body</span><span class="p">,</span> <span class="ss">:livereload_added</span>
<a name="gbab-49"></a>
<a name="gbab-50"></a>        <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">body</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span>
<a name="gbab-51"></a>          <span class="vi">@body</span> <span class="o">=</span> <span class="n">body</span>
<a name="gbab-52"></a>          <span class="vi">@options</span> <span class="o">=</span> <span class="n">options</span>
<a name="gbab-53"></a>          <span class="vi">@processed</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-54"></a>        <span class="k">end</span>
<a name="gbab-55"></a>
<a name="gbab-56"></a>        <span class="k">def</span> <span class="nf">processed?</span>
<a name="gbab-57"></a>          <span class="vi">@processed</span>
<a name="gbab-58"></a>        <span class="k">end</span>
<a name="gbab-59"></a>
<a name="gbab-60"></a>        <span class="c1"># rubocop:disable Metrics/MethodLength</span>
<a name="gbab-61"></a>        <span class="k">def</span> <span class="nf">process!</span>
<a name="gbab-62"></a>          <span class="vi">@new_body</span> <span class="o">=</span> <span class="o">[]</span>
<a name="gbab-63"></a>          <span class="c1"># @body will usually be a File object but Strings occur in rare cases</span>
<a name="gbab-64"></a>          <span class="k">if</span> <span class="vi">@body</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:each</span><span class="p">)</span>
<a name="gbab-65"></a>            <span class="k">begin</span>
<a name="gbab-66"></a>              <span class="vi">@body</span><span class="o">.</span><span class="n">each</span> <span class="p">{</span> <span class="o">|</span><span class="n">line</span><span class="o">|</span> <span class="vi">@new_body</span> <span class="o">&lt;&lt;</span> <span class="n">line</span><span class="o">.</span><span class="n">to_s</span> <span class="p">}</span>
<a name="gbab-67"></a>            <span class="k">ensure</span>
<a name="gbab-68"></a>              <span class="vi">@body</span><span class="o">.</span><span class="n">close</span>
<a name="gbab-69"></a>            <span class="k">end</span>
<a name="gbab-70"></a>          <span class="k">else</span>
<a name="gbab-71"></a>            <span class="vi">@new_body</span> <span class="o">=</span> <span class="vi">@body</span><span class="o">.</span><span class="n">lines</span>
<a name="gbab-72"></a>          <span class="k">end</span>
<a name="gbab-73"></a>
<a name="gbab-74"></a>          <span class="vi">@content_length</span> <span class="o">=</span> <span class="mi">0</span>
<a name="gbab-75"></a>          <span class="vi">@livereload_added</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-76"></a>
<a name="gbab-77"></a>          <span class="vi">@new_body</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">line</span><span class="o">|</span>
<a name="gbab-78"></a>            <span class="k">if</span> <span class="o">!</span><span class="vi">@livereload_added</span> <span class="o">&amp;&amp;</span> <span class="n">line</span><span class="o">[</span><span class="s2">&quot;&lt;head&quot;</span><span class="o">]</span>
<a name="gbab-79"></a>              <span class="n">line</span><span class="o">.</span><span class="n">gsub!</span><span class="p">(</span><span class="no">HEAD_TAG_REGEX</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">match</span><span class="o">|</span>
<a name="gbab-80"></a>                <span class="sx">%(</span><span class="si">#{</span><span class="n">match</span><span class="si">}#{</span><span class="n">template</span><span class="o">.</span><span class="n">result</span><span class="p">(</span><span class="nb">binding</span><span class="p">)</span><span class="si">}</span><span class="sx">)</span>
<a name="gbab-81"></a>              <span class="k">end</span>
<a name="gbab-82"></a>
<a name="gbab-83"></a>              <span class="vi">@livereload_added</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-84"></a>            <span class="k">end</span>
<a name="gbab-85"></a>
<a name="gbab-86"></a>            <span class="vi">@content_length</span> <span class="o">+=</span> <span class="n">line</span><span class="o">.</span><span class="n">bytesize</span>
<a name="gbab-87"></a>            <span class="vi">@processed</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-88"></a>          <span class="k">end</span>
<a name="gbab-89"></a>          <span class="vi">@new_body</span> <span class="o">=</span> <span class="vi">@new_body</span><span class="o">.</span><span class="n">join</span>
<a name="gbab-90"></a>        <span class="k">end</span>
<a name="gbab-91"></a>
<a name="gbab-92"></a>        <span class="k">def</span> <span class="nf">template</span>
<a name="gbab-93"></a>          <span class="c1"># Unclear what &quot;snipver&quot; does. Doc at</span>
<a name="gbab-94"></a>          <span class="c1"># https://github.com/livereload/livereload-js states that the recommended</span>
<a name="gbab-95"></a>          <span class="c1"># setting is 1.</span>
<a name="gbab-96"></a>
<a name="gbab-97"></a>          <span class="c1"># Complicated JavaScript to ensure that livereload.js is loaded from the</span>
<a name="gbab-98"></a>          <span class="c1"># same origin as the page.  Mostly useful for dealing with the browser&#39;s</span>
<a name="gbab-99"></a>          <span class="c1"># distinction between &#39;localhost&#39; and 127.0.0.1</span>
<a name="gbab-100"></a>          <span class="n">template</span> <span class="o">=</span> <span class="o">&lt;&lt;-</span><span class="no">TEMPLATE</span>
<a name="gbab-101"></a><span class="sh">          &lt;script&gt;</span>
<a name="gbab-102"></a><span class="sh">            document.write(</span>
<a name="gbab-103"></a><span class="sh">              &#39;&lt;script src=&quot;http://&#39; +</span>
<a name="gbab-104"></a><span class="sh">              (location.host || &#39;localhost&#39;).split(&#39;:&#39;)[0] +</span>
<a name="gbab-105"></a><span class="sh">              &#39;:&lt;%=@options[&quot;livereload_port&quot;] %&gt;/livereload.js?snipver=1&lt;%= livereload_args %&gt;&quot;&#39; +</span>
<a name="gbab-106"></a><span class="sh">              &#39;&gt;&lt;/&#39; +</span>
<a name="gbab-107"></a><span class="sh">              &#39;script&gt;&#39;);</span>
<a name="gbab-108"></a><span class="sh">          &lt;/script&gt;</span>
<a name="gbab-109"></a><span class="no">          TEMPLATE</span>
<a name="gbab-110"></a>          <span class="no">ERB</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">.</span><span class="n">strip_heredoc</span><span class="p">(</span><span class="n">template</span><span class="p">))</span>
<a name="gbab-111"></a>        <span class="k">end</span>
<a name="gbab-112"></a>
<a name="gbab-113"></a>        <span class="k">def</span> <span class="nf">livereload_args</span>
<a name="gbab-114"></a>          <span class="c1"># XHTML standard requires ampersands to be encoded as entities when in</span>
<a name="gbab-115"></a>          <span class="c1"># attributes. See http://stackoverflow.com/a/2190292</span>
<a name="gbab-116"></a>          <span class="n">src</span> <span class="o">=</span> <span class="s2">&quot;&quot;</span>
<a name="gbab-117"></a>          <span class="k">if</span> <span class="vi">@options</span><span class="o">[</span><span class="s2">&quot;livereload_min_delay&quot;</span><span class="o">]</span>
<a name="gbab-118"></a>            <span class="n">src</span> <span class="o">+=</span> <span class="s2">&quot;&amp;amp;mindelay=</span><span class="si">#{</span><span class="vi">@options</span><span class="o">[</span><span class="s2">&quot;livereload_min_delay&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-119"></a>          <span class="k">end</span>
<a name="gbab-120"></a>          <span class="k">if</span> <span class="vi">@options</span><span class="o">[</span><span class="s2">&quot;livereload_max_delay&quot;</span><span class="o">]</span>
<a name="gbab-121"></a>            <span class="n">src</span> <span class="o">+=</span> <span class="s2">&quot;&amp;amp;maxdelay=</span><span class="si">#{</span><span class="vi">@options</span><span class="o">[</span><span class="s2">&quot;livereload_max_delay&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-122"></a>          <span class="k">end</span>
<a name="gbab-123"></a>          <span class="k">if</span> <span class="vi">@options</span><span class="o">[</span><span class="s2">&quot;livereload_port&quot;</span><span class="o">]</span>
<a name="gbab-124"></a>            <span class="n">src</span> <span class="o">+=</span> <span class="s2">&quot;&amp;amp;port=</span><span class="si">#{</span><span class="vi">@options</span><span class="o">[</span><span class="s2">&quot;livereload_port&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-125"></a>          <span class="k">end</span>
<a name="gbab-126"></a>          <span class="n">src</span>
<a name="gbab-127"></a>        <span class="k">end</span>
<a name="gbab-128"></a>      <span class="k">end</span>
<a name="gbab-129"></a>
<a name="gbab-130"></a>      <span class="c1"># This class is used to determine if the Servlet should modify a served file</span>
<a name="gbab-131"></a>      <span class="c1"># to insert the LiveReload script tags</span>
<a name="gbab-132"></a>      <span class="k">class</span> <span class="nc">SkipAnalyzer</span>
<a name="gbab-133"></a>        <span class="no">BAD_USER_AGENTS</span> <span class="o">=</span> <span class="o">[</span><span class="sr">%r!MSIE!</span><span class="o">].</span><span class="n">freeze</span>
<a name="gbab-134"></a>
<a name="gbab-135"></a>        <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">skip_processing?</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="n">response</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span>
<a name="gbab-136"></a>          <span class="kp">new</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="n">response</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span><span class="o">.</span><span class="n">skip_processing?</span>
<a name="gbab-137"></a>        <span class="k">end</span>
<a name="gbab-138"></a>
<a name="gbab-139"></a>        <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="n">response</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span>
<a name="gbab-140"></a>          <span class="vi">@options</span> <span class="o">=</span> <span class="n">options</span>
<a name="gbab-141"></a>          <span class="vi">@request</span> <span class="o">=</span> <span class="n">request</span>
<a name="gbab-142"></a>          <span class="vi">@response</span> <span class="o">=</span> <span class="n">response</span>
<a name="gbab-143"></a>        <span class="k">def</span> <span class="nf">search_index_file</span><span class="p">(</span><span class="n">req</span><span class="p">,</span> <span class="n">res</span><span class="p">)</span>
<a name="gbab-144"></a>          <span class="k">super</span> <span class="o">||</span> <span class="n">search_file</span><span class="p">(</span><span class="n">req</span><span class="p">,</span> <span class="n">res</span><span class="p">,</span> <span class="s2">&quot;.html&quot;</span><span class="p">)</span>
<a name="gbab-145"></a>        <span class="k">end</span>
<a name="gbab-146"></a>
<a name="gbab-147"></a>        <span class="k">end</span>
<a name="gbab-148"></a>
<a name="gbab-149"></a>        <span class="k">def</span> <span class="nf">skip_processing?</span>
<a name="gbab-150"></a>          <span class="o">!</span><span class="n">html?</span> <span class="o">||</span> <span class="n">chunked?</span> <span class="o">||</span> <span class="n">inline?</span> <span class="o">||</span> <span class="n">bad_browser?</span>
<a name="gbab-151"></a>        <span class="k">end</span>
<a name="gbab-152"></a>
<a name="gbab-153"></a>          <span class="k">super</span> <span class="o">||</span> <span class="k">super</span><span class="p">(</span><span class="n">req</span><span class="p">,</span> <span class="n">res</span><span class="p">,</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">basename</span><span class="si">}</span><span class="s2">.html&quot;</span><span class="p">)</span>
<a name="gbab-154"></a>          <span class="vi">@response</span><span class="o">[</span><span class="s2">&quot;Transfer-Encoding&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;chunked&quot;</span>
<a name="gbab-155"></a>        <span class="k">end</span>
<a name="gbab-156"></a>
<a name="gbab-157"></a>        <span class="k">def</span> <span class="nf">inline?</span>
<a name="gbab-158"></a>          <span class="vi">@response</span><span class="o">[</span><span class="s2">&quot;Content-Disposition&quot;</span><span class="o">]</span> <span class="o">=~</span> <span class="sr">%r!^inline!</span>
<a name="gbab-159"></a>
<a name="gbab-160"></a>          <span class="k">if</span> <span class="vi">@jekyll_opts</span><span class="o">[</span><span class="s2">&quot;livereload&quot;</span><span class="o">]</span>
<a name="gbab-161"></a>            <span class="k">return</span> <span class="n">rtn</span> <span class="k">if</span> <span class="no">SkipAnalyzer</span><span class="o">.</span><span class="n">skip_processing?</span><span class="p">(</span><span class="n">req</span><span class="p">,</span> <span class="n">res</span><span class="p">,</span> <span class="vi">@jekyll_opts</span><span class="p">)</span>
<a name="gbab-162"></a>
<a name="gbab-163"></a>            <span class="n">processor</span> <span class="o">=</span> <span class="no">BodyProcessor</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">res</span><span class="o">.</span><span class="n">body</span><span class="p">,</span> <span class="vi">@jekyll_opts</span><span class="p">)</span>
<a name="gbab-164"></a>            <span class="n">processor</span><span class="o">.</span><span class="n">process!</span>
<a name="gbab-165"></a>            <span class="n">res</span><span class="o">.</span><span class="n">body</span> <span class="o">=</span> <span class="n">processor</span><span class="o">.</span><span class="n">new_body</span>
<a name="gbab-166"></a>            <span class="n">res</span><span class="o">.</span><span class="n">content_length</span> <span class="o">=</span> <span class="n">processor</span><span class="o">.</span><span class="n">content_length</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-167"></a>
<a name="gbab-168"></a>            <span class="k">if</span> <span class="n">processor</span><span class="o">.</span><span class="n">livereload_added</span>
<a name="gbab-169"></a>              <span class="c1"># Add a header to indicate that the page content has been modified</span>
<a name="gbab-170"></a>              <span class="n">res</span><span class="o">[</span><span class="s2">&quot;X-Rack-LiveReload&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;1&quot;</span>
<a name="gbab-171"></a>            <span class="k">end</span>
<a name="gbab-172"></a>          <span class="k">end</span>
<a name="gbab-173"></a>
<a name="gbab-174"></a>        <span class="k">end</span>
<a name="gbab-175"></a>
<a name="gbab-176"></a>        <span class="k">def</span> <span class="nf">bad_browser?</span>
<a name="gbab-177"></a>          <span class="no">BAD_USER_AGENTS</span><span class="o">.</span><span class="n">any?</span> <span class="p">{</span> <span class="o">|</span><span class="n">pattern</span><span class="o">|</span> <span class="vi">@request</span><span class="o">[</span><span class="s2">&quot;User-Agent&quot;</span><span class="o">]</span> <span class="o">=~</span> <span class="n">pattern</span> <span class="p">}</span>
<a name="gbab-178"></a>        <span class="k">end</span>
<a name="gbab-179"></a>
<a name="gbab-180"></a>        <span class="k">def</span> <span class="nf">html?</span>
<a name="gbab-181"></a>          <span class="vi">@response</span><span class="o">[</span><span class="s2">&quot;Content-Type&quot;</span><span class="o">]</span> <span class="o">=~</span> <span class="sr">%r!text/html!</span>
<a name="gbab-182"></a>        <span class="k">end</span>
<a name="gbab-183"></a>      <span class="k">end</span>
<a name="gbab-184"></a>
<a name="gbab-185"></a>      <span class="c1"># This class inserts the LiveReload script tags into HTML as it is served</span>
<a name="gbab-186"></a>      <span class="k">class</span> <span class="nc">BodyProcessor</span>
<a name="gbab-187"></a>        <span class="no">HEAD_TAG_REGEX</span> <span class="o">=</span> <span class="sr">%r!&lt;head&gt;|&lt;head[^(er)][^&lt;]*&gt;!</span>
<a name="gbab-188"></a>
<a name="gbab-189"></a>        <span class="kp">attr_reader</span> <span class="ss">:content_length</span><span class="p">,</span> <span class="ss">:new_body</span><span class="p">,</span> <span class="ss">:livereload_added</span>
<a name="gbab-190"></a>
<a name="gbab-191"></a>        <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">body</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span>
<a name="gbab-192"></a>          <span class="vi">@body</span> <span class="o">=</span> <span class="n">body</span>
<a name="gbab-193"></a>          <span class="vi">@options</span> <span class="o">=</span> <span class="n">options</span>
<a name="gbab-194"></a>          <span class="vi">@processed</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-195"></a>        <span class="k">end</span>
<a name="gbab-196"></a>
<a name="gbab-197"></a>        <span class="k">def</span> <span class="nf">processed?</span>
<a name="gbab-198"></a>          <span class="vi">@processed</span>
<a name="gbab-199"></a>        <span class="k">end</span>
<a name="gbab-200"></a>
<a name="gbab-201"></a>        <span class="c1"># rubocop:disable Metrics/MethodLength</span>
<a name="gbab-202"></a>        <span class="k">def</span> <span class="nf">process!</span>
<a name="gbab-203"></a>          <span class="vi">@new_body</span> <span class="o">=</span> <span class="o">[]</span>
<a name="gbab-204"></a>          <span class="c1"># @body will usually be a File object but Strings occur in rare cases</span>
<a name="gbab-205"></a>          <span class="k">if</span> <span class="vi">@body</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:each</span><span class="p">)</span>
<a name="gbab-206"></a>            <span class="k">begin</span>
<a name="gbab-207"></a>              <span class="vi">@body</span><span class="o">.</span><span class="n">each</span> <span class="p">{</span> <span class="o">|</span><span class="n">line</span><span class="o">|</span> <span class="vi">@new_body</span> <span class="o">&lt;&lt;</span> <span class="n">line</span><span class="o">.</span><span class="n">to_s</span> <span class="p">}</span>
<a name="gbab-208"></a>            <span class="k">ensure</span>
<a name="gbab-209"></a>              <span class="vi">@body</span><span class="o">.</span><span class="n">close</span>
<a name="gbab-210"></a>            <span class="k">end</span>
<a name="gbab-211"></a>          <span class="k">else</span>
<a name="gbab-212"></a>            <span class="vi">@new_body</span> <span class="o">=</span> <span class="vi">@body</span><span class="o">.</span><span class="n">lines</span>
<a name="gbab-213"></a>          <span class="k">end</span>
<a name="gbab-214"></a>
<a name="gbab-215"></a>          <span class="vi">@content_length</span> <span class="o">=</span> <span class="mi">0</span>
<a name="gbab-216"></a>          <span class="vi">@livereload_added</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-217"></a>
<a name="gbab-218"></a>          <span class="vi">@new_body</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">line</span><span class="o">|</span>
<a name="gbab-219"></a>            <span class="k">if</span> <span class="o">!</span><span class="vi">@livereload_added</span> <span class="o">&amp;&amp;</span> <span class="n">line</span><span class="o">[</span><span class="s2">&quot;&lt;head&quot;</span><span class="o">]</span>
<a name="gbab-220"></a>              <span class="n">line</span><span class="o">.</span><span class="n">gsub!</span><span class="p">(</span><span class="no">HEAD_TAG_REGEX</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">match</span><span class="o">|</span>
<a name="gbab-221"></a>                <span class="sx">%(</span><span class="si">#{</span><span class="n">match</span><span class="si">}#{</span><span class="n">template</span><span class="o">.</span><span class="n">result</span><span class="p">(</span><span class="nb">binding</span><span class="p">)</span><span class="si">}</span><span class="sx">)</span>
<a name="gbab-222"></a>              <span class="k">end</span>
<a name="gbab-223"></a>
<a name="gbab-224"></a>              <span class="vi">@livereload_added</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-225"></a>            <span class="k">end</span>
<a name="gbab-226"></a>
<a name="gbab-227"></a>            <span class="vi">@content_length</span> <span class="o">+=</span> <span class="n">line</span><span class="o">.</span><span class="n">bytesize</span>
<a name="gbab-228"></a>            <span class="vi">@processed</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-229"></a>          <span class="k">end</span>
<a name="gbab-230"></a>          <span class="vi">@new_body</span> <span class="o">=</span> <span class="vi">@new_body</span><span class="o">.</span><span class="n">join</span>
<a name="gbab-231"></a>        <span class="k">end</span>
<a name="gbab-232"></a>
<a name="gbab-233"></a>        <span class="k">def</span> <span class="nf">template</span>
<a name="gbab-234"></a>          <span class="c1"># Unclear what &quot;snipver&quot; does. Doc at</span>
<a name="gbab-235"></a>          <span class="c1"># https://github.com/livereload/livereload-js states that the recommended</span>
<a name="gbab-236"></a>          <span class="c1"># setting is 1.</span>
<a name="gbab-237"></a>
<a name="gbab-238"></a>          <span class="c1"># Complicated JavaScript to ensure that livereload.js is loaded from the</span>
<a name="gbab-239"></a>          <span class="c1"># same origin as the page.  Mostly useful for dealing with the browser&#39;s</span>
<a name="gbab-240"></a>          <span class="c1"># distinction between &#39;localhost&#39; and 127.0.0.1</span>
<a name="gbab-241"></a>          <span class="n">template</span> <span class="o">=</span> <span class="o">&lt;&lt;-</span><span class="no">TEMPLATE</span>
<a name="gbab-242"></a><span class="sh">          &lt;script&gt;</span>
<a name="gbab-243"></a><span class="sh">            document.write(</span>
<a name="gbab-244"></a><span class="sh">              &#39;&lt;script src=&quot;http://&#39; +</span>
<a name="gbab-245"></a><span class="sh">              (location.host || &#39;localhost&#39;).split(&#39;:&#39;)[0] +</span>
<a name="gbab-246"></a><span class="sh">              &#39;:&lt;%=@options[&quot;livereload_port&quot;] %&gt;/livereload.js?snipver=1&lt;%= livereload_args %&gt;&quot;&#39; +</span>
<a name="gbab-247"></a><span class="sh">              &#39;&gt;&lt;/&#39; +</span>
<a name="gbab-248"></a><span class="sh">              &#39;script&gt;&#39;);</span>
<a name="gbab-249"></a><span class="sh">          &lt;/script&gt;</span>
<a name="gbab-250"></a><span class="no">          TEMPLATE</span>
<a name="gbab-251"></a>          <span class="no">ERB</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">.</span><span class="n">strip_heredoc</span><span class="p">(</span><span class="n">template</span><span class="p">))</span>
<a name="gbab-252"></a>        <span class="k">end</span>
<a name="gbab-253"></a>
<a name="gbab-254"></a>        <span class="k">def</span> <span class="nf">livereload_args</span>
<a name="gbab-255"></a>          <span class="c1"># XHTML standard requires ampersands to be encoded as entities when in</span>
<a name="gbab-256"></a>          <span class="c1"># attributes. See http://stackoverflow.com/a/2190292</span>
<a name="gbab-257"></a>          <span class="n">src</span> <span class="o">=</span> <span class="s2">&quot;&quot;</span>
<a name="gbab-258"></a>          <span class="k">if</span> <span class="vi">@options</span><span class="o">[</span><span class="s2">&quot;livereload_min_delay&quot;</span><span class="o">]</span>
<a name="gbab-259"></a>            <span class="n">src</span> <span class="o">+=</span> <span class="s2">&quot;&amp;amp;mindelay=</span><span class="si">#{</span><span class="vi">@options</span><span class="o">[</span><span class="s2">&quot;livereload_min_delay&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-260"></a>          <span class="k">end</span>
<a name="gbab-261"></a>          <span class="k">if</span> <span class="vi">@options</span><span class="o">[</span><span class="s2">&quot;livereload_max_delay&quot;</span><span class="o">]</span>
<a name="gbab-262"></a>            <span class="n">src</span> <span class="o">+=</span> <span class="s2">&quot;&amp;amp;maxdelay=</span><span class="si">#{</span><span class="vi">@options</span><span class="o">[</span><span class="s2">&quot;livereload_max_delay&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-263"></a>          <span class="k">end</span>
<a name="gbab-264"></a>          <span class="k">if</span> <span class="vi">@options</span><span class="o">[</span><span class="s2">&quot;livereload_port&quot;</span><span class="o">]</span>
<a name="gbab-265"></a>            <span class="n">src</span> <span class="o">+=</span> <span class="s2">&quot;&amp;amp;port=</span><span class="si">#{</span><span class="vi">@options</span><span class="o">[</span><span class="s2">&quot;livereload_port&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-266"></a>          <span class="k">end</span>
<a name="gbab-267"></a>          <span class="n">src</span>
<a name="gbab-268"></a>        <span class="k">end</span>
<a name="gbab-269"></a>      <span class="k">end</span>
<a name="gbab-270"></a>
<a name="gbab-271"></a>      <span class="k">class</span> <span class="nc">Servlet</span> <span class="o">&lt;</span> <span class="no">WEBrick</span><span class="o">::</span><span class="no">HTTPServlet</span><span class="o">::</span><span class="no">FileHandler</span>
<a name="gbab-272"></a>        <span class="no">DEFAULTS</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-273"></a>          <span class="s2">&quot;Cache-Control&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;private, max-age=0, proxy-revalidate, &quot;</span> <span class="p">\</span>
<a name="gbab-274"></a>            <span class="s2">&quot;no-store, no-cache, must-revalidate&quot;</span><span class="p">,</span>
<a name="gbab-275"></a>        <span class="p">}</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-276"></a>
<a name="gbab-277"></a>        <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">server</span><span class="p">,</span> <span class="n">root</span><span class="p">,</span> <span class="n">callbacks</span><span class="p">)</span>
<a name="gbab-278"></a>          <span class="c1"># So we can access them easily.</span>
<a name="gbab-279"></a>          <span class="vi">@jekyll_opts</span> <span class="o">=</span> <span class="n">server</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="ss">:JekyllOptions</span><span class="o">]</span>
<a name="gbab-280"></a>          <span class="n">set_defaults</span>
<a name="gbab-281"></a>          <span class="k">super</span>
<a name="gbab-282"></a>        <span class="k">end</span>
<a name="gbab-283"></a>
<a name="gbab-284"></a>        <span class="k">def</span> <span class="nf">search_index_file</span><span class="p">(</span><span class="n">req</span><span class="p">,</span> <span class="n">res</span><span class="p">)</span>
<a name="gbab-285"></a>          <span class="k">super</span> <span class="o">||</span> <span class="n">search_file</span><span class="p">(</span><span class="n">req</span><span class="p">,</span> <span class="n">res</span><span class="p">,</span> <span class="s2">&quot;.html&quot;</span><span class="p">)</span>
<a name="gbab-286"></a>        <span class="k">end</span>
<a name="gbab-287"></a>
<a name="gbab-288"></a>        <span class="c1"># Add the ability to tap file.html the same way that Nginx does on our</span>
<a name="gbab-289"></a>        <span class="c1"># Docker images (or on GitHub Pages.) The difference is that we might end</span>
<a name="gbab-290"></a>        <span class="c1"># up with a different preference on which comes first.</span>
<a name="gbab-291"></a>
<a name="gbab-292"></a>        <span class="k">def</span> <span class="nf">search_file</span><span class="p">(</span><span class="n">req</span><span class="p">,</span> <span class="n">res</span><span class="p">,</span> <span class="n">basename</span><span class="p">)</span>
<a name="gbab-293"></a>          <span class="c1"># /file.* &gt; /file/index.html &gt; /file.html</span>
<a name="gbab-294"></a>          <span class="k">super</span> <span class="o">||</span> <span class="k">super</span><span class="p">(</span><span class="n">req</span><span class="p">,</span> <span class="n">res</span><span class="p">,</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">basename</span><span class="si">}</span><span class="s2">.html&quot;</span><span class="p">)</span>
<a name="gbab-295"></a>          <span class="k">end</span>
<a name="gbab-296"></a>
<a name="gbab-297"></a>        <span class="c1"># rubocop:disable Naming/MethodName</span>
<a name="gbab-298"></a>        <span class="k">def</span> <span class="nf">do_GET</span><span class="p">(</span><span class="n">req</span><span class="p">,</span> <span class="n">res</span><span class="p">)</span>
<a name="gbab-299"></a>          <span class="n">rtn</span> <span class="o">=</span> <span class="k">super</span>
<a name="gbab-300"></a>
<a name="gbab-301"></a>          <span class="k">if</span> <span class="vi">@jekyll_opts</span><span class="o">[</span><span class="s2">&quot;livereload&quot;</span><span class="o">]</span>
<a name="gbab-302"></a>            <span class="k">return</span> <span class="n">rtn</span> <span class="k">if</span> <span class="no">SkipAnalyzer</span><span class="o">.</span><span class="n">skip_processing?</span><span class="p">(</span><span class="n">req</span><span class="p">,</span> <span class="n">res</span><span class="p">,</span> <span class="vi">@jekyll_opts</span><span class="p">)</span>
<a name="gbab-303"></a>
<a name="gbab-304"></a>            <span class="n">processor</span> <span class="o">=</span> <span class="no">BodyProcessor</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">res</span><span class="o">.</span><span class="n">body</span><span class="p">,</span> <span class="vi">@jekyll_opts</span><span class="p">)</span>
<a name="gbab-305"></a>            <span class="n">processor</span><span class="o">.</span><span class="n">process!</span>
<a name="gbab-306"></a>            <span class="n">res</span><span class="o">.</span><span class="n">body</span> <span class="o">=</span> <span class="n">processor</span><span class="o">.</span><span class="n">new_body</span>
<a name="gbab-307"></a>            <span class="n">res</span><span class="o">.</span><span class="n">content_length</span> <span class="o">=</span> <span class="n">processor</span><span class="o">.</span><span class="n">content_length</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-308"></a>
<a name="gbab-309"></a>            <span class="k">if</span> <span class="n">processor</span><span class="o">.</span><span class="n">livereload_added</span>
<a name="gbab-310"></a>              <span class="c1"># Add a header to indicate that the page content has been modified</span>
<a name="gbab-311"></a>              <span class="n">res</span><span class="o">[</span><span class="s2">&quot;X-Rack-LiveReload&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;1&quot;</span>
<a name="gbab-312"></a>            <span class="k">end</span>
<a name="gbab-313"></a>          <span class="k">end</span>
<a name="gbab-314"></a>
<a name="gbab-315"></a>          <span class="n">validate_and_ensure_charset</span><span class="p">(</span><span class="n">req</span><span class="p">,</span> <span class="n">res</span><span class="p">)</span>
<a name="gbab-316"></a>          <span class="n">res</span><span class="o">.</span><span class="n">header</span><span class="o">.</span><span class="n">merge!</span><span class="p">(</span><span class="vi">@headers</span><span class="p">)</span>
<a name="gbab-317"></a>          <span class="n">rtn</span>
<a name="gbab-318"></a>        <span class="k">end</span>
<a name="gbab-319"></a>
<a name="gbab-320"></a>        <span class="c1">#</span>
<a name="gbab-321"></a>
<a name="gbab-322"></a>        <span class="kp">private</span>
<a name="gbab-323"></a>        <span class="k">def</span> <span class="nf">validate_and_ensure_charset</span><span class="p">(</span><span class="n">_req</span><span class="p">,</span> <span class="n">res</span><span class="p">)</span>
<a name="gbab-324"></a>          <span class="n">key</span> <span class="o">=</span> <span class="n">res</span><span class="o">.</span><span class="n">header</span><span class="o">.</span><span class="n">keys</span><span class="o">.</span><span class="n">grep</span><span class="p">(</span><span class="sr">%r!content-type!i</span><span class="p">)</span><span class="o">.</span><span class="n">first</span>
<a name="gbab-325"></a>          <span class="n">typ</span> <span class="o">=</span> <span class="n">res</span><span class="o">.</span><span class="n">header</span><span class="o">[</span><span class="n">key</span><span class="o">]</span>
<a name="gbab-326"></a>
<a name="gbab-327"></a>          <span class="k">unless</span> <span class="n">typ</span> <span class="o">=~</span> <span class="sr">%r!;\s*charset=!</span>
<a name="gbab-328"></a>            <span class="n">res</span><span class="o">.</span><span class="n">header</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">typ</span><span class="si">}</span><span class="s2">; charset=</span><span class="si">#{</span><span class="vi">@jekyll_opts</span><span class="o">[</span><span class="s2">&quot;encoding&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-329"></a>          <span class="k">end</span>
<a name="gbab-330"></a>        <span class="k">end</span>
<a name="gbab-331"></a>
<a name="gbab-332"></a>        <span class="c1">#</span>
<a name="gbab-333"></a>
<a name="gbab-334"></a>        <span class="kp">private</span>
<a name="gbab-335"></a>        <span class="k">def</span> <span class="nf">set_defaults</span>
<a name="gbab-336"></a>          <span class="n">hash_</span> <span class="o">=</span> <span class="vi">@jekyll_opts</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;webrick&quot;</span><span class="p">,</span> <span class="p">{})</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;headers&quot;</span><span class="p">,</span> <span class="p">{})</span>
<a name="gbab-337"></a>          <span class="no">DEFAULTS</span><span class="o">.</span><span class="n">each_with_object</span><span class="p">(</span><span class="vi">@headers</span> <span class="o">=</span> <span class="n">hash_</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="p">(</span><span class="n">key</span><span class="p">,</span> <span class="n">val</span><span class="p">),</span> <span class="nb">hash</span><span class="o">|</span>
<a name="gbab-338"></a>            <span class="nb">hash</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="o">=</span> <span class="n">val</span> <span class="k">unless</span> <span class="nb">hash</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="n">key</span><span class="p">)</span>
<a name="gbab-339"></a>          <span class="k">end</span>
<a name="gbab-340"></a>        <span class="k">end</span>
<a name="gbab-341"></a>      <span class="k">end</span>
<a name="gbab-342"></a>    <span class="k">end</span>
<a name="gbab-343"></a>  <span class="k">end</span>
<a name="gbab-344"></a><span class="k">end</span>
</pre></div>
</td></tr></table>