<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Converters</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">Markdown</span>
<a name="gbab-6"></a>      <span class="k">class</span> <span class="nc">RDiscountParser</span>
<a name="gbab-7"></a>        <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-8"></a>          <span class="k">unless</span> <span class="n">defined?</span><span class="p">(</span><span class="no">RDiscount</span><span class="p">)</span>
<a name="gbab-9"></a>          <span class="no">Jekyll</span><span class="o">::</span><span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span> <span class="s2">&quot;rdiscount&quot;</span>
<a name="gbab-10"></a>          <span class="k">end</span>
<a name="gbab-11"></a>          <span class="vi">@config</span> <span class="o">=</span> <span class="n">config</span>
<a name="gbab-12"></a>          <span class="vi">@rdiscount_extensions</span> <span class="o">=</span> <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;rdiscount&quot;</span><span class="o">][</span><span class="s2">&quot;extensions&quot;</span><span class="o">].</span><span class="n">map</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:to_sym</span><span class="p">)</span>
<a name="gbab-13"></a>        <span class="k">end</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>        <span class="k">def</span> <span class="nf">convert</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-16"></a>          <span class="n">rd</span> <span class="o">=</span> <span class="no">RDiscount</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">content</span><span class="p">,</span> <span class="o">*</span><span class="vi">@rdiscount_extensions</span><span class="p">)</span>
<a name="gbab-17"></a>          <span class="n">html</span> <span class="o">=</span> <span class="n">rd</span><span class="o">.</span><span class="n">to_html</span>
<a name="gbab-18"></a>          <span class="k">if</span> <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;rdiscount&quot;</span><span class="o">][</span><span class="s2">&quot;toc_token&quot;</span><span class="o">]</span>
<a name="gbab-19"></a>            <span class="n">html</span> <span class="o">=</span> <span class="n">replace_generated_toc</span><span class="p">(</span><span class="n">rd</span><span class="p">,</span> <span class="n">html</span><span class="p">,</span> <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;rdiscount&quot;</span><span class="o">][</span><span class="s2">&quot;toc_token&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-20"></a>          <span class="k">end</span>
<a name="gbab-21"></a>          <span class="n">html</span>
<a name="gbab-22"></a>        <span class="k">end</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>        <span class="kp">private</span>
<a name="gbab-25"></a>        <span class="k">def</span> <span class="nf">replace_generated_toc</span><span class="p">(</span><span class="n">rd</span><span class="p">,</span> <span class="n">html</span><span class="p">,</span> <span class="n">toc_token</span><span class="p">)</span>
<a name="gbab-26"></a>          <span class="k">if</span> <span class="n">rd</span><span class="o">.</span><span class="n">generate_toc</span> <span class="o">&amp;&amp;</span> <span class="n">html</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">toc_token</span><span class="p">)</span>
<a name="gbab-27"></a>            <span class="n">utf8_toc</span> <span class="o">=</span> <span class="n">rd</span><span class="o">.</span><span class="n">toc_content</span>
<a name="gbab-28"></a>            <span class="n">utf8_toc</span><span class="o">.</span><span class="n">force_encoding</span><span class="p">(</span><span class="s2">&quot;utf-8&quot;</span><span class="p">)</span> <span class="k">if</span> <span class="n">utf8_toc</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:force_encoding</span><span class="p">)</span>
<a name="gbab-29"></a>            <span class="n">html</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="n">toc_token</span><span class="p">,</span> <span class="n">utf8_toc</span><span class="p">)</span>
<a name="gbab-30"></a>          <span class="k">else</span>
<a name="gbab-31"></a>            <span class="n">html</span>
<a name="gbab-32"></a>          <span class="k">end</span>
<a name="gbab-33"></a>        <span class="k">end</span>
<a name="gbab-34"></a>      <span class="k">end</span>
<a name="gbab-35"></a>    <span class="k">end</span>
<a name="gbab-36"></a>  <span class="k">end</span>
<a name="gbab-37"></a><span class="k">end</span>
</pre></div>
</td></tr></table>