<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># Frozen-string-literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Converters</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">Markdown</span>
<a name="gbab-6"></a>      <span class="k">class</span> <span class="nc">KramdownParser</span>
<a name="gbab-7"></a>        <span class="no">CODERAY_DEFAULTS</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-8"></a>          <span class="s2">&quot;css&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;style&quot;</span><span class="p">,</span>
<a name="gbab-9"></a>          <span class="s2">&quot;bold_every&quot;</span> <span class="o">=&gt;</span> <span class="mi">10</span><span class="p">,</span>
<a name="gbab-10"></a>          <span class="s2">&quot;line_numbers&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;inline&quot;</span><span class="p">,</span>
<a name="gbab-11"></a>          <span class="s2">&quot;line_number_start&quot;</span> <span class="o">=&gt;</span> <span class="mi">1</span><span class="p">,</span>
<a name="gbab-12"></a>          <span class="s2">&quot;tab_width&quot;</span> <span class="o">=&gt;</span> <span class="mi">4</span><span class="p">,</span>
<a name="gbab-13"></a>          <span class="s2">&quot;wrap&quot;</span>              <span class="o">=&gt;</span> <span class="s2">&quot;div&quot;</span><span class="p">,</span>
<a name="gbab-14"></a>        <span class="p">}</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>        <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-17"></a>          <span class="k">unless</span> <span class="n">defined?</span><span class="p">(</span><span class="no">Kramdown</span><span class="p">)</span>
<a name="gbab-18"></a>          <span class="no">Jekyll</span><span class="o">::</span><span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span> <span class="s2">&quot;kramdown&quot;</span>
<a name="gbab-19"></a>          <span class="k">end</span>
<a name="gbab-20"></a>          <span class="vi">@main_fallback_highlighter</span> <span class="o">=</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;highlighter&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="s2">&quot;rouge&quot;</span>
<a name="gbab-21"></a>          <span class="vi">@config</span> <span class="o">=</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;kramdown&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="p">{}</span>
<a name="gbab-22"></a>          <span class="vi">@highlighter</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-23"></a>          <span class="n">setup</span>
<a name="gbab-24"></a>          <span class="k">end</span>
<a name="gbab-25"></a>
<a name="gbab-26"></a>        <span class="c1"># Setup and normalize the configuration:</span>
<a name="gbab-27"></a>        <span class="c1">#   * Create Kramdown if it doesn&#39;t exist.</span>
<a name="gbab-28"></a>        <span class="c1">#   * Set syntax_highlighter, detecting enable_coderay and merging</span>
<a name="gbab-29"></a>        <span class="c1">#       highlighter if none.</span>
<a name="gbab-30"></a>        <span class="c1">#   * Merge kramdown[coderay] into syntax_highlighter_opts stripping coderay_.</span>
<a name="gbab-31"></a>        <span class="c1">#   * Make sure `syntax_highlighter_opts` exists.</span>
<a name="gbab-32"></a>
<a name="gbab-33"></a>        <span class="k">def</span> <span class="nf">setup</span>
<a name="gbab-34"></a>          <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;syntax_highlighter&quot;</span><span class="o">]</span> <span class="o">||=</span> <span class="n">highlighter</span>
<a name="gbab-35"></a>          <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;syntax_highlighter_opts&quot;</span><span class="o">]</span> <span class="o">||=</span> <span class="p">{}</span>
<a name="gbab-36"></a>          <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;coderay&quot;</span><span class="o">]</span> <span class="o">||=</span> <span class="p">{}</span> <span class="c1"># XXX: Legacy.</span>
<a name="gbab-37"></a>          <span class="n">modernize_coderay_config</span>
<a name="gbab-38"></a>          <span class="n">make_accessible</span>
<a name="gbab-39"></a>        <span class="k">end</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>        <span class="k">def</span> <span class="nf">convert</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-42"></a>          <span class="n">document</span> <span class="o">=</span> <span class="no">Kramdown</span><span class="o">::</span><span class="no">Document</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">content</span><span class="p">,</span> <span class="vi">@config</span><span class="p">)</span>
<a name="gbab-43"></a>          <span class="n">html_output</span> <span class="o">=</span> <span class="n">document</span><span class="o">.</span><span class="n">to_html</span>
<a name="gbab-44"></a>          <span class="k">if</span> <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;show_warnings&quot;</span><span class="o">]</span>
<a name="gbab-45"></a>          <span class="n">document</span><span class="o">.</span><span class="n">warnings</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">warning</span><span class="o">|</span>
<a name="gbab-46"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Kramdown warning:&quot;</span><span class="p">,</span> <span class="n">warning</span>
<a name="gbab-47"></a>          <span class="k">end</span>
<a name="gbab-48"></a>          <span class="k">end</span>
<a name="gbab-49"></a>          <span class="n">html_output</span>
<a name="gbab-50"></a>        <span class="k">end</span>
<a name="gbab-51"></a>
<a name="gbab-52"></a>        <span class="kp">private</span>
<a name="gbab-53"></a>        <span class="c1"># rubocop:disable Performance/HashEachMethods</span>
<a name="gbab-54"></a>        <span class="k">def</span> <span class="nf">make_accessible</span><span class="p">(</span><span class="nb">hash</span> <span class="o">=</span> <span class="vi">@config</span><span class="p">)</span>
<a name="gbab-55"></a>          <span class="nb">hash</span><span class="o">.</span><span class="n">keys</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">key</span><span class="o">|</span>
<a name="gbab-56"></a>            <span class="nb">hash</span><span class="o">[</span><span class="n">key</span><span class="o">.</span><span class="n">to_sym</span><span class="o">]</span> <span class="o">=</span> <span class="nb">hash</span><span class="o">[</span><span class="n">key</span><span class="o">]</span>
<a name="gbab-57"></a>            <span class="n">make_accessible</span><span class="p">(</span><span class="nb">hash</span><span class="o">[</span><span class="n">key</span><span class="o">]</span><span class="p">)</span> <span class="k">if</span> <span class="nb">hash</span><span class="o">[</span><span class="n">key</span><span class="o">].</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span>
<a name="gbab-58"></a>          <span class="k">end</span>
<a name="gbab-59"></a>        <span class="k">end</span>
<a name="gbab-60"></a>        <span class="c1"># rubocop:enable Performance/HashEachMethods</span>
<a name="gbab-61"></a>
<a name="gbab-62"></a>        <span class="c1"># config[kramdown][syntax_higlighter] &gt;</span>
<a name="gbab-63"></a>        <span class="c1">#   config[kramdown][enable_coderay] &gt;</span>
<a name="gbab-64"></a>        <span class="c1">#   config[highlighter]</span>
<a name="gbab-65"></a>        <span class="c1"># Where `enable_coderay` is now deprecated because Kramdown</span>
<a name="gbab-66"></a>        <span class="c1"># supports Rouge now too.</span>
<a name="gbab-67"></a>
<a name="gbab-68"></a>        <span class="kp">private</span>
<a name="gbab-69"></a>        <span class="k">def</span> <span class="nf">highlighter</span>
<a name="gbab-70"></a>          <span class="k">return</span> <span class="vi">@highlighter</span> <span class="k">if</span> <span class="vi">@highlighter</span>
<a name="gbab-71"></a>
<a name="gbab-72"></a>          <span class="k">if</span> <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;syntax_highlighter&quot;</span><span class="o">]</span>
<a name="gbab-73"></a>            <span class="k">return</span> <span class="vi">@highlighter</span> <span class="o">=</span> <span class="vi">@config</span><span class="o">[</span>
<a name="gbab-74"></a>              <span class="s2">&quot;syntax_highlighter&quot;</span>
<a name="gbab-75"></a>            <span class="o">]</span>
<a name="gbab-76"></a>          <span class="k">end</span>
<a name="gbab-77"></a>
<a name="gbab-78"></a>          <span class="vi">@highlighter</span> <span class="o">=</span> <span class="k">begin</span>
<a name="gbab-79"></a>            <span class="k">if</span> <span class="vi">@config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;enable_coderay&quot;</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;enable_coderay&quot;</span><span class="o">]</span>
<a name="gbab-80"></a>              <span class="no">Jekyll</span><span class="o">::</span><span class="no">Deprecator</span><span class="o">.</span><span class="n">deprecation_message</span><span class="p">(</span>
<a name="gbab-81"></a>                <span class="s2">&quot;You are using &#39;enable_coderay&#39;, &quot;</span> <span class="p">\</span>
<a name="gbab-82"></a>                <span class="s2">&quot;use syntax_highlighter: coderay in your configuration file.&quot;</span>
<a name="gbab-83"></a>              <span class="p">)</span>
<a name="gbab-84"></a>
<a name="gbab-85"></a>              <span class="s2">&quot;coderay&quot;</span>
<a name="gbab-86"></a>            <span class="k">else</span>
<a name="gbab-87"></a>              <span class="vi">@main_fallback_highlighter</span>
<a name="gbab-88"></a>            <span class="k">end</span>
<a name="gbab-89"></a>            <span class="k">end</span>
<a name="gbab-90"></a>          <span class="k">end</span>
<a name="gbab-91"></a>
<a name="gbab-92"></a>        <span class="kp">private</span>
<a name="gbab-93"></a>        <span class="k">def</span> <span class="nf">strip_coderay_prefix</span><span class="p">(</span><span class="nb">hash</span><span class="p">)</span>
<a name="gbab-94"></a>          <span class="nb">hash</span><span class="o">.</span><span class="n">each_with_object</span><span class="p">({})</span> <span class="k">do</span> <span class="o">|</span><span class="p">(</span><span class="n">key</span><span class="p">,</span> <span class="n">val</span><span class="p">),</span> <span class="n">hsh</span><span class="o">|</span>
<a name="gbab-95"></a>            <span class="n">cleaned_key</span> <span class="o">=</span> <span class="n">key</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r!\Acoderay_!</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-96"></a>
<a name="gbab-97"></a>            <span class="k">if</span> <span class="n">key</span> <span class="o">!=</span> <span class="n">cleaned_key</span>
<a name="gbab-98"></a>              <span class="no">Jekyll</span><span class="o">::</span><span class="no">Deprecator</span><span class="o">.</span><span class="n">deprecation_message</span><span class="p">(</span>
<a name="gbab-99"></a>                <span class="s2">&quot;You are using &#39;</span><span class="si">#{</span><span class="n">key</span><span class="si">}</span><span class="s2">&#39;. Normalizing to </span><span class="si">#{</span><span class="n">cleaned_key</span><span class="si">}</span><span class="s2">.&quot;</span>
<a name="gbab-100"></a>              <span class="p">)</span>
<a name="gbab-101"></a>            <span class="k">end</span>
<a name="gbab-102"></a>
<a name="gbab-103"></a>            <span class="n">hsh</span><span class="o">[</span><span class="n">cleaned_key</span><span class="o">]</span> <span class="o">=</span> <span class="n">val</span>
<a name="gbab-104"></a>          <span class="k">end</span>
<a name="gbab-105"></a>        <span class="k">end</span>
<a name="gbab-106"></a>
<a name="gbab-107"></a>        <span class="c1"># If our highlighter is CodeRay we go in to merge the CodeRay defaults</span>
<a name="gbab-108"></a>        <span class="c1"># with your &quot;coderay&quot; key if it&#39;s there, deprecating it in the</span>
<a name="gbab-109"></a>        <span class="c1"># process of you using it.</span>
<a name="gbab-110"></a>
<a name="gbab-111"></a>        <span class="kp">private</span>
<a name="gbab-112"></a>        <span class="k">def</span> <span class="nf">modernize_coderay_config</span>
<a name="gbab-113"></a>          <span class="k">unless</span> <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;coderay&quot;</span><span class="o">].</span><span class="n">empty?</span>
<a name="gbab-114"></a>            <span class="no">Jekyll</span><span class="o">::</span><span class="no">Deprecator</span><span class="o">.</span><span class="n">deprecation_message</span><span class="p">(</span>
<a name="gbab-115"></a>              <span class="s2">&quot;You are using &#39;kramdown.coderay&#39; in your configuration, &quot;</span> <span class="p">\</span>
<a name="gbab-116"></a>              <span class="s2">&quot;please use &#39;syntax_highlighter_opts&#39; instead.&quot;</span>
<a name="gbab-117"></a>            <span class="p">)</span>
<a name="gbab-118"></a>
<a name="gbab-119"></a>            <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;syntax_highlighter_opts&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="k">begin</span>
<a name="gbab-120"></a>              <span class="n">strip_coderay_prefix</span><span class="p">(</span>
<a name="gbab-121"></a>                <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;syntax_highlighter_opts&quot;</span><span class="o">]</span> <span class="p">\</span>
<a name="gbab-122"></a>                  <span class="o">.</span><span class="n">merge</span><span class="p">(</span><span class="no">CODERAY_DEFAULTS</span><span class="p">)</span> <span class="p">\</span>
<a name="gbab-123"></a>                  <span class="o">.</span><span class="n">merge</span><span class="p">(</span><span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;coderay&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-124"></a>              <span class="p">)</span>
<a name="gbab-125"></a>            <span class="k">end</span>
<a name="gbab-126"></a>          <span class="k">end</span>
<a name="gbab-127"></a>        <span class="k">end</span>
<a name="gbab-128"></a>      <span class="k">end</span>
<a name="gbab-129"></a>    <span class="k">end</span>
<a name="gbab-130"></a>  <span class="k">end</span>
<a name="gbab-131"></a><span class="k">end</span>
</pre></div>
</td></tr></table>