<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">class</span> <span class="nc">Kramdown</span><span class="o">::</span><span class="no">Parser</span><span class="o">::</span><span class="no">SmartyPants</span> <span class="o">&lt;</span> <span class="no">Kramdown</span><span class="o">::</span><span class="no">Parser</span><span class="o">::</span><span class="no">Kramdown</span>
<a name="gbab-4"></a>  <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">source</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span>
<a name="gbab-5"></a>    <span class="k">super</span>
<a name="gbab-6"></a>    <span class="vi">@block_parsers</span> <span class="o">=</span> <span class="o">[</span><span class="ss">:block_html</span><span class="p">,</span> <span class="ss">:content</span><span class="o">]</span>
<a name="gbab-7"></a>    <span class="vi">@span_parsers</span> <span class="o">=</span>  <span class="o">[</span><span class="ss">:smart_quotes</span><span class="p">,</span> <span class="ss">:html_entity</span><span class="p">,</span> <span class="ss">:typographic_syms</span><span class="p">,</span> <span class="ss">:span_html</span><span class="o">]</span>
<a name="gbab-8"></a>  <span class="k">end</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>  <span class="k">def</span> <span class="nf">parse_content</span>
<a name="gbab-11"></a>    <span class="n">add_text</span> <span class="vi">@src</span><span class="o">.</span><span class="n">scan</span><span class="p">(</span><span class="sr">%r!\A.*\n!</span><span class="p">)</span>
<a name="gbab-12"></a>  <span class="k">end</span>
<a name="gbab-13"></a>  <span class="n">define_parser</span><span class="p">(</span><span class="ss">:content</span><span class="p">,</span> <span class="sr">%r!\A!</span><span class="p">)</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>  <span class="k">def</span> <span class="nf">parse_content</span>
<a name="gbab-16"></a>    <span class="n">add_text</span> <span class="vi">@src</span><span class="o">.</span><span class="n">scan</span><span class="p">(</span><span class="sr">%r!\A.*\n!</span><span class="p">)</span>
<a name="gbab-17"></a>  <span class="k">end</span>
<a name="gbab-18"></a>  <span class="n">define_parser</span><span class="p">(</span><span class="ss">:content</span><span class="p">,</span> <span class="sr">%r!\A!</span><span class="p">)</span>
<a name="gbab-19"></a><span class="k">end</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-22"></a>  <span class="k">module</span> <span class="nn">Converters</span>
<a name="gbab-23"></a>        <span class="k">unless</span> <span class="n">defined?</span><span class="p">(</span><span class="no">Kramdown</span><span class="p">)</span>
<a name="gbab-24"></a>    <span class="k">class</span> <span class="nc">SmartyPants</span> <span class="o">&lt;</span> <span class="no">Converter</span>
<a name="gbab-25"></a>        <span class="k">end</span>
<a name="gbab-26"></a>      <span class="n">safe</span> <span class="kp">true</span>
<a name="gbab-27"></a>      <span class="n">priority</span> <span class="ss">:low</span>
<a name="gbab-28"></a>
<a name="gbab-29"></a>      <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-30"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span> <span class="s2">&quot;kramdown&quot;</span>
<a name="gbab-31"></a>        <span class="vi">@config</span> <span class="o">=</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;kramdown&quot;</span><span class="o">].</span><span class="n">dup</span> <span class="o">||</span> <span class="p">{}</span>
<a name="gbab-32"></a>        <span class="vi">@config</span><span class="o">[</span><span class="ss">:input</span><span class="o">]</span> <span class="o">=</span> <span class="ss">:SmartyPants</span>
<a name="gbab-33"></a>      <span class="k">end</span>
<a name="gbab-34"></a>
<a name="gbab-35"></a>      <span class="k">def</span> <span class="nf">matches</span><span class="p">(</span><span class="n">_</span><span class="p">)</span>
<a name="gbab-36"></a>        <span class="kp">false</span>
<a name="gbab-37"></a>      <span class="k">end</span>
<a name="gbab-38"></a>
<a name="gbab-39"></a>      <span class="k">def</span> <span class="nf">output_ext</span><span class="p">(</span><span class="n">_</span><span class="p">)</span>
<a name="gbab-40"></a>        <span class="n">html_output</span> <span class="o">=</span> <span class="n">document</span><span class="o">.</span><span class="n">to_html</span><span class="o">.</span><span class="n">chomp</span>
<a name="gbab-41"></a>        <span class="k">if</span> <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;show_warnings&quot;</span><span class="o">]</span>
<a name="gbab-42"></a>      <span class="k">end</span>
<a name="gbab-43"></a>
<a name="gbab-44"></a>      <span class="k">def</span> <span class="nf">convert</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-45"></a>        <span class="n">document</span> <span class="o">=</span> <span class="no">Kramdown</span><span class="o">::</span><span class="no">Document</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">content</span><span class="p">,</span> <span class="vi">@config</span><span class="p">)</span>
<a name="gbab-46"></a>        <span class="n">html_output</span>
<a name="gbab-47"></a>        <span class="n">document</span><span class="o">.</span><span class="n">warnings</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">warning</span><span class="o">|</span>
<a name="gbab-48"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Kramdown warning:&quot;</span><span class="p">,</span> <span class="n">warning</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="sr">%r!^Warning:\s+!</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-49"></a>        <span class="k">end</span>
<a name="gbab-50"></a>        <span class="k">end</span>
<a name="gbab-51"></a>        <span class="n">document</span><span class="o">.</span><span class="n">to_html</span><span class="o">.</span><span class="n">chomp</span>
<a name="gbab-52"></a>      <span class="k">end</span>
<a name="gbab-53"></a>    <span class="k">end</span>
<a name="gbab-54"></a>  <span class="k">end</span>
<a name="gbab-55"></a><span class="k">end</span>
</pre></div>
</td></tr></table>