<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;set&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="c1"># Convertible provides methods for converting a pagelike item</span>
<a name="gbab-6"></a><span class="c1"># from a certain type of markup into actual content</span>
<a name="gbab-7"></a><span class="c1">#</span>
<a name="gbab-8"></a><span class="c1"># Requires</span>
<a name="gbab-9"></a><span class="c1">#   self.site -&gt; Jekyll::Site</span>
<a name="gbab-10"></a><span class="c1">#   self.content</span>
<a name="gbab-11"></a><span class="c1">#   self.content=</span>
<a name="gbab-12"></a><span class="c1">#   self.data=</span>
<a name="gbab-13"></a><span class="c1">#   self.ext=</span>
<a name="gbab-14"></a><span class="c1">#   self.output=</span>
<a name="gbab-15"></a><span class="c1">#   self.name</span>
<a name="gbab-16"></a><span class="c1">#   self.path</span>
<a name="gbab-17"></a><span class="c1">#   self.type -&gt; :page, :post or :draft</span>
<a name="gbab-18"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-19"></a>  <span class="k">module</span> <span class="nn">Convertible</span>
<a name="gbab-20"></a>    <span class="c1"># Returns the contents as a String.</span>
<a name="gbab-21"></a>      <span class="n">content</span> <span class="o">||</span> <span class="s1">&#39;&#39;</span>
<a name="gbab-22"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">content</span> <span class="o">||</span> <span class="s1">&#39;&#39;</span>
<a name="gbab-23"></a>      <span class="n">content</span> <span class="o">||</span> <span class="s2">&quot;&quot;</span>
<a name="gbab-24"></a>    <span class="c1"># Whether the file is published or not, as indicated in YAML front-matter</span>
<a name="gbab-25"></a>    <span class="k">def</span> <span class="nf">published?</span>
<a name="gbab-26"></a>      <span class="o">!</span><span class="p">(</span><span class="n">data</span><span class="o">.</span><span class="n">has_key?</span><span class="p">(</span><span class="s1">&#39;published&#39;</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">data</span><span class="o">[</span><span class="s1">&#39;published&#39;</span><span class="o">]</span> <span class="o">==</span> <span class="kp">false</span><span class="p">)</span>
<a name="gbab-27"></a>    <span class="k">end</span>
<a name="gbab-28"></a>      <span class="o">!</span><span class="p">(</span><span class="n">data</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;published&quot;</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">data</span><span class="o">[</span><span class="s2">&quot;published&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="kp">false</span><span class="p">)</span>
<a name="gbab-29"></a>    <span class="c1"># Returns merged option hash for File.read of self.site (if exists)</span>
<a name="gbab-30"></a>    <span class="c1"># and a given param</span>
<a name="gbab-31"></a>    <span class="c1">#</span>
<a name="gbab-32"></a>    <span class="c1"># base - The String path to the dir containing the file.</span>
<a name="gbab-33"></a>    <span class="c1"># opts - optional parameter to File.read, default at site configs</span>
<a name="gbab-34"></a>    <span class="c1"># name - The String filename of the file.</span>
<a name="gbab-35"></a>    <span class="c1">#</span>
<a name="gbab-36"></a>    <span class="k">def</span> <span class="nf">read_yaml</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="nb">name</span><span class="p">,</span> <span class="n">opts</span> <span class="o">=</span> <span class="p">{})</span>
<a name="gbab-37"></a>    <span class="k">def</span> <span class="nf">read_yaml</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-38"></a>    <span class="c1"># rubocop:disable Metrics/AbcSize</span>
<a name="gbab-39"></a>        <span class="nb">self</span><span class="o">.</span><span class="n">content</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="nb">name</span><span class="p">),</span>
<a name="gbab-40"></a>      <span class="n">filename</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a>                                              <span class="n">merged_file_read_opts</span><span class="p">(</span><span class="n">opts</span><span class="p">))</span>
<a name="gbab-43"></a>        <span class="nb">self</span><span class="o">.</span><span class="n">content</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="vi">@path</span> <span class="o">||</span> <span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="nb">name</span><span class="p">),</span>
<a name="gbab-44"></a>                                 <span class="no">Utils</span><span class="o">.</span><span class="n">merged_file_read_opts</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">opts</span><span class="p">))</span>
<a name="gbab-45"></a>        <span class="k">if</span> <span class="n">content</span> <span class="o">=~</span> <span class="no">Document</span><span class="o">::</span><span class="no">YAML_FRONT_MATTER_REGEXP</span>
<a name="gbab-46"></a>          <span class="nb">self</span><span class="o">.</span><span class="n">data</span> <span class="o">=</span> <span class="no">YAML</span><span class="o">.</span><span class="n">safe_load</span><span class="p">(</span><span class="vg">$1</span><span class="p">)</span>
<a name="gbab-47"></a>          <span class="nb">self</span><span class="o">.</span><span class="n">data</span> <span class="o">=</span> <span class="no">SafeYAML</span><span class="o">.</span><span class="n">load</span><span class="p">(</span><span class="no">Regexp</span><span class="o">.</span><span class="n">last_match</span><span class="p">(</span><span class="mi">1</span><span class="p">))</span>
<a name="gbab-48"></a>      <span class="k">rescue</span> <span class="no">SyntaxError</span> <span class="o">=&gt;</span> <span class="n">e</span>
<a name="gbab-49"></a>      <span class="k">rescue</span> <span class="no">Psych</span><span class="o">::</span><span class="no">SyntaxError</span> <span class="o">=&gt;</span> <span class="n">e</span>
<a name="gbab-50"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;YAML Exception reading </span><span class="si">#{</span><span class="n">filename</span><span class="si">}</span><span class="s2">: </span><span class="si">#{</span><span class="n">e</span><span class="o">.</span><span class="n">message</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-51"></a>        <span class="k">raise</span> <span class="n">e</span> <span class="k">if</span> <span class="nb">self</span><span class="o">.</span><span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;strict_front_matter&quot;</span><span class="o">]</span>
<a name="gbab-52"></a>      <span class="k">rescue</span> <span class="no">StandardError</span> <span class="o">=&gt;</span> <span class="n">e</span>
<a name="gbab-53"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Error reading file </span><span class="si">#{</span><span class="n">filename</span><span class="si">}</span><span class="s2">: </span><span class="si">#{</span><span class="n">e</span><span class="o">.</span><span class="n">message</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-54"></a>        <span class="k">raise</span> <span class="n">e</span> <span class="k">if</span> <span class="nb">self</span><span class="o">.</span><span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;strict_front_matter&quot;</span><span class="o">]</span>
<a name="gbab-55"></a>      
<a name="gbab-56"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">data</span> <span class="o">||=</span> <span class="p">{}</span>
<a name="gbab-57"></a>    <span class="k">end</span>
<a name="gbab-58"></a>
<a name="gbab-59"></a>      <span class="n">validate_data!</span> <span class="n">filename</span>
<a name="gbab-60"></a>      <span class="n">validate_permalink!</span> <span class="n">filename</span>
<a name="gbab-61"></a>
<a name="gbab-62"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">data</span>
<a name="gbab-63"></a>    <span class="k">end</span>
<a name="gbab-64"></a>    <span class="c1"># rubocop:enable Metrics/AbcSize</span>
<a name="gbab-65"></a>    
<a name="gbab-66"></a>    <span class="k">def</span> <span class="nf">validate_data!</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
<a name="gbab-67"></a>      <span class="k">unless</span> <span class="nb">self</span><span class="o">.</span><span class="n">data</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span>
<a name="gbab-68"></a>        <span class="k">raise</span> <span class="no">Errors</span><span class="o">::</span><span class="no">InvalidYAMLFrontMatterError</span><span class="p">,</span>
<a name="gbab-69"></a>          <span class="s2">&quot;Invalid YAML front matter in </span><span class="si">#{</span><span class="n">filename</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-70"></a>      <span class="k">end</span>
<a name="gbab-71"></a>    <span class="k">end</span>
<a name="gbab-72"></a>
<a name="gbab-73"></a>    <span class="k">def</span> <span class="nf">validate_permalink!</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
<a name="gbab-74"></a>      <span class="k">if</span> <span class="nb">self</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;permalink&quot;</span><span class="o">]</span> <span class="o">&amp;&amp;</span> <span class="nb">self</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;permalink&quot;</span><span class="o">].</span><span class="n">to_s</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-75"></a>        <span class="k">raise</span> <span class="no">Errors</span><span class="o">::</span><span class="no">InvalidPermalinkError</span><span class="p">,</span> <span class="s2">&quot;Invalid permalink in </span><span class="si">#{</span><span class="n">filename</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-76"></a>      <span class="k">end</span>
<a name="gbab-77"></a>  
<a name="gbab-78"></a>    <span class="c1"># Transform the contents based on the content type.</span>
<a name="gbab-79"></a>    <span class="c1">#</span>
<a name="gbab-80"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-81"></a>    <span class="c1"># Returns the transformed contents.</span>
<a name="gbab-82"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">content</span> <span class="o">=</span> <span class="n">converter</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="nb">self</span><span class="o">.</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-83"></a>      <span class="n">_renderer</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-84"></a>    <span class="k">end</span>
<a name="gbab-85"></a>    <span class="c1"># Determine the extension depending on content_type.</span>
<a name="gbab-86"></a>    <span class="c1">#</span>
<a name="gbab-87"></a>    <span class="c1"># Returns the String extension for the output file.</span>
<a name="gbab-88"></a>    <span class="c1">#   e.g. &quot;.html&quot; for an HTML output file.</span>
<a name="gbab-89"></a>      <span class="n">converter</span><span class="o">.</span><span class="n">output_ext</span><span class="p">(</span><span class="n">ext</span><span class="p">)</span>
<a name="gbab-90"></a>      <span class="n">converter</span><span class="o">.</span><span class="n">output_ext</span><span class="p">(</span><span class="nb">self</span><span class="o">.</span><span class="n">ext</span><span class="p">)</span>
<a name="gbab-91"></a>      <span class="n">_renderer</span><span class="o">.</span><span class="n">output_ext</span>
<a name="gbab-92"></a>
<a name="gbab-93"></a>    <span class="c1"># Determine which converter to use based on this convertible&#39;s</span>
<a name="gbab-94"></a>    <span class="c1"># extension.</span>
<a name="gbab-95"></a>    <span class="c1">#</span>
<a name="gbab-96"></a>    <span class="c1"># Returns the Converter instance.</span>
<a name="gbab-97"></a>      <span class="vi">@converter</span> <span class="o">||=</span> <span class="n">site</span><span class="o">.</span><span class="n">converters</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span> <span class="n">c</span><span class="o">.</span><span class="n">matches</span><span class="p">(</span><span class="n">ext</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-98"></a>    <span class="k">def</span> <span class="nf">converters</span>
<a name="gbab-99"></a>      <span class="n">_renderer</span><span class="o">.</span><span class="n">converters</span>
<a name="gbab-100"></a>    
<a name="gbab-101"></a>    <span class="c1"># Render Liquid in the content</span>
<a name="gbab-102"></a>    <span class="c1">#</span>
<a name="gbab-103"></a>    <span class="c1"># content - the raw Liquid content to render</span>
<a name="gbab-104"></a>    <span class="c1"># payload - the payload for Liquid</span>
<a name="gbab-105"></a>    <span class="c1"># info    - the info for Liquid</span>
<a name="gbab-106"></a>    <span class="c1">#</span>
<a name="gbab-107"></a>    <span class="k">def</span> <span class="nf">render_liquid</span><span class="p">(</span><span class="n">content</span><span class="p">,</span> <span class="n">payload</span><span class="p">,</span> <span class="n">info</span><span class="p">,</span> <span class="n">path</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-108"></a>    <span class="k">def</span> <span class="nf">render_liquid</span><span class="p">(</span><span class="n">content</span><span class="p">,</span> <span class="n">payload</span><span class="p">,</span> <span class="n">info</span><span class="p">)</span>
<a name="gbab-109"></a>    <span class="k">def</span> <span class="nf">render_liquid</span><span class="p">(</span><span class="n">content</span><span class="p">,</span> <span class="n">payload</span><span class="p">,</span> <span class="n">info</span><span class="p">,</span> <span class="n">path</span><span class="p">)</span>
<a name="gbab-110"></a>      <span class="n">_renderer</span><span class="o">.</span><span class="n">render_liquid</span><span class="p">(</span><span class="n">content</span><span class="p">,</span> <span class="n">payload</span><span class="p">,</span> <span class="n">info</span><span class="p">,</span> <span class="n">path</span><span class="p">)</span>
<a name="gbab-111"></a>
<a name="gbab-112"></a>    <span class="c1"># rubocop: enable RescueException</span>
<a name="gbab-113"></a>    <span class="c1"># Convert this Convertible&#39;s data to a Hash suitable for use by Liquid.</span>
<a name="gbab-114"></a>    <span class="c1">#</span>
<a name="gbab-115"></a>    <span class="c1"># Returns the Hash representation of this Convertible.</span>
<a name="gbab-116"></a>    <span class="k">def</span> <span class="nf">to_liquid</span><span class="p">(</span><span class="n">attrs</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-117"></a>      <span class="n">further_data</span> <span class="o">=</span> <span class="no">Hash</span><span class="o">[</span><span class="p">(</span><span class="n">attrs</span> <span class="o">||</span> <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">::</span><span class="no">ATTRIBUTES_FOR_LIQUID</span><span class="p">)</span><span class="o">.</span><span class="n">map</span> <span class="p">{</span> <span class="o">|</span><span class="n">attribute</span><span class="o">|</span>
<a name="gbab-118"></a>      <span class="n">further_data</span> <span class="o">=</span> <span class="no">Hash</span><span class="o">[</span><span class="p">(</span><span class="n">attrs</span> <span class="o">||</span> <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">::</span><span class="no">ATTRIBUTES_FOR_LIQUID</span><span class="p">)</span><span class="o">.</span><span class="n">map</span> <span class="k">do</span> <span class="o">|</span><span class="n">attribute</span><span class="o">|</span>
<a name="gbab-119"></a>      <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="n">further_data</span><span class="p">)</span>
<a name="gbab-120"></a>      <span class="k">end</span><span class="o">]</span>
<a name="gbab-121"></a>      <span class="n">defaults</span><span class="o">.</span><span class="n">merge</span><span class="p">(</span><span class="n">data</span><span class="p">)</span><span class="o">.</span><span class="n">deep_merge</span><span class="p">(</span><span class="n">further_data</span><span class="p">)</span>
<a name="gbab-122"></a>    <span class="k">end</span>
<a name="gbab-123"></a>      <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span> <span class="n">defaults</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="n">further_data</span><span class="p">)</span>
<a name="gbab-124"></a>    <span class="k">def</span> <span class="nf">type</span>
<a name="gbab-125"></a>      <span class="k">if</span> <span class="nb">is_a?</span><span class="p">(</span><span class="no">Post</span><span class="p">)</span>
<a name="gbab-126"></a>    <span class="c1"># The type of a document,</span>
<a name="gbab-127"></a>    <span class="c1">#   i.e., its classname downcase&#39;d and to_sym&#39;d.</span>
<a name="gbab-128"></a>    <span class="c1">#</span>
<a name="gbab-129"></a>    <span class="c1"># Returns the type of self.</span>
<a name="gbab-130"></a>        <span class="ss">:post</span>
<a name="gbab-131"></a>      <span class="k">if</span> <span class="nb">is_a?</span><span class="p">(</span><span class="no">Page</span><span class="p">)</span>
<a name="gbab-132"></a>        <span class="ss">:pages</span>
<a name="gbab-133"></a>
<a name="gbab-134"></a>    <span class="c1"># Recursively render layouts</span>
<a name="gbab-135"></a>        <span class="n">payload</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="n">payload</span><span class="p">,</span> <span class="p">{</span><span class="s2">&quot;content&quot;</span> <span class="o">=&gt;</span> <span class="n">output</span><span class="p">,</span> <span class="s2">&quot;page&quot;</span> <span class="o">=&gt;</span> <span class="n">layout</span><span class="o">.</span><span class="n">data</span><span class="p">})</span>
<a name="gbab-136"></a>    <span class="c1"># returns the owner symbol for hook triggering</span>
<a name="gbab-137"></a>    <span class="k">def</span> <span class="nf">hook_owner</span>
<a name="gbab-138"></a>      <span class="k">if</span> <span class="nb">is_a?</span><span class="p">(</span><span class="no">Page</span><span class="p">)</span>
<a name="gbab-139"></a>        <span class="ss">:pages</span>
<a name="gbab-140"></a>      <span class="k">end</span>
<a name="gbab-141"></a>    <span class="k">end</span>
<a name="gbab-142"></a>
<a name="gbab-143"></a>    <span class="c1"># Determine whether the document is an asset file.</span>
<a name="gbab-144"></a>    <span class="c1"># Asset files include CoffeeScript files and Sass/SCSS files.</span>
<a name="gbab-145"></a>    <span class="c1">#</span>
<a name="gbab-146"></a>    <span class="c1"># Returns true if the extname belongs to the set of extensions</span>
<a name="gbab-147"></a>    <span class="c1">#   that asset files use.</span>
<a name="gbab-148"></a>    <span class="k">def</span> <span class="nf">asset_file?</span>
<a name="gbab-149"></a>      <span class="n">sass_file?</span> <span class="o">||</span> <span class="n">coffeescript_file?</span>
<a name="gbab-150"></a>    <span class="k">end</span>
<a name="gbab-151"></a>
<a name="gbab-152"></a>    <span class="c1"># Determine whether the document is a Sass file.</span>
<a name="gbab-153"></a>    <span class="c1">#</span>
<a name="gbab-154"></a>    <span class="c1"># Returns true if extname == .sass or .scss, false otherwise.</span>
<a name="gbab-155"></a>    <span class="k">def</span> <span class="nf">sass_file?</span>
<a name="gbab-156"></a>      <span class="sx">%w(.sass .scss)</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">ext</span><span class="p">)</span>
<a name="gbab-157"></a>    <span class="k">end</span>
<a name="gbab-158"></a>
<a name="gbab-159"></a>    <span class="c1"># Determine whether the document is a CoffeeScript file.</span>
<a name="gbab-160"></a>    <span class="c1">#</span>
<a name="gbab-161"></a>    <span class="c1"># Returns true if extname == .coffee, false otherwise.</span>
<a name="gbab-162"></a>    <span class="k">def</span> <span class="nf">coffeescript_file?</span>
<a name="gbab-163"></a>      <span class="n">ext</span> <span class="o">==</span> <span class="s2">&quot;.coffee&quot;</span>
<a name="gbab-164"></a>    <span class="k">end</span>
<a name="gbab-165"></a>
<a name="gbab-166"></a>    <span class="c1"># Determine whether the file should be rendered with Liquid.</span>
<a name="gbab-167"></a>    <span class="c1">#</span>
<a name="gbab-168"></a>    <span class="c1"># Returns true if the file has Liquid Tags or Variables, false otherwise.</span>
<a name="gbab-169"></a>    <span class="k">def</span> <span class="nf">render_with_liquid?</span>
<a name="gbab-170"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">.</span><span class="n">has_liquid_construct?</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-171"></a>    <span class="k">end</span>
<a name="gbab-172"></a>
<a name="gbab-173"></a>    <span class="c1"># Determine whether the file should be placed into layouts.</span>
<a name="gbab-174"></a>    <span class="c1">#</span>
<a name="gbab-175"></a>    <span class="c1"># Returns false if the document is an asset file or if the front matter</span>
<a name="gbab-176"></a>    <span class="c1">#   specifies `layout: none`</span>
<a name="gbab-177"></a>    <span class="k">def</span> <span class="nf">place_in_layout?</span>
<a name="gbab-178"></a>      <span class="o">!</span><span class="p">(</span><span class="n">asset_file?</span> <span class="o">||</span> <span class="n">no_layout?</span><span class="p">)</span>
<a name="gbab-179"></a>    <span class="k">end</span>
<a name="gbab-180"></a>
<a name="gbab-181"></a>    <span class="c1"># Checks if the layout specified in the document actually exists</span>
<a name="gbab-182"></a>    <span class="c1">#</span>
<a name="gbab-183"></a>    <span class="c1"># layout - the layout to check</span>
<a name="gbab-184"></a>    <span class="c1">#</span>
<a name="gbab-185"></a>    <span class="c1"># Returns true if the layout is invalid, false if otherwise</span>
<a name="gbab-186"></a>    <span class="k">def</span> <span class="nf">invalid_layout?</span><span class="p">(</span><span class="n">layout</span><span class="p">)</span>
<a name="gbab-187"></a>      <span class="o">!</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">].</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="n">layout</span><span class="o">.</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="p">(</span><span class="nb">self</span><span class="o">.</span><span class="n">is_a?</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Excerpt</span><span class="p">)</span>
<a name="gbab-188"></a>    <span class="k">end</span>
<a name="gbab-189"></a>
<a name="gbab-190"></a>    <span class="c1"># layouts - a list of the layouts</span>
<a name="gbab-191"></a>        <span class="nb">self</span><span class="o">.</span><span class="n">output</span> <span class="o">=</span> <span class="n">render_liquid</span><span class="p">(</span><span class="n">layout</span><span class="o">.</span><span class="n">content</span><span class="p">,</span>
<a name="gbab-192"></a>    <span class="c1"># info    - the info for Liquid</span>
<a name="gbab-193"></a>    <span class="c1">#</span>
<a name="gbab-194"></a>                                         <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s1">&#39;layouts&#39;</span><span class="o">]</span><span class="p">,</span> <span class="n">layout</span><span class="o">.</span><span class="n">name</span><span class="p">))</span>
<a name="gbab-195"></a>    <span class="k">def</span> <span class="nf">render_all_layouts</span><span class="p">(</span><span class="n">layouts</span><span class="p">,</span> <span class="n">payload</span><span class="p">,</span> <span class="n">info</span><span class="p">)</span>
<a name="gbab-196"></a>      <span class="c1"># recursively render layouts</span>
<a name="gbab-197"></a>      <span class="n">layout</span> <span class="o">=</span> <span class="n">layouts</span><span class="o">[</span><span class="nb">self</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]]</span>
<a name="gbab-198"></a>      <span class="n">_renderer</span><span class="o">.</span><span class="n">layouts</span> <span class="o">=</span> <span class="n">layouts</span>
<a name="gbab-199"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">output</span> <span class="o">=</span> <span class="n">_renderer</span><span class="o">.</span><span class="n">place_in_layouts</span><span class="p">(</span><span class="n">output</span><span class="p">,</span> <span class="n">payload</span><span class="p">,</span> <span class="n">info</span><span class="p">)</span>
<a name="gbab-200"></a>    <span class="k">ensure</span>
<a name="gbab-201"></a>      <span class="vi">@_renderer</span> <span class="o">=</span> <span class="kp">nil</span> <span class="c1"># this will allow the modifications above to disappear</span>
<a name="gbab-202"></a>      <span class="n">payload</span><span class="o">[</span><span class="s2">&quot;highlighter_suffix&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="n">converter</span><span class="o">.</span><span class="n">highlighter_suffix</span>
<a name="gbab-203"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">content</span> <span class="o">=</span> <span class="n">render_liquid</span><span class="p">(</span><span class="n">content</span><span class="p">,</span> <span class="n">payload</span><span class="p">,</span> <span class="n">info</span><span class="p">)</span>
<a name="gbab-204"></a>      <span class="n">transform</span>
<a name="gbab-205"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-206"></a>    <span class="c1"># payload - The site payload Drop or Hash.</span>
<a name="gbab-207"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">output</span> <span class="o">=</span> <span class="n">content</span>
<a name="gbab-208"></a>
<a name="gbab-209"></a>      <span class="n">render_all_layouts</span><span class="p">(</span><span class="n">layouts</span><span class="p">,</span> <span class="n">payload</span><span class="p">,</span> <span class="n">info</span><span class="p">)</span>
<a name="gbab-210"></a>      <span class="n">payload</span><span class="o">[</span><span class="s2">&quot;pygments_prefix&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="n">converter</span><span class="o">.</span><span class="n">pygments_prefix</span>
<a name="gbab-211"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">output</span> <span class="o">=</span> <span class="n">_renderer</span><span class="o">.</span><span class="n">tap</span> <span class="k">do</span> <span class="o">|</span><span class="n">renderer</span><span class="o">|</span>
<a name="gbab-212"></a>        <span class="n">renderer</span><span class="o">.</span><span class="n">layouts</span> <span class="o">=</span> <span class="n">layouts</span>
<a name="gbab-213"></a>        <span class="n">renderer</span><span class="o">.</span><span class="n">payload</span> <span class="o">=</span> <span class="n">payload</span>
<a name="gbab-214"></a>      <span class="k">end</span><span class="o">.</span><span class="n">run</span>
<a name="gbab-215"></a>
<a name="gbab-216"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Post-Render Hooks:&quot;</span><span class="p">,</span> <span class="nb">self</span><span class="o">.</span><span class="n">relative_path</span>
<a name="gbab-217"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">trigger</span> <span class="n">hook_owner</span><span class="p">,</span> <span class="ss">:post_render</span><span class="p">,</span> <span class="nb">self</span>
<a name="gbab-218"></a>    <span class="k">ensure</span>
<a name="gbab-219"></a>      <span class="vi">@_renderer</span> <span class="o">=</span> <span class="kp">nil</span> <span class="c1"># this will allow the modifications above to disappear</span>
<a name="gbab-220"></a>
<a name="gbab-221"></a>    <span class="c1"># Accessor for data properties by Liquid.</span>
<a name="gbab-222"></a>    <span class="c1">#</span>
<a name="gbab-223"></a>    <span class="c1"># property - The String name of the property to retrieve.</span>
<a name="gbab-224"></a>    <span class="c1">#</span>
<a name="gbab-225"></a>    <span class="c1"># Returns the String value or nil if the property isn&#39;t included.</span>
<a name="gbab-226"></a>    <span class="k">def</span> <span class="nf">[]</span><span class="p">(</span><span class="n">property</span><span class="p">)</span>
<a name="gbab-227"></a>      <span class="k">if</span> <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">::</span><span class="no">ATTRIBUTES_FOR_LIQUID</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">property</span><span class="p">)</span>
<a name="gbab-228"></a>        <span class="nb">send</span><span class="p">(</span><span class="n">property</span><span class="p">)</span>
<a name="gbab-229"></a>      <span class="k">else</span>
<a name="gbab-230"></a>      <span class="no">File</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">output</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;wb&quot;</span><span class="p">)</span>
<a name="gbab-231"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">trigger</span> <span class="n">hook_owner</span><span class="p">,</span> <span class="ss">:post_write</span><span class="p">,</span> <span class="nb">self</span>
<a name="gbab-232"></a>    <span class="c1">#</span>
<a name="gbab-233"></a><span class="k">end</span>
<a name="gbab-234"></a>    <span class="c1"># dest - The String path to the destination dir.</span>
<a name="gbab-235"></a>    <span class="c1">#</span>
<a name="gbab-236"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-237"></a>    <span class="k">def</span> <span class="nf">write</span><span class="p">(</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-238"></a>      <span class="n">path</span> <span class="o">=</span> <span class="n">destination</span><span class="p">(</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-239"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="n">path</span><span class="p">))</span>
<a name="gbab-240"></a>      <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="s1">&#39;w&#39;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-241"></a>        <span class="n">f</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="nb">self</span><span class="o">.</span><span class="n">output</span><span class="p">)</span>
<a name="gbab-242"></a>      <span class="k">end</span>
<a name="gbab-243"></a>    <span class="k">end</span>
<a name="gbab-244"></a>  <span class="k">end</span>
<a name="gbab-245"></a><span class="k">end</span>
<a name="gbab-246"></a>
<a name="gbab-247"></a>    <span class="kp">private</span>
<a name="gbab-248"></a>
<a name="gbab-249"></a>    <span class="k">def</span> <span class="nf">_renderer</span>
<a name="gbab-250"></a>      <span class="vi">@_renderer</span> <span class="o">||=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Renderer</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="nb">self</span><span class="p">)</span>
<a name="gbab-251"></a>    <span class="k">end</span>
<a name="gbab-252"></a>
<a name="gbab-253"></a>    <span class="k">def</span> <span class="nf">no_layout?</span>
<a name="gbab-254"></a>      <span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;none&quot;</span>
<a name="gbab-255"></a>    <span class="k">end</span>
</pre></div>
</td></tr></table>