<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Drops</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">DocumentDrop</span> <span class="o">&lt;</span> <span class="no">Drop</span>
<a name="gbab-6"></a>      <span class="kp">extend</span> <span class="no">Forwardable</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>      <span class="no">NESTED_OBJECT_FIELD_BLACKLIST</span> <span class="o">=</span> <span class="sx">%w(</span>
<a name="gbab-9"></a><span class="sx">        content output excerpt next previous</span>
<a name="gbab-10"></a><span class="sx">      )</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-11"></a>
<a name="gbab-12"></a>      <span class="n">mutable</span> <span class="kp">false</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>      <span class="n">def_delegator</span> <span class="ss">:@obj</span><span class="p">,</span> <span class="ss">:relative_path</span><span class="p">,</span> <span class="ss">:path</span>
<a name="gbab-15"></a>      <span class="n">def_delegators</span> <span class="ss">:@obj</span><span class="p">,</span> <span class="ss">:id</span><span class="p">,</span> <span class="ss">:output</span><span class="p">,</span> <span class="ss">:content</span><span class="p">,</span> <span class="ss">:to_s</span><span class="p">,</span> <span class="ss">:relative_path</span><span class="p">,</span> <span class="ss">:url</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>      <span class="kp">private</span> <span class="n">def_delegator</span> <span class="ss">:@obj</span><span class="p">,</span> <span class="ss">:data</span><span class="p">,</span> <span class="ss">:fallback_data</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a>      <span class="k">def</span> <span class="nf">collection</span>
<a name="gbab-20"></a>        <span class="vi">@obj</span><span class="o">.</span><span class="n">collection</span><span class="o">.</span><span class="n">label</span>
<a name="gbab-21"></a>      <span class="k">end</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>      <span class="k">def</span> <span class="nf">excerpt</span>
<a name="gbab-24"></a>        <span class="n">fallback_data</span><span class="o">[</span><span class="s2">&quot;excerpt&quot;</span><span class="o">].</span><span class="n">to_s</span>
<a name="gbab-25"></a>      <span class="k">end</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>      <span class="k">def</span> <span class="nf">&lt;=&gt;</span><span class="p">(</span><span class="n">other</span><span class="p">)</span>
<a name="gbab-28"></a>        <span class="k">return</span> <span class="kp">nil</span> <span class="k">unless</span> <span class="n">other</span><span class="o">.</span><span class="n">is_a?</span> <span class="no">DocumentDrop</span>
<a name="gbab-29"></a>        <span class="n">cmp</span> <span class="o">=</span> <span class="nb">self</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">]</span> <span class="o">&lt;=&gt;</span> <span class="n">other</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">]</span>
<a name="gbab-30"></a>        <span class="n">cmp</span> <span class="o">=</span> <span class="nb">self</span><span class="o">[</span><span class="s2">&quot;path&quot;</span><span class="o">]</span> <span class="o">&lt;=&gt;</span> <span class="n">other</span><span class="o">[</span><span class="s2">&quot;path&quot;</span><span class="o">]</span> <span class="k">if</span> <span class="n">cmp</span><span class="o">.</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">cmp</span><span class="o">.</span><span class="n">zero?</span>
<a name="gbab-31"></a>        <span class="n">cmp</span>
<a name="gbab-32"></a>      <span class="k">end</span>
<a name="gbab-33"></a>
<a name="gbab-34"></a>      <span class="k">def</span> <span class="nf">previous</span>
<a name="gbab-35"></a>        <span class="vi">@obj</span><span class="o">.</span><span class="n">previous_doc</span><span class="o">.</span><span class="n">to_liquid</span>
<a name="gbab-36"></a>      <span class="k">end</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>      <span class="k">def</span> <span class="nf">next</span>
<a name="gbab-39"></a>        <span class="vi">@obj</span><span class="o">.</span><span class="n">next_doc</span><span class="o">.</span><span class="n">to_liquid</span>
<a name="gbab-40"></a>      <span class="k">end</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a>      <span class="c1"># Generate a Hash for use in generating JSON.</span>
<a name="gbab-43"></a>      <span class="c1"># This is useful if fields need to be cleared before the JSON can generate.</span>
<a name="gbab-44"></a>      <span class="c1">#</span>
<a name="gbab-45"></a>      <span class="c1"># state - the JSON::State object which determines the state of current processing.</span>
<a name="gbab-46"></a>      <span class="c1">#</span>
<a name="gbab-47"></a>      <span class="c1"># Returns a Hash ready for JSON generation.</span>
<a name="gbab-48"></a>      <span class="k">def</span> <span class="nf">hash_for_json</span><span class="p">(</span><span class="n">state</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-49"></a>        <span class="n">to_h</span><span class="o">.</span><span class="n">tap</span> <span class="k">do</span> <span class="o">|</span><span class="nb">hash</span><span class="o">|</span>
<a name="gbab-50"></a>          <span class="k">if</span> <span class="n">state</span> <span class="o">&amp;&amp;</span> <span class="n">state</span><span class="o">.</span><span class="n">depth</span> <span class="o">&gt;=</span> <span class="mi">2</span>
<a name="gbab-51"></a>            <span class="nb">hash</span><span class="o">[</span><span class="s2">&quot;previous&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="n">collapse_document</span><span class="p">(</span><span class="nb">hash</span><span class="o">[</span><span class="s2">&quot;previous&quot;</span><span class="o">]</span><span class="p">)</span> <span class="k">if</span> <span class="nb">hash</span><span class="o">[</span><span class="s2">&quot;previous&quot;</span><span class="o">]</span>
<a name="gbab-52"></a>            <span class="nb">hash</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">]</span>     <span class="o">=</span> <span class="n">collapse_document</span><span class="p">(</span><span class="nb">hash</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">]</span><span class="p">)</span> <span class="k">if</span> <span class="nb">hash</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">]</span>
<a name="gbab-53"></a>          <span class="k">end</span>
<a name="gbab-54"></a>        <span class="k">end</span>
<a name="gbab-55"></a>      <span class="k">end</span>
<a name="gbab-56"></a>
<a name="gbab-57"></a>      <span class="c1"># Generate a Hash which breaks the recursive chain.</span>
<a name="gbab-58"></a>      <span class="c1"># Certain fields which are normally available are omitted.</span>
<a name="gbab-59"></a>      <span class="c1">#</span>
<a name="gbab-60"></a>      <span class="c1"># Returns a Hash with only non-recursive fields present.</span>
<a name="gbab-61"></a>      <span class="k">def</span> <span class="nf">collapse_document</span><span class="p">(</span><span class="n">doc</span><span class="p">)</span>
<a name="gbab-62"></a>        <span class="n">doc</span><span class="o">.</span><span class="n">keys</span><span class="o">.</span><span class="n">each_with_object</span><span class="p">({})</span> <span class="k">do</span> <span class="o">|</span><span class="p">(</span><span class="n">key</span><span class="p">,</span> <span class="n">_</span><span class="p">),</span> <span class="n">result</span><span class="o">|</span>
<a name="gbab-63"></a>          <span class="n">result</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="o">=</span> <span class="n">doc</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="k">unless</span> <span class="no">NESTED_OBJECT_FIELD_BLACKLIST</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">key</span><span class="p">)</span>
<a name="gbab-64"></a>        <span class="k">end</span>
<a name="gbab-65"></a>      <span class="k">end</span>
<a name="gbab-66"></a>    <span class="k">end</span>
<a name="gbab-67"></a>  <span class="k">end</span>
<a name="gbab-68"></a><span class="k">end</span>
</pre></div>
</td></tr></table>