<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Drops</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">ExcerptDrop</span> <span class="o">&lt;</span> <span class="no">DocumentDrop</span>
<a name="gbab-6"></a>      <span class="k">def</span> <span class="nf">layout</span>
<a name="gbab-7"></a>        <span class="vi">@obj</span><span class="o">.</span><span class="n">doc</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span>
<a name="gbab-8"></a>      <span class="k">end</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>      <span class="k">def</span> <span class="nf">excerpt</span>
<a name="gbab-11"></a>        <span class="kp">nil</span>
<a name="gbab-12"></a>      <span class="k">end</span>
<a name="gbab-13"></a>    <span class="k">end</span>
<a name="gbab-14"></a>  <span class="k">end</span>
<a name="gbab-15"></a><span class="k">end</span>
</pre></div>
</td></tr></table>