<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Drops</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">Drop</span> <span class="o">&lt;</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Drop</span>
<a name="gbab-6"></a>      <span class="kp">include</span> <span class="no">Enumerable</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>      <span class="no">NON_CONTENT_METHODS</span> <span class="o">=</span> <span class="o">[</span><span class="ss">:[]</span><span class="p">,</span> <span class="ss">:[]=</span><span class="p">,</span> <span class="ss">:inspect</span><span class="p">,</span> <span class="ss">:to_h</span><span class="p">,</span> <span class="ss">:fallback_data</span><span class="p">,</span> <span class="ss">:collapse_document</span><span class="o">].</span><span class="n">freeze</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>      <span class="c1"># Get or set whether the drop class is mutable.</span>
<a name="gbab-11"></a>      <span class="c1"># Mutability determines whether or not pre-defined fields may be</span>
<a name="gbab-12"></a>      <span class="c1"># overwritten.</span>
<a name="gbab-13"></a>      <span class="c1">#</span>
<a name="gbab-14"></a>      <span class="c1"># is_mutable - Boolean set mutability of the class (default: nil)</span>
<a name="gbab-15"></a>      <span class="c1">#</span>
<a name="gbab-16"></a>      <span class="c1"># Returns the mutability of the class</span>
<a name="gbab-17"></a>      <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">mutable</span><span class="p">(</span><span class="n">is_mutable</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-18"></a>        <span class="vi">@is_mutable</span> <span class="o">=</span> <span class="k">if</span> <span class="n">is_mutable</span>
<a name="gbab-19"></a>                        <span class="n">is_mutable</span>
<a name="gbab-20"></a>        <span class="k">else</span>
<a name="gbab-21"></a>                        <span class="kp">false</span>
<a name="gbab-22"></a>        <span class="k">end</span>
<a name="gbab-23"></a>      <span class="k">end</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>      <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">mutable?</span>
<a name="gbab-26"></a>        <span class="vi">@is_mutable</span>
<a name="gbab-27"></a>      <span class="k">end</span>
<a name="gbab-28"></a>
<a name="gbab-29"></a>      <span class="c1"># Create a new Drop</span>
<a name="gbab-30"></a>      <span class="c1">#</span>
<a name="gbab-31"></a>      <span class="c1"># obj - the Jekyll Site, Collection, or Document required by the</span>
<a name="gbab-32"></a>      <span class="c1"># drop.</span>
<a name="gbab-33"></a>      <span class="c1">#</span>
<a name="gbab-34"></a>      <span class="c1"># Returns nothing</span>
<a name="gbab-35"></a>      <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">obj</span><span class="p">)</span>
<a name="gbab-36"></a>        <span class="vi">@obj</span> <span class="o">=</span> <span class="n">obj</span>
<a name="gbab-37"></a>        <span class="vi">@mutations</span> <span class="o">=</span> <span class="p">{}</span> <span class="c1"># only if mutable: true</span>
<a name="gbab-38"></a>      <span class="k">end</span>
<a name="gbab-39"></a>
<a name="gbab-40"></a>      <span class="c1"># Access a method in the Drop or a field in the underlying hash data.</span>
<a name="gbab-41"></a>      <span class="c1"># If mutable, checks the mutations first. Then checks the methods,</span>
<a name="gbab-42"></a>      <span class="c1"># and finally check the underlying hash (e.g. document front matter)</span>
<a name="gbab-43"></a>      <span class="c1"># if all the previous places didn&#39;t match.</span>
<a name="gbab-44"></a>      <span class="c1">#</span>
<a name="gbab-45"></a>      <span class="c1"># key - the string key whose value to fetch</span>
<a name="gbab-46"></a>      <span class="c1">#</span>
<a name="gbab-47"></a>      <span class="c1"># Returns the value for the given key, or nil if none exists</span>
<a name="gbab-48"></a>      <span class="k">def</span> <span class="nf">[]</span><span class="p">(</span><span class="n">key</span><span class="p">)</span>
<a name="gbab-49"></a>        <span class="k">if</span> <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">mutable?</span> <span class="o">&amp;&amp;</span> <span class="vi">@mutations</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="n">key</span><span class="p">)</span>
<a name="gbab-50"></a>          <span class="vi">@mutations</span><span class="o">[</span><span class="n">key</span><span class="o">]</span>
<a name="gbab-51"></a>        <span class="k">elsif</span> <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">invokable?</span> <span class="n">key</span>
<a name="gbab-52"></a>          <span class="n">public_send</span> <span class="n">key</span>
<a name="gbab-53"></a>        <span class="k">else</span>
<a name="gbab-54"></a>          <span class="n">fallback_data</span><span class="o">[</span><span class="n">key</span><span class="o">]</span>
<a name="gbab-55"></a>        <span class="k">end</span>
<a name="gbab-56"></a>      <span class="k">end</span>
<a name="gbab-57"></a>      <span class="n">alias_method</span> <span class="ss">:invoke_drop</span><span class="p">,</span> <span class="ss">:[]</span>
<a name="gbab-58"></a>
<a name="gbab-59"></a>      <span class="c1"># Set a field in the Drop. If mutable, sets in the mutations and</span>
<a name="gbab-60"></a>      <span class="c1"># returns. If not mutable, checks first if it&#39;s trying to override a</span>
<a name="gbab-61"></a>      <span class="c1"># Drop method and raises a DropMutationException if so. If not</span>
<a name="gbab-62"></a>      <span class="c1"># mutable and the key is not a method on the Drop, then it sets the</span>
<a name="gbab-63"></a>      <span class="c1"># key to the value in the underlying hash (e.g. document front</span>
<a name="gbab-64"></a>      <span class="c1"># matter)</span>
<a name="gbab-65"></a>      <span class="c1">#</span>
<a name="gbab-66"></a>      <span class="c1"># key - the String key whose value to set</span>
<a name="gbab-67"></a>      <span class="c1"># val - the Object to set the key&#39;s value to</span>
<a name="gbab-68"></a>      <span class="c1">#</span>
<a name="gbab-69"></a>      <span class="c1"># Returns the value the key was set to unless the Drop is not mutable</span>
<a name="gbab-70"></a>      <span class="c1"># and the key matches a method in which case it raises a</span>
<a name="gbab-71"></a>      <span class="c1"># DropMutationException.</span>
<a name="gbab-72"></a>      <span class="k">def</span> <span class="nf">[]=</span><span class="p">(</span><span class="n">key</span><span class="p">,</span> <span class="n">val</span><span class="p">)</span>
<a name="gbab-73"></a>        <span class="k">if</span> <span class="nb">respond_to?</span><span class="p">(</span><span class="s2">&quot;</span><span class="si">#{</span><span class="n">key</span><span class="si">}</span><span class="s2">=&quot;</span><span class="p">)</span>
<a name="gbab-74"></a>          <span class="n">public_send</span><span class="p">(</span><span class="s2">&quot;</span><span class="si">#{</span><span class="n">key</span><span class="si">}</span><span class="s2">=&quot;</span><span class="p">,</span> <span class="n">val</span><span class="p">)</span>
<a name="gbab-75"></a>        <span class="k">elsif</span> <span class="nb">respond_to?</span><span class="p">(</span><span class="n">key</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span>
<a name="gbab-76"></a>          <span class="k">if</span> <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">mutable?</span>
<a name="gbab-77"></a>          <span class="vi">@mutations</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="o">=</span> <span class="n">val</span>
<a name="gbab-78"></a>          <span class="k">else</span>
<a name="gbab-79"></a>          <span class="k">raise</span> <span class="no">Errors</span><span class="o">::</span><span class="no">DropMutationException</span><span class="p">,</span> <span class="s2">&quot;Key </span><span class="si">#{</span><span class="n">key</span><span class="si">}</span><span class="s2"> cannot be set in the drop.&quot;</span>
<a name="gbab-80"></a>          <span class="k">end</span>
<a name="gbab-81"></a>        <span class="k">else</span>
<a name="gbab-82"></a>          <span class="n">fallback_data</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="o">=</span> <span class="n">val</span>
<a name="gbab-83"></a>        <span class="k">end</span>
<a name="gbab-84"></a>      <span class="k">end</span>
<a name="gbab-85"></a>
<a name="gbab-86"></a>      <span class="c1"># Generates a list of strings which correspond to content getter</span>
<a name="gbab-87"></a>      <span class="c1"># methods.</span>
<a name="gbab-88"></a>      <span class="c1">#</span>
<a name="gbab-89"></a>      <span class="c1"># Returns an Array of strings which represent method-specific keys.</span>
<a name="gbab-90"></a>      <span class="k">def</span> <span class="nf">content_methods</span>
<a name="gbab-91"></a>        <span class="vi">@content_methods</span> <span class="o">||=</span> <span class="p">(</span>
<a name="gbab-92"></a>          <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">instance_methods</span> <span class="p">\</span>
<a name="gbab-93"></a>            <span class="o">-</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Drops</span><span class="o">::</span><span class="no">Drop</span><span class="o">.</span><span class="n">instance_methods</span> <span class="p">\</span>
<a name="gbab-94"></a>            <span class="o">-</span> <span class="no">NON_CONTENT_METHODS</span>
<a name="gbab-95"></a>        <span class="p">)</span><span class="o">.</span><span class="n">map</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:to_s</span><span class="p">)</span><span class="o">.</span><span class="n">reject</span> <span class="k">do</span> <span class="o">|</span><span class="nb">method</span><span class="o">|</span>
<a name="gbab-96"></a>          <span class="nb">method</span><span class="o">.</span><span class="n">end_with?</span><span class="p">(</span><span class="s2">&quot;=&quot;</span><span class="p">)</span>
<a name="gbab-97"></a>        <span class="k">end</span>
<a name="gbab-98"></a>      <span class="k">end</span>
<a name="gbab-99"></a>
<a name="gbab-100"></a>      <span class="c1"># Check if key exists in Drop</span>
<a name="gbab-101"></a>      <span class="c1">#</span>
<a name="gbab-102"></a>      <span class="c1"># key - the string key whose value to fetch</span>
<a name="gbab-103"></a>      <span class="c1">#</span>
<a name="gbab-104"></a>      <span class="c1"># Returns true if the given key is present</span>
<a name="gbab-105"></a>      <span class="k">def</span> <span class="nf">key?</span><span class="p">(</span><span class="n">key</span><span class="p">)</span>
<a name="gbab-106"></a>        <span class="k">return</span> <span class="kp">false</span> <span class="k">if</span> <span class="n">key</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-107"></a>        <span class="k">return</span> <span class="kp">true</span> <span class="k">if</span> <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">mutable?</span> <span class="o">&amp;&amp;</span> <span class="vi">@mutations</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="n">key</span><span class="p">)</span>
<a name="gbab-108"></a>        <span class="nb">respond_to?</span><span class="p">(</span><span class="n">key</span><span class="p">)</span> <span class="o">||</span> <span class="n">fallback_data</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="n">key</span><span class="p">)</span>
<a name="gbab-109"></a>      <span class="k">end</span>
<a name="gbab-110"></a>
<a name="gbab-111"></a>      <span class="c1"># Generates a list of keys with user content as their values.</span>
<a name="gbab-112"></a>      <span class="c1"># This gathers up the Drop methods and keys of the mutations and</span>
<a name="gbab-113"></a>      <span class="c1"># underlying data hashes and performs a set union to ensure a list</span>
<a name="gbab-114"></a>      <span class="c1"># of unique keys for the Drop.</span>
<a name="gbab-115"></a>      <span class="c1">#</span>
<a name="gbab-116"></a>      <span class="c1"># Returns an Array of unique keys for content for the Drop.</span>
<a name="gbab-117"></a>      <span class="k">def</span> <span class="nf">keys</span>
<a name="gbab-118"></a>        <span class="p">(</span><span class="n">content_methods</span> <span class="o">|</span>
<a name="gbab-119"></a>          <span class="vi">@mutations</span><span class="o">.</span><span class="n">keys</span> <span class="o">|</span>
<a name="gbab-120"></a>          <span class="n">fallback_data</span><span class="o">.</span><span class="n">keys</span><span class="p">)</span><span class="o">.</span><span class="n">flatten</span>
<a name="gbab-121"></a>      <span class="k">end</span>
<a name="gbab-122"></a>
<a name="gbab-123"></a>      <span class="c1"># Generate a Hash representation of the Drop by resolving each key&#39;s</span>
<a name="gbab-124"></a>      <span class="c1"># value. It includes Drop methods, mutations, and the underlying object&#39;s</span>
<a name="gbab-125"></a>      <span class="c1"># data. See the documentation for Drop#keys for more.</span>
<a name="gbab-126"></a>      <span class="c1">#</span>
<a name="gbab-127"></a>      <span class="c1"># Returns a Hash with all the keys and values resolved.</span>
<a name="gbab-128"></a>      <span class="k">def</span> <span class="nf">to_h</span>
<a name="gbab-129"></a>        <span class="n">keys</span><span class="o">.</span><span class="n">each_with_object</span><span class="p">({})</span> <span class="k">do</span> <span class="o">|</span><span class="p">(</span><span class="n">key</span><span class="p">,</span> <span class="n">_</span><span class="p">),</span> <span class="n">result</span><span class="o">|</span>
<a name="gbab-130"></a>          <span class="n">result</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="o">=</span> <span class="nb">self</span><span class="o">[</span><span class="n">key</span><span class="o">]</span>
<a name="gbab-131"></a>        <span class="k">end</span>
<a name="gbab-132"></a>      <span class="k">end</span>
<a name="gbab-133"></a>      <span class="n">alias_method</span> <span class="ss">:to_hash</span><span class="p">,</span> <span class="ss">:to_h</span>
<a name="gbab-134"></a>
<a name="gbab-135"></a>      <span class="c1"># Inspect the drop&#39;s keys and values through a JSON representation</span>
<a name="gbab-136"></a>      <span class="c1"># of its keys and values.</span>
<a name="gbab-137"></a>      <span class="c1">#</span>
<a name="gbab-138"></a>      <span class="c1"># Returns a pretty generation of the hash representation of the Drop.</span>
<a name="gbab-139"></a>      <span class="k">def</span> <span class="nf">inspect</span>
<a name="gbab-140"></a>        <span class="nb">require</span> <span class="s2">&quot;json&quot;</span>
<a name="gbab-141"></a>        <span class="no">JSON</span><span class="o">.</span><span class="n">pretty_generate</span> <span class="n">to_h</span>
<a name="gbab-142"></a>      <span class="k">end</span>
<a name="gbab-143"></a>
<a name="gbab-144"></a>      <span class="c1"># Generate a Hash for use in generating JSON.</span>
<a name="gbab-145"></a>      <span class="c1"># This is useful if fields need to be cleared before the JSON can generate.</span>
<a name="gbab-146"></a>      <span class="c1">#</span>
<a name="gbab-147"></a>      <span class="c1"># Returns a Hash ready for JSON generation.</span>
<a name="gbab-148"></a>      <span class="k">def</span> <span class="nf">hash_for_json</span><span class="p">(</span><span class="o">*</span><span class="p">)</span>
<a name="gbab-149"></a>        <span class="n">to_h</span>
<a name="gbab-150"></a>      <span class="k">end</span>
<a name="gbab-151"></a>
<a name="gbab-152"></a>      <span class="c1"># Generate a JSON representation of the Drop.</span>
<a name="gbab-153"></a>      <span class="c1">#</span>
<a name="gbab-154"></a>      <span class="c1"># state - the JSON::State object which determines the state of current processing.</span>
<a name="gbab-155"></a>      <span class="c1">#</span>
<a name="gbab-156"></a>      <span class="c1"># Returns a JSON representation of the Drop in a String.</span>
<a name="gbab-157"></a>      <span class="k">def</span> <span class="nf">to_json</span><span class="p">(</span><span class="n">state</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-158"></a>        <span class="nb">require</span> <span class="s2">&quot;json&quot;</span>
<a name="gbab-159"></a>        <span class="no">JSON</span><span class="o">.</span><span class="n">generate</span><span class="p">(</span><span class="n">hash_for_json</span><span class="p">(</span><span class="n">state</span><span class="p">),</span> <span class="n">state</span><span class="p">)</span>
<a name="gbab-160"></a>      <span class="k">end</span>
<a name="gbab-161"></a>
<a name="gbab-162"></a>      <span class="c1"># Collects all the keys and passes each to the block in turn.</span>
<a name="gbab-163"></a>      <span class="c1">#</span>
<a name="gbab-164"></a>      <span class="c1"># block - a block which accepts one argument, the key</span>
<a name="gbab-165"></a>      <span class="c1">#</span>
<a name="gbab-166"></a>      <span class="c1"># Returns nothing.</span>
<a name="gbab-167"></a>      <span class="k">def</span> <span class="nf">each_key</span><span class="p">(</span><span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-168"></a>        <span class="n">keys</span><span class="o">.</span><span class="n">each</span><span class="p">(</span><span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-169"></a>      <span class="k">end</span>
<a name="gbab-170"></a>
<a name="gbab-171"></a>      <span class="k">def</span> <span class="nf">each</span>
<a name="gbab-172"></a>        <span class="n">each_key</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">key</span><span class="o">|</span>
<a name="gbab-173"></a>          <span class="k">yield</span> <span class="n">key</span><span class="p">,</span> <span class="nb">self</span><span class="o">[</span><span class="n">key</span><span class="o">]</span>
<a name="gbab-174"></a>        <span class="k">end</span>
<a name="gbab-175"></a>      <span class="k">end</span>
<a name="gbab-176"></a>
<a name="gbab-177"></a>      <span class="k">def</span> <span class="nf">merge</span><span class="p">(</span><span class="n">other</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-178"></a>        <span class="nb">self</span><span class="o">.</span><span class="n">dup</span><span class="o">.</span><span class="n">tap</span> <span class="k">do</span> <span class="o">|</span><span class="n">me</span><span class="o">|</span>
<a name="gbab-179"></a>          <span class="k">if</span> <span class="n">block</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-180"></a>            <span class="n">me</span><span class="o">.</span><span class="n">merge!</span><span class="p">(</span><span class="n">other</span><span class="p">)</span>
<a name="gbab-181"></a>          <span class="k">else</span>
<a name="gbab-182"></a>            <span class="n">me</span><span class="o">.</span><span class="n">merge!</span><span class="p">(</span><span class="n">other</span><span class="p">,</span> <span class="n">block</span><span class="p">)</span>
<a name="gbab-183"></a>          <span class="k">end</span>
<a name="gbab-184"></a>        <span class="k">end</span>
<a name="gbab-185"></a>      <span class="k">end</span>
<a name="gbab-186"></a>
<a name="gbab-187"></a>      <span class="k">def</span> <span class="nf">merge!</span><span class="p">(</span><span class="n">other</span><span class="p">)</span>
<a name="gbab-188"></a>        <span class="n">other</span><span class="o">.</span><span class="n">each_key</span> <span class="k">do</span> <span class="o">|</span><span class="n">key</span><span class="o">|</span>
<a name="gbab-189"></a>          <span class="k">if</span> <span class="nb">block_given?</span>
<a name="gbab-190"></a>            <span class="nb">self</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="o">=</span> <span class="k">yield</span> <span class="n">key</span><span class="p">,</span> <span class="nb">self</span><span class="o">[</span><span class="n">key</span><span class="o">]</span><span class="p">,</span> <span class="n">other</span><span class="o">[</span><span class="n">key</span><span class="o">]</span>
<a name="gbab-191"></a>          <span class="k">else</span>
<a name="gbab-192"></a>            <span class="k">if</span> <span class="no">Utils</span><span class="o">.</span><span class="n">mergable?</span><span class="p">(</span><span class="nb">self</span><span class="o">[</span><span class="n">key</span><span class="o">]</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="no">Utils</span><span class="o">.</span><span class="n">mergable?</span><span class="p">(</span><span class="n">other</span><span class="o">[</span><span class="n">key</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-193"></a>              <span class="nb">self</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="nb">self</span><span class="o">[</span><span class="n">key</span><span class="o">]</span><span class="p">,</span> <span class="n">other</span><span class="o">[</span><span class="n">key</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-194"></a>              <span class="k">next</span>
<a name="gbab-195"></a>            <span class="k">end</span>
<a name="gbab-196"></a>
<a name="gbab-197"></a>            <span class="nb">self</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="o">=</span> <span class="n">other</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="k">unless</span> <span class="n">other</span><span class="o">[</span><span class="n">key</span><span class="o">].</span><span class="n">nil?</span>
<a name="gbab-198"></a>          <span class="k">end</span>
<a name="gbab-199"></a>        <span class="k">end</span>
<a name="gbab-200"></a>      <span class="k">end</span>
<a name="gbab-201"></a>
<a name="gbab-202"></a>      <span class="c1"># Imitate Hash.fetch method in Drop</span>
<a name="gbab-203"></a>      <span class="c1">#</span>
<a name="gbab-204"></a>      <span class="c1"># Returns value if key is present in Drop, otherwise returns default value</span>
<a name="gbab-205"></a>      <span class="c1"># KeyError is raised if key is not present and no default value given</span>
<a name="gbab-206"></a>      <span class="k">def</span> <span class="nf">fetch</span><span class="p">(</span><span class="n">key</span><span class="p">,</span> <span class="n">default</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-207"></a>        <span class="k">return</span> <span class="nb">self</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="k">if</span> <span class="n">key?</span><span class="p">(</span><span class="n">key</span><span class="p">)</span>
<a name="gbab-208"></a>        <span class="k">raise</span> <span class="no">KeyError</span><span class="p">,</span> <span class="sx">%(key not found: &quot;</span><span class="si">#{</span><span class="n">key</span><span class="si">}</span><span class="sx">&quot;)</span> <span class="k">if</span> <span class="n">default</span><span class="o">.</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="n">block</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-209"></a>        <span class="k">return</span> <span class="k">yield</span><span class="p">(</span><span class="n">key</span><span class="p">)</span> <span class="k">unless</span> <span class="n">block</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-210"></a>        <span class="k">return</span> <span class="n">default</span> <span class="k">unless</span> <span class="n">default</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-211"></a>      <span class="k">end</span>
<a name="gbab-212"></a>    <span class="k">end</span>
<a name="gbab-213"></a>  <span class="k">end</span>
<a name="gbab-214"></a><span class="k">end</span>
</pre></div>
</td></tr></table>