<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Drops</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">JekyllDrop</span> <span class="o">&lt;</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Drop</span>
<a name="gbab-6"></a>      <span class="k">class</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span>
<a name="gbab-7"></a>        <span class="k">def</span> <span class="nf">global</span>
<a name="gbab-8"></a>          <span class="vi">@global</span> <span class="o">||=</span> <span class="no">JekyllDrop</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-9"></a>        <span class="k">end</span>
<a name="gbab-10"></a>      <span class="k">end</span>
<a name="gbab-11"></a>
<a name="gbab-12"></a>      <span class="k">def</span> <span class="nf">version</span>
<a name="gbab-13"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">VERSION</span>
<a name="gbab-14"></a>      <span class="k">end</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>      <span class="k">def</span> <span class="nf">environment</span>
<a name="gbab-17"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">env</span>
<a name="gbab-18"></a>      <span class="k">end</span>
<a name="gbab-19"></a>
<a name="gbab-20"></a>      <span class="k">def</span> <span class="nf">to_h</span>
<a name="gbab-21"></a>        <span class="vi">@to_h</span> <span class="o">||=</span> <span class="p">{</span>
<a name="gbab-22"></a>          <span class="s2">&quot;version&quot;</span> <span class="o">=&gt;</span> <span class="n">version</span><span class="p">,</span>
<a name="gbab-23"></a>          <span class="s2">&quot;environment&quot;</span> <span class="o">=&gt;</span> <span class="n">environment</span><span class="p">,</span>
<a name="gbab-24"></a>        <span class="p">}</span>
<a name="gbab-25"></a>      <span class="k">end</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>      <span class="k">def</span> <span class="nf">to_json</span><span class="p">(</span><span class="n">state</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-28"></a>        <span class="nb">require</span> <span class="s2">&quot;json&quot;</span>
<a name="gbab-29"></a>        <span class="no">JSON</span><span class="o">.</span><span class="n">generate</span><span class="p">(</span><span class="n">to_h</span><span class="p">,</span> <span class="n">state</span><span class="p">)</span>
<a name="gbab-30"></a>      <span class="k">end</span>
<a name="gbab-31"></a>    <span class="k">end</span>
<a name="gbab-32"></a>  <span class="k">end</span>
<a name="gbab-33"></a><span class="k">end</span>
</pre></div>
</td></tr></table>