<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1">#!/usr/bin/env ruby</span>
<a name="gbab-2"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-3"></a><span class="c1">#</span>
<a name="gbab-4"></a><span class="c1"># The Ruby documentation for #sort_by describes what&#39;s called a Schwartzian transform:</span>
<a name="gbab-5"></a><span class="c1">#</span>
<a name="gbab-6"></a><span class="c1">#  &gt; A more efficient technique is to cache the sort keys (modification times in this case)</span>
<a name="gbab-7"></a><span class="c1">#  &gt; before the sort. Perl users often call this approach a Schwartzian transform, after</span>
<a name="gbab-8"></a><span class="c1">#  &gt; Randal Schwartz. We construct a temporary array, where each element is an array</span>
<a name="gbab-9"></a><span class="c1">#  &gt; containing our sort key along with the filename. We sort this array, and then extract</span>
<a name="gbab-10"></a><span class="c1">#  &gt; the filename from the result.</span>
<a name="gbab-11"></a><span class="c1">#  &gt; This is exactly what sort_by does internally.</span>
<a name="gbab-12"></a><span class="c1">#</span>
<a name="gbab-13"></a><span class="c1"># The well-documented efficiency of sort_by is a good reason to use it. However, when a property</span>
<a name="gbab-14"></a><span class="c1"># does not exist on an item being sorted, it can cause issues (no nil&#39;s allowed!)</span>
<a name="gbab-15"></a><span class="c1"># In Jekyll::Filters#sort_input, we extract the property in each iteration of #sort,</span>
<a name="gbab-16"></a><span class="c1"># which is quite inefficient! How inefficient? This benchmark will tell you just how, and how much</span>
<a name="gbab-17"></a><span class="c1"># it can be improved by using the Schwartzian transform. Thanks, Randall!</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a><span class="nb">require</span> <span class="s1">&#39;benchmark/ips&#39;</span>
<a name="gbab-20"></a><span class="nb">require</span> <span class="s1">&#39;minitest&#39;</span>
<a name="gbab-21"></a><span class="nb">require</span> <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="s2">&quot;../lib/jekyll&quot;</span><span class="p">,</span> <span class="n">__dir__</span><span class="p">)</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a><span class="k">def</span> <span class="nf">site</span>
<a name="gbab-24"></a>  <span class="vi">@site</span> <span class="o">||=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span>
<a name="gbab-25"></a>    <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span><span class="s2">&quot;source&quot;</span> <span class="o">=&gt;</span> <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="s2">&quot;../docs&quot;</span><span class="p">,</span> <span class="n">__dir__</span><span class="p">))</span>
<a name="gbab-26"></a>  <span class="p">)</span><span class="o">.</span><span class="n">tap</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:reset</span><span class="p">)</span><span class="o">.</span><span class="n">tap</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:read</span><span class="p">)</span>
<a name="gbab-27"></a><span class="k">end</span>
<a name="gbab-28"></a>
<a name="gbab-29"></a><span class="k">def</span> <span class="nf">site_docs</span>
<a name="gbab-30"></a>  <span class="n">site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;docs&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">.</span><span class="n">dup</span>
<a name="gbab-31"></a><span class="k">end</span>
<a name="gbab-32"></a>
<a name="gbab-33"></a><span class="k">def</span> <span class="nf">sort_by_property_directly</span><span class="p">(</span><span class="n">docs</span><span class="p">,</span> <span class="n">meta_key</span><span class="p">)</span>
<a name="gbab-34"></a>  <span class="n">docs</span><span class="o">.</span><span class="n">sort!</span> <span class="k">do</span> <span class="o">|</span><span class="n">apple</span><span class="p">,</span> <span class="n">orange</span><span class="o">|</span>
<a name="gbab-35"></a>    <span class="n">apple_property</span> <span class="o">=</span> <span class="n">apple</span><span class="o">[</span><span class="n">meta_key</span><span class="o">]</span>
<a name="gbab-36"></a>    <span class="n">orange_property</span> <span class="o">=</span> <span class="n">orange</span><span class="o">[</span><span class="n">meta_key</span><span class="o">]</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>    <span class="k">if</span> <span class="o">!</span><span class="n">apple_property</span><span class="o">.</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">orange_property</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-39"></a>      <span class="n">apple_property</span> <span class="o">&lt;=&gt;</span> <span class="n">orange_property</span>
<a name="gbab-40"></a>    <span class="k">elsif</span> <span class="o">!</span><span class="n">apple_property</span><span class="o">.</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="n">orange_property</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-41"></a>      <span class="o">-</span><span class="mi">1</span>
<a name="gbab-42"></a>    <span class="k">elsif</span> <span class="n">apple_property</span><span class="o">.</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">orange_property</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-43"></a>      <span class="mi">1</span>
<a name="gbab-44"></a>    <span class="k">else</span>
<a name="gbab-45"></a>      <span class="n">apple</span> <span class="o">&lt;=&gt;</span> <span class="n">orange</span>
<a name="gbab-46"></a>    <span class="k">end</span>
<a name="gbab-47"></a>  <span class="k">end</span>
<a name="gbab-48"></a><span class="k">end</span>
<a name="gbab-49"></a>
<a name="gbab-50"></a><span class="k">def</span> <span class="nf">schwartzian_transform</span><span class="p">(</span><span class="n">docs</span><span class="p">,</span> <span class="n">meta_key</span><span class="p">)</span>
<a name="gbab-51"></a>  <span class="n">docs</span><span class="o">.</span><span class="n">collect!</span> <span class="p">{</span> <span class="o">|</span><span class="n">d</span><span class="o">|</span>
<a name="gbab-52"></a>    <span class="o">[</span><span class="n">d</span><span class="o">[</span><span class="n">meta_key</span><span class="o">]</span><span class="p">,</span> <span class="n">d</span><span class="o">]</span>
<a name="gbab-53"></a>  <span class="p">}</span><span class="o">.</span><span class="n">sort!</span> <span class="p">{</span> <span class="o">|</span><span class="n">apple</span><span class="p">,</span> <span class="n">orange</span><span class="o">|</span>
<a name="gbab-54"></a>    <span class="k">if</span> <span class="o">!</span><span class="n">apple</span><span class="o">[</span><span class="mi">0</span><span class="o">].</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">orange</span><span class="o">[</span><span class="mi">0</span><span class="o">].</span><span class="n">nil?</span>
<a name="gbab-55"></a>      <span class="n">apple</span><span class="o">.</span><span class="n">first</span> <span class="o">&lt;=&gt;</span> <span class="n">orange</span><span class="o">.</span><span class="n">first</span>
<a name="gbab-56"></a>    <span class="k">elsif</span> <span class="o">!</span><span class="n">apple</span><span class="o">[</span><span class="mi">0</span><span class="o">].</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="n">orange</span><span class="o">[</span><span class="mi">0</span><span class="o">].</span><span class="n">nil?</span>
<a name="gbab-57"></a>      <span class="o">-</span><span class="mi">1</span>
<a name="gbab-58"></a>    <span class="k">elsif</span> <span class="n">apple</span><span class="o">[</span><span class="mi">0</span><span class="o">].</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">orange</span><span class="o">[</span><span class="mi">0</span><span class="o">].</span><span class="n">nil?</span>
<a name="gbab-59"></a>      <span class="mi">1</span>
<a name="gbab-60"></a>    <span class="k">else</span>
<a name="gbab-61"></a>      <span class="n">apple</span><span class="o">[-</span><span class="mi">1</span><span class="o">]</span> <span class="o">&lt;=&gt;</span> <span class="n">orange</span><span class="o">[-</span><span class="mi">1</span><span class="o">]</span>
<a name="gbab-62"></a>    <span class="k">end</span>
<a name="gbab-63"></a>  <span class="p">}</span><span class="o">.</span><span class="n">collect!</span> <span class="p">{</span> <span class="o">|</span><span class="n">d</span><span class="o">|</span> <span class="n">d</span><span class="o">[-</span><span class="mi">1</span><span class="o">]</span> <span class="p">}</span>
<a name="gbab-64"></a><span class="k">end</span>
<a name="gbab-65"></a>
<a name="gbab-66"></a><span class="c1"># Before we test efficiency, do they produce the same output?</span>
<a name="gbab-67"></a><span class="k">class</span> <span class="nc">Correctness</span>
<a name="gbab-68"></a>  <span class="kp">include</span> <span class="no">Minitest</span><span class="o">::</span><span class="no">Assertions</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a>  <span class="nb">require</span> <span class="s2">&quot;pp&quot;</span>
<a name="gbab-71"></a>  <span class="n">define_method</span> <span class="ss">:mu_pp</span><span class="p">,</span> <span class="o">&amp;</span><span class="ss">:pretty_inspect</span>
<a name="gbab-72"></a>
<a name="gbab-73"></a>  <span class="kp">attr_accessor</span> <span class="ss">:assertions</span>
<a name="gbab-74"></a>
<a name="gbab-75"></a>  <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">docs</span><span class="p">,</span> <span class="n">property</span><span class="p">)</span>
<a name="gbab-76"></a>    <span class="vi">@assertions</span> <span class="o">=</span> <span class="mi">0</span>
<a name="gbab-77"></a>    <span class="vi">@docs</span> <span class="o">=</span> <span class="n">docs</span>
<a name="gbab-78"></a>    <span class="vi">@property</span> <span class="o">=</span> <span class="n">property</span>
<a name="gbab-79"></a>  <span class="k">end</span>
<a name="gbab-80"></a>
<a name="gbab-81"></a>  <span class="k">def</span> <span class="nf">assert!</span>
<a name="gbab-82"></a>    <span class="n">assert</span> <span class="n">sort_by_property_directly</span><span class="p">(</span><span class="vi">@docs</span><span class="p">,</span> <span class="vi">@property</span><span class="p">)</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="nb">Array</span><span class="p">),</span> <span class="s2">&quot;sort_by_property_directly must return an array&quot;</span>
<a name="gbab-83"></a>    <span class="n">assert</span> <span class="n">schwartzian_transform</span><span class="p">(</span><span class="vi">@docs</span><span class="p">,</span> <span class="vi">@property</span><span class="p">)</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="nb">Array</span><span class="p">),</span> <span class="s2">&quot;schwartzian_transform must return an array&quot;</span>
<a name="gbab-84"></a>    <span class="n">assert_equal</span> <span class="n">sort_by_property_directly</span><span class="p">(</span><span class="vi">@docs</span><span class="p">,</span> <span class="vi">@property</span><span class="p">),</span>
<a name="gbab-85"></a>      <span class="n">schwartzian_transform</span><span class="p">(</span><span class="vi">@docs</span><span class="p">,</span> <span class="vi">@property</span><span class="p">)</span>
<a name="gbab-86"></a>    <span class="nb">puts</span> <span class="s2">&quot;Yeah, ok, correctness all checks out for property </span><span class="si">#{</span><span class="vi">@property</span><span class="o">.</span><span class="n">inspect</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-87"></a>  <span class="k">end</span>
<a name="gbab-88"></a><span class="k">end</span>
<a name="gbab-89"></a>
<a name="gbab-90"></a><span class="no">Correctness</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site_docs</span><span class="p">,</span> <span class="s2">&quot;redirect_from&quot;</span><span class="o">.</span><span class="n">freeze</span><span class="p">)</span><span class="o">.</span><span class="n">assert!</span>
<a name="gbab-91"></a><span class="no">Correctness</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site_docs</span><span class="p">,</span> <span class="s2">&quot;title&quot;</span><span class="o">.</span><span class="n">freeze</span><span class="p">)</span><span class="o">.</span><span class="n">assert!</span>
<a name="gbab-92"></a>
<a name="gbab-93"></a><span class="c1"># First, test with a property only a handful of documents have.</span>
<a name="gbab-94"></a><span class="no">Benchmark</span><span class="o">.</span><span class="n">ips</span> <span class="k">do</span> <span class="o">|</span><span class="n">x</span><span class="o">|</span>
<a name="gbab-95"></a>  <span class="n">x</span><span class="o">.</span><span class="n">config</span><span class="p">(</span><span class="ss">time</span><span class="p">:</span> <span class="mi">10</span><span class="p">,</span> <span class="ss">warmup</span><span class="p">:</span> <span class="mi">5</span><span class="p">)</span>
<a name="gbab-96"></a>  <span class="n">x</span><span class="o">.</span><span class="n">report</span><span class="p">(</span><span class="s1">&#39;sort_by_property_directly with sparse property&#39;</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-97"></a>    <span class="n">sort_by_property_directly</span><span class="p">(</span><span class="n">site_docs</span><span class="p">,</span> <span class="s2">&quot;redirect_from&quot;</span><span class="o">.</span><span class="n">freeze</span><span class="p">)</span>
<a name="gbab-98"></a>  <span class="k">end</span>
<a name="gbab-99"></a>  <span class="n">x</span><span class="o">.</span><span class="n">report</span><span class="p">(</span><span class="s1">&#39;schwartzian_transform with sparse property&#39;</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-100"></a>    <span class="n">schwartzian_transform</span><span class="p">(</span><span class="n">site_docs</span><span class="p">,</span> <span class="s2">&quot;redirect_from&quot;</span><span class="o">.</span><span class="n">freeze</span><span class="p">)</span>
<a name="gbab-101"></a>  <span class="k">end</span>
<a name="gbab-102"></a>  <span class="n">x</span><span class="o">.</span><span class="n">compare!</span>
<a name="gbab-103"></a><span class="k">end</span>
<a name="gbab-104"></a>
<a name="gbab-105"></a><span class="c1"># Next, test with a property they all have.</span>
<a name="gbab-106"></a><span class="no">Benchmark</span><span class="o">.</span><span class="n">ips</span> <span class="k">do</span> <span class="o">|</span><span class="n">x</span><span class="o">|</span>
<a name="gbab-107"></a>  <span class="n">x</span><span class="o">.</span><span class="n">config</span><span class="p">(</span><span class="ss">time</span><span class="p">:</span> <span class="mi">10</span><span class="p">,</span> <span class="ss">warmup</span><span class="p">:</span> <span class="mi">5</span><span class="p">)</span>
<a name="gbab-108"></a>  <span class="n">x</span><span class="o">.</span><span class="n">report</span><span class="p">(</span><span class="s1">&#39;sort_by_property_directly with non-sparse property&#39;</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-109"></a>    <span class="n">sort_by_property_directly</span><span class="p">(</span><span class="n">site_docs</span><span class="p">,</span> <span class="s2">&quot;title&quot;</span><span class="o">.</span><span class="n">freeze</span><span class="p">)</span>
<a name="gbab-110"></a>  <span class="k">end</span>
<a name="gbab-111"></a>  <span class="n">x</span><span class="o">.</span><span class="n">report</span><span class="p">(</span><span class="s1">&#39;schwartzian_transform with non-sparse property&#39;</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-112"></a>    <span class="n">schwartzian_transform</span><span class="p">(</span><span class="n">site_docs</span><span class="p">,</span> <span class="s2">&quot;title&quot;</span><span class="o">.</span><span class="n">freeze</span><span class="p">)</span>
<a name="gbab-113"></a>  <span class="k">end</span>
<a name="gbab-114"></a>  <span class="n">x</span><span class="o">.</span><span class="n">compare!</span>
<a name="gbab-115"></a><span class="k">end</span>
</pre></div>
</td></tr></table>