<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Drops</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">SiteDrop</span> <span class="o">&lt;</span> <span class="no">Drop</span>
<a name="gbab-6"></a>      <span class="kp">extend</span> <span class="no">Forwardable</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>      <span class="n">mutable</span> <span class="kp">false</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>      <span class="n">def_delegator</span>  <span class="ss">:@obj</span><span class="p">,</span> <span class="ss">:site_data</span><span class="p">,</span> <span class="ss">:data</span>
<a name="gbab-11"></a>      <span class="n">def_delegators</span> <span class="ss">:@obj</span><span class="p">,</span> <span class="ss">:time</span><span class="p">,</span> <span class="ss">:pages</span><span class="p">,</span> <span class="ss">:static_files</span><span class="p">,</span> <span class="ss">:documents</span><span class="p">,</span>
<a name="gbab-12"></a>                            <span class="ss">:tags</span><span class="p">,</span> <span class="ss">:categories</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>      <span class="kp">private</span> <span class="n">def_delegator</span> <span class="ss">:@obj</span><span class="p">,</span> <span class="ss">:config</span><span class="p">,</span> <span class="ss">:fallback_data</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>      <span class="k">def</span> <span class="nf">[]</span><span class="p">(</span><span class="n">key</span><span class="p">)</span>
<a name="gbab-17"></a>        <span class="k">if</span> <span class="vi">@obj</span><span class="o">.</span><span class="n">collections</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="n">key</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">key</span> <span class="o">!=</span> <span class="s2">&quot;posts&quot;</span>
<a name="gbab-18"></a>          <span class="vi">@obj</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="n">key</span><span class="o">].</span><span class="n">docs</span>
<a name="gbab-19"></a>        <span class="k">else</span>
<a name="gbab-20"></a>          <span class="k">super</span><span class="p">(</span><span class="n">key</span><span class="p">)</span>
<a name="gbab-21"></a>        <span class="k">end</span>
<a name="gbab-22"></a>      <span class="k">end</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>      <span class="k">def</span> <span class="nf">key?</span><span class="p">(</span><span class="n">key</span><span class="p">)</span>
<a name="gbab-25"></a>        <span class="p">(</span><span class="vi">@obj</span><span class="o">.</span><span class="n">collections</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="n">key</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">key</span> <span class="o">!=</span> <span class="s2">&quot;posts&quot;</span><span class="p">)</span> <span class="o">||</span> <span class="k">super</span>
<a name="gbab-26"></a>      <span class="k">end</span>
<a name="gbab-27"></a>
<a name="gbab-28"></a>      <span class="k">def</span> <span class="nf">posts</span>
<a name="gbab-29"></a>        <span class="vi">@site_posts</span> <span class="o">||=</span> <span class="vi">@obj</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">sort</span> <span class="p">{</span> <span class="o">|</span><span class="n">a</span><span class="p">,</span> <span class="n">b</span><span class="o">|</span> <span class="n">b</span> <span class="o">&lt;=&gt;</span> <span class="n">a</span> <span class="p">}</span>
<a name="gbab-30"></a>      <span class="k">end</span>
<a name="gbab-31"></a>
<a name="gbab-32"></a>      <span class="k">def</span> <span class="nf">html_pages</span>
<a name="gbab-33"></a>        <span class="vi">@site_html_pages</span> <span class="o">||=</span> <span class="vi">@obj</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">select</span> <span class="k">do</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span>
<a name="gbab-34"></a>          <span class="n">page</span><span class="o">.</span><span class="n">html?</span> <span class="o">||</span> <span class="n">page</span><span class="o">.</span><span class="n">url</span><span class="o">.</span><span class="n">end_with?</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-35"></a>        <span class="k">end</span>
<a name="gbab-36"></a>      <span class="k">end</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>      <span class="k">def</span> <span class="nf">collections</span>
<a name="gbab-39"></a>        <span class="vi">@site_collections</span> <span class="o">||=</span> <span class="vi">@obj</span><span class="o">.</span><span class="n">collections</span><span class="o">.</span><span class="n">values</span><span class="o">.</span><span class="n">sort_by</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:label</span><span class="p">)</span><span class="o">.</span><span class="n">map</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:to_liquid</span><span class="p">)</span>
<a name="gbab-40"></a>      <span class="k">end</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a>      <span class="c1"># `{{ site.related_posts }}` is how posts can get posts related to</span>
<a name="gbab-43"></a>      <span class="c1"># them, either through LSI if it&#39;s enabled, or through the most</span>
<a name="gbab-44"></a>      <span class="c1"># recent posts.</span>
<a name="gbab-45"></a>      <span class="c1"># We should remove this in 4.0 and switch to `{{ post.related_posts }}`.</span>
<a name="gbab-46"></a>      <span class="k">def</span> <span class="nf">related_posts</span>
<a name="gbab-47"></a>        <span class="k">return</span> <span class="kp">nil</span> <span class="k">unless</span> <span class="vi">@current_document</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Document</span><span class="p">)</span>
<a name="gbab-48"></a>        <span class="vi">@current_document</span><span class="o">.</span><span class="n">related_posts</span>
<a name="gbab-49"></a>      <span class="k">end</span>
<a name="gbab-50"></a>      <span class="kp">attr_writer</span> <span class="ss">:current_document</span>
<a name="gbab-51"></a>
<a name="gbab-52"></a>      <span class="c1"># return nil for `{{ site.config }}` even if --config was passed via CLI</span>
<a name="gbab-53"></a>      <span class="k">def</span> <span class="nf">config</span><span class="p">;</span> <span class="k">end</span>
<a name="gbab-54"></a>    <span class="k">end</span>
<a name="gbab-55"></a>  <span class="k">end</span>
<a name="gbab-56"></a><span class="k">end</span>
</pre></div>
</td></tr></table>