<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Errors</span>
<a name="gbab-5"></a>    <span class="no">FatalException</span> <span class="o">=</span> <span class="no">Class</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="o">::</span><span class="no">RuntimeError</span><span class="p">)</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a>    <span class="no">InvalidThemeName</span> <span class="o">=</span> <span class="no">Class</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">FatalException</span><span class="p">)</span>
<a name="gbab-8"></a>
<a name="gbab-9"></a>    <span class="no">DropMutationException</span>      <span class="o">=</span> <span class="no">Class</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">FatalException</span><span class="p">)</span>
<a name="gbab-10"></a>    <span class="no">InvalidPermalinkError</span>       <span class="o">=</span> <span class="no">Class</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">FatalException</span><span class="p">)</span>
<a name="gbab-11"></a>    <span class="no">InvalidYAMLFrontMatterError</span> <span class="o">=</span> <span class="no">Class</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">FatalException</span><span class="p">)</span>
<a name="gbab-12"></a>    <span class="no">MissingDependencyException</span>  <span class="o">=</span> <span class="no">Class</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">FatalException</span><span class="p">)</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>    <span class="no">InvalidDateError</span> <span class="o">=</span> <span class="no">Class</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">FatalException</span><span class="p">)</span>
<a name="gbab-15"></a>    <span class="no">InvalidPostNameError</span> <span class="o">=</span> <span class="no">Class</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">FatalException</span><span class="p">)</span>
<a name="gbab-16"></a>    <span class="no">PostURLError</span> <span class="o">=</span> <span class="no">Class</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">FatalException</span><span class="p">)</span>
<a name="gbab-17"></a>    <span class="no">InvalidURLError</span>       <span class="o">=</span> <span class="no">Class</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">FatalException</span><span class="p">)</span>
<a name="gbab-18"></a>    <span class="no">InvalidConfigurationError</span>   <span class="o">=</span> <span class="no">Class</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">FatalException</span><span class="p">)</span>
<a name="gbab-19"></a>  <span class="k">end</span>
<a name="gbab-20"></a><span class="k">end</span>
</pre></div>
</td></tr></table>