<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Drops</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">UrlDrop</span> <span class="o">&lt;</span> <span class="no">Drop</span>
<a name="gbab-6"></a>      <span class="kp">extend</span> <span class="no">Forwardable</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>      <span class="n">mutable</span> <span class="kp">false</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>      <span class="n">def_delegator</span> <span class="ss">:@obj</span><span class="p">,</span> <span class="ss">:cleaned_relative_path</span><span class="p">,</span> <span class="ss">:path</span>
<a name="gbab-11"></a>      <span class="n">def_delegator</span> <span class="ss">:@obj</span><span class="p">,</span> <span class="ss">:output_ext</span><span class="p">,</span> <span class="ss">:output_ext</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>      <span class="k">def</span> <span class="nf">collection</span>
<a name="gbab-14"></a>        <span class="vi">@obj</span><span class="o">.</span><span class="n">collection</span><span class="o">.</span><span class="n">label</span>
<a name="gbab-15"></a>      <span class="k">end</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>      <span class="k">def</span> <span class="nf">name</span>
<a name="gbab-18"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="vi">@obj</span><span class="o">.</span><span class="n">basename_without_ext</span><span class="p">)</span>
<a name="gbab-19"></a>      <span class="k">end</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>      <span class="k">def</span> <span class="nf">title</span>
<a name="gbab-22"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="vi">@obj</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;slug&quot;</span><span class="o">]</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;pretty&quot;</span><span class="p">,</span> <span class="ss">:cased</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span> <span class="o">||</span>
<a name="gbab-23"></a>          <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="vi">@obj</span><span class="o">.</span><span class="n">basename_without_ext</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;pretty&quot;</span><span class="p">,</span> <span class="ss">:cased</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-24"></a>      <span class="k">end</span>
<a name="gbab-25"></a>
<a name="gbab-26"></a>      <span class="k">def</span> <span class="nf">slug</span>
<a name="gbab-27"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="vi">@obj</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;slug&quot;</span><span class="o">]</span><span class="p">)</span> <span class="o">||</span> <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="vi">@obj</span><span class="o">.</span><span class="n">basename_without_ext</span><span class="p">)</span>
<a name="gbab-28"></a>      <span class="k">end</span>
<a name="gbab-29"></a>
<a name="gbab-30"></a>      <span class="k">def</span> <span class="nf">categories</span>
<a name="gbab-31"></a>        <span class="n">category_set</span> <span class="o">=</span> <span class="no">Set</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-32"></a>        <span class="nb">Array</span><span class="p">(</span><span class="vi">@obj</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;categories&quot;</span><span class="o">]</span><span class="p">)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">category</span><span class="o">|</span>
<a name="gbab-33"></a>          <span class="n">category_set</span> <span class="o">&lt;&lt;</span> <span class="n">category</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">downcase</span>
<a name="gbab-34"></a>        <span class="k">end</span>
<a name="gbab-35"></a>        <span class="n">category_set</span><span class="o">.</span><span class="n">to_a</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-36"></a>      <span class="k">end</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>      <span class="k">def</span> <span class="nf">year</span>
<a name="gbab-39"></a>        <span class="vi">@obj</span><span class="o">.</span><span class="n">date</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%Y&quot;</span><span class="p">)</span>
<a name="gbab-40"></a>      <span class="k">end</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a>      <span class="k">def</span> <span class="nf">month</span>
<a name="gbab-43"></a>        <span class="vi">@obj</span><span class="o">.</span><span class="n">date</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%m&quot;</span><span class="p">)</span>
<a name="gbab-44"></a>      <span class="k">end</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a>      <span class="k">def</span> <span class="nf">day</span>
<a name="gbab-47"></a>        <span class="vi">@obj</span><span class="o">.</span><span class="n">date</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%d&quot;</span><span class="p">)</span>
<a name="gbab-48"></a>      <span class="k">end</span>
<a name="gbab-49"></a>
<a name="gbab-50"></a>      <span class="k">def</span> <span class="nf">hour</span>
<a name="gbab-51"></a>        <span class="vi">@obj</span><span class="o">.</span><span class="n">date</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%H&quot;</span><span class="p">)</span>
<a name="gbab-52"></a>      <span class="k">end</span>
<a name="gbab-53"></a>
<a name="gbab-54"></a>      <span class="k">def</span> <span class="nf">minute</span>
<a name="gbab-55"></a>        <span class="vi">@obj</span><span class="o">.</span><span class="n">date</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%M&quot;</span><span class="p">)</span>
<a name="gbab-56"></a>      <span class="k">end</span>
<a name="gbab-57"></a>
<a name="gbab-58"></a>      <span class="k">def</span> <span class="nf">second</span>
<a name="gbab-59"></a>        <span class="vi">@obj</span><span class="o">.</span><span class="n">date</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%S&quot;</span><span class="p">)</span>
<a name="gbab-60"></a>      <span class="k">end</span>
<a name="gbab-61"></a>
<a name="gbab-62"></a>      <span class="k">def</span> <span class="nf">i_day</span>
<a name="gbab-63"></a>        <span class="vi">@obj</span><span class="o">.</span><span class="n">date</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%-d&quot;</span><span class="p">)</span>
<a name="gbab-64"></a>      <span class="k">end</span>
<a name="gbab-65"></a>
<a name="gbab-66"></a>      <span class="k">def</span> <span class="nf">i_month</span>
<a name="gbab-67"></a>        <span class="vi">@obj</span><span class="o">.</span><span class="n">date</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%-m&quot;</span><span class="p">)</span>
<a name="gbab-68"></a>      <span class="k">end</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a>      <span class="k">def</span> <span class="nf">short_month</span>
<a name="gbab-71"></a>        <span class="vi">@obj</span><span class="o">.</span><span class="n">date</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%b&quot;</span><span class="p">)</span>
<a name="gbab-72"></a>      <span class="k">end</span>
<a name="gbab-73"></a>
<a name="gbab-74"></a>      <span class="k">def</span> <span class="nf">short_year</span>
<a name="gbab-75"></a>        <span class="vi">@obj</span><span class="o">.</span><span class="n">date</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%y&quot;</span><span class="p">)</span>
<a name="gbab-76"></a>      <span class="k">end</span>
<a name="gbab-77"></a>
<a name="gbab-78"></a>      <span class="k">def</span> <span class="nf">y_day</span>
<a name="gbab-79"></a>        <span class="vi">@obj</span><span class="o">.</span><span class="n">date</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%j&quot;</span><span class="p">)</span>
<a name="gbab-80"></a>      <span class="k">end</span>
<a name="gbab-81"></a>
<a name="gbab-82"></a>      <span class="kp">private</span>
<a name="gbab-83"></a>      <span class="k">def</span> <span class="nf">fallback_data</span>
<a name="gbab-84"></a>        <span class="p">{}</span>
<a name="gbab-85"></a>      <span class="k">end</span>
<a name="gbab-86"></a>    <span class="k">end</span>
<a name="gbab-87"></a>  <span class="k">end</span>
<a name="gbab-88"></a><span class="k">end</span>
</pre></div>
</td></tr></table>