<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">External</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span>
<a name="gbab-6"></a>      <span class="c1">#</span>
<a name="gbab-7"></a>      <span class="c1"># Gems that, if installed, should be loaded.</span>
<a name="gbab-8"></a>      <span class="c1"># Usually contain subcommands.</span>
<a name="gbab-9"></a>      <span class="c1">#</span>
<a name="gbab-10"></a>      <span class="k">def</span> <span class="nf">blessed_gems</span>
<a name="gbab-11"></a>        <span class="sx">%w(</span>
<a name="gbab-12"></a><span class="sx">          jekyll-docs</span>
<a name="gbab-13"></a><span class="sx">          jekyll-import</span>
<a name="gbab-14"></a><span class="sx">        )</span>
<a name="gbab-15"></a>      <span class="k">end</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>      <span class="c1">#</span>
<a name="gbab-18"></a>      <span class="c1"># Require a gem or file if it&#39;s present, otherwise silently fail.</span>
<a name="gbab-19"></a>      <span class="c1">#</span>
<a name="gbab-20"></a>      <span class="c1"># names - a string gem name or array of gem names</span>
<a name="gbab-21"></a>      <span class="c1">#</span>
<a name="gbab-22"></a>      <span class="k">def</span> <span class="nf">require_if_present</span><span class="p">(</span><span class="n">names</span><span class="p">)</span>
<a name="gbab-23"></a>        <span class="nb">Array</span><span class="p">(</span><span class="n">names</span><span class="p">)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="nb">name</span><span class="o">|</span>
<a name="gbab-24"></a>          <span class="k">begin</span>
<a name="gbab-25"></a>            <span class="nb">require</span> <span class="nb">name</span>
<a name="gbab-26"></a>          <span class="k">rescue</span> <span class="no">LoadError</span>
<a name="gbab-27"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Couldn&#39;t load </span><span class="si">#{</span><span class="nb">name</span><span class="si">}</span><span class="s2">. Skipping.&quot;</span>
<a name="gbab-28"></a>            <span class="k">yield</span><span class="p">(</span><span class="nb">name</span><span class="p">,</span> <span class="n">version_constraint</span><span class="p">(</span><span class="nb">name</span><span class="p">))</span> <span class="k">if</span> <span class="nb">block_given?</span>
<a name="gbab-29"></a>            <span class="kp">false</span>
<a name="gbab-30"></a>          <span class="k">end</span>
<a name="gbab-31"></a>        <span class="k">end</span>
<a name="gbab-32"></a>      <span class="k">end</span>
<a name="gbab-33"></a>
<a name="gbab-34"></a>      <span class="c1">#</span>
<a name="gbab-35"></a>      <span class="c1"># The version constraint required to activate a given gem.</span>
<a name="gbab-36"></a>      <span class="c1"># Usually the gem version requirement is &quot;&gt; 0,&quot; because any version</span>
<a name="gbab-37"></a>      <span class="c1"># will do. In the case of jekyll-docs, however, we require the exact</span>
<a name="gbab-38"></a>      <span class="c1"># same version as Jekyll.</span>
<a name="gbab-39"></a>      <span class="c1">#</span>
<a name="gbab-40"></a>      <span class="c1"># Returns a String version constraint in a parseable form for</span>
<a name="gbab-41"></a>      <span class="c1"># RubyGems.</span>
<a name="gbab-42"></a>      <span class="k">def</span> <span class="nf">version_constraint</span><span class="p">(</span><span class="n">gem_name</span><span class="p">)</span>
<a name="gbab-43"></a>        <span class="k">return</span> <span class="s2">&quot;= </span><span class="si">#{</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">VERSION</span><span class="si">}</span><span class="s2">&quot;</span> <span class="k">if</span> <span class="n">gem_name</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">eql?</span><span class="p">(</span><span class="s2">&quot;jekyll-docs&quot;</span><span class="p">)</span>
<a name="gbab-44"></a>        <span class="s2">&quot;&gt; 0&quot;</span>
<a name="gbab-45"></a>      <span class="k">end</span>
<a name="gbab-46"></a>
<a name="gbab-47"></a>      <span class="c1">#</span>
<a name="gbab-48"></a>      <span class="c1"># Require a gem or gems. If it&#39;s not present, show a very nice error</span>
<a name="gbab-49"></a>      <span class="c1"># message that explains everything and is much more helpful than the</span>
<a name="gbab-50"></a>      <span class="c1"># normal LoadError.</span>
<a name="gbab-51"></a>      <span class="c1">#</span>
<a name="gbab-52"></a>      <span class="c1"># names - a string gem name or array of gem names</span>
<a name="gbab-53"></a>      <span class="c1">#</span>
<a name="gbab-54"></a>      <span class="k">def</span> <span class="nf">require_with_graceful_fail</span><span class="p">(</span><span class="n">names</span><span class="p">)</span>
<a name="gbab-55"></a>        <span class="nb">Array</span><span class="p">(</span><span class="n">names</span><span class="p">)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="nb">name</span><span class="o">|</span>
<a name="gbab-56"></a>          <span class="k">begin</span>
<a name="gbab-57"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Requiring:&quot;</span><span class="p">,</span> <span class="nb">name</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-58"></a>            <span class="nb">require</span> <span class="nb">name</span>
<a name="gbab-59"></a>          <span class="k">rescue</span> <span class="no">LoadError</span> <span class="o">=&gt;</span> <span class="n">e</span>
<a name="gbab-60"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;Dependency Error:&quot;</span><span class="p">,</span> <span class="o">&lt;&lt;-</span><span class="no">MSG</span>
<a name="gbab-61"></a><span class="sh">Yikes! It looks like you don&#39;t have #{name} or one of its dependencies installed.</span>
<a name="gbab-62"></a><span class="sh">In order to use Jekyll as currently configured, you&#39;ll need to install this gem.</span>
<a name="gbab-63"></a>
<a name="gbab-64"></a><span class="sh">The full error message from Ruby is: &#39;#{e.message}&#39;</span>
<a name="gbab-65"></a>
<a name="gbab-66"></a><span class="sh">If you run into trouble, you can find helpful resources at https://jekyllrb.com/help/!</span>
<a name="gbab-67"></a><span class="no">            MSG</span>
<a name="gbab-68"></a>            <span class="k">raise</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Errors</span><span class="o">::</span><span class="no">MissingDependencyException</span><span class="p">,</span> <span class="nb">name</span>
<a name="gbab-69"></a>          <span class="k">end</span>
<a name="gbab-70"></a>        <span class="k">end</span>
<a name="gbab-71"></a>      <span class="k">end</span>
<a name="gbab-72"></a>    <span class="k">end</span>
<a name="gbab-73"></a>  <span class="k">end</span>
<a name="gbab-74"></a><span class="k">end</span>
</pre></div>
</td></tr></table>