<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1">#!/usr/bin/env ruby</span>
<a name="gbab-2"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-3"></a>
<a name="gbab-4"></a><span class="nb">require</span> <span class="s2">&quot;liquid&quot;</span>
<a name="gbab-5"></a><span class="nb">require</span> <span class="s2">&quot;benchmark/ips&quot;</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a><span class="c1"># Test if processing content string without any Liquid constructs, via Liquid,</span>
<a name="gbab-8"></a><span class="c1"># is slower than checking whether constructs exist ( using `String#include?` )</span>
<a name="gbab-9"></a><span class="c1"># and return-ing the &quot;plaintext&quot; content string as is..</span>
<a name="gbab-10"></a><span class="c1">#</span>
<a name="gbab-11"></a><span class="c1"># Ref: https://github.com/jekyll/jekyll/pull/6735</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a><span class="c1"># Sample contents</span>
<a name="gbab-14"></a><span class="no">WITHOUT_LIQUID</span> <span class="o">=</span> <span class="o">&lt;&lt;-</span><span class="no">TEXT</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-15"></a><span class="sh">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor libero at</span>
<a name="gbab-16"></a><span class="sh">pharetra tempus. Etiam bibendum magna et metus fermentum, eu cursus lorem</span>
<a name="gbab-17"></a><span class="sh">mattis. Curabitur vel dui et lacus rutrum suscipit et eget neque.</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a><span class="sh">Nullam luctus fermentum est id blandit. Phasellus consectetur ullamcorper</span>
<a name="gbab-20"></a><span class="sh">ligula, at finibus eros laoreet id. Etiam sit amet est in libero efficitur</span>
<a name="gbab-21"></a><span class="sh">tristique. Ut nec magna augue. Quisque ut fringilla lacus, ac dictum enim.</span>
<a name="gbab-22"></a><span class="sh">Aliquam vel ornare mauris. Suspendisse ornare diam tempor nulla facilisis</span>
<a name="gbab-23"></a><span class="sh">aliquet. Sed ultrices placerat ultricies.</span>
<a name="gbab-24"></a><span class="no">TEXT</span>
<a name="gbab-25"></a>
<a name="gbab-26"></a><span class="no">WITH_LIQUID</span> <span class="o">=</span> <span class="o">&lt;&lt;-</span><span class="no">LIQUID</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-27"></a><span class="sh">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor libero at</span>
<a name="gbab-28"></a><span class="sh">pharetra tempus. {{ author }} et metus fermentum, eu cursus lorem</span>
<a name="gbab-29"></a><span class="sh">mattis. Curabitur vel dui et lacus rutrum suscipit et eget neque.</span>
<a name="gbab-30"></a>
<a name="gbab-31"></a><span class="sh">Nullam luctus fermentum est id blandit. Phasellus consectetur ullamcorper</span>
<a name="gbab-32"></a><span class="sh">ligula, {% if author == &quot;Jane Doe&quot; %} at finibus eros laoreet id. {% else %}</span>
<a name="gbab-33"></a><span class="sh">Etiam sit amet est in libero efficitur.{% endif %}</span>
<a name="gbab-34"></a><span class="sh">tristique. Ut nec magna augue. Quisque ut fringilla lacus, ac dictum enim.</span>
<a name="gbab-35"></a><span class="sh">Aliquam vel ornare mauris. Suspendisse ornare diam tempor nulla facilisis</span>
<a name="gbab-36"></a><span class="sh">aliquet. Sed ultrices placerat ultricies.</span>
<a name="gbab-37"></a><span class="no">LIQUID</span>
<a name="gbab-38"></a>
<a name="gbab-39"></a><span class="no">WITH_JUST_LIQUID_VAR</span> <span class="o">=</span> <span class="o">&lt;&lt;-</span><span class="no">LIQUID</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-40"></a><span class="sh">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor libero at</span>
<a name="gbab-41"></a><span class="sh">pharetra tempus. et metus fermentum, eu cursus lorem, ac dictum enim.</span>
<a name="gbab-42"></a><span class="sh">mattis. Curabitur vel dui et lacus rutrum suscipit et {{ title }} neque.</span>
<a name="gbab-43"></a>
<a name="gbab-44"></a><span class="sh">Nullam luctus fermentum est id blandit. Phasellus consectetur ullamcorper</span>
<a name="gbab-45"></a><span class="sh">ligula, at finibus eros laoreet id. Etiam sit amet est in libero efficitur.</span>
<a name="gbab-46"></a><span class="sh">tristique. Ut nec magna augue. {{ author }} Quisque ut fringilla lacus</span>
<a name="gbab-47"></a><span class="sh">Aliquam vel ornare mauris. Suspendisse ornare diam tempor nulla facilisis</span>
<a name="gbab-48"></a><span class="sh">aliquet. Sed ultrices placerat ultricies.</span>
<a name="gbab-49"></a><span class="no">LIQUID</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a><span class="no">SUITE</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-52"></a>  <span class="ss">:&quot;plain text&quot;</span>  <span class="o">=&gt;</span> <span class="no">WITHOUT_LIQUID</span><span class="p">,</span>
<a name="gbab-53"></a>  <span class="ss">:&quot;tags n vars&quot;</span> <span class="o">=&gt;</span> <span class="no">WITH_LIQUID</span><span class="p">,</span>
<a name="gbab-54"></a>  <span class="ss">:&quot;just vars&quot;</span>   <span class="o">=&gt;</span> <span class="no">WITH_JUST_LIQUID_VAR</span><span class="p">,</span>
<a name="gbab-55"></a><span class="p">}</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-56"></a>
<a name="gbab-57"></a><span class="c1"># Mimic how Jekyll&#39;s LiquidRenderer would process a non-static file, with</span>
<a name="gbab-58"></a><span class="c1"># some dummy payload</span>
<a name="gbab-59"></a><span class="k">def</span> <span class="nf">always_liquid</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-60"></a>  <span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">error_mode</span> <span class="o">=</span> <span class="ss">:warn</span>
<a name="gbab-61"></a>  <span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">content</span><span class="p">,</span> <span class="ss">:line_numbers</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span><span class="o">.</span><span class="n">render</span><span class="p">(</span>
<a name="gbab-62"></a>    <span class="s2">&quot;author&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;John Doe&quot;</span><span class="p">,</span>
<a name="gbab-63"></a>    <span class="s2">&quot;title&quot;</span>  <span class="o">=&gt;</span> <span class="s2">&quot;FooBar&quot;</span>
<a name="gbab-64"></a>  <span class="p">)</span>
<a name="gbab-65"></a><span class="k">end</span>
<a name="gbab-66"></a>
<a name="gbab-67"></a><span class="c1"># Mimic how the proposed change would first execute a couple of checks and</span>
<a name="gbab-68"></a><span class="c1"># proceed to process with Liquid if necessary</span>
<a name="gbab-69"></a><span class="k">def</span> <span class="nf">conditional_liquid</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-70"></a>  <span class="k">return</span> <span class="n">content</span> <span class="k">if</span> <span class="n">content</span><span class="o">.</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">content</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-71"></a>  <span class="k">return</span> <span class="n">content</span> <span class="k">unless</span> <span class="n">content</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;{%&quot;</span><span class="p">)</span> <span class="o">||</span> <span class="n">content</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;{{&quot;</span><span class="p">)</span>
<a name="gbab-72"></a>  <span class="n">always_liquid</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-73"></a><span class="k">end</span>
<a name="gbab-74"></a>
<a name="gbab-75"></a><span class="c1"># Test https://github.com/jekyll/jekyll/pull/6735#discussion_r165499868</span>
<a name="gbab-76"></a><span class="c1"># ------------------------------------------------------------------------</span>
<a name="gbab-77"></a><span class="k">def</span> <span class="nf">check_with_regex</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-78"></a>  <span class="o">!</span><span class="n">content</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">match?</span><span class="p">(</span><span class="sr">%r!{[{%]!</span><span class="p">)</span>
<a name="gbab-79"></a><span class="k">end</span>
<a name="gbab-80"></a>
<a name="gbab-81"></a><span class="k">def</span> <span class="nf">check_with_builtin</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-82"></a>  <span class="n">content</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;{%&quot;</span><span class="p">)</span> <span class="o">||</span> <span class="n">content</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;{{&quot;</span><span class="p">)</span>
<a name="gbab-83"></a><span class="k">end</span>
<a name="gbab-84"></a>
<a name="gbab-85"></a><span class="no">SUITE</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">key</span><span class="p">,</span> <span class="n">text</span><span class="o">|</span>
<a name="gbab-86"></a>  <span class="no">Benchmark</span><span class="o">.</span><span class="n">ips</span> <span class="k">do</span> <span class="o">|</span><span class="n">x</span><span class="o">|</span>
<a name="gbab-87"></a>    <span class="n">x</span><span class="o">.</span><span class="n">report</span><span class="p">(</span><span class="s2">&quot;regex-check   - </span><span class="si">#{</span><span class="n">key</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span> <span class="p">{</span> <span class="n">check_with_regex</span><span class="p">(</span><span class="n">text</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-88"></a>    <span class="n">x</span><span class="o">.</span><span class="n">report</span><span class="p">(</span><span class="s2">&quot;builtin-check - </span><span class="si">#{</span><span class="n">key</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span> <span class="p">{</span> <span class="n">check_with_builtin</span><span class="p">(</span><span class="n">text</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-89"></a>    <span class="n">x</span><span class="o">.</span><span class="n">compare!</span>
<a name="gbab-90"></a>  <span class="k">end</span>
<a name="gbab-91"></a><span class="k">end</span>
<a name="gbab-92"></a><span class="c1"># ------------------------------------------------------------------------</span>
<a name="gbab-93"></a>
<a name="gbab-94"></a><span class="c1"># Let&#39;s roll!</span>
<a name="gbab-95"></a><span class="no">SUITE</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">key</span><span class="p">,</span> <span class="n">text</span><span class="o">|</span>
<a name="gbab-96"></a>  <span class="no">Benchmark</span><span class="o">.</span><span class="n">ips</span> <span class="k">do</span> <span class="o">|</span><span class="n">x</span><span class="o">|</span>
<a name="gbab-97"></a>    <span class="n">x</span><span class="o">.</span><span class="n">report</span><span class="p">(</span><span class="s2">&quot;always thru liquid - </span><span class="si">#{</span><span class="n">key</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span> <span class="p">{</span> <span class="n">always_liquid</span><span class="p">(</span><span class="n">text</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-98"></a>    <span class="n">x</span><span class="o">.</span><span class="n">report</span><span class="p">(</span><span class="s2">&quot;conditional liquid - </span><span class="si">#{</span><span class="n">key</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span> <span class="p">{</span> <span class="n">conditional_liquid</span><span class="p">(</span><span class="n">text</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-99"></a>    <span class="n">x</span><span class="o">.</span><span class="n">compare!</span>
<a name="gbab-100"></a>  <span class="k">end</span>
<a name="gbab-101"></a><span class="k">end</span>
</pre></div>
</td></tr></table>