<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;addressable/uri&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-6"></a>  <span class="k">module</span> <span class="nn">Filters</span>
<a name="gbab-7"></a>    <span class="k">module</span> <span class="nn">URLFilters</span>
<a name="gbab-8"></a>      <span class="c1"># Produces an absolute URL based on site.url and site.baseurl.</span>
<a name="gbab-9"></a>      <span class="c1">#</span>
<a name="gbab-10"></a>      <span class="c1"># input - the URL to make absolute.</span>
<a name="gbab-11"></a>      <span class="c1">#</span>
<a name="gbab-12"></a>      <span class="c1"># Returns the absolute URL as a String.</span>
<a name="gbab-13"></a>      <span class="k">def</span> <span class="nf">absolute_url</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-14"></a>        <span class="k">return</span> <span class="k">if</span> <span class="n">input</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-15"></a>        <span class="n">input</span> <span class="o">=</span> <span class="n">input</span><span class="o">.</span><span class="n">url</span> <span class="k">if</span> <span class="n">input</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:url</span><span class="p">)</span>
<a name="gbab-16"></a>        <span class="k">return</span> <span class="n">input</span> <span class="k">if</span> <span class="no">Addressable</span><span class="o">::</span><span class="no">URI</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">input</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span><span class="o">.</span><span class="n">absolute?</span>
<a name="gbab-17"></a>        <span class="n">site</span> <span class="o">=</span> <span class="vi">@context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">]</span>
<a name="gbab-18"></a>        <span class="k">return</span> <span class="n">relative_url</span><span class="p">(</span><span class="n">input</span><span class="p">)</span> <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;url&quot;</span><span class="o">].</span><span class="n">nil?</span>
<a name="gbab-19"></a>        <span class="no">Addressable</span><span class="o">::</span><span class="no">URI</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span>
<a name="gbab-20"></a>          <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;url&quot;</span><span class="o">].</span><span class="n">to_s</span> <span class="o">+</span> <span class="n">relative_url</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-21"></a>        <span class="p">)</span><span class="o">.</span><span class="n">normalize</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-22"></a>      <span class="k">end</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>      <span class="c1"># Produces a URL relative to the domain root based on site.baseurl</span>
<a name="gbab-25"></a>      <span class="c1"># unless it is already an absolute url with an authority (host).</span>
<a name="gbab-26"></a>      <span class="c1">#</span>
<a name="gbab-27"></a>      <span class="c1"># input - the URL to make relative to the domain root</span>
<a name="gbab-28"></a>      <span class="c1">#</span>
<a name="gbab-29"></a>      <span class="c1"># Returns a URL relative to the domain root as a String.</span>
<a name="gbab-30"></a>      <span class="k">def</span> <span class="nf">relative_url</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-31"></a>        <span class="k">return</span> <span class="k">if</span> <span class="n">input</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-32"></a>        <span class="n">input</span> <span class="o">=</span> <span class="n">input</span><span class="o">.</span><span class="n">url</span> <span class="k">if</span> <span class="n">input</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:url</span><span class="p">)</span>
<a name="gbab-33"></a>        <span class="k">return</span> <span class="n">input</span> <span class="k">if</span> <span class="no">Addressable</span><span class="o">::</span><span class="no">URI</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">input</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span><span class="o">.</span><span class="n">absolute?</span>
<a name="gbab-34"></a>
<a name="gbab-35"></a>        <span class="n">parts</span> <span class="o">=</span> <span class="o">[</span><span class="n">sanitized_baseurl</span><span class="p">,</span> <span class="n">input</span><span class="o">]</span>
<a name="gbab-36"></a>        <span class="no">Addressable</span><span class="o">::</span><span class="no">URI</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span>
<a name="gbab-37"></a>          <span class="n">parts</span><span class="o">.</span><span class="n">compact</span><span class="o">.</span><span class="n">map</span> <span class="p">{</span> <span class="o">|</span><span class="n">part</span><span class="o">|</span> <span class="n">ensure_leading_slash</span><span class="p">(</span><span class="n">part</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span> <span class="p">}</span><span class="o">.</span><span class="n">join</span>
<a name="gbab-38"></a>        <span class="p">)</span><span class="o">.</span><span class="n">normalize</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-39"></a>      <span class="k">end</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>      <span class="c1"># Strips trailing `/index.html` from URLs to create pretty permalinks</span>
<a name="gbab-42"></a>      <span class="c1">#</span>
<a name="gbab-43"></a>      <span class="c1"># input - the URL with a possible `/index.html`</span>
<a name="gbab-44"></a>      <span class="c1">#</span>
<a name="gbab-45"></a>      <span class="c1"># Returns a URL with the trailing `/index.html` removed</span>
<a name="gbab-46"></a>      <span class="k">def</span> <span class="nf">strip_index</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-47"></a>        <span class="k">return</span> <span class="k">if</span> <span class="n">input</span><span class="o">.</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">input</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-48"></a>        <span class="n">input</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="sr">%r!/index\.html?$!</span><span class="p">,</span> <span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-49"></a>      <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>      <span class="kp">private</span>
<a name="gbab-52"></a>
<a name="gbab-53"></a>      <span class="k">def</span> <span class="nf">sanitized_baseurl</span>
<a name="gbab-54"></a>        <span class="n">site</span> <span class="o">=</span> <span class="vi">@context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">]</span>
<a name="gbab-55"></a>        <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;baseurl&quot;</span><span class="o">].</span><span class="n">to_s</span><span class="o">.</span><span class="n">chomp</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-56"></a>      <span class="k">end</span>
<a name="gbab-57"></a>
<a name="gbab-58"></a>      <span class="k">def</span> <span class="nf">ensure_leading_slash</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-59"></a>        <span class="k">return</span> <span class="n">input</span> <span class="k">if</span> <span class="n">input</span><span class="o">.</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">input</span><span class="o">.</span><span class="n">empty?</span> <span class="o">||</span> <span class="n">input</span><span class="o">.</span><span class="n">start_with?</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-60"></a>          <span class="s2">&quot;/</span><span class="si">#{</span><span class="n">input</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-61"></a>        <span class="k">end</span>
<a name="gbab-62"></a>
<a name="gbab-63"></a>    <span class="k">end</span>
<a name="gbab-64"></a>  <span class="k">end</span>
<a name="gbab-65"></a><span class="k">end</span>
</pre></div>
</td></tr></table>