<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Hooks</span>
<a name="gbab-5"></a>    <span class="no">DEFAULT_PRIORITY</span> <span class="o">=</span> <span class="mi">20</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a>    <span class="c1"># compatibility layer for octopress-hooks users</span>
<a name="gbab-8"></a>    <span class="no">PRIORITY_MAP</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-9"></a>      <span class="ss">:low</span> <span class="o">=&gt;</span> <span class="mi">10</span><span class="p">,</span>
<a name="gbab-10"></a>      <span class="ss">:normal</span> <span class="o">=&gt;</span> <span class="mi">20</span><span class="p">,</span>
<a name="gbab-11"></a>      <span class="ss">:high</span>   <span class="o">=&gt;</span> <span class="mi">30</span><span class="p">,</span>
<a name="gbab-12"></a>    <span class="p">}</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>    <span class="c1"># initial empty hooks</span>
<a name="gbab-15"></a>    <span class="vi">@registry</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-16"></a>      <span class="ss">:site</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-17"></a>        <span class="ss">:after_init</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-18"></a>        <span class="ss">:after_reset</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-19"></a>        <span class="ss">:post_read</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-20"></a>        <span class="ss">:pre_render</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-21"></a>        <span class="ss">:post_render</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-22"></a>        <span class="ss">:post_write</span>  <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-23"></a>      <span class="p">},</span>
<a name="gbab-24"></a>      <span class="ss">:pages</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-25"></a>        <span class="ss">:post_init</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-26"></a>        <span class="ss">:pre_render</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-27"></a>        <span class="ss">:post_render</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-28"></a>        <span class="ss">:post_write</span>  <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-29"></a>      <span class="p">},</span>
<a name="gbab-30"></a>      <span class="ss">:posts</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-31"></a>        <span class="ss">:post_init</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-32"></a>        <span class="ss">:pre_render</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-33"></a>        <span class="ss">:post_render</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-34"></a>        <span class="ss">:post_write</span>  <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-35"></a>      <span class="p">},</span>
<a name="gbab-36"></a>      <span class="ss">:documents</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-37"></a>        <span class="ss">:post_init</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-38"></a>        <span class="ss">:pre_render</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-39"></a>        <span class="ss">:post_render</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-40"></a>        <span class="ss">:post_write</span>  <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-41"></a>      <span class="p">},</span>
<a name="gbab-42"></a>      <span class="ss">:clean</span>     <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-43"></a>        <span class="ss">:on_obsolete</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-44"></a>      <span class="p">},</span>
<a name="gbab-45"></a>    <span class="p">}</span>
<a name="gbab-46"></a>
<a name="gbab-47"></a>    <span class="c1"># map of all hooks and their priorities</span>
<a name="gbab-48"></a>    <span class="vi">@hook_priority</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-49"></a>
<a name="gbab-50"></a>    <span class="no">NotAvailable</span> <span class="o">=</span> <span class="no">Class</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">RuntimeError</span><span class="p">)</span>
<a name="gbab-51"></a>    <span class="no">Uncallable</span> <span class="o">=</span> <span class="no">Class</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">RuntimeError</span><span class="p">)</span>
<a name="gbab-52"></a>
<a name="gbab-53"></a>    <span class="c1"># register hook(s) to be called later, public API</span>
<a name="gbab-54"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">register</span><span class="p">(</span><span class="n">owners</span><span class="p">,</span> <span class="n">event</span><span class="p">,</span> <span class="ss">priority</span><span class="p">:</span> <span class="no">DEFAULT_PRIORITY</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-55"></a>      <span class="nb">Array</span><span class="p">(</span><span class="n">owners</span><span class="p">)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">owner</span><span class="o">|</span>
<a name="gbab-56"></a>        <span class="n">register_one</span><span class="p">(</span><span class="n">owner</span><span class="p">,</span> <span class="n">event</span><span class="p">,</span> <span class="n">priority_value</span><span class="p">(</span><span class="n">priority</span><span class="p">),</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-57"></a>      <span class="k">end</span>
<a name="gbab-58"></a>    <span class="k">end</span>
<a name="gbab-59"></a>
<a name="gbab-60"></a>    <span class="c1"># Ensure the priority is a Fixnum</span>
<a name="gbab-61"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">priority_value</span><span class="p">(</span><span class="n">priority</span><span class="p">)</span>
<a name="gbab-62"></a>      <span class="k">return</span> <span class="n">priority</span> <span class="k">if</span> <span class="n">priority</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="nb">Integer</span><span class="p">)</span>
<a name="gbab-63"></a>      <span class="no">PRIORITY_MAP</span><span class="o">[</span><span class="n">priority</span><span class="o">]</span> <span class="o">||</span> <span class="no">DEFAULT_PRIORITY</span>
<a name="gbab-64"></a>    <span class="k">end</span>
<a name="gbab-65"></a>
<a name="gbab-66"></a>    <span class="c1"># register a single hook to be called later, internal API</span>
<a name="gbab-67"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">register_one</span><span class="p">(</span><span class="n">owner</span><span class="p">,</span> <span class="n">event</span><span class="p">,</span> <span class="n">priority</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-68"></a>      <span class="vi">@registry</span><span class="o">[</span><span class="n">owner</span><span class="o">]</span> <span class="o">||=</span><span class="p">{</span>
<a name="gbab-69"></a>        <span class="ss">:post_init</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-70"></a>        <span class="ss">:pre_render</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-71"></a>        <span class="ss">:post_render</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-72"></a>        <span class="ss">:post_write</span>  <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-73"></a>      <span class="p">}</span>
<a name="gbab-74"></a>
<a name="gbab-75"></a>      <span class="k">unless</span> <span class="vi">@registry</span><span class="o">[</span><span class="n">owner</span><span class="o">][</span><span class="n">event</span><span class="o">]</span>
<a name="gbab-76"></a>        <span class="k">raise</span> <span class="no">NotAvailable</span><span class="p">,</span> <span class="s2">&quot;Invalid hook. </span><span class="si">#{</span><span class="n">owner</span><span class="si">}</span><span class="s2"> supports only the &quot;</span> <span class="p">\</span>
<a name="gbab-77"></a>          <span class="s2">&quot;following hooks </span><span class="si">#{</span><span class="vi">@registry</span><span class="o">[</span><span class="n">owner</span><span class="o">].</span><span class="n">keys</span><span class="o">.</span><span class="n">inspect</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-78"></a>      <span class="k">end</span>
<a name="gbab-79"></a>
<a name="gbab-80"></a>      <span class="k">unless</span> <span class="n">block</span><span class="o">.</span><span class="n">respond_to?</span> <span class="ss">:call</span>
<a name="gbab-81"></a>        <span class="k">raise</span> <span class="no">Uncallable</span><span class="p">,</span> <span class="s2">&quot;Hooks must respond to :call&quot;</span>
<a name="gbab-82"></a>      <span class="k">end</span>
<a name="gbab-83"></a>
<a name="gbab-84"></a>      <span class="n">insert_hook</span> <span class="n">owner</span><span class="p">,</span> <span class="n">event</span><span class="p">,</span> <span class="n">priority</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span>
<a name="gbab-85"></a>    <span class="k">end</span>
<a name="gbab-86"></a>
<a name="gbab-87"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">insert_hook</span><span class="p">(</span><span class="n">owner</span><span class="p">,</span> <span class="n">event</span><span class="p">,</span> <span class="n">priority</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-88"></a>      <span class="vi">@hook_priority</span><span class="o">[</span><span class="n">block</span><span class="o">]</span> <span class="o">=</span> <span class="o">[-</span><span class="n">priority</span><span class="p">,</span> <span class="vi">@hook_priority</span><span class="o">.</span><span class="n">size</span><span class="o">]</span>
<a name="gbab-89"></a>      <span class="vi">@registry</span><span class="o">[</span><span class="n">owner</span><span class="o">][</span><span class="n">event</span><span class="o">]</span> <span class="o">&lt;&lt;</span> <span class="n">block</span>
<a name="gbab-90"></a>    <span class="k">end</span>
<a name="gbab-91"></a>
<a name="gbab-92"></a>    <span class="c1"># interface for Jekyll core components to trigger hooks</span>
<a name="gbab-93"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">trigger</span><span class="p">(</span><span class="n">owner</span><span class="p">,</span> <span class="n">event</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-94"></a>      <span class="c1"># proceed only if there are hooks to call</span>
<a name="gbab-95"></a>      <span class="k">return</span> <span class="k">unless</span> <span class="vi">@registry</span><span class="o">[</span><span class="n">owner</span><span class="o">]</span>
<a name="gbab-96"></a>      <span class="k">return</span> <span class="k">unless</span> <span class="vi">@registry</span><span class="o">[</span><span class="n">owner</span><span class="o">][</span><span class="n">event</span><span class="o">]</span>
<a name="gbab-97"></a>
<a name="gbab-98"></a>      <span class="c1"># hooks to call for this owner and event</span>
<a name="gbab-99"></a>      <span class="n">hooks</span> <span class="o">=</span> <span class="vi">@registry</span><span class="o">[</span><span class="n">owner</span><span class="o">][</span><span class="n">event</span><span class="o">]</span>
<a name="gbab-100"></a>
<a name="gbab-101"></a>      <span class="c1"># sort and call hooks according to priority and load order</span>
<a name="gbab-102"></a>      <span class="n">hooks</span><span class="o">.</span><span class="n">sort_by</span> <span class="p">{</span> <span class="o">|</span><span class="n">h</span><span class="o">|</span> <span class="vi">@hook_priority</span><span class="o">[</span><span class="n">h</span><span class="o">]</span> <span class="p">}</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">hook</span><span class="o">|</span>
<a name="gbab-103"></a>        <span class="n">hook</span><span class="o">.</span><span class="n">call</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-104"></a>      <span class="k">end</span>
<a name="gbab-105"></a>    <span class="k">end</span>
<a name="gbab-106"></a>  <span class="k">end</span>
<a name="gbab-107"></a><span class="k">end</span>
</pre></div>
</td></tr></table>