<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>    <span class="c1"># This class handles custom defaults for YAML frontmatter settings.</span>
<a name="gbab-5"></a>    <span class="c1"># These are set in _config.yml and apply both to internal use (e.g. layout)</span>
<a name="gbab-6"></a>    <span class="c1"># and the data available to liquid.</span>
<a name="gbab-7"></a>    <span class="c1">#</span>
<a name="gbab-8"></a>    <span class="c1"># It is exposed via the frontmatter_defaults method on the site class.</span>
<a name="gbab-9"></a>    <span class="k">class</span> <span class="nc">FrontmatterDefaults</span>
<a name="gbab-10"></a>      <span class="c1"># Initializes a new instance.</span>
<a name="gbab-11"></a>      <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-12"></a>        <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-13"></a>      <span class="k">end</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>    <span class="k">def</span> <span class="nf">update_deprecated_types</span><span class="p">(</span><span class="n">set</span><span class="p">)</span>
<a name="gbab-16"></a>      <span class="k">return</span> <span class="n">set</span> <span class="k">unless</span> <span class="n">set</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;scope&quot;</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">set</span><span class="o">[</span><span class="s2">&quot;scope&quot;</span><span class="o">].</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;type&quot;</span><span class="p">)</span>
<a name="gbab-17"></a>
<a name="gbab-18"></a>      <span class="n">set</span><span class="o">[</span><span class="s2">&quot;scope&quot;</span><span class="o">][</span><span class="s2">&quot;type&quot;</span><span class="o">]</span> <span class="o">=</span>
<a name="gbab-19"></a>        <span class="k">case</span> <span class="n">set</span><span class="o">[</span><span class="s2">&quot;scope&quot;</span><span class="o">][</span><span class="s2">&quot;type&quot;</span><span class="o">]</span>
<a name="gbab-20"></a>        <span class="k">when</span> <span class="s2">&quot;page&quot;</span>
<a name="gbab-21"></a>          <span class="no">Deprecator</span><span class="o">.</span><span class="n">defaults_deprecate_type</span><span class="p">(</span><span class="s2">&quot;page&quot;</span><span class="p">,</span> <span class="s2">&quot;pages&quot;</span><span class="p">)</span>
<a name="gbab-22"></a>          <span class="s2">&quot;pages&quot;</span>
<a name="gbab-23"></a>        <span class="k">when</span> <span class="s2">&quot;post&quot;</span>
<a name="gbab-24"></a>          <span class="no">Deprecator</span><span class="o">.</span><span class="n">defaults_deprecate_type</span><span class="p">(</span><span class="s2">&quot;post&quot;</span><span class="p">,</span> <span class="s2">&quot;posts&quot;</span><span class="p">)</span>
<a name="gbab-25"></a>          <span class="s2">&quot;posts&quot;</span>
<a name="gbab-26"></a>        <span class="k">when</span> <span class="s2">&quot;draft&quot;</span>
<a name="gbab-27"></a>          <span class="no">Deprecator</span><span class="o">.</span><span class="n">defaults_deprecate_type</span><span class="p">(</span><span class="s2">&quot;draft&quot;</span><span class="p">,</span> <span class="s2">&quot;drafts&quot;</span><span class="p">)</span>
<a name="gbab-28"></a>          <span class="s2">&quot;drafts&quot;</span>
<a name="gbab-29"></a>      <span class="k">else</span>
<a name="gbab-30"></a>          <span class="n">set</span><span class="o">[</span><span class="s2">&quot;scope&quot;</span><span class="o">][</span><span class="s2">&quot;type&quot;</span><span class="o">]</span>
<a name="gbab-31"></a>      <span class="k">end</span>
<a name="gbab-32"></a>
<a name="gbab-33"></a>      <span class="n">set</span>
<a name="gbab-34"></a>    <span class="k">end</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>    <span class="k">def</span> <span class="nf">ensure_time!</span><span class="p">(</span><span class="n">set</span><span class="p">)</span>
<a name="gbab-37"></a>      <span class="k">return</span> <span class="n">set</span> <span class="k">unless</span> <span class="n">set</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;values&quot;</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">set</span><span class="o">[</span><span class="s2">&quot;values&quot;</span><span class="o">].</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;date&quot;</span><span class="p">)</span>
<a name="gbab-38"></a>      <span class="k">return</span> <span class="n">set</span> <span class="k">if</span> <span class="n">set</span><span class="o">[</span><span class="s2">&quot;values&quot;</span><span class="o">][</span><span class="s2">&quot;date&quot;</span><span class="o">].</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Time</span><span class="p">)</span>
<a name="gbab-39"></a>      <span class="n">set</span><span class="o">[</span><span class="s2">&quot;values&quot;</span><span class="o">][</span><span class="s2">&quot;date&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">parse_date</span><span class="p">(</span>
<a name="gbab-40"></a>        <span class="n">set</span><span class="o">[</span><span class="s2">&quot;values&quot;</span><span class="o">][</span><span class="s2">&quot;date&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-41"></a>        <span class="s2">&quot;An invalid date format was found in a front-matter default set: </span><span class="si">#{</span><span class="n">set</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-42"></a>      <span class="p">)</span>
<a name="gbab-43"></a>      <span class="n">set</span>
<a name="gbab-44"></a>    <span class="k">end</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a>      <span class="c1"># Finds a default value for a given setting, filtered by path and type</span>
<a name="gbab-47"></a>      <span class="c1">#</span>
<a name="gbab-48"></a>    <span class="c1"># path - the path (relative to the source) of the page,</span>
<a name="gbab-49"></a>    <span class="c1"># post or :draft the default is used in</span>
<a name="gbab-50"></a>    <span class="c1"># type - a symbol indicating whether a :page,</span>
<a name="gbab-51"></a>    <span class="c1"># a :post or a :draft calls this method</span>
<a name="gbab-52"></a>      <span class="c1">#</span>
<a name="gbab-53"></a>      <span class="c1"># Returns the default value or nil if none was found</span>
<a name="gbab-54"></a>      <span class="k">def</span> <span class="nf">find</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">type</span><span class="p">,</span> <span class="n">setting</span><span class="p">)</span>
<a name="gbab-55"></a>        <span class="n">value</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-56"></a>        <span class="n">old_scope</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-57"></a>
<a name="gbab-58"></a>        <span class="n">matching_sets</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">type</span><span class="p">)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">set</span><span class="o">|</span>
<a name="gbab-59"></a>        <span class="k">if</span> <span class="n">set</span><span class="o">[</span><span class="s2">&quot;values&quot;</span><span class="o">].</span><span class="n">key?</span><span class="p">(</span><span class="n">setting</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">has_precedence?</span><span class="p">(</span><span class="n">old_scope</span><span class="p">,</span> <span class="n">set</span><span class="o">[</span><span class="s2">&quot;scope&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-60"></a>          <span class="n">value</span> <span class="o">=</span> <span class="n">set</span><span class="o">[</span><span class="s2">&quot;values&quot;</span><span class="o">][</span><span class="n">setting</span><span class="o">]</span>
<a name="gbab-61"></a>          <span class="n">old_scope</span> <span class="o">=</span> <span class="n">set</span><span class="o">[</span><span class="s2">&quot;scope&quot;</span><span class="o">]</span>
<a name="gbab-62"></a>          <span class="k">end</span>
<a name="gbab-63"></a>        <span class="k">end</span>
<a name="gbab-64"></a>        <span class="n">value</span>
<a name="gbab-65"></a>      <span class="k">end</span>
<a name="gbab-66"></a>
<a name="gbab-67"></a>      <span class="c1"># Collects a hash with all default values for a page or post</span>
<a name="gbab-68"></a>      <span class="c1">#</span>
<a name="gbab-69"></a>      <span class="c1"># path - the relative path of the page or post</span>
<a name="gbab-70"></a>      <span class="c1"># type - a symbol indicating the type (:post, :page or :draft)</span>
<a name="gbab-71"></a>      <span class="c1">#</span>
<a name="gbab-72"></a>      <span class="c1"># Returns a hash with all default values (an empty hash if there are none)</span>
<a name="gbab-73"></a>      <span class="k">def</span> <span class="nf">all</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">type</span><span class="p">)</span>
<a name="gbab-74"></a>        <span class="n">defaults</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-75"></a>        <span class="n">old_scope</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-76"></a>        <span class="n">matching_sets</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">type</span><span class="p">)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">set</span><span class="o">|</span>
<a name="gbab-77"></a>        <span class="k">if</span> <span class="n">has_precedence?</span><span class="p">(</span><span class="n">old_scope</span><span class="p">,</span> <span class="n">set</span><span class="o">[</span><span class="s2">&quot;scope&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-78"></a>          <span class="n">defaults</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="n">defaults</span><span class="p">,</span> <span class="n">set</span><span class="o">[</span><span class="s2">&quot;values&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-79"></a>          <span class="n">old_scope</span> <span class="o">=</span> <span class="n">set</span><span class="o">[</span><span class="s2">&quot;scope&quot;</span><span class="o">]</span>
<a name="gbab-80"></a>          <span class="k">else</span>
<a name="gbab-81"></a>          <span class="n">defaults</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="n">set</span><span class="o">[</span><span class="s2">&quot;values&quot;</span><span class="o">]</span><span class="p">,</span> <span class="n">defaults</span><span class="p">)</span>
<a name="gbab-82"></a>          <span class="k">end</span>
<a name="gbab-83"></a>        <span class="k">end</span>
<a name="gbab-84"></a>        <span class="n">defaults</span>
<a name="gbab-85"></a>      <span class="k">end</span>
<a name="gbab-86"></a>
<a name="gbab-87"></a>      <span class="kp">private</span>
<a name="gbab-88"></a>
<a name="gbab-89"></a>      <span class="c1"># Checks if a given default setting scope matches the given path and type</span>
<a name="gbab-90"></a>      <span class="c1">#</span>
<a name="gbab-91"></a>      <span class="c1"># scope - the hash indicating the scope, as defined in _config.yml</span>
<a name="gbab-92"></a>      <span class="c1"># path - the path to check for</span>
<a name="gbab-93"></a>      <span class="c1"># type - the type (:post, :page or :draft) to check for</span>
<a name="gbab-94"></a>      <span class="c1">#</span>
<a name="gbab-95"></a>      <span class="c1"># Returns true if the scope applies to the given path and type</span>
<a name="gbab-96"></a>      <span class="k">def</span> <span class="nf">applies?</span><span class="p">(</span><span class="n">scope</span><span class="p">,</span> <span class="n">path</span><span class="p">,</span> <span class="n">type</span><span class="p">)</span>
<a name="gbab-97"></a>        <span class="n">applies_path?</span><span class="p">(</span><span class="n">scope</span><span class="p">,</span> <span class="n">path</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">applies_type?</span><span class="p">(</span><span class="n">scope</span><span class="p">,</span> <span class="n">type</span><span class="p">)</span>
<a name="gbab-98"></a>      <span class="k">end</span>
<a name="gbab-99"></a>
<a name="gbab-100"></a>    <span class="c1"># rubocop:disable Metrics/AbcSize</span>
<a name="gbab-101"></a>      <span class="k">def</span> <span class="nf">applies_path?</span><span class="p">(</span><span class="n">scope</span><span class="p">,</span> <span class="n">path</span><span class="p">)</span>
<a name="gbab-102"></a>      <span class="k">return</span> <span class="kp">true</span> <span class="k">if</span> <span class="o">!</span><span class="n">scope</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;path&quot;</span><span class="p">)</span> <span class="o">||</span> <span class="n">scope</span><span class="o">[</span><span class="s2">&quot;path&quot;</span><span class="o">].</span><span class="n">empty?</span>
<a name="gbab-103"></a>
<a name="gbab-104"></a>      <span class="n">sanitized_path</span> <span class="o">=</span> <span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">sanitize_path</span><span class="p">(</span><span class="n">path</span><span class="p">))</span>
<a name="gbab-105"></a>      <span class="n">site_path</span> <span class="o">=</span> <span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">source</span><span class="p">)</span>
<a name="gbab-106"></a>      <span class="n">rel_scope_path</span> <span class="o">=</span> <span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">scope</span><span class="o">[</span><span class="s2">&quot;path&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-107"></a>      <span class="n">abs_scope_path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">source</span><span class="p">,</span> <span class="n">rel_scope_path</span><span class="p">)</span>
<a name="gbab-108"></a>
<a name="gbab-109"></a>      <span class="k">if</span> <span class="n">scope</span><span class="o">[</span><span class="s2">&quot;path&quot;</span><span class="o">].</span><span class="n">to_s</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;*&quot;</span><span class="p">)</span>
<a name="gbab-110"></a>      <span class="no">Dir</span><span class="o">.</span><span class="n">glob</span><span class="p">(</span><span class="n">abs_scope_path</span><span class="p">)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">scope_path</span><span class="o">|</span>
<a name="gbab-111"></a>        <span class="n">scope_path</span> <span class="o">=</span> <span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">scope_path</span><span class="p">)</span><span class="o">.</span><span class="n">relative_path_from</span> <span class="n">site_path</span>
<a name="gbab-112"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Globbed Scope Path:&quot;</span><span class="p">,</span> <span class="n">scope_path</span>
<a name="gbab-113"></a>        <span class="k">return</span> <span class="kp">true</span> <span class="k">if</span> <span class="n">path_is_subpath?</span><span class="p">(</span><span class="n">sanitized_path</span><span class="p">,</span> <span class="n">scope_path</span><span class="p">)</span>
<a name="gbab-114"></a>      <span class="k">end</span>
<a name="gbab-115"></a>        <span class="kp">false</span>
<a name="gbab-116"></a>      <span class="k">else</span>
<a name="gbab-117"></a>      <span class="n">path_is_subpath?</span><span class="p">(</span><span class="n">sanitized_path</span><span class="p">,</span> <span class="n">rel_scope_path</span><span class="p">)</span>
<a name="gbab-118"></a>    <span class="k">end</span>
<a name="gbab-119"></a>    <span class="k">end</span>
<a name="gbab-120"></a>    <span class="c1"># rubocop:enable Metrics/AbcSize</span>
<a name="gbab-121"></a>
<a name="gbab-122"></a>    <span class="k">def</span> <span class="nf">path_is_subpath?</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">parent_path</span><span class="p">)</span>
<a name="gbab-123"></a>      <span class="n">path</span><span class="o">.</span><span class="n">ascend</span> <span class="k">do</span> <span class="o">|</span><span class="n">ascended_path</span><span class="o">|</span>
<a name="gbab-124"></a>        <span class="k">if</span> <span class="n">ascended_path</span><span class="o">.</span><span class="n">to_s</span> <span class="o">==</span> <span class="n">parent_path</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-125"></a>            <span class="k">return</span> <span class="kp">true</span>
<a name="gbab-126"></a>          <span class="k">end</span>
<a name="gbab-127"></a>        <span class="k">end</span>
<a name="gbab-128"></a>
<a name="gbab-129"></a>      <span class="kp">false</span>
<a name="gbab-130"></a>      <span class="k">end</span>
<a name="gbab-131"></a>
<a name="gbab-132"></a>    <span class="c1"># Determines whether the scope applies to type.</span>
<a name="gbab-133"></a>    <span class="c1"># The scope applies to the type if:</span>
<a name="gbab-134"></a>    <span class="c1">#   1. no &#39;type&#39; is specified</span>
<a name="gbab-135"></a>    <span class="c1">#   2. the &#39;type&#39; in the scope is the same as the type asked about</span>
<a name="gbab-136"></a>    <span class="c1">#</span>
<a name="gbab-137"></a>    <span class="c1"># scope - the Hash defaults set being asked about application</span>
<a name="gbab-138"></a>    <span class="c1"># type  - the type of the document being processed / asked about</span>
<a name="gbab-139"></a>    <span class="c1">#         its defaults.</span>
<a name="gbab-140"></a>    <span class="c1">#</span>
<a name="gbab-141"></a>    <span class="c1"># Returns true if either of the above conditions are satisfied,</span>
<a name="gbab-142"></a>    <span class="c1">#   otherwise returns false</span>
<a name="gbab-143"></a>      <span class="k">def</span> <span class="nf">applies_type?</span><span class="p">(</span><span class="n">scope</span><span class="p">,</span> <span class="n">type</span><span class="p">)</span>
<a name="gbab-144"></a>      <span class="o">!</span><span class="n">scope</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;type&quot;</span><span class="p">)</span> <span class="o">||</span> <span class="n">scope</span><span class="o">[</span><span class="s2">&quot;type&quot;</span><span class="o">].</span><span class="n">eql?</span><span class="p">(</span><span class="n">type</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span>
<a name="gbab-145"></a>      <span class="k">end</span>
<a name="gbab-146"></a>
<a name="gbab-147"></a>      <span class="c1"># Checks if a given set of default values is valid</span>
<a name="gbab-148"></a>      <span class="c1">#</span>
<a name="gbab-149"></a>      <span class="c1"># set - the default value hash, as defined in _config.yml</span>
<a name="gbab-150"></a>      <span class="c1">#</span>
<a name="gbab-151"></a>      <span class="c1"># Returns true if the set is valid and can be used in this class</span>
<a name="gbab-152"></a>      <span class="k">def</span> <span class="nf">valid?</span><span class="p">(</span><span class="n">set</span><span class="p">)</span>
<a name="gbab-153"></a>      <span class="n">set</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">set</span><span class="o">[</span><span class="s2">&quot;values&quot;</span><span class="o">].</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span>
<a name="gbab-154"></a>      <span class="k">end</span>
<a name="gbab-155"></a>
<a name="gbab-156"></a>      <span class="c1"># Determines if a new scope has precedence over an old one</span>
<a name="gbab-157"></a>      <span class="c1">#</span>
<a name="gbab-158"></a>      <span class="c1"># old_scope - the old scope hash, or nil if there&#39;s none</span>
<a name="gbab-159"></a>      <span class="c1"># new_scope - the new scope hash</span>
<a name="gbab-160"></a>      <span class="c1">#</span>
<a name="gbab-161"></a>      <span class="c1"># Returns true if the new scope has precedence over the older</span>
<a name="gbab-162"></a>    <span class="c1"># rubocop: disable PredicateName</span>
<a name="gbab-163"></a>    <span class="k">def</span> <span class="nf">has_precedence?</span><span class="p">(</span><span class="n">old_scope</span><span class="p">,</span> <span class="n">new_scope</span><span class="p">)</span>
<a name="gbab-164"></a>        <span class="k">return</span> <span class="kp">true</span> <span class="k">if</span> <span class="n">old_scope</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-165"></a>
<a name="gbab-166"></a>      <span class="n">new_path</span> <span class="o">=</span> <span class="n">sanitize_path</span><span class="p">(</span><span class="n">new_scope</span><span class="o">[</span><span class="s2">&quot;path&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-167"></a>      <span class="n">old_path</span> <span class="o">=</span> <span class="n">sanitize_path</span><span class="p">(</span><span class="n">old_scope</span><span class="o">[</span><span class="s2">&quot;path&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-168"></a>
<a name="gbab-169"></a>        <span class="k">if</span> <span class="n">new_path</span><span class="o">.</span><span class="n">length</span> <span class="o">!=</span> <span class="n">old_path</span><span class="o">.</span><span class="n">length</span>
<a name="gbab-170"></a>          <span class="n">new_path</span><span class="o">.</span><span class="n">length</span> <span class="o">&gt;=</span> <span class="n">old_path</span><span class="o">.</span><span class="n">length</span>
<a name="gbab-171"></a>      <span class="k">elsif</span> <span class="n">new_scope</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;type&quot;</span><span class="p">)</span>
<a name="gbab-172"></a>          <span class="kp">true</span>
<a name="gbab-173"></a>        <span class="k">else</span>
<a name="gbab-174"></a>        <span class="o">!</span><span class="n">old_scope</span><span class="o">.</span><span class="n">key?</span> <span class="s2">&quot;type&quot;</span>
<a name="gbab-175"></a>	<span class="k">end</span>
<a name="gbab-176"></a>      <span class="k">end</span>
<a name="gbab-177"></a>    <span class="c1"># rubocop: enable PredicateName</span>
<a name="gbab-178"></a>
<a name="gbab-179"></a>      <span class="c1"># Collects a list of sets that match the given path and type</span>
<a name="gbab-180"></a>      <span class="c1">#</span>
<a name="gbab-181"></a>      <span class="c1"># Returns an array of hashes</span>
<a name="gbab-182"></a>      <span class="k">def</span> <span class="nf">matching_sets</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">type</span><span class="p">)</span>
<a name="gbab-183"></a>        <span class="n">valid_sets</span><span class="o">.</span><span class="n">select</span> <span class="k">do</span> <span class="o">|</span><span class="n">set</span><span class="o">|</span>
<a name="gbab-184"></a>        <span class="o">!</span><span class="n">set</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;scope&quot;</span><span class="p">)</span> <span class="o">||</span> <span class="n">applies?</span><span class="p">(</span><span class="n">set</span><span class="o">[</span><span class="s2">&quot;scope&quot;</span><span class="o">]</span><span class="p">,</span> <span class="n">path</span><span class="p">,</span> <span class="n">type</span><span class="p">)</span>
<a name="gbab-185"></a>        <span class="k">end</span>
<a name="gbab-186"></a>      <span class="k">end</span>
<a name="gbab-187"></a>
<a name="gbab-188"></a>      <span class="c1"># Returns a list of valid sets</span>
<a name="gbab-189"></a>      <span class="c1">#</span>
<a name="gbab-190"></a>      <span class="c1"># This is not cached to allow plugins to modify the configuration</span>
<a name="gbab-191"></a>      <span class="c1"># and have their changes take effect</span>
<a name="gbab-192"></a>      <span class="c1">#</span>
<a name="gbab-193"></a>      <span class="c1"># Returns an array of hashes</span>
<a name="gbab-194"></a>      <span class="k">def</span> <span class="nf">valid_sets</span>
<a name="gbab-195"></a>      <span class="n">sets</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;defaults&quot;</span><span class="o">]</span>
<a name="gbab-196"></a>        <span class="k">return</span> <span class="o">[]</span> <span class="k">unless</span> <span class="n">sets</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="nb">Array</span><span class="p">)</span>
<a name="gbab-197"></a>
<a name="gbab-198"></a>      <span class="n">sets</span><span class="o">.</span><span class="n">map</span> <span class="k">do</span> <span class="o">|</span><span class="n">set</span><span class="o">|</span>
<a name="gbab-199"></a>        <span class="k">if</span> <span class="n">valid?</span><span class="p">(</span><span class="n">set</span><span class="p">)</span>
<a name="gbab-200"></a>          <span class="n">ensure_time!</span><span class="p">(</span><span class="n">update_deprecated_types</span><span class="p">(</span><span class="n">set</span><span class="p">))</span>
<a name="gbab-201"></a>        <span class="k">else</span>
<a name="gbab-202"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Defaults:&quot;</span><span class="p">,</span> <span class="s2">&quot;An invalid front-matter default set was found:&quot;</span>
<a name="gbab-203"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="n">set</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-204"></a>          <span class="kp">nil</span>
<a name="gbab-205"></a>        <span class="k">end</span>
<a name="gbab-206"></a>      <span class="k">end</span><span class="o">.</span><span class="n">compact</span>
<a name="gbab-207"></a>      <span class="k">end</span>
<a name="gbab-208"></a>
<a name="gbab-209"></a>    <span class="c1"># Sanitizes the given path by removing a leading and adding a trailing slash</span>
<a name="gbab-210"></a>      <span class="k">def</span> <span class="nf">sanitize_path</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-211"></a>        <span class="k">if</span> <span class="n">path</span><span class="o">.</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">path</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-212"></a>          <span class="s2">&quot;&quot;</span>
<a name="gbab-213"></a>        <span class="k">else</span>
<a name="gbab-214"></a>        <span class="n">path</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r!\A/|(?&lt;=[^/])\z!</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="o">.</span><span class="n">freeze</span><span class="p">)</span>
<a name="gbab-215"></a>        <span class="k">end</span>
<a name="gbab-216"></a>      <span class="k">end</span>
<a name="gbab-217"></a>    <span class="k">end</span>
<a name="gbab-218"></a>  <span class="k">end</span>
</pre></div>
</td></tr></table>