<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">Layout</span>
<a name="gbab-5"></a>    <span class="kp">include</span> <span class="no">Convertible</span>
<a name="gbab-6"></a>    
<a name="gbab-7"></a>    <span class="c1"># Gets the Site object.</span>
<a name="gbab-8"></a>    <span class="kp">attr_reader</span> <span class="ss">:site</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>    <span class="c1"># Gets the name of this layout.</span>
<a name="gbab-11"></a>    <span class="kp">attr_reader</span> <span class="ss">:name</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>    <span class="c1"># Gets the path to this layout.</span>
<a name="gbab-14"></a>    <span class="kp">attr_reader</span> <span class="ss">:path</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>    <span class="c1"># Gets the path to this layout relative to its base</span>
<a name="gbab-17"></a>    <span class="kp">attr_reader</span> <span class="ss">:relative_path</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a>    <span class="c1"># Gets/Sets the extension of this layout.</span>
<a name="gbab-20"></a>    <span class="kp">attr_accessor</span> <span class="ss">:ext</span>
<a name="gbab-21"></a>
<a name="gbab-22"></a>    <span class="c1"># Gets/Sets the Hash that holds the metadata for this layout.</span>
<a name="gbab-23"></a>    <span class="kp">attr_accessor</span> <span class="ss">:data</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>    <span class="c1"># Gets/Sets the content of this layout.</span>
<a name="gbab-26"></a>    <span class="kp">attr_accessor</span> <span class="ss">:content</span>
<a name="gbab-27"></a>    
<a name="gbab-28"></a>    <span class="c1"># Initialize a new Layout.</span>
<a name="gbab-29"></a>    <span class="c1">#</span>
<a name="gbab-30"></a>    <span class="c1"># site - The Site.</span>
<a name="gbab-31"></a>    <span class="c1"># base - The String path to the source.</span>
<a name="gbab-32"></a>    <span class="c1"># name - The String filename of the post file.</span>
<a name="gbab-33"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">base</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-34"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-35"></a>      <span class="vi">@base</span> <span class="o">=</span> <span class="n">base</span>
<a name="gbab-36"></a>      <span class="vi">@name</span> <span class="o">=</span> <span class="nb">name</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>      <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">theme</span> <span class="o">&amp;&amp;</span> <span class="n">site</span><span class="o">.</span><span class="n">theme</span><span class="o">.</span><span class="n">layouts_path</span><span class="o">.</span><span class="n">eql?</span><span class="p">(</span><span class="n">base</span><span class="p">)</span>
<a name="gbab-39"></a>        <span class="vi">@base_dir</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">theme</span><span class="o">.</span><span class="n">root</span>
<a name="gbab-40"></a>        <span class="vi">@path</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">in_theme_dir</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-41"></a>      <span class="k">else</span>
<a name="gbab-42"></a>        <span class="vi">@base_dir</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">source</span>
<a name="gbab-43"></a>      <span class="vi">@path</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-44"></a>      <span class="k">end</span>
<a name="gbab-45"></a>      <span class="vi">@relative_path</span> <span class="o">=</span> <span class="vi">@path</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="vi">@base_dir</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-46"></a>      
<a name="gbab-47"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">data</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-48"></a>      
<a name="gbab-49"></a>      <span class="n">process</span><span class="p">(</span><span class="nb">name</span><span class="p">)</span>
<a name="gbab-50"></a>      <span class="n">read_yaml</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-51"></a>    <span class="k">end</span>
<a name="gbab-52"></a>    
<a name="gbab-53"></a>    <span class="c1"># Extract information from the layout filename.</span>
<a name="gbab-54"></a>    <span class="c1">#</span>
<a name="gbab-55"></a>    <span class="c1"># name - The String filename of the layout file.</span>
<a name="gbab-56"></a>    <span class="c1">#</span>
<a name="gbab-57"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-58"></a>    <span class="k">def</span> <span class="nf">process</span><span class="p">(</span><span class="nb">name</span><span class="p">)</span>
<a name="gbab-59"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">ext</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">extname</span><span class="p">(</span><span class="nb">name</span><span class="p">)</span>
<a name="gbab-60"></a>    <span class="k">end</span>
<a name="gbab-61"></a>  <span class="k">end</span>
<a name="gbab-62"></a><span class="k">end</span>
</pre></div>
</td></tr></table>