<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="c1"># A Jekyll::Page subclass to handle processing files without reading it to</span>
<a name="gbab-5"></a>  <span class="c1"># determine the page-data and page-content based on Front Matter delimiters.</span>
<a name="gbab-6"></a>  <span class="c1">#</span>
<a name="gbab-7"></a>  <span class="c1"># The class instance is basically just a bare-bones entity with just</span>
<a name="gbab-8"></a>  <span class="c1"># attributes &quot;dir&quot;, &quot;name&quot;, &quot;path&quot;, &quot;url&quot; defined on it.</span>
<a name="gbab-9"></a>  <span class="k">class</span> <span class="nc">PageWithoutAFile</span> <span class="o">&lt;</span> <span class="no">Page</span>
<a name="gbab-10"></a>    <span class="k">def</span> <span class="nf">read_yaml</span><span class="p">(</span><span class="o">*</span><span class="p">)</span>
<a name="gbab-11"></a>      <span class="vi">@data</span> <span class="o">||=</span> <span class="p">{}</span>
<a name="gbab-12"></a>    <span class="k">end</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>    <span class="k">def</span> <span class="nf">inspect</span>
<a name="gbab-15"></a>      <span class="s2">&quot;#&lt;Jekyll:PageWithoutAFile @name=</span><span class="si">#{</span><span class="nb">name</span><span class="o">.</span><span class="n">inspect</span><span class="si">}</span><span class="s2">&gt;&quot;</span>
<a name="gbab-16"></a>    <span class="k">end</span>
<a name="gbab-17"></a>  <span class="k">end</span>
<a name="gbab-18"></a><span class="k">end</span>
<a name="gbab-19"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-22"></a>  <span class="c1"># A Jekyll::Page subclass to handle processing files without reading it to</span>
<a name="gbab-23"></a>  <span class="c1"># determine the page-data and page-content based on Front Matter delimiters.</span>
<a name="gbab-24"></a>  <span class="c1">#</span>
<a name="gbab-25"></a>  <span class="c1"># The class instance is basically just a bare-bones entity with just</span>
<a name="gbab-26"></a>  <span class="c1"># attributes &quot;dir&quot;, &quot;name&quot;, &quot;path&quot;, &quot;url&quot; defined on it.</span>
<a name="gbab-27"></a>  <span class="k">class</span> <span class="nc">PageWithoutAFile</span> <span class="o">&lt;</span> <span class="no">Page</span>
<a name="gbab-28"></a>    <span class="k">def</span> <span class="nf">read_yaml</span><span class="p">(</span><span class="o">*</span><span class="p">)</span>
<a name="gbab-29"></a>      <span class="vi">@data</span> <span class="o">||=</span> <span class="p">{}</span>
<a name="gbab-30"></a>    <span class="k">end</span>
<a name="gbab-31"></a>
<a name="gbab-32"></a>    <span class="k">def</span> <span class="nf">inspect</span>
<a name="gbab-33"></a>      <span class="s2">&quot;#&lt;Jekyll:PageWithoutAFile @name=</span><span class="si">#{</span><span class="nb">name</span><span class="o">.</span><span class="n">inspect</span><span class="si">}</span><span class="s2">&gt;&quot;</span>
<a name="gbab-34"></a>    <span class="k">end</span>
<a name="gbab-35"></a>  <span class="k">end</span>
<a name="gbab-36"></a><span class="k">end</span>
</pre></div>
</td></tr></table>