<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="n">require_relative</span> <span class="s2">&quot;liquid_renderer/file&quot;</span>
<a name="gbab-4"></a><span class="n">require_relative</span> <span class="s2">&quot;liquid_renderer/table&quot;</span>
<a name="gbab-5"></a>
<a name="gbab-6"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-7"></a>  <span class="k">class</span> <span class="nc">LiquidRenderer</span>
<a name="gbab-8"></a>    <span class="kp">extend</span> <span class="no">Forwardable</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>    <span class="n">def_delegator</span> <span class="ss">:@site</span><span class="p">,</span> <span class="ss">:in_source_dir</span><span class="p">,</span> <span class="ss">:source_dir</span>
<a name="gbab-11"></a>    <span class="n">def_delegator</span> <span class="ss">:@site</span><span class="p">,</span> <span class="ss">:in_theme_dir</span><span class="p">,</span> <span class="ss">:theme_dir</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-14"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-15"></a>      <span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">error_mode</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;liquid&quot;</span><span class="o">][</span><span class="s2">&quot;error_mode&quot;</span><span class="o">].</span><span class="n">to_sym</span>
<a name="gbab-16"></a>      <span class="n">reset</span>
<a name="gbab-17"></a>    <span class="k">end</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a>    <span class="k">def</span> <span class="nf">reset</span>
<a name="gbab-20"></a>      <span class="vi">@stats</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-21"></a>    <span class="k">end</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>    <span class="k">def</span> <span class="nf">file</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
<a name="gbab-24"></a>      <span class="n">filename</span><span class="o">.</span><span class="n">match</span><span class="p">(</span><span class="n">filename_regex</span><span class="p">)</span>
<a name="gbab-25"></a>      <span class="n">filename</span> <span class="o">=</span>
<a name="gbab-26"></a>        <span class="k">if</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">last_match</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span> <span class="o">==</span> <span class="n">theme_dir</span><span class="p">(</span><span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-27"></a>          <span class="o">::</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="no">Regexp</span><span class="o">.</span><span class="n">last_match</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span><span class="o">[-</span><span class="mi">1</span><span class="o">]</span><span class="p">,</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">last_match</span><span class="p">(</span><span class="mi">2</span><span class="p">))</span>
<a name="gbab-28"></a>        <span class="k">else</span>
<a name="gbab-29"></a>          <span class="no">Regexp</span><span class="o">.</span><span class="n">last_match</span><span class="p">(</span><span class="mi">2</span><span class="p">)</span>
<a name="gbab-30"></a>        <span class="k">end</span>
<a name="gbab-31"></a>      <span class="no">LiquidRenderer</span><span class="o">::</span><span class="no">File</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">,</span> <span class="n">filename</span><span class="p">)</span><span class="o">.</span><span class="n">tap</span> <span class="k">do</span>
<a name="gbab-32"></a>        <span class="vi">@stats</span><span class="o">[</span><span class="n">filename</span><span class="o">]</span> <span class="o">||=</span> <span class="n">new_profile_hash</span>
<a name="gbab-33"></a>        <span class="vi">@stats</span><span class="o">[</span><span class="n">filename</span><span class="o">][</span><span class="ss">:count</span><span class="o">]</span> <span class="o">+=</span> <span class="mi">1</span>
<a name="gbab-34"></a>      <span class="k">end</span>
<a name="gbab-35"></a>    <span class="k">end</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a>    <span class="k">def</span> <span class="nf">increment_bytes</span><span class="p">(</span><span class="n">filename</span><span class="p">,</span> <span class="n">bytes</span><span class="p">)</span>
<a name="gbab-38"></a>      <span class="vi">@stats</span><span class="o">[</span><span class="n">filename</span><span class="o">][</span><span class="ss">:bytes</span><span class="o">]</span> <span class="o">+=</span> <span class="n">bytes</span>
<a name="gbab-39"></a>    <span class="k">end</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>    <span class="k">def</span> <span class="nf">increment_time</span><span class="p">(</span><span class="n">filename</span><span class="p">,</span> <span class="n">time</span><span class="p">)</span>
<a name="gbab-42"></a>      <span class="vi">@stats</span><span class="o">[</span><span class="n">filename</span><span class="o">][</span><span class="ss">:time</span><span class="o">]</span> <span class="o">+=</span> <span class="n">time</span>
<a name="gbab-43"></a>    <span class="k">end</span>
<a name="gbab-44"></a>
<a name="gbab-45"></a>    <span class="k">def</span> <span class="nf">stats_table</span><span class="p">(</span><span class="n">n</span> <span class="o">=</span> <span class="mi">50</span><span class="p">)</span>
<a name="gbab-46"></a>      <span class="no">LiquidRenderer</span><span class="o">::</span><span class="no">Table</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@stats</span><span class="p">)</span><span class="o">.</span><span class="n">to_s</span><span class="p">(</span><span class="n">n</span><span class="p">)</span>
<a name="gbab-47"></a>    <span class="k">end</span>
<a name="gbab-48"></a>
<a name="gbab-49"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">format_error</span><span class="p">(</span><span class="n">e</span><span class="p">,</span> <span class="n">path</span><span class="p">)</span>
<a name="gbab-50"></a>      <span class="s2">&quot;</span><span class="si">#{</span><span class="n">e</span><span class="o">.</span><span class="n">message</span><span class="si">}</span><span class="s2"> in </span><span class="si">#{</span><span class="n">path</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-51"></a>    <span class="k">end</span>
<a name="gbab-52"></a>
<a name="gbab-53"></a>    <span class="kp">private</span>
<a name="gbab-54"></a>
<a name="gbab-55"></a>    <span class="k">def</span> <span class="nf">filename_regex</span>
<a name="gbab-56"></a>      <span class="sr">%r!\A(</span><span class="si">#{</span><span class="n">source_dir</span><span class="si">}</span><span class="sr">/|</span><span class="si">#{</span><span class="n">theme_dir</span><span class="si">}</span><span class="sr">/|\W*)(.*)!oi</span>
<a name="gbab-57"></a>    <span class="k">end</span>
<a name="gbab-58"></a>
<a name="gbab-59"></a>    <span class="k">def</span> <span class="nf">new_profile_hash</span>
<a name="gbab-60"></a>      <span class="no">Hash</span><span class="o">.</span><span class="n">new</span> <span class="p">{</span> <span class="o">|</span><span class="nb">hash</span><span class="p">,</span> <span class="n">key</span><span class="o">|</span> <span class="nb">hash</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="o">=</span> <span class="mi">0</span> <span class="p">}</span>
<a name="gbab-61"></a>    <span class="k">end</span>
<a name="gbab-62"></a>  <span class="k">end</span>
<a name="gbab-63"></a><span class="k">end</span>
</pre></div>
</td></tr></table>