<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">LiquidRenderer</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">File</span>
<a name="gbab-6"></a>      <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">renderer</span><span class="p">,</span> <span class="n">filename</span><span class="p">)</span>
<a name="gbab-7"></a>        <span class="vi">@renderer</span> <span class="o">=</span> <span class="n">renderer</span>
<a name="gbab-8"></a>        <span class="vi">@filename</span> <span class="o">=</span> <span class="n">filename</span>
<a name="gbab-9"></a>      <span class="k">end</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>      <span class="k">def</span> <span class="nf">parse</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-12"></a>        <span class="n">measure_time</span> <span class="k">do</span>
<a name="gbab-13"></a>          <span class="vi">@template</span> <span class="o">=</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">content</span><span class="p">,</span> <span class="ss">:line_numbers</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-14"></a>        <span class="k">end</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>        <span class="nb">self</span>
<a name="gbab-17"></a>      <span class="k">end</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a>      <span class="k">def</span> <span class="nf">render</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-20"></a>        <span class="n">measure_time</span> <span class="k">do</span>
<a name="gbab-21"></a>          <span class="n">measure_bytes</span> <span class="k">do</span>
<a name="gbab-22"></a>          <span class="vi">@template</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-23"></a>        <span class="k">end</span>
<a name="gbab-24"></a>      <span class="k">end</span>
<a name="gbab-25"></a>      <span class="k">end</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>      <span class="k">def</span> <span class="nf">render!</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-28"></a>        <span class="n">measure_time</span> <span class="k">do</span>
<a name="gbab-29"></a>          <span class="n">measure_bytes</span> <span class="k">do</span>
<a name="gbab-30"></a>          <span class="vi">@template</span><span class="o">.</span><span class="n">render!</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-31"></a>        <span class="k">end</span>
<a name="gbab-32"></a>      <span class="k">end</span>
<a name="gbab-33"></a>      <span class="k">end</span>
<a name="gbab-34"></a>
<a name="gbab-35"></a>      <span class="k">def</span> <span class="nf">warnings</span>
<a name="gbab-36"></a>        <span class="vi">@template</span><span class="o">.</span><span class="n">warnings</span>
<a name="gbab-37"></a>      <span class="k">end</span>
<a name="gbab-38"></a>
<a name="gbab-39"></a>      <span class="kp">private</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>      <span class="k">def</span> <span class="nf">measure_bytes</span>
<a name="gbab-42"></a>        <span class="k">yield</span><span class="o">.</span><span class="n">tap</span> <span class="k">do</span> <span class="o">|</span><span class="n">str</span><span class="o">|</span>
<a name="gbab-43"></a>        <span class="vi">@renderer</span><span class="o">.</span><span class="n">increment_bytes</span><span class="p">(</span><span class="vi">@filename</span><span class="p">,</span> <span class="n">str</span><span class="o">.</span><span class="n">bytesize</span><span class="p">)</span>
<a name="gbab-44"></a>      <span class="k">end</span>
<a name="gbab-45"></a>      <span class="k">end</span>
<a name="gbab-46"></a>
<a name="gbab-47"></a>      <span class="k">def</span> <span class="nf">measure_time</span>
<a name="gbab-48"></a>        <span class="n">before</span> <span class="o">=</span> <span class="no">Time</span><span class="o">.</span><span class="n">now</span>
<a name="gbab-49"></a>        <span class="k">yield</span>
<a name="gbab-50"></a>      <span class="k">ensure</span>
<a name="gbab-51"></a>        <span class="n">after</span> <span class="o">=</span> <span class="no">Time</span><span class="o">.</span><span class="n">now</span>
<a name="gbab-52"></a>        <span class="vi">@renderer</span><span class="o">.</span><span class="n">increment_time</span><span class="p">(</span><span class="vi">@filename</span><span class="p">,</span> <span class="n">after</span> <span class="o">-</span> <span class="n">before</span><span class="p">)</span>
<a name="gbab-53"></a>      <span class="k">end</span>
<a name="gbab-54"></a>    <span class="k">end</span>
<a name="gbab-55"></a>  <span class="k">end</span>
<a name="gbab-56"></a><span class="k">end</span>
</pre></div>
</td></tr></table>