<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">PluginManager</span>
<a name="gbab-5"></a>    <span class="kp">attr_reader</span> <span class="ss">:site</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a>    <span class="c1"># Create an instance of this class.</span>
<a name="gbab-8"></a>    <span class="c1">#</span>
<a name="gbab-9"></a>    <span class="c1"># site - the instance of Jekyll::Site we&#39;re concerned with</span>
<a name="gbab-10"></a>    <span class="c1">#</span>
<a name="gbab-11"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-12"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-13"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-14"></a>    <span class="k">end</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>    <span class="c1"># Require all the plugins which are allowed.</span>
<a name="gbab-17"></a>    <span class="c1">#</span>
<a name="gbab-18"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-19"></a>    <span class="k">def</span> <span class="nf">conscientious_require</span>
<a name="gbab-20"></a>      <span class="n">require_theme_deps</span> <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">theme</span>
<a name="gbab-21"></a>      <span class="n">require_plugin_files</span>
<a name="gbab-22"></a>      <span class="n">require_gems</span>
<a name="gbab-23"></a>      <span class="n">deprecation_checks</span>
<a name="gbab-24"></a>    <span class="k">end</span>
<a name="gbab-25"></a>
<a name="gbab-26"></a>    <span class="c1"># Require each of the gem plugins specified.</span>
<a name="gbab-27"></a>    <span class="c1">#</span>
<a name="gbab-28"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-29"></a>    <span class="k">def</span> <span class="nf">require_gems</span>
<a name="gbab-30"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span><span class="p">(</span>
<a name="gbab-31"></a>        <span class="n">site</span><span class="o">.</span><span class="n">gems</span><span class="o">.</span><span class="n">select</span> <span class="p">{</span> <span class="o">|</span><span class="n">plugin</span><span class="o">|</span> <span class="n">plugin_allowed?</span><span class="p">(</span><span class="n">plugin</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-32"></a>      <span class="p">)</span>
<a name="gbab-33"></a>    <span class="k">end</span>
<a name="gbab-34"></a>
<a name="gbab-35"></a>    <span class="c1"># Require each of the runtime_dependencies specified by the theme&#39;s gemspec.</span>
<a name="gbab-36"></a>    <span class="c1">#</span>
<a name="gbab-37"></a>    <span class="c1"># Returns false only if no dependencies have been specified, otherwise nothing.</span>
<a name="gbab-38"></a>    <span class="k">def</span> <span class="nf">require_theme_deps</span>
<a name="gbab-39"></a>      <span class="k">return</span> <span class="kp">false</span> <span class="k">unless</span> <span class="n">site</span><span class="o">.</span><span class="n">theme</span><span class="o">.</span><span class="n">runtime_dependencies</span>
<a name="gbab-40"></a>      <span class="n">site</span><span class="o">.</span><span class="n">theme</span><span class="o">.</span><span class="n">runtime_dependencies</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">dep</span><span class="o">|</span>
<a name="gbab-41"></a>        <span class="k">next</span> <span class="k">if</span> <span class="n">dep</span><span class="o">.</span><span class="n">name</span> <span class="o">==</span> <span class="s2">&quot;jekyll&quot;</span>
<a name="gbab-42"></a>        <span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span><span class="p">(</span><span class="n">dep</span><span class="o">.</span><span class="n">name</span><span class="p">)</span> <span class="k">if</span> <span class="n">plugin_allowed?</span><span class="p">(</span><span class="n">dep</span><span class="o">.</span><span class="n">name</span><span class="p">)</span>
<a name="gbab-43"></a>      <span class="k">end</span>
<a name="gbab-44"></a>    <span class="k">end</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">require_from_bundler</span>
<a name="gbab-47"></a>      <span class="k">if</span> <span class="o">!</span><span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;JEKYLL_NO_BUNDLER_REQUIRE&quot;</span><span class="o">]</span> <span class="o">&amp;&amp;</span> <span class="no">File</span><span class="o">.</span><span class="n">file?</span><span class="p">(</span><span class="s2">&quot;Gemfile&quot;</span><span class="p">)</span>
<a name="gbab-48"></a>        <span class="nb">require</span> <span class="s2">&quot;bundler&quot;</span>
<a name="gbab-49"></a>
<a name="gbab-50"></a>        <span class="no">Bundler</span><span class="o">.</span><span class="n">setup</span>
<a name="gbab-51"></a>        <span class="n">required_gems</span> <span class="o">=</span> <span class="no">Bundler</span><span class="o">.</span><span class="n">require</span><span class="p">(</span><span class="ss">:jekyll_plugins</span><span class="p">)</span>
<a name="gbab-52"></a>        <span class="n">message</span> <span class="o">=</span> <span class="s2">&quot;Required </span><span class="si">#{</span><span class="n">required_gems</span><span class="o">.</span><span class="n">map</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:name</span><span class="p">)</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;, &quot;</span><span class="p">)</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-53"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span><span class="p">(</span><span class="s2">&quot;PluginManager:&quot;</span><span class="p">,</span> <span class="n">message</span><span class="p">)</span>
<a name="gbab-54"></a>        <span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;JEKYLL_NO_BUNDLER_REQUIRE&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;true&quot;</span>
<a name="gbab-55"></a>
<a name="gbab-56"></a>        <span class="kp">true</span>
<a name="gbab-57"></a>      <span class="k">else</span>
<a name="gbab-58"></a>        <span class="kp">false</span>
<a name="gbab-59"></a>      <span class="k">end</span>
<a name="gbab-60"></a>    <span class="k">end</span>
<a name="gbab-61"></a>
<a name="gbab-62"></a>    <span class="c1"># Check whether a gem plugin is allowed to be used during this build.</span>
<a name="gbab-63"></a>    <span class="c1">#</span>
<a name="gbab-64"></a>    <span class="c1"># plugin_name - the name of the plugin</span>
<a name="gbab-65"></a>    <span class="c1">#</span>
<a name="gbab-66"></a>    <span class="c1"># Returns true if the plugin name is in the whitelist or if the site is not</span>
<a name="gbab-67"></a>    <span class="c1">#   in safe mode.</span>
<a name="gbab-68"></a>    <span class="k">def</span> <span class="nf">plugin_allowed?</span><span class="p">(</span><span class="n">plugin_name</span><span class="p">)</span>
<a name="gbab-69"></a>      <span class="o">!</span><span class="n">site</span><span class="o">.</span><span class="n">safe</span> <span class="o">||</span> <span class="n">whitelist</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">plugin_name</span><span class="p">)</span>
<a name="gbab-70"></a>    <span class="k">end</span>
<a name="gbab-71"></a>
<a name="gbab-72"></a>    <span class="c1"># Build an array of allowed plugin gem names.</span>
<a name="gbab-73"></a>    <span class="c1">#</span>
<a name="gbab-74"></a>    <span class="c1"># Returns an array of strings, each string being the name of a gem name</span>
<a name="gbab-75"></a>    <span class="c1">#   that is allowed to be used.</span>
<a name="gbab-76"></a>    <span class="k">def</span> <span class="nf">whitelist</span>
<a name="gbab-77"></a>      <span class="vi">@whitelist</span> <span class="o">||=</span> <span class="nb">Array</span><span class="o">[</span><span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;whitelist&quot;</span><span class="o">]].</span><span class="n">flatten</span>
<a name="gbab-78"></a>    <span class="k">end</span>
<a name="gbab-79"></a>
<a name="gbab-80"></a>    <span class="c1"># Require all .rb files if safe mode is off</span>
<a name="gbab-81"></a>    <span class="c1">#</span>
<a name="gbab-82"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-83"></a>    <span class="k">def</span> <span class="nf">require_plugin_files</span>
<a name="gbab-84"></a>      <span class="k">unless</span> <span class="n">site</span><span class="o">.</span><span class="n">safe</span>
<a name="gbab-85"></a>        <span class="n">plugins_path</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">plugin_search_path</span><span class="o">|</span>
<a name="gbab-86"></a>          <span class="n">plugin_files</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">safe_glob</span><span class="p">(</span><span class="n">plugin_search_path</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;**&quot;</span><span class="p">,</span> <span class="s2">&quot;*.rb&quot;</span><span class="p">))</span>
<a name="gbab-87"></a>          <span class="no">Jekyll</span><span class="o">::</span><span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span><span class="p">(</span><span class="n">plugin_files</span><span class="p">)</span>
<a name="gbab-88"></a>        <span class="k">end</span>
<a name="gbab-89"></a>      <span class="k">end</span>
<a name="gbab-90"></a>    <span class="k">end</span>
<a name="gbab-91"></a>
<a name="gbab-92"></a>    <span class="c1"># Public: Setup the plugin search path</span>
<a name="gbab-93"></a>    <span class="c1">#</span>
<a name="gbab-94"></a>    <span class="c1"># Returns an Array of plugin search paths</span>
<a name="gbab-95"></a>    <span class="k">def</span> <span class="nf">plugins_path</span>
<a name="gbab-96"></a>      <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;plugins_dir&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Configuration</span><span class="o">::</span><span class="no">DEFAULTS</span><span class="o">[</span><span class="s2">&quot;plugins_dir&quot;</span><span class="o">]</span>
<a name="gbab-97"></a>        <span class="o">[</span><span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;plugins_dir&quot;</span><span class="o">]</span><span class="p">)</span><span class="o">]</span>
<a name="gbab-98"></a>      <span class="k">else</span>
<a name="gbab-99"></a>        <span class="nb">Array</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;plugins_dir&quot;</span><span class="o">]</span><span class="p">)</span><span class="o">.</span><span class="n">map</span> <span class="p">{</span> <span class="o">|</span><span class="n">d</span><span class="o">|</span> <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="n">d</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-100"></a>      <span class="k">end</span>
<a name="gbab-101"></a>    <span class="k">end</span>
<a name="gbab-102"></a>
<a name="gbab-103"></a>    <span class="k">def</span> <span class="nf">deprecation_checks</span>
<a name="gbab-104"></a>      <span class="n">pagination_included</span> <span class="o">=</span> <span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;plugins&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="o">[]</span><span class="p">)</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;jekyll-paginate&quot;</span><span class="p">)</span> <span class="o">||</span>
<a name="gbab-105"></a>        <span class="n">defined?</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Paginate</span><span class="p">)</span>
<a name="gbab-106"></a>      <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;paginate&quot;</span><span class="o">]</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">pagination_included</span>
<a name="gbab-107"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">Deprecator</span><span class="o">.</span><span class="n">deprecation_message</span> <span class="s2">&quot;You appear to have pagination &quot;</span> <span class="p">\</span>
<a name="gbab-108"></a>          <span class="s2">&quot;turned on, but you haven&#39;t included the `jekyll-paginate` gem. &quot;</span> <span class="p">\</span>
<a name="gbab-109"></a>          <span class="s2">&quot;Ensure you have `plugins: [jekyll-paginate]` in your configuration file.&quot;</span>
<a name="gbab-110"></a>      <span class="k">end</span>
<a name="gbab-111"></a>    <span class="k">end</span>
<a name="gbab-112"></a>  <span class="k">end</span>
<a name="gbab-113"></a><span class="k">end</span>
</pre></div>
</td></tr></table>