<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;csv&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-6"></a>  <span class="k">class</span> <span class="nc">Reader</span>
<a name="gbab-7"></a>    <span class="kp">attr_reader</span> <span class="ss">:site</span>
<a name="gbab-8"></a>
<a name="gbab-9"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-10"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-11"></a>    <span class="k">end</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>    <span class="c1"># Read Site data from disk and load it into internal data structures.</span>
<a name="gbab-14"></a>    <span class="c1">#</span>
<a name="gbab-15"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-16"></a>    <span class="k">def</span> <span class="nf">read</span>
<a name="gbab-17"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">layouts</span> <span class="o">=</span> <span class="no">LayoutReader</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-18"></a>      <span class="n">read_directories</span>
<a name="gbab-19"></a>      <span class="n">sort_files!</span>
<a name="gbab-20"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">data</span> <span class="o">=</span> <span class="no">DataReader</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;data_dir&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-21"></a>      <span class="no">CollectionReader</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-22"></a>      <span class="no">ThemeAssetsReader</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-23"></a>    <span class="k">end</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>    <span class="c1"># Sorts posts, pages, and static files.</span>
<a name="gbab-26"></a>    <span class="k">def</span> <span class="nf">sort_files!</span>
<a name="gbab-27"></a>      <span class="n">site</span><span class="o">.</span><span class="n">collections</span><span class="o">.</span><span class="n">each_value</span> <span class="p">{</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span> <span class="n">c</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">sort!</span> <span class="p">}</span>
<a name="gbab-28"></a>      <span class="n">site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">sort_by!</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:name</span><span class="p">)</span>
<a name="gbab-29"></a>      <span class="n">site</span><span class="o">.</span><span class="n">static_files</span><span class="o">.</span><span class="n">sort_by!</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:relative_path</span><span class="p">)</span>
<a name="gbab-30"></a>    <span class="k">end</span>
<a name="gbab-31"></a>
<a name="gbab-32"></a>    <span class="c1"># Recursively traverse directories to find pages and static files</span>
<a name="gbab-33"></a>    <span class="c1"># that will become part of the site according to the rules in</span>
<a name="gbab-34"></a>    <span class="c1"># filter_entries.</span>
<a name="gbab-35"></a>    <span class="c1">#</span>
<a name="gbab-36"></a>    <span class="c1"># dir - The String relative path of the directory to read. Default: &#39;&#39;.</span>
<a name="gbab-37"></a>    <span class="c1">#</span>
<a name="gbab-38"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-39"></a>    <span class="k">def</span> <span class="nf">read_directories</span><span class="p">(</span><span class="n">dir</span> <span class="o">=</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-40"></a>      <span class="n">base</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a>      <span class="k">return</span> <span class="k">unless</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">base</span><span class="p">)</span>
<a name="gbab-43"></a>
<a name="gbab-44"></a>      <span class="n">dot</span> <span class="o">=</span> <span class="no">Dir</span><span class="o">.</span><span class="n">chdir</span><span class="p">(</span><span class="n">base</span><span class="p">)</span> <span class="p">{</span> <span class="n">filter_entries</span><span class="p">(</span><span class="no">Dir</span><span class="o">.</span><span class="n">entries</span><span class="p">(</span><span class="s2">&quot;.&quot;</span><span class="p">),</span> <span class="n">base</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-45"></a>      <span class="n">dot_dirs</span> <span class="o">=</span> <span class="n">dot</span><span class="o">.</span><span class="n">select</span><span class="p">{</span> <span class="o">|</span><span class="n">file</span><span class="o">|</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">base</span><span class="p">,</span><span class="n">file</span><span class="p">))</span> <span class="p">}</span>
<a name="gbab-46"></a>      <span class="n">dot_files</span> <span class="o">=</span> <span class="p">(</span><span class="n">dot</span> <span class="o">-</span> <span class="n">dot_dirs</span><span class="p">)</span>
<a name="gbab-47"></a>      <span class="n">dot_pages</span> <span class="o">=</span> <span class="n">dot_files</span><span class="o">.</span><span class="n">select</span> <span class="k">do</span> <span class="o">|</span><span class="n">file</span><span class="o">|</span>
<a name="gbab-48"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">has_yaml_header?</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="n">file</span><span class="p">))</span>
<a name="gbab-49"></a>      <span class="k">end</span>
<a name="gbab-50"></a>      <span class="n">dot_static_files</span> <span class="o">=</span> <span class="n">dot_files</span> <span class="o">-</span> <span class="n">dot_pages</span>
<a name="gbab-51"></a>
<a name="gbab-52"></a>      <span class="n">retrieve_posts</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span>
<a name="gbab-53"></a>      <span class="n">retrieve_dirs</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="n">dot_dirs</span><span class="p">)</span>
<a name="gbab-54"></a>      <span class="n">retrieve_pages</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">dot_pages</span><span class="p">)</span>
<a name="gbab-55"></a>      <span class="n">retrieve_static_files</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">dot_static_files</span><span class="p">)</span>
<a name="gbab-56"></a>    <span class="k">end</span>
<a name="gbab-57"></a>
<a name="gbab-58"></a>    <span class="c1"># Retrieves all the posts(posts/drafts) from the given directory</span>
<a name="gbab-59"></a>    <span class="c1"># and add them to the site and sort them.</span>
<a name="gbab-60"></a>    <span class="c1">#</span>
<a name="gbab-61"></a>    <span class="c1"># dir - The String representing the directory to retrieve the posts from.</span>
<a name="gbab-62"></a>    <span class="c1">#</span>
<a name="gbab-63"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-64"></a>    <span class="k">def</span> <span class="nf">retrieve_posts</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span>
<a name="gbab-65"></a>      <span class="k">return</span> <span class="k">if</span> <span class="n">outside_configured_directory?</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span>
<a name="gbab-66"></a>      <span class="n">site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">concat</span><span class="p">(</span><span class="n">post_reader</span><span class="o">.</span><span class="n">read_posts</span><span class="p">(</span><span class="n">dir</span><span class="p">))</span>
<a name="gbab-67"></a>      <span class="n">site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">concat</span><span class="p">(</span><span class="n">post_reader</span><span class="o">.</span><span class="n">read_drafts</span><span class="p">(</span><span class="n">dir</span><span class="p">))</span> <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">show_drafts</span>
<a name="gbab-68"></a>    <span class="k">end</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a>    <span class="c1"># Recursively traverse directories with the read_directories function.</span>
<a name="gbab-71"></a>    <span class="c1">#</span>
<a name="gbab-72"></a>    <span class="c1"># base - The String representing the site&#39;s base directory.</span>
<a name="gbab-73"></a>    <span class="c1"># dir - The String representing the directory to traverse down.</span>
<a name="gbab-74"></a>    <span class="c1"># dot_dirs - The Array of subdirectories in the dir.</span>
<a name="gbab-75"></a>    <span class="c1">#</span>
<a name="gbab-76"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-77"></a>    <span class="k">def</span> <span class="nf">retrieve_dirs</span><span class="p">(</span><span class="n">_base</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="n">dot_dirs</span><span class="p">)</span>
<a name="gbab-78"></a>      <span class="n">dot_dirs</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">file</span><span class="o">|</span>
<a name="gbab-79"></a>        <span class="n">dir_path</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span><span class="n">file</span><span class="p">)</span>
<a name="gbab-80"></a>        <span class="n">rel_path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">file</span><span class="p">)</span>
<a name="gbab-81"></a>        <span class="k">unless</span> <span class="vi">@site</span><span class="o">.</span><span class="n">dest</span><span class="o">.</span><span class="n">chomp</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span> <span class="o">==</span> <span class="n">dir_path</span>
<a name="gbab-82"></a>          <span class="vi">@site</span><span class="o">.</span><span class="n">reader</span><span class="o">.</span><span class="n">read_directories</span><span class="p">(</span><span class="n">rel_path</span><span class="p">)</span>
<a name="gbab-83"></a>        <span class="k">end</span>
<a name="gbab-84"></a>      <span class="k">end</span>
<a name="gbab-85"></a>    <span class="k">end</span>
<a name="gbab-86"></a>
<a name="gbab-87"></a>    <span class="c1"># Retrieve all the pages from the current directory,</span>
<a name="gbab-88"></a>    <span class="c1"># add them to the site and sort them.</span>
<a name="gbab-89"></a>    <span class="c1">#</span>
<a name="gbab-90"></a>    <span class="c1"># dir - The String representing the directory retrieve the pages from.</span>
<a name="gbab-91"></a>    <span class="c1"># dot_pages - The Array of pages in the dir.</span>
<a name="gbab-92"></a>    <span class="c1">#</span>
<a name="gbab-93"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-94"></a>    <span class="k">def</span> <span class="nf">retrieve_pages</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">dot_pages</span><span class="p">)</span>
<a name="gbab-95"></a>      <span class="n">site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">concat</span><span class="p">(</span><span class="no">PageReader</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">dir</span><span class="p">)</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="n">dot_pages</span><span class="p">))</span>
<a name="gbab-96"></a>    <span class="k">end</span>
<a name="gbab-97"></a>
<a name="gbab-98"></a>    <span class="c1"># Retrieve all the static files from the current directory,</span>
<a name="gbab-99"></a>    <span class="c1"># add them to the site and sort them.</span>
<a name="gbab-100"></a>    <span class="c1">#</span>
<a name="gbab-101"></a>    <span class="c1"># dir - The directory retrieve the static files from.</span>
<a name="gbab-102"></a>    <span class="c1"># dot_static_files - The static files in the dir.</span>
<a name="gbab-103"></a>    <span class="c1">#</span>
<a name="gbab-104"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-105"></a>    <span class="k">def</span> <span class="nf">retrieve_static_files</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">dot_static_files</span><span class="p">)</span>
<a name="gbab-106"></a>      <span class="n">site</span><span class="o">.</span><span class="n">static_files</span><span class="o">.</span><span class="n">concat</span><span class="p">(</span><span class="no">StaticFileReader</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">dir</span><span class="p">)</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="n">dot_static_files</span><span class="p">))</span>
<a name="gbab-107"></a>    <span class="k">end</span>
<a name="gbab-108"></a>
<a name="gbab-109"></a>    <span class="c1"># Filter out any files/directories that are hidden or backup files (start</span>
<a name="gbab-110"></a>    <span class="c1"># with &quot;.&quot; or &quot;#&quot; or end with &quot;~&quot;), or contain site content (start with &quot;_&quot;),</span>
<a name="gbab-111"></a>    <span class="c1"># or are excluded in the site configuration, unless they are web server</span>
<a name="gbab-112"></a>    <span class="c1"># files such as &#39;.htaccess&#39;.</span>
<a name="gbab-113"></a>    <span class="c1">#</span>
<a name="gbab-114"></a>    <span class="c1"># entries - The Array of String file/directory entries to filter.</span>
<a name="gbab-115"></a>    <span class="c1"># base_directory - The string representing the optional base directory.</span>
<a name="gbab-116"></a>    <span class="c1">#</span>
<a name="gbab-117"></a>    <span class="c1"># Returns the Array of filtered entries.</span>
<a name="gbab-118"></a>    <span class="k">def</span> <span class="nf">filter_entries</span><span class="p">(</span><span class="n">entries</span><span class="p">,</span> <span class="n">base_directory</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-119"></a>      <span class="no">EntryFilter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">base_directory</span><span class="p">)</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="n">entries</span><span class="p">)</span>
<a name="gbab-120"></a>    <span class="k">end</span>
<a name="gbab-121"></a>
<a name="gbab-122"></a>    <span class="c1"># Read the entries from a particular directory for processing</span>
<a name="gbab-123"></a>    <span class="c1">#</span>
<a name="gbab-124"></a>    <span class="c1"># dir - The String representing the relative path of the directory to read.</span>
<a name="gbab-125"></a>    <span class="c1"># subfolder - The String representing the directory to read.</span>
<a name="gbab-126"></a>    <span class="c1">#</span>
<a name="gbab-127"></a>    <span class="c1"># Returns the list of entries to process</span>
<a name="gbab-128"></a>    <span class="k">def</span> <span class="nf">get_entries</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">subfolder</span><span class="p">)</span>
<a name="gbab-129"></a>      <span class="n">base</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">subfolder</span><span class="p">)</span>
<a name="gbab-130"></a>      <span class="k">return</span> <span class="o">[]</span> <span class="k">unless</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">base</span><span class="p">)</span>
<a name="gbab-131"></a>      <span class="n">entries</span> <span class="o">=</span> <span class="no">Dir</span><span class="o">.</span><span class="n">chdir</span><span class="p">(</span><span class="n">base</span><span class="p">)</span> <span class="p">{</span> <span class="n">filter_entries</span><span class="p">(</span><span class="no">Dir</span><span class="o">[</span><span class="s2">&quot;**/*&quot;</span><span class="o">]</span><span class="p">,</span> <span class="n">base</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-132"></a>      <span class="n">entries</span><span class="o">.</span><span class="n">delete_if</span> <span class="p">{</span> <span class="o">|</span><span class="n">e</span><span class="o">|</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="n">e</span><span class="p">))</span> <span class="p">}</span>
<a name="gbab-133"></a>    <span class="k">end</span>
<a name="gbab-134"></a>
<a name="gbab-135"></a>    <span class="kp">private</span>
<a name="gbab-136"></a>
<a name="gbab-137"></a>    <span class="c1"># Internal</span>
<a name="gbab-138"></a>    <span class="c1">#</span>
<a name="gbab-139"></a>    <span class="c1"># Determine if the directory is supposed to contain posts and drafts.</span>
<a name="gbab-140"></a>    <span class="c1"># If the user has defined a custom collections_dir, then attempt to read</span>
<a name="gbab-141"></a>    <span class="c1"># posts and drafts only from within that directory.</span>
<a name="gbab-142"></a>    <span class="c1">#</span>
<a name="gbab-143"></a>    <span class="c1"># Returns true if a custom collections_dir has been set but current directory lies</span>
<a name="gbab-144"></a>    <span class="c1"># outside that directory.</span>
<a name="gbab-145"></a>    <span class="k">def</span> <span class="nf">outside_configured_directory?</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span>
<a name="gbab-146"></a>      <span class="n">collections_dir</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections_dir&quot;</span><span class="o">]</span>
<a name="gbab-147"></a>      <span class="o">!</span><span class="n">collections_dir</span><span class="o">.</span><span class="n">empty?</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">dir</span><span class="o">.</span><span class="n">start_with?</span><span class="p">(</span><span class="s2">&quot;/</span><span class="si">#{</span><span class="n">collections_dir</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-148"></a>    <span class="k">end</span>
<a name="gbab-149"></a>
<a name="gbab-150"></a>    <span class="c1"># Create a single PostReader instance to retrieve drafts and posts from all valid</span>
<a name="gbab-151"></a>    <span class="c1"># directories in current site.</span>
<a name="gbab-152"></a>    <span class="k">def</span> <span class="nf">post_reader</span>
<a name="gbab-153"></a>      <span class="vi">@post_reader</span> <span class="o">||=</span> <span class="no">PostReader</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-154"></a>    <span class="k">end</span>
<a name="gbab-155"></a>  <span class="k">end</span>
<a name="gbab-156"></a><span class="k">end</span>
</pre></div>
</td></tr></table>