<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">PostReader</span>
<a name="gbab-5"></a>    <span class="kp">attr_reader</span> <span class="ss">:site</span><span class="p">,</span> <span class="ss">:unfiltered_content</span>
<a name="gbab-6"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-7"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-8"></a>    <span class="k">end</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>    <span class="c1"># Read all the files in &lt;source&gt;/&lt;dir&gt;/_drafts and create a new</span>
<a name="gbab-11"></a>    <span class="c1"># Document object with each one.</span>
<a name="gbab-12"></a>    <span class="c1">#</span>
<a name="gbab-13"></a>    <span class="c1"># dir - The String relative path of the directory to read.</span>
<a name="gbab-14"></a>    <span class="c1">#</span>
<a name="gbab-15"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-16"></a>    <span class="k">def</span> <span class="nf">read_drafts</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span>
<a name="gbab-17"></a>      <span class="n">read_publishable</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="s2">&quot;_drafts&quot;</span><span class="p">,</span> <span class="no">Document</span><span class="o">::</span><span class="no">DATELESS_FILENAME_MATCHER</span><span class="p">)</span>
<a name="gbab-18"></a>    <span class="k">end</span>
<a name="gbab-19"></a>
<a name="gbab-20"></a>    <span class="c1"># Read all the files in &lt;source&gt;/&lt;dir&gt;/_posts and create a new Document</span>
<a name="gbab-21"></a>    <span class="c1"># object with each one.</span>
<a name="gbab-22"></a>    <span class="c1">#</span>
<a name="gbab-23"></a>    <span class="c1"># dir - The String relative path of the directory to read.</span>
<a name="gbab-24"></a>    <span class="c1">#</span>
<a name="gbab-25"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-26"></a>    <span class="k">def</span> <span class="nf">read_posts</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span>
<a name="gbab-27"></a>      <span class="n">read_publishable</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="s2">&quot;_posts&quot;</span><span class="p">,</span> <span class="no">Document</span><span class="o">::</span><span class="no">DATE_FILENAME_MATCHER</span><span class="p">)</span>
<a name="gbab-28"></a>    <span class="k">end</span>
<a name="gbab-29"></a>
<a name="gbab-30"></a>    <span class="c1"># Read all the files in &lt;source&gt;/&lt;dir&gt;/&lt;magic_dir&gt; and create a new</span>
<a name="gbab-31"></a>    <span class="c1"># Document object with each one insofar as it matches the regexp matcher.</span>
<a name="gbab-32"></a>    <span class="c1">#</span>
<a name="gbab-33"></a>    <span class="c1"># dir - The String relative path of the directory to read.</span>
<a name="gbab-34"></a>    <span class="c1">#</span>
<a name="gbab-35"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-36"></a>    <span class="k">def</span> <span class="nf">read_publishable</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">magic_dir</span><span class="p">,</span> <span class="n">matcher</span><span class="p">)</span>
<a name="gbab-37"></a>      <span class="n">read_content</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">magic_dir</span><span class="p">,</span> <span class="n">matcher</span><span class="p">)</span><span class="o">.</span><span class="n">tap</span> <span class="p">{</span> <span class="o">|</span><span class="n">docs</span><span class="o">|</span> <span class="n">docs</span><span class="o">.</span><span class="n">each</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:read</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-38"></a>        <span class="o">.</span><span class="n">select</span> <span class="k">do</span> <span class="o">|</span><span class="n">doc</span><span class="o">|</span>
<a name="gbab-39"></a>          <span class="k">if</span> <span class="n">doc</span><span class="o">.</span><span class="n">content</span><span class="o">.</span><span class="n">valid_encoding?</span>
<a name="gbab-40"></a>        <span class="n">site</span><span class="o">.</span><span class="n">publisher</span><span class="o">.</span><span class="n">publish?</span><span class="p">(</span><span class="n">doc</span><span class="p">)</span><span class="o">.</span><span class="n">tap</span> <span class="k">do</span> <span class="o">|</span><span class="n">will_publish</span><span class="o">|</span>
<a name="gbab-41"></a>          <span class="k">if</span> <span class="o">!</span><span class="n">will_publish</span> <span class="o">&amp;&amp;</span> <span class="n">site</span><span class="o">.</span><span class="n">publisher</span><span class="o">.</span><span class="n">hidden_in_the_future?</span><span class="p">(</span><span class="n">doc</span><span class="p">)</span>
<a name="gbab-42"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Skipping:&quot;</span><span class="p">,</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span><span class="si">}</span><span class="s2"> has a future date&quot;</span>
<a name="gbab-43"></a>          <span class="k">end</span>
<a name="gbab-44"></a>        <span class="k">end</span>
<a name="gbab-45"></a>          <span class="k">else</span>
<a name="gbab-46"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Skipping:&quot;</span><span class="p">,</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span><span class="si">}</span><span class="s2"> is not valid UTF-8&quot;</span>
<a name="gbab-47"></a>            <span class="kp">false</span>
<a name="gbab-48"></a>          <span class="k">end</span>
<a name="gbab-49"></a>      <span class="k">end</span>
<a name="gbab-50"></a>    <span class="k">end</span>
<a name="gbab-51"></a>
<a name="gbab-52"></a>    <span class="c1"># Read all the content files from &lt;source&gt;/&lt;dir&gt;/magic_dir</span>
<a name="gbab-53"></a>    <span class="c1">#   and return them with the type klass.</span>
<a name="gbab-54"></a>    <span class="c1">#</span>
<a name="gbab-55"></a>    <span class="c1"># dir - The String relative path of the directory to read.</span>
<a name="gbab-56"></a>    <span class="c1"># magic_dir - The String relative directory to &lt;dir&gt;,</span>
<a name="gbab-57"></a>    <span class="c1">#   looks for content here.</span>
<a name="gbab-58"></a>    <span class="c1"># klass - The return type of the content.</span>
<a name="gbab-59"></a>    <span class="c1">#</span>
<a name="gbab-60"></a>    <span class="c1"># Returns klass type of content files</span>
<a name="gbab-61"></a>    <span class="k">def</span> <span class="nf">read_content</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">magic_dir</span><span class="p">,</span> <span class="n">matcher</span><span class="p">)</span>
<a name="gbab-62"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">reader</span><span class="o">.</span><span class="n">get_entries</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">magic_dir</span><span class="p">)</span><span class="o">.</span><span class="n">map</span> <span class="k">do</span> <span class="o">|</span><span class="n">entry</span><span class="o">|</span>
<a name="gbab-63"></a>        <span class="k">next</span> <span class="k">unless</span> <span class="n">entry</span> <span class="o">=~</span> <span class="n">matcher</span>
<a name="gbab-64"></a>        <span class="n">path</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">magic_dir</span><span class="p">,</span> <span class="n">entry</span><span class="p">))</span>
<a name="gbab-65"></a>        <span class="no">Document</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="p">{</span>
<a name="gbab-66"></a>          <span class="ss">:site</span> <span class="o">=&gt;</span> <span class="vi">@site</span><span class="p">,</span>
<a name="gbab-67"></a>          <span class="ss">:collection</span> <span class="o">=&gt;</span> <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="p">,</span>
<a name="gbab-68"></a>        <span class="p">})</span>
<a name="gbab-69"></a>      <span class="k">end</span><span class="o">.</span><span class="n">reject</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:nil?</span><span class="p">)</span>
<a name="gbab-70"></a>    <span class="k">end</span>
<a name="gbab-71"></a>  <span class="k">end</span>
<a name="gbab-72"></a><span class="k">end</span>
</pre></div>
</td></tr></table>