<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a><span class="k">class</span> <span class="nc">LayoutReader</span>
<a name="gbab-5"></a>  <span class="kp">attr_reader</span> <span class="ss">:site</span>
<a name="gbab-6"></a>  <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-7"></a>    <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-8"></a>    <span class="vi">@layouts</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-9"></a>  <span class="k">end</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>  <span class="k">def</span> <span class="nf">read</span>
<a name="gbab-12"></a>      <span class="n">layout_entries</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">layout_file</span><span class="o">|</span>
<a name="gbab-13"></a>        <span class="vi">@layouts</span><span class="o">[</span><span class="n">layout_name</span><span class="p">(</span><span class="n">layout_file</span><span class="p">)</span><span class="o">]</span> <span class="o">=</span> <span class="p">\</span>
<a name="gbab-14"></a>          <span class="no">Layout</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">layout_directory</span><span class="p">,</span> <span class="n">layout_file</span><span class="p">)</span>
<a name="gbab-15"></a>      <span class="k">end</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>      <span class="n">theme_layout_entries</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">layout_file</span><span class="o">|</span>
<a name="gbab-18"></a>        <span class="vi">@layouts</span><span class="o">[</span><span class="n">layout_name</span><span class="p">(</span><span class="n">layout_file</span><span class="p">)</span><span class="o">]</span> <span class="o">||=</span> <span class="p">\</span>
<a name="gbab-19"></a>          <span class="no">Layout</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">theme_layout_directory</span><span class="p">,</span> <span class="n">layout_file</span><span class="p">)</span>
<a name="gbab-20"></a>      <span class="k">end</span>
<a name="gbab-21"></a>
<a name="gbab-22"></a>      <span class="vi">@layouts</span>
<a name="gbab-23"></a>  <span class="k">end</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>    <span class="k">def</span> <span class="nf">layout_directory</span>
<a name="gbab-26"></a>      <span class="vi">@layout_directory</span> <span class="o">||=</span> <span class="p">(</span><span class="n">layout_directory_in_cwd</span> <span class="o">||</span> <span class="n">layout_directory_inside_source</span><span class="p">)</span>
<a name="gbab-27"></a>    <span class="k">end</span>
<a name="gbab-28"></a>
<a name="gbab-29"></a>    <span class="k">def</span> <span class="nf">theme_layout_directory</span>
<a name="gbab-30"></a>      <span class="vi">@theme_layout_directory</span> <span class="o">||=</span> <span class="n">site</span><span class="o">.</span><span class="n">theme</span><span class="o">.</span><span class="n">layouts_path</span> <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">theme</span>
<a name="gbab-31"></a>    <span class="k">end</span>
<a name="gbab-32"></a>
<a name="gbab-33"></a>  <span class="kp">private</span>
<a name="gbab-34"></a>
<a name="gbab-35"></a>  <span class="k">def</span> <span class="nf">layout_entries</span>
<a name="gbab-36"></a>      <span class="n">entries_in</span> <span class="n">layout_directory</span>
<a name="gbab-37"></a>    <span class="k">end</span>
<a name="gbab-38"></a>
<a name="gbab-39"></a>    <span class="k">def</span> <span class="nf">theme_layout_entries</span>
<a name="gbab-40"></a>      <span class="n">theme_layout_directory</span> <span class="p">?</span> <span class="n">entries_in</span><span class="p">(</span><span class="n">theme_layout_directory</span><span class="p">)</span> <span class="p">:</span> <span class="o">[]</span>
<a name="gbab-41"></a>    <span class="k">end</span>
<a name="gbab-42"></a>
<a name="gbab-43"></a>    <span class="k">def</span> <span class="nf">entries_in</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span>
<a name="gbab-44"></a>    <span class="n">entries</span> <span class="o">=</span> <span class="o">[]</span>
<a name="gbab-45"></a>      <span class="n">within</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-46"></a>        <span class="n">entries</span> <span class="o">=</span> <span class="no">EntryFilter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="no">Dir</span><span class="o">[</span><span class="s2">&quot;**/*.*&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-47"></a>    <span class="k">end</span>
<a name="gbab-48"></a>    <span class="n">entries</span>
<a name="gbab-49"></a>  <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>  <span class="k">def</span> <span class="nf">layout_name</span><span class="p">(</span><span class="n">file</span><span class="p">)</span>
<a name="gbab-52"></a>    <span class="n">file</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot;.&quot;</span><span class="p">)</span><span class="o">[</span><span class="mi">0</span><span class="o">..-</span><span class="mi">2</span><span class="o">].</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;.&quot;</span><span class="p">)</span>
<a name="gbab-53"></a>  <span class="k">end</span>
<a name="gbab-54"></a>
<a name="gbab-55"></a>  <span class="k">def</span> <span class="nf">within</span><span class="p">(</span><span class="n">directory</span><span class="p">)</span>
<a name="gbab-56"></a>      <span class="k">return</span> <span class="k">unless</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">directory</span><span class="p">)</span>
<a name="gbab-57"></a>    <span class="no">Dir</span><span class="o">.</span><span class="n">chdir</span><span class="p">(</span><span class="n">directory</span><span class="p">)</span> <span class="p">{</span> <span class="k">yield</span> <span class="p">}</span>
<a name="gbab-58"></a>  <span class="k">end</span>
<a name="gbab-59"></a>
<a name="gbab-60"></a>    <span class="k">def</span> <span class="nf">layout_directory_inside_source</span>
<a name="gbab-61"></a>      <span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;layouts_dir&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-62"></a>    <span class="k">end</span>
<a name="gbab-63"></a>
<a name="gbab-64"></a>    <span class="k">def</span> <span class="nf">layout_directory_in_cwd</span>
<a name="gbab-65"></a>      <span class="n">dir</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="no">Dir</span><span class="o">.</span><span class="n">pwd</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;layouts_dir&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-66"></a>      <span class="k">if</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">site</span><span class="o">.</span><span class="n">safe</span>
<a name="gbab-67"></a>        <span class="n">dir</span>
<a name="gbab-68"></a>      <span class="k">end</span>
<a name="gbab-69"></a>  <span class="k">end</span>
<a name="gbab-70"></a>  <span class="k">end</span>
<a name="gbab-71"></a><span class="k">end</span>
</pre></div>
</td></tr></table>