<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">Regenerator</span>
<a name="gbab-5"></a>    <span class="kp">attr_reader</span> <span class="ss">:site</span><span class="p">,</span> <span class="ss">:metadata</span><span class="p">,</span> <span class="ss">:cache</span>
<a name="gbab-6"></a>    <span class="kp">attr_accessor</span> <span class="ss">:disabled</span>
<a name="gbab-7"></a>    <span class="kp">private</span> <span class="ss">:disabled</span><span class="p">,</span> <span class="ss">:disabled</span><span class="o">=</span>
<a name="gbab-8"></a>
<a name="gbab-9"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-10"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-11"></a>
<a name="gbab-12"></a>      <span class="c1"># Read metadata from file</span>
<a name="gbab-13"></a>      <span class="n">read_metadata</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>      <span class="c1"># Initialize cache to an empty hash</span>
<a name="gbab-16"></a>      <span class="n">clear_cache</span>
<a name="gbab-17"></a>    <span class="k">end</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a>    <span class="c1"># Checks if a renderable object needs to be regenerated</span>
<a name="gbab-20"></a>    <span class="c1">#</span>
<a name="gbab-21"></a>    <span class="c1"># Returns a boolean.</span>
<a name="gbab-22"></a>    <span class="k">def</span> <span class="nf">regenerate?</span><span class="p">(</span><span class="n">document</span><span class="p">)</span>
<a name="gbab-23"></a>      <span class="k">case</span> <span class="n">document</span>
<a name="gbab-24"></a>      <span class="k">when</span> <span class="no">Page</span>
<a name="gbab-25"></a>        <span class="n">regenerate_page?</span><span class="p">(</span><span class="n">document</span><span class="p">)</span>
<a name="gbab-26"></a>      <span class="k">when</span> <span class="no">Document</span>
<a name="gbab-27"></a>        <span class="n">regenerate_document?</span><span class="p">(</span><span class="n">document</span><span class="p">)</span>
<a name="gbab-28"></a>      <span class="k">else</span>
<a name="gbab-29"></a>        <span class="n">source_path</span> <span class="o">=</span> <span class="n">document</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:path</span><span class="p">)</span>        <span class="p">?</span> <span class="n">document</span><span class="o">.</span><span class="n">path</span>                    <span class="p">:</span> <span class="kp">nil</span>
<a name="gbab-30"></a>        <span class="n">dest_path</span> <span class="o">=</span> <span class="k">if</span> <span class="n">document</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:destination</span><span class="p">)</span>
<a name="gbab-31"></a>                      <span class="n">document</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-32"></a>                    <span class="k">end</span>
<a name="gbab-33"></a>        <span class="n">source_modified_or_dest_missing?</span><span class="p">(</span><span class="n">source_path</span><span class="p">,</span> <span class="n">dest_path</span><span class="p">)</span>
<a name="gbab-34"></a>      <span class="k">end</span>
<a name="gbab-35"></a>    <span class="k">end</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a>    <span class="c1"># Add a path to the metadata</span>
<a name="gbab-38"></a>    <span class="c1">#</span>
<a name="gbab-39"></a>    <span class="c1"># Returns true, also on failure.</span>
<a name="gbab-40"></a>    <span class="k">def</span> <span class="nf">add</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-41"></a>      <span class="k">return</span> <span class="kp">true</span> <span class="k">unless</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-42"></a>
<a name="gbab-43"></a>      <span class="n">metadata</span><span class="o">[</span><span class="n">path</span><span class="o">]</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-44"></a>        <span class="s2">&quot;mtime&quot;</span> <span class="o">=&gt;</span> <span class="no">File</span><span class="o">.</span><span class="n">mtime</span><span class="p">(</span><span class="n">path</span><span class="p">),</span>
<a name="gbab-45"></a>        <span class="s2">&quot;deps&quot;</span>  <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-46"></a>      <span class="p">}</span>
<a name="gbab-47"></a>      <span class="n">cache</span><span class="o">[</span><span class="n">path</span><span class="o">]</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-48"></a>    <span class="k">end</span>
<a name="gbab-49"></a>
<a name="gbab-50"></a>    <span class="c1"># Force a path to regenerate</span>
<a name="gbab-51"></a>    <span class="c1">#</span>
<a name="gbab-52"></a>    <span class="c1"># Returns true.</span>
<a name="gbab-53"></a>    <span class="k">def</span> <span class="nf">force</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-54"></a>      <span class="n">cache</span><span class="o">[</span><span class="n">path</span><span class="o">]</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-55"></a>    <span class="k">end</span>
<a name="gbab-56"></a>
<a name="gbab-57"></a>    <span class="c1"># Clear the metadata and cache</span>
<a name="gbab-58"></a>    <span class="c1">#</span>
<a name="gbab-59"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-60"></a>    <span class="k">def</span> <span class="nf">clear</span>
<a name="gbab-61"></a>      <span class="vi">@metadata</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-62"></a>      <span class="n">clear_cache</span>
<a name="gbab-63"></a>    <span class="k">end</span>
<a name="gbab-64"></a>
<a name="gbab-65"></a>    <span class="c1"># Clear just the cache</span>
<a name="gbab-66"></a>    <span class="c1">#</span>
<a name="gbab-67"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-68"></a>    <span class="k">def</span> <span class="nf">clear_cache</span>
<a name="gbab-69"></a>      <span class="vi">@cache</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-70"></a>    <span class="k">end</span>
<a name="gbab-71"></a>
<a name="gbab-72"></a>    <span class="c1"># Checks if the source has been modified or the</span>
<a name="gbab-73"></a>    <span class="c1"># destination is missing</span>
<a name="gbab-74"></a>    <span class="c1">#</span>
<a name="gbab-75"></a>    <span class="c1"># returns a boolean</span>
<a name="gbab-76"></a>    <span class="k">def</span> <span class="nf">source_modified_or_dest_missing?</span><span class="p">(</span><span class="n">source_path</span><span class="p">,</span> <span class="n">dest_path</span><span class="p">)</span>
<a name="gbab-77"></a>      <span class="n">modified?</span><span class="p">(</span><span class="n">source_path</span><span class="p">)</span> <span class="o">||</span> <span class="p">(</span><span class="n">dest_path</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">dest_path</span><span class="p">))</span>
<a name="gbab-78"></a>    <span class="k">end</span>
<a name="gbab-79"></a>
<a name="gbab-80"></a>    <span class="c1"># Checks if a path&#39;s (or one of its dependencies)</span>
<a name="gbab-81"></a>    <span class="c1"># mtime has changed</span>
<a name="gbab-82"></a>    <span class="c1">#</span>
<a name="gbab-83"></a>    <span class="c1"># Returns a boolean.</span>
<a name="gbab-84"></a>    <span class="k">def</span> <span class="nf">modified?</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-85"></a>      <span class="k">return</span> <span class="kp">true</span> <span class="k">if</span> <span class="n">disabled?</span>
<a name="gbab-86"></a>
<a name="gbab-87"></a>      <span class="c1"># objects that don&#39;t have a path are always regenerated</span>
<a name="gbab-88"></a>      <span class="k">return</span> <span class="kp">true</span> <span class="k">if</span> <span class="n">path</span><span class="o">.</span><span class="n">nil?</span> 
<a name="gbab-89"></a>
<a name="gbab-90"></a>      <span class="c1"># Check for path in cache</span>
<a name="gbab-91"></a>      <span class="k">if</span> <span class="n">cache</span><span class="o">.</span><span class="n">key?</span> <span class="n">path</span>
<a name="gbab-92"></a>        <span class="k">return</span> <span class="n">cache</span><span class="o">[</span><span class="n">path</span><span class="o">]</span>
<a name="gbab-93"></a>      <span class="k">end</span>
<a name="gbab-94"></a>
<a name="gbab-95"></a>      <span class="k">if</span> <span class="n">metadata</span><span class="o">[</span><span class="n">path</span><span class="o">]</span>
<a name="gbab-96"></a>        <span class="c1"># If we have seen this file before,</span>
<a name="gbab-97"></a>        <span class="c1"># check if it or one of its dependencies has been modified</span>
<a name="gbab-98"></a>        <span class="n">existing_file_modified?</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-99"></a>      <span class="k">else</span>
<a name="gbab-100"></a>        <span class="c1"># If we have not seen this file before, add it to the metadata and regenerate it</span>
<a name="gbab-101"></a>        <span class="n">add</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-102"></a>      <span class="k">end</span>
<a name="gbab-103"></a>
<a name="gbab-104"></a>      <span class="c1"># Path does not exist in metadata, add it</span>
<a name="gbab-105"></a>      <span class="k">return</span> <span class="n">add</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-106"></a>    <span class="k">end</span>
<a name="gbab-107"></a>
<a name="gbab-108"></a>    <span class="c1"># Add a dependency of a path</span>
<a name="gbab-109"></a>      <span class="k">return</span> <span class="k">if</span> <span class="n">metadata</span><span class="o">[</span><span class="n">path</span><span class="o">].</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">disabled</span>
<a name="gbab-110"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-111"></a>      <span class="k">unless</span> <span class="n">metadata</span><span class="o">[</span><span class="n">path</span><span class="o">][</span><span class="s2">&quot;deps&quot;</span><span class="o">].</span><span class="n">include?</span> <span class="n">dependency</span>
<a name="gbab-112"></a>      <span class="k">return</span> <span class="k">if</span> <span class="p">(</span><span class="n">metadata</span><span class="o">[</span><span class="n">path</span><span class="o">].</span><span class="n">nil?</span> <span class="o">||</span> <span class="vi">@disabled</span><span class="p">)</span>
<a name="gbab-113"></a>
<a name="gbab-114"></a>      <span class="n">metadata</span><span class="o">[</span><span class="n">path</span><span class="o">][</span><span class="s2">&quot;deps&quot;</span><span class="o">]</span> <span class="o">&lt;&lt;</span> <span class="n">dependency</span> <span class="k">unless</span> <span class="n">metadata</span><span class="o">[</span><span class="n">path</span><span class="o">][</span><span class="s2">&quot;deps&quot;</span><span class="o">].</span><span class="n">include?</span> <span class="n">dependency</span>
<a name="gbab-115"></a>      <span class="n">regenerate?</span> <span class="n">dependency</span>
<a name="gbab-116"></a>    <span class="k">end</span>
<a name="gbab-117"></a>
<a name="gbab-118"></a>    <span class="c1"># Write the metadata to disk</span>
<a name="gbab-119"></a>    <span class="c1">#</span>
<a name="gbab-120"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-121"></a>    <span class="k">def</span> <span class="nf">write_metadata</span>
<a name="gbab-122"></a>      <span class="k">unless</span> <span class="n">disabled?</span>
<a name="gbab-123"></a>      <span class="no">File</span><span class="o">.</span><span class="n">binwrite</span><span class="p">(</span><span class="n">metadata_file</span><span class="p">,</span> <span class="no">Marshal</span><span class="o">.</span><span class="n">dump</span><span class="p">(</span><span class="n">metadata</span><span class="p">))</span>
<a name="gbab-124"></a>    <span class="k">end</span>
<a name="gbab-125"></a>    <span class="k">end</span>
<a name="gbab-126"></a>
<a name="gbab-127"></a>    <span class="c1"># Produce the absolute path of the metadata file</span>
<a name="gbab-128"></a>    <span class="c1">#</span>
<a name="gbab-129"></a>    <span class="c1"># Returns the String path of the file.</span>
<a name="gbab-130"></a>    <span class="k">def</span> <span class="nf">metadata_file</span>
<a name="gbab-131"></a>      <span class="vi">@metadata_file</span> <span class="o">||=</span> <span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="s2">&quot;.jekyll-metadata&quot;</span><span class="p">)</span>
<a name="gbab-132"></a>    <span class="k">end</span>
<a name="gbab-133"></a>
<a name="gbab-134"></a>    <span class="c1"># Check if metadata has been disabled</span>
<a name="gbab-135"></a>    <span class="c1">#</span>
<a name="gbab-136"></a>    <span class="c1"># Returns a Boolean (true for disabled, false for enabled).</span>
<a name="gbab-137"></a>    <span class="k">def</span> <span class="nf">disabled?</span>
<a name="gbab-138"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">disabled</span> <span class="o">=</span> <span class="o">!</span><span class="n">site</span><span class="o">.</span><span class="n">incremental?</span> <span class="k">if</span> <span class="n">disabled</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-139"></a>      <span class="n">disabled</span>
<a name="gbab-140"></a>    <span class="k">end</span>
<a name="gbab-141"></a>
<a name="gbab-142"></a>    <span class="kp">private</span>
<a name="gbab-143"></a>
<a name="gbab-144"></a>    <span class="c1"># Read metadata from the metadata file, if no file is found,</span>
<a name="gbab-145"></a>    <span class="c1"># initialize with an empty hash</span>
<a name="gbab-146"></a>    <span class="c1">#</span>
<a name="gbab-147"></a>    <span class="c1"># Returns the read metadata.</span>
<a name="gbab-148"></a>    <span class="k">def</span> <span class="nf">read_metadata</span>
<a name="gbab-149"></a>      <span class="vi">@metadata</span> <span class="o">=</span>
<a name="gbab-150"></a>        <span class="k">if</span> <span class="o">!</span><span class="n">disabled?</span> <span class="o">&amp;&amp;</span> <span class="no">File</span><span class="o">.</span><span class="n">file?</span><span class="p">(</span><span class="n">metadata_file</span><span class="p">)</span>
<a name="gbab-151"></a>        <span class="n">content</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">binread</span><span class="p">(</span><span class="n">metadata_file</span><span class="p">)</span>
<a name="gbab-152"></a>
<a name="gbab-153"></a>        <span class="k">begin</span>
<a name="gbab-154"></a>          <span class="no">Marshal</span><span class="o">.</span><span class="n">load</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-155"></a>        <span class="k">rescue</span> <span class="no">TypeError</span>
<a name="gbab-156"></a>          <span class="no">SafeYAML</span><span class="o">.</span><span class="n">load</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-157"></a>        <span class="k">rescue</span> <span class="no">ArgumentError</span> <span class="o">=&gt;</span> <span class="n">e</span>
<a name="gbab-158"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span><span class="p">(</span><span class="s2">&quot;Failed to load </span><span class="si">#{</span><span class="n">metadata_file</span><span class="si">}</span><span class="s2">: </span><span class="si">#{</span><span class="n">e</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-159"></a>          <span class="p">{}</span>
<a name="gbab-160"></a>        <span class="k">end</span>
<a name="gbab-161"></a>      <span class="k">else</span>
<a name="gbab-162"></a>        <span class="p">{}</span>
<a name="gbab-163"></a>      <span class="k">end</span>
<a name="gbab-164"></a>    <span class="k">end</span>
<a name="gbab-165"></a>
<a name="gbab-166"></a>    <span class="kp">private</span>
<a name="gbab-167"></a>    <span class="k">def</span> <span class="nf">regenerate_page?</span><span class="p">(</span><span class="n">document</span><span class="p">)</span>
<a name="gbab-168"></a>      <span class="n">document</span><span class="o">.</span><span class="n">asset_file?</span> <span class="o">||</span> <span class="n">document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;regenerate&quot;</span><span class="o">]</span> <span class="o">||</span>
<a name="gbab-169"></a>        <span class="n">source_modified_or_dest_missing?</span><span class="p">(</span>
<a name="gbab-170"></a>          <span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">document</span><span class="o">.</span><span class="n">relative_path</span><span class="p">),</span> <span class="n">document</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-171"></a>        <span class="p">)</span>
<a name="gbab-172"></a>    <span class="k">end</span>
<a name="gbab-173"></a>
<a name="gbab-174"></a>    <span class="kp">private</span>
<a name="gbab-175"></a>    <span class="k">def</span> <span class="nf">regenerate_document?</span><span class="p">(</span><span class="n">document</span><span class="p">)</span>
<a name="gbab-176"></a>      <span class="o">!</span><span class="n">document</span><span class="o">.</span><span class="n">write?</span> <span class="o">||</span> <span class="n">document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;regenerate&quot;</span><span class="o">]</span> <span class="o">||</span>
<a name="gbab-177"></a>        <span class="n">source_modified_or_dest_missing?</span><span class="p">(</span>
<a name="gbab-178"></a>          <span class="n">document</span><span class="o">.</span><span class="n">path</span><span class="p">,</span> <span class="n">document</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-179"></a>        <span class="p">)</span>
<a name="gbab-180"></a>    <span class="k">end</span>
<a name="gbab-181"></a>
<a name="gbab-182"></a>    <span class="kp">private</span>
<a name="gbab-183"></a>    <span class="k">def</span> <span class="nf">existing_file_modified?</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-184"></a>      <span class="c1"># If one of this file dependencies have been modified,</span>
<a name="gbab-185"></a>      <span class="c1"># set the regeneration bit for both the dependency and the file to true</span>
<a name="gbab-186"></a>      <span class="n">metadata</span><span class="o">[</span><span class="n">path</span><span class="o">][</span><span class="s2">&quot;deps&quot;</span><span class="o">].</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">dependency</span><span class="o">|</span>
<a name="gbab-187"></a>          <span class="k">if</span> <span class="n">modified?</span><span class="p">(</span><span class="n">dependency</span><span class="p">)</span>
<a name="gbab-188"></a>            <span class="k">return</span> <span class="n">cache</span><span class="o">[</span><span class="n">dependency</span><span class="o">]</span> <span class="o">=</span> <span class="n">cache</span><span class="o">[</span><span class="n">path</span><span class="o">]</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-189"></a>          <span class="k">end</span>
<a name="gbab-190"></a>        <span class="k">end</span>
<a name="gbab-191"></a>
<a name="gbab-192"></a>      <span class="k">if</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">path</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">metadata</span><span class="o">[</span><span class="n">path</span><span class="o">][</span><span class="s2">&quot;mtime&quot;</span><span class="o">].</span><span class="n">eql?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">mtime</span><span class="p">(</span><span class="n">path</span><span class="p">))</span>
<a name="gbab-193"></a>        <span class="c1"># If this file has not been modified, set the regeneration bit to false</span>
<a name="gbab-194"></a>        <span class="n">cache</span><span class="o">[</span><span class="n">path</span><span class="o">]</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-195"></a>      <span class="k">else</span>
<a name="gbab-196"></a>        <span class="c1"># If it has been modified, set it to true</span>
<a name="gbab-197"></a>      <span class="n">add</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-198"></a>    <span class="k">end</span>
<a name="gbab-199"></a>  <span class="k">end</span>
<a name="gbab-200"></a><span class="k">end</span>
<a name="gbab-201"></a><span class="k">end</span>
</pre></div>
</td></tr></table>