<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">ThemeAssetsReader</span>
<a name="gbab-5"></a>    <span class="kp">attr_reader</span> <span class="ss">:site</span>
<a name="gbab-6"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-7"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-8"></a>    <span class="k">end</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>    <span class="k">def</span> <span class="nf">read</span>
<a name="gbab-11"></a>      <span class="k">return</span> <span class="k">unless</span> <span class="n">site</span><span class="o">.</span><span class="n">theme</span> <span class="o">&amp;&amp;</span> <span class="n">site</span><span class="o">.</span><span class="n">theme</span><span class="o">.</span><span class="n">assets_path</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>      <span class="no">Find</span><span class="o">.</span><span class="n">find</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">theme</span><span class="o">.</span><span class="n">assets_path</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">path</span><span class="o">|</span>
<a name="gbab-14"></a>        <span class="k">next</span> <span class="k">if</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-15"></a>        <span class="k">if</span> <span class="no">File</span><span class="o">.</span><span class="n">symlink?</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-16"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Theme reader:&quot;</span><span class="p">,</span> <span class="s2">&quot;Ignored symlinked asset: </span><span class="si">#{</span><span class="n">path</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-17"></a>        <span class="k">else</span>
<a name="gbab-18"></a>          <span class="n">read_theme_asset</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-19"></a>        <span class="k">end</span>
<a name="gbab-20"></a>      <span class="k">end</span>
<a name="gbab-21"></a>    <span class="k">end</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>    <span class="kp">private</span>
<a name="gbab-24"></a>    <span class="k">def</span> <span class="nf">read_theme_asset</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-25"></a>          <span class="n">base</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">theme</span><span class="o">.</span><span class="n">root</span>
<a name="gbab-26"></a>          <span class="n">dir</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="n">path</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="s2">&quot;</span><span class="si">#{</span><span class="n">site</span><span class="o">.</span><span class="n">theme</span><span class="o">.</span><span class="n">root</span><span class="si">}</span><span class="s2">/&quot;</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">))</span>
<a name="gbab-27"></a>          <span class="nb">name</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">basename</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-28"></a>
<a name="gbab-29"></a>          <span class="k">if</span> <span class="no">Utils</span><span class="o">.</span><span class="n">has_yaml_header?</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-30"></a>        <span class="n">append_unless_exists</span> <span class="n">site</span><span class="o">.</span><span class="n">pages</span><span class="p">,</span>
<a name="gbab-31"></a>          <span class="no">Jekyll</span><span class="o">::</span><span class="no">Page</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">base</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-32"></a>          <span class="k">else</span>
<a name="gbab-33"></a>        <span class="n">append_unless_exists</span> <span class="n">site</span><span class="o">.</span><span class="n">static_files</span><span class="p">,</span>
<a name="gbab-34"></a>          <span class="no">Jekyll</span><span class="o">::</span><span class="no">StaticFile</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">base</span><span class="p">,</span> <span class="s2">&quot;/</span><span class="si">#{</span><span class="n">dir</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-35"></a>          <span class="k">end</span>
<a name="gbab-36"></a>        <span class="k">end</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>    <span class="k">def</span> <span class="nf">append_unless_exists</span><span class="p">(</span><span class="n">haystack</span><span class="p">,</span> <span class="n">new_item</span><span class="p">)</span>
<a name="gbab-39"></a>      <span class="k">if</span> <span class="n">haystack</span><span class="o">.</span><span class="n">any?</span> <span class="p">{</span> <span class="o">|</span><span class="n">file</span><span class="o">|</span> <span class="n">file</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="n">new_item</span><span class="o">.</span><span class="n">relative_path</span> <span class="p">}</span>
<a name="gbab-40"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Theme:&quot;</span><span class="p">,</span>
<a name="gbab-41"></a>          <span class="s2">&quot;Ignoring </span><span class="si">#{</span><span class="n">new_item</span><span class="o">.</span><span class="n">relative_path</span><span class="si">}</span><span class="s2"> in theme due to existing file &quot;</span> <span class="p">\</span>
<a name="gbab-42"></a>          <span class="s2">&quot;with that path in site.&quot;</span>
<a name="gbab-43"></a>        <span class="k">return</span>
<a name="gbab-44"></a>      <span class="k">end</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a>      <span class="n">haystack</span> <span class="o">&lt;&lt;</span> <span class="n">new_item</span>
<a name="gbab-47"></a>    <span class="k">end</span>
<a name="gbab-48"></a>  <span class="k">end</span>
<a name="gbab-49"></a><span class="k">end</span>
</pre></div>
</td></tr></table>