<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">RelatedPosts</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span>
<a name="gbab-6"></a>      <span class="kp">attr_accessor</span> <span class="ss">:lsi</span>
<a name="gbab-7"></a>    <span class="k">end</span>
<a name="gbab-8"></a>
<a name="gbab-9"></a>    <span class="kp">attr_reader</span> <span class="ss">:post</span><span class="p">,</span> <span class="ss">:site</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">post</span><span class="p">)</span>
<a name="gbab-12"></a>      <span class="vi">@post</span> <span class="o">=</span> <span class="n">post</span>
<a name="gbab-13"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">post</span><span class="o">.</span><span class="n">site</span>
<a name="gbab-14"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span><span class="p">(</span><span class="s2">&quot;classifier-reborn&quot;</span><span class="p">)</span> <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">lsi</span>
<a name="gbab-15"></a>    <span class="k">end</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>    <span class="k">def</span> <span class="nf">build</span>
<a name="gbab-18"></a>      <span class="k">return</span> <span class="o">[]</span> <span class="k">unless</span> <span class="n">site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">size</span> <span class="o">&gt;</span> <span class="mi">1</span>
<a name="gbab-19"></a>
<a name="gbab-20"></a>      <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">lsi</span>
<a name="gbab-21"></a>        <span class="n">build_index</span>
<a name="gbab-22"></a>        <span class="n">lsi_related_posts</span>
<a name="gbab-23"></a>      <span class="k">else</span>
<a name="gbab-24"></a>        <span class="n">most_recent_posts</span>
<a name="gbab-25"></a>      <span class="k">end</span>
<a name="gbab-26"></a>    <span class="k">end</span>
<a name="gbab-27"></a>
<a name="gbab-28"></a>    <span class="k">def</span> <span class="nf">build_index</span>
<a name="gbab-29"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">lsi</span> <span class="o">||=</span> <span class="k">begin</span>
<a name="gbab-30"></a>        <span class="n">lsi</span> <span class="o">=</span> <span class="no">ClassifierReborn</span><span class="o">::</span><span class="no">LSI</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="ss">:auto_rebuild</span> <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">)</span>
<a name="gbab-31"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span><span class="p">(</span><span class="s2">&quot;Populating LSI...&quot;</span><span class="p">)</span>
<a name="gbab-32"></a>
<a name="gbab-33"></a>        <span class="n">site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">x</span><span class="o">|</span>
<a name="gbab-34"></a>          <span class="n">lsi</span><span class="o">.</span><span class="n">add_item</span><span class="p">(</span><span class="n">x</span><span class="p">)</span>
<a name="gbab-35"></a>        <span class="k">end</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span><span class="p">(</span><span class="s2">&quot;Rebuilding index...&quot;</span><span class="p">)</span>
<a name="gbab-38"></a>        <span class="n">lsi</span><span class="o">.</span><span class="n">build_index</span>
<a name="gbab-39"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span><span class="p">(</span><span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-40"></a>        <span class="n">lsi</span>
<a name="gbab-41"></a>      <span class="k">end</span>
<a name="gbab-42"></a>    <span class="k">end</span>
<a name="gbab-43"></a>
<a name="gbab-44"></a>    <span class="k">def</span> <span class="nf">lsi_related_posts</span>
<a name="gbab-45"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">lsi</span><span class="o">.</span><span class="n">find_related</span><span class="p">(</span><span class="n">post</span><span class="p">,</span> <span class="mi">11</span><span class="p">)</span>
<a name="gbab-46"></a>    <span class="k">end</span>
<a name="gbab-47"></a>
<a name="gbab-48"></a>    <span class="k">def</span> <span class="nf">most_recent_posts</span>
<a name="gbab-49"></a>      <span class="vi">@most_recent_posts</span> <span class="o">||=</span> <span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">last</span><span class="p">(</span><span class="mi">11</span><span class="p">)</span><span class="o">.</span><span class="n">reverse</span> <span class="o">-</span> <span class="o">[</span><span class="n">post</span><span class="o">]</span><span class="p">)</span><span class="o">.</span><span class="n">first</span><span class="p">(</span><span class="mi">10</span><span class="p">)</span>
<a name="gbab-50"></a>    <span class="k">end</span>
<a name="gbab-51"></a>  <span class="k">end</span>
<a name="gbab-52"></a><span class="k">end</span>
</pre></div>
</td></tr></table>