<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">Stevenson</span> <span class="o">&lt;</span> <span class="o">::</span><span class="no">Logger</span>
<a name="gbab-5"></a>    <span class="k">def</span> <span class="nf">initialize</span>
<a name="gbab-6"></a>      <span class="vi">@progname</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-7"></a>      <span class="vi">@level</span> <span class="o">=</span> <span class="no">DEBUG</span>
<a name="gbab-8"></a>      <span class="vi">@default_formatter</span> <span class="o">=</span> <span class="no">Formatter</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-9"></a>      <span class="vi">@logdev</span> <span class="o">=</span> <span class="vg">$stdout</span>
<a name="gbab-10"></a>      <span class="vi">@formatter</span> <span class="o">=</span> <span class="nb">proc</span> <span class="k">do</span> <span class="o">|</span><span class="n">_</span><span class="p">,</span> <span class="n">_</span><span class="p">,</span> <span class="n">_</span><span class="p">,</span> <span class="n">msg</span><span class="o">|</span>
<a name="gbab-11"></a>        <span class="n">msg</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-12"></a>    <span class="k">end</span>
<a name="gbab-13"></a>    <span class="k">end</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>    <span class="k">def</span> <span class="nf">add</span><span class="p">(</span><span class="n">severity</span><span class="p">,</span> <span class="n">message</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">,</span> <span class="n">progname</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-16"></a>      <span class="n">severity</span> <span class="o">||=</span> <span class="no">UNKNOWN</span>
<a name="gbab-17"></a>      <span class="vi">@logdev</span> <span class="o">=</span> <span class="n">logdevice</span><span class="p">(</span><span class="n">severity</span><span class="p">)</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a>      <span class="k">if</span> <span class="vi">@logdev</span><span class="o">.</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">severity</span> <span class="o">&lt;</span> <span class="vi">@level</span>
<a name="gbab-20"></a>        <span class="k">return</span> <span class="kp">true</span>
<a name="gbab-21"></a>    <span class="k">end</span>
<a name="gbab-22"></a>      <span class="n">progname</span> <span class="o">||=</span> <span class="vi">@progname</span>
<a name="gbab-23"></a>      <span class="k">if</span> <span class="n">message</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-24"></a>        <span class="k">if</span> <span class="nb">block_given?</span>
<a name="gbab-25"></a>          <span class="n">message</span> <span class="o">=</span> <span class="k">yield</span>
<a name="gbab-26"></a>        <span class="k">else</span>
<a name="gbab-27"></a>          <span class="n">message</span> <span class="o">=</span> <span class="n">progname</span>
<a name="gbab-28"></a>          <span class="n">progname</span> <span class="o">=</span> <span class="vi">@progname</span>
<a name="gbab-29"></a>    <span class="k">end</span>
<a name="gbab-30"></a>    <span class="k">end</span>
<a name="gbab-31"></a>      <span class="vi">@logdev</span><span class="o">.</span><span class="n">puts</span><span class="p">(</span>
<a name="gbab-32"></a>        <span class="n">format_message</span><span class="p">(</span><span class="n">format_severity</span><span class="p">(</span><span class="n">severity</span><span class="p">),</span> <span class="no">Time</span><span class="o">.</span><span class="n">now</span><span class="p">,</span> <span class="n">progname</span><span class="p">,</span> <span class="n">message</span><span class="p">)</span>
<a name="gbab-33"></a>      <span class="p">)</span>
<a name="gbab-34"></a>      <span class="kp">true</span>
<a name="gbab-35"></a>    <span class="k">end</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a>    <span class="c1"># Log a +WARN+ message</span>
<a name="gbab-38"></a>    <span class="k">def</span> <span class="nf">warn</span><span class="p">(</span><span class="n">progname</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-39"></a>      <span class="n">add</span><span class="p">(</span><span class="no">WARN</span><span class="p">,</span> <span class="kp">nil</span><span class="p">,</span> <span class="n">progname</span><span class="o">.</span><span class="n">yellow</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-40"></a>    <span class="k">end</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a>    <span class="c1"># Log an +ERROR+ message</span>
<a name="gbab-43"></a>    <span class="k">def</span> <span class="nf">error</span><span class="p">(</span><span class="n">progname</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-44"></a>      <span class="n">add</span><span class="p">(</span><span class="no">ERROR</span><span class="p">,</span> <span class="kp">nil</span><span class="p">,</span> <span class="n">progname</span><span class="o">.</span><span class="n">red</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-45"></a>    <span class="k">end</span>
<a name="gbab-46"></a>
<a name="gbab-47"></a>    <span class="k">def</span> <span class="nf">close</span>
<a name="gbab-48"></a>      <span class="c1"># No LogDevice in use</span>
<a name="gbab-49"></a>    <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>    <span class="kp">private</span>
<a name="gbab-52"></a>
<a name="gbab-53"></a>    <span class="k">def</span> <span class="nf">logdevice</span><span class="p">(</span><span class="n">severity</span><span class="p">)</span>
<a name="gbab-54"></a>      <span class="k">if</span> <span class="n">severity</span> <span class="o">&gt;</span> <span class="no">INFO</span>
<a name="gbab-55"></a>        <span class="vg">$stderr</span>
<a name="gbab-56"></a>      <span class="k">else</span>
<a name="gbab-57"></a>        <span class="vg">$stdout</span>
<a name="gbab-58"></a>      <span class="k">end</span>
<a name="gbab-59"></a>    <span class="k">end</span>
<a name="gbab-60"></a>  <span class="k">end</span>
<a name="gbab-61"></a><span class="k">end</span>
</pre></div>
</td></tr></table>