<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">Theme</span>
<a name="gbab-5"></a>    <span class="kp">extend</span> <span class="no">Forwardable</span>
<a name="gbab-6"></a>    <span class="kp">attr_reader</span> <span class="ss">:name</span>
<a name="gbab-7"></a>    <span class="n">def_delegator</span> <span class="ss">:gemspec</span><span class="p">,</span> <span class="ss">:version</span><span class="p">,</span> <span class="ss">:version</span>
<a name="gbab-8"></a>
<a name="gbab-9"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="nb">name</span><span class="p">)</span>
<a name="gbab-10"></a>      <span class="vi">@name</span> <span class="o">=</span> <span class="nb">name</span><span class="o">.</span><span class="n">downcase</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-11"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Theme:&quot;</span><span class="p">,</span> <span class="nb">name</span>
<a name="gbab-12"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Theme source:&quot;</span><span class="p">,</span> <span class="n">root</span>
<a name="gbab-13"></a>      <span class="n">configure_sass</span>
<a name="gbab-14"></a>    <span class="k">end</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>    <span class="k">def</span> <span class="nf">root</span>
<a name="gbab-17"></a>      <span class="c1"># Must use File.realpath to resolve symlinks created by rbenv</span>
<a name="gbab-18"></a>      <span class="c1"># Otherwise, Jekyll.sanitized path with prepend the unresolved root</span>
<a name="gbab-19"></a>      <span class="vi">@root</span> <span class="o">||=</span> <span class="no">File</span><span class="o">.</span><span class="n">realpath</span><span class="p">(</span><span class="n">gemspec</span><span class="o">.</span><span class="n">full_gem_path</span><span class="p">)</span>
<a name="gbab-20"></a>    <span class="k">rescue</span> <span class="no">Errno</span><span class="o">::</span><span class="no">ENOENT</span><span class="p">,</span> <span class="no">Errno</span><span class="o">::</span><span class="no">EACCES</span><span class="p">,</span> <span class="no">Errno</span><span class="o">::</span><span class="no">ELOOP</span>
<a name="gbab-21"></a>      <span class="k">raise</span> <span class="s2">&quot;Path </span><span class="si">#{</span><span class="n">gemspec</span><span class="o">.</span><span class="n">full_gem_path</span><span class="si">}</span><span class="s2"> does not exist, is not accessible &quot;</span><span class="p">\</span>
<a name="gbab-22"></a>        <span class="s2">&quot;or includes a symbolic link loop&quot;</span>
<a name="gbab-23"></a>    <span class="k">end</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>    <span class="k">def</span> <span class="nf">includes_path</span>
<a name="gbab-26"></a>      <span class="vi">@includes_path</span> <span class="o">||=</span> <span class="n">path_for</span> <span class="s2">&quot;_includes&quot;</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-27"></a>    <span class="k">end</span>
<a name="gbab-28"></a>
<a name="gbab-29"></a>    <span class="k">def</span> <span class="nf">layouts_path</span>
<a name="gbab-30"></a>      <span class="vi">@layouts_path</span> <span class="o">||=</span> <span class="n">path_for</span> <span class="s2">&quot;_layouts&quot;</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-31"></a>    <span class="k">end</span>
<a name="gbab-32"></a>
<a name="gbab-33"></a>    <span class="k">def</span> <span class="nf">sass_path</span>
<a name="gbab-34"></a>      <span class="vi">@sass_path</span> <span class="o">||=</span> <span class="n">path_for</span> <span class="s2">&quot;_sass&quot;</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-35"></a>    <span class="k">end</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a>    <span class="k">def</span> <span class="nf">assets_path</span>
<a name="gbab-38"></a>      <span class="vi">@assets_path</span> <span class="o">||=</span> <span class="n">path_for</span> <span class="s2">&quot;assets&quot;</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-39"></a>    <span class="k">end</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>    <span class="k">def</span> <span class="nf">configure_sass</span>
<a name="gbab-42"></a>      <span class="k">return</span> <span class="k">unless</span> <span class="n">sass_path</span>
<a name="gbab-43"></a>      <span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span><span class="p">(</span><span class="s2">&quot;sass&quot;</span><span class="p">)</span> <span class="k">unless</span> <span class="n">defined?</span><span class="p">(</span><span class="no">Sass</span><span class="p">)</span>
<a name="gbab-44"></a>      <span class="no">Sass</span><span class="o">.</span><span class="n">load_paths</span> <span class="o">&lt;&lt;</span> <span class="n">sass_path</span>
<a name="gbab-45"></a>    <span class="k">end</span>
<a name="gbab-46"></a>
<a name="gbab-47"></a>    <span class="k">def</span> <span class="nf">runtime_dependencies</span>
<a name="gbab-48"></a>      <span class="n">gemspec</span><span class="o">.</span><span class="n">runtime_dependencies</span>
<a name="gbab-49"></a>    <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>    <span class="kp">private</span>
<a name="gbab-52"></a>
<a name="gbab-53"></a>    <span class="k">def</span> <span class="nf">path_for</span><span class="p">(</span><span class="n">folder</span><span class="p">)</span>
<a name="gbab-54"></a>      <span class="n">path</span> <span class="o">=</span> <span class="n">realpath_for</span><span class="p">(</span><span class="n">folder</span><span class="p">)</span>
<a name="gbab-55"></a>      <span class="n">path</span> <span class="k">if</span> <span class="n">path</span> <span class="o">&amp;&amp;</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-56"></a>    <span class="k">end</span>
<a name="gbab-57"></a>
<a name="gbab-58"></a>    <span class="k">def</span> <span class="nf">realpath_for</span><span class="p">(</span><span class="n">folder</span><span class="p">)</span>
<a name="gbab-59"></a>      <span class="no">File</span><span class="o">.</span><span class="n">realpath</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="n">root</span><span class="p">,</span> <span class="n">folder</span><span class="o">.</span><span class="n">to_s</span><span class="p">))</span>
<a name="gbab-60"></a>    <span class="k">rescue</span> <span class="no">Errno</span><span class="o">::</span><span class="no">ENOENT</span><span class="p">,</span> <span class="no">Errno</span><span class="o">::</span><span class="no">EACCES</span><span class="p">,</span> <span class="no">Errno</span><span class="o">::</span><span class="no">ELOOP</span>
<a name="gbab-61"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Invalid theme folder:&quot;</span><span class="p">,</span> <span class="n">folder</span>
<a name="gbab-62"></a>      <span class="kp">nil</span>
<a name="gbab-63"></a>    <span class="k">end</span>
<a name="gbab-64"></a>
<a name="gbab-65"></a>    <span class="k">def</span> <span class="nf">gemspec</span>
<a name="gbab-66"></a>      <span class="vi">@gemspec</span> <span class="o">||=</span> <span class="no">Gem</span><span class="o">::</span><span class="no">Specification</span><span class="o">.</span><span class="n">find_by_name</span><span class="p">(</span><span class="nb">name</span><span class="p">)</span>
<a name="gbab-67"></a>    <span class="k">rescue</span> <span class="no">Gem</span><span class="o">::</span><span class="no">LoadError</span>
<a name="gbab-68"></a>      <span class="k">raise</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Errors</span><span class="o">::</span><span class="no">MissingDependencyException</span><span class="p">,</span>
<a name="gbab-69"></a>        <span class="s2">&quot;The </span><span class="si">#{</span><span class="nb">name</span><span class="si">}</span><span class="s2"> theme could not be found.&quot;</span>
<a name="gbab-70"></a>    <span class="k">end</span>
<a name="gbab-71"></a>  <span class="k">end</span>
<a name="gbab-72"></a><span class="k">end</span>
</pre></div>
</td></tr></table>