<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">class</span> <span class="nc">Jekyll</span><span class="o">::</span><span class="no">ThemeBuilder</span>
<a name="gbab-4"></a>  <span class="no">SCAFFOLD_DIRECTORIES</span> <span class="o">=</span> <span class="sx">%w(</span>
<a name="gbab-5"></a><span class="sx">    assets _layouts _includes _sass</span>
<a name="gbab-6"></a><span class="sx">  )</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>  <span class="kp">attr_reader</span> <span class="ss">:name</span><span class="p">,</span> <span class="ss">:path</span><span class="p">,</span> <span class="ss">:code_of_conduct</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>  <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">theme_name</span><span class="p">,</span> <span class="n">opts</span><span class="p">)</span>
<a name="gbab-11"></a>    <span class="vi">@name</span> <span class="o">=</span> <span class="n">theme_name</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">tr</span><span class="p">(</span><span class="s2">&quot; &quot;</span><span class="p">,</span> <span class="s2">&quot;_&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">squeeze</span><span class="p">(</span><span class="s2">&quot;_&quot;</span><span class="p">)</span>
<a name="gbab-12"></a>    <span class="vi">@path</span> <span class="o">=</span> <span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="nb">name</span><span class="p">,</span> <span class="no">Dir</span><span class="o">.</span><span class="n">pwd</span><span class="p">))</span>
<a name="gbab-13"></a>    <span class="vi">@code_of_conduct</span> <span class="o">=</span> <span class="o">!!</span><span class="n">opts</span><span class="o">[</span><span class="s2">&quot;code_of_conduct&quot;</span><span class="o">]</span>
<a name="gbab-14"></a>  <span class="k">end</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>  <span class="k">def</span> <span class="nf">create!</span>
<a name="gbab-17"></a>    <span class="n">create_directories</span>
<a name="gbab-18"></a>    <span class="n">create_starter_files</span>
<a name="gbab-19"></a>    <span class="n">create_gemspec</span>
<a name="gbab-20"></a>    <span class="n">create_accessories</span>
<a name="gbab-21"></a>    <span class="n">initialize_git_repo</span>
<a name="gbab-22"></a>  <span class="k">end</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>  <span class="k">def</span> <span class="nf">user_name</span>
<a name="gbab-25"></a>    <span class="vi">@user_name</span> <span class="o">||=</span> <span class="sb">`git config user.name`</span><span class="o">.</span><span class="n">chomp</span>
<a name="gbab-26"></a>  <span class="k">end</span>
<a name="gbab-27"></a>
<a name="gbab-28"></a>  <span class="k">def</span> <span class="nf">user_email</span>
<a name="gbab-29"></a>    <span class="vi">@user_email</span> <span class="o">||=</span> <span class="sb">`git config user.email`</span><span class="o">.</span><span class="n">chomp</span>
<a name="gbab-30"></a>  <span class="k">end</span>
<a name="gbab-31"></a>
<a name="gbab-32"></a>  <span class="k">def</span> <span class="nf">user_name</span>
<a name="gbab-33"></a>    <span class="vi">@user_name</span> <span class="o">||=</span> <span class="sb">`git config user.name`</span><span class="o">.</span><span class="n">chomp</span>
<a name="gbab-34"></a>  <span class="k">end</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>  <span class="k">def</span> <span class="nf">user_email</span>
<a name="gbab-37"></a>    <span class="vi">@user_email</span> <span class="o">||=</span> <span class="sb">`git config user.email`</span><span class="o">.</span><span class="n">chomp</span>
<a name="gbab-38"></a>  <span class="k">end</span>
<a name="gbab-39"></a>
<a name="gbab-40"></a>  <span class="kp">private</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a>  <span class="k">def</span> <span class="nf">root</span>
<a name="gbab-43"></a>    <span class="vi">@root</span> <span class="o">||=</span> <span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="s2">&quot;../&quot;</span><span class="p">,</span> <span class="n">__dir__</span><span class="p">))</span>
<a name="gbab-44"></a>  <span class="k">end</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a>  <span class="k">def</span> <span class="nf">template_file</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
<a name="gbab-47"></a>    <span class="o">[</span>
<a name="gbab-48"></a>      <span class="n">root</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;theme_template&quot;</span><span class="p">,</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">filename</span><span class="si">}</span><span class="s2">.erb&quot;</span><span class="p">),</span>
<a name="gbab-49"></a>      <span class="n">root</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;theme_template&quot;</span><span class="p">,</span> <span class="n">filename</span><span class="o">.</span><span class="n">to_s</span><span class="p">),</span>
<a name="gbab-50"></a>    <span class="o">].</span><span class="n">find</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:exist?</span><span class="p">)</span>
<a name="gbab-51"></a>  <span class="k">end</span>
<a name="gbab-52"></a>
<a name="gbab-53"></a>  <span class="k">def</span> <span class="nf">template</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
<a name="gbab-54"></a>    <span class="n">erb</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">template_file</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span><span class="o">.</span><span class="n">read</span><span class="p">)</span>
<a name="gbab-55"></a>  <span class="k">end</span>
<a name="gbab-56"></a>
<a name="gbab-57"></a>  <span class="k">def</span> <span class="nf">erb</span>
<a name="gbab-58"></a>    <span class="vi">@erb</span> <span class="o">||=</span> <span class="no">ERBRenderer</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span>
<a name="gbab-59"></a>  <span class="k">end</span>
<a name="gbab-60"></a>
<a name="gbab-61"></a>  <span class="k">def</span> <span class="nf">mkdir_p</span><span class="p">(</span><span class="n">directories</span><span class="p">)</span>
<a name="gbab-62"></a>    <span class="nb">Array</span><span class="p">(</span><span class="n">directories</span><span class="p">)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">directory</span><span class="o">|</span>
<a name="gbab-63"></a>      <span class="n">full_path</span> <span class="o">=</span> <span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">directory</span><span class="p">)</span>
<a name="gbab-64"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;create&quot;</span><span class="p">,</span> <span class="n">full_path</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-65"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span><span class="p">(</span><span class="n">full_path</span><span class="p">)</span>
<a name="gbab-66"></a>    <span class="k">end</span>
<a name="gbab-67"></a>  <span class="k">end</span>
<a name="gbab-68"></a>
<a name="gbab-69"></a>  <span class="k">def</span> <span class="nf">write_file</span><span class="p">(</span><span class="n">filename</span><span class="p">,</span> <span class="n">contents</span><span class="p">)</span>
<a name="gbab-70"></a>    <span class="n">full_path</span> <span class="o">=</span> <span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
<a name="gbab-71"></a>    <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;create&quot;</span><span class="p">,</span> <span class="n">full_path</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-72"></a>    <span class="no">File</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">full_path</span><span class="p">,</span> <span class="n">contents</span><span class="p">)</span>
<a name="gbab-73"></a>  <span class="k">end</span>
<a name="gbab-74"></a>
<a name="gbab-75"></a>  <span class="k">def</span> <span class="nf">create_directories</span>
<a name="gbab-76"></a>    <span class="n">mkdir_p</span><span class="p">(</span><span class="no">SCAFFOLD_DIRECTORIES</span><span class="p">)</span>
<a name="gbab-77"></a>  <span class="k">end</span>
<a name="gbab-78"></a>
<a name="gbab-79"></a>  <span class="k">def</span> <span class="nf">create_starter_files</span>
<a name="gbab-80"></a>    <span class="sx">%w(page post default)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">layout</span><span class="o">|</span>
<a name="gbab-81"></a>      <span class="n">write_file</span><span class="p">(</span><span class="s2">&quot;_layouts/</span><span class="si">#{</span><span class="n">layout</span><span class="si">}</span><span class="s2">.html&quot;</span><span class="p">,</span> <span class="n">template</span><span class="p">(</span><span class="s2">&quot;_layouts/</span><span class="si">#{</span><span class="n">layout</span><span class="si">}</span><span class="s2">.html&quot;</span><span class="p">))</span>
<a name="gbab-82"></a>    <span class="k">end</span>
<a name="gbab-83"></a>  <span class="k">end</span>
<a name="gbab-84"></a>
<a name="gbab-85"></a>  <span class="k">def</span> <span class="nf">create_gemspec</span>
<a name="gbab-86"></a>    <span class="n">write_file</span><span class="p">(</span><span class="s2">&quot;Gemfile&quot;</span><span class="p">,</span> <span class="n">template</span><span class="p">(</span><span class="s2">&quot;Gemfile&quot;</span><span class="p">))</span>
<a name="gbab-87"></a>    <span class="n">write_file</span><span class="p">(</span><span class="s2">&quot;</span><span class="si">#{</span><span class="nb">name</span><span class="si">}</span><span class="s2">.gemspec&quot;</span><span class="p">,</span> <span class="n">template</span><span class="p">(</span><span class="s2">&quot;theme.gemspec&quot;</span><span class="p">))</span>
<a name="gbab-88"></a>  <span class="k">end</span>
<a name="gbab-89"></a>
<a name="gbab-90"></a>  <span class="k">def</span> <span class="nf">create_accessories</span>
<a name="gbab-91"></a>    <span class="n">accessories</span> <span class="o">=</span> <span class="sx">%w(README.md LICENSE.txt)</span>
<a name="gbab-92"></a>    <span class="n">accessories</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;CODE_OF_CONDUCT.md&quot;</span> <span class="k">if</span> <span class="n">code_of_conduct</span>
<a name="gbab-93"></a>    <span class="n">accessories</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">filename</span><span class="o">|</span>
<a name="gbab-94"></a>      <span class="n">write_file</span><span class="p">(</span><span class="n">filename</span><span class="p">,</span> <span class="n">template</span><span class="p">(</span><span class="n">filename</span><span class="p">))</span>
<a name="gbab-95"></a>    <span class="k">end</span>
<a name="gbab-96"></a>  <span class="k">class</span> <span class="nc">ERBRenderer</span>
<a name="gbab-97"></a>    <span class="kp">extend</span> <span class="no">Forwardable</span>
<a name="gbab-98"></a>
<a name="gbab-99"></a>    <span class="n">def_delegator</span> <span class="ss">:@theme_builder</span><span class="p">,</span> <span class="ss">:name</span><span class="p">,</span> <span class="ss">:theme_name</span>
<a name="gbab-100"></a>    <span class="n">def_delegator</span> <span class="ss">:@theme_builder</span><span class="p">,</span> <span class="ss">:user_name</span><span class="p">,</span> <span class="ss">:user_name</span>
<a name="gbab-101"></a>    <span class="n">def_delegator</span> <span class="ss">:@theme_builder</span><span class="p">,</span> <span class="ss">:user_email</span><span class="p">,</span> <span class="ss">:user_email</span>
<a name="gbab-102"></a>
<a name="gbab-103"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">theme_builder</span><span class="p">)</span>
<a name="gbab-104"></a>      <span class="vi">@theme_builder</span> <span class="o">=</span> <span class="n">theme_builder</span>
<a name="gbab-105"></a>    <span class="k">end</span>
<a name="gbab-106"></a>
<a name="gbab-107"></a>    <span class="k">def</span> <span class="nf">jekyll_version_with_minor</span>
<a name="gbab-108"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">VERSION</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot;.&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">take</span><span class="p">(</span><span class="mi">2</span><span class="p">)</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;.&quot;</span><span class="p">)</span>
<a name="gbab-109"></a>    <span class="k">end</span>
<a name="gbab-110"></a>
<a name="gbab-111"></a>    <span class="k">def</span> <span class="nf">theme_directories</span>
<a name="gbab-112"></a>      <span class="no">SCAFFOLD_DIRECTORIES</span>
<a name="gbab-113"></a>    <span class="k">end</span>
<a name="gbab-114"></a>
<a name="gbab-115"></a>    <span class="k">def</span> <span class="nf">render</span><span class="p">(</span><span class="n">contents</span><span class="p">)</span>
<a name="gbab-116"></a>      <span class="no">ERB</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">contents</span><span class="p">)</span><span class="o">.</span><span class="n">result</span> <span class="nb">binding</span>
<a name="gbab-117"></a>    <span class="k">end</span>
<a name="gbab-118"></a>  <span class="k">end</span>
<a name="gbab-119"></a><span class="k">end</span>
</pre></div>
</td></tr></table>