<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Utils</span>
<a name="gbab-5"></a>    <span class="k">module</span> <span class="nn">Internet</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a>      <span class="c1"># Public: Determine whether the present device has a connection to</span>
<a name="gbab-8"></a>      <span class="c1"># the Internet. This allows plugin writers which require the outside</span>
<a name="gbab-9"></a>      <span class="c1"># world to have a neat fallback mechanism for offline building.</span>
<a name="gbab-10"></a>      <span class="c1">#</span>
<a name="gbab-11"></a>      <span class="c1"># Example:</span>
<a name="gbab-12"></a>      <span class="c1">#   if Internet.connected?</span>
<a name="gbab-13"></a>      <span class="c1">#     Typhoeus.get(&quot;https://pages.github.com/versions.json&quot;)</span>
<a name="gbab-14"></a>      <span class="c1">#   else</span>
<a name="gbab-15"></a>      <span class="c1">#     Jekyll.logger.warn &quot;Warning:&quot;, &quot;Version check has been disabled.&quot;</span>
<a name="gbab-16"></a>      <span class="c1">#     Jekyll.logger.warn &quot;&quot;, &quot;Connect to the Internet to enable it.&quot;</span>
<a name="gbab-17"></a>      <span class="c1">#     nil</span>
<a name="gbab-18"></a>      <span class="c1">#   end</span>
<a name="gbab-19"></a>      <span class="c1">#</span>
<a name="gbab-20"></a>      <span class="c1"># Returns true if a DNS call can successfully be made, or false if not.</span>
<a name="gbab-21"></a>      <span class="kp">module_function</span>
<a name="gbab-22"></a>      <span class="k">def</span> <span class="nf">connected?</span>
<a name="gbab-23"></a>        <span class="o">!</span><span class="n">dns</span><span class="p">(</span><span class="s2">&quot;example.com&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-24"></a>      <span class="k">end</span>
<a name="gbab-25"></a>
<a name="gbab-26"></a>      <span class="kp">private</span>
<a name="gbab-27"></a>      <span class="kp">module_function</span>
<a name="gbab-28"></a>      <span class="k">def</span> <span class="nf">dns</span><span class="p">(</span><span class="n">domain</span><span class="p">)</span>
<a name="gbab-29"></a>        <span class="nb">require</span> <span class="s2">&quot;resolv&quot;</span>
<a name="gbab-30"></a>        <span class="no">Resolv</span><span class="o">::</span><span class="no">DNS</span><span class="o">.</span><span class="n">open</span> <span class="k">do</span> <span class="o">|</span><span class="n">resolver</span><span class="o">|</span>
<a name="gbab-31"></a>          <span class="n">resolver</span><span class="o">.</span><span class="n">getaddress</span><span class="p">(</span><span class="n">domain</span><span class="p">)</span>
<a name="gbab-32"></a>        <span class="k">end</span>
<a name="gbab-33"></a>      <span class="k">rescue</span> <span class="no">Resolv</span><span class="o">::</span><span class="no">ResolvError</span><span class="p">,</span> <span class="no">Resolv</span><span class="o">::</span><span class="no">ResolvTimeout</span>
<a name="gbab-34"></a>        <span class="kp">nil</span>
<a name="gbab-35"></a>      <span class="k">end</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a>    <span class="k">end</span>
<a name="gbab-38"></a>  <span class="k">end</span>
<a name="gbab-39"></a><span class="k">end</span>
</pre></div>
</td></tr></table>