<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;fileutils&quot;</span>
<a name="gbab-4"></a><span class="nb">require</span> <span class="s2">&quot;jekyll&quot;</span>
<a name="gbab-5"></a><span class="nb">require</span> <span class="s2">&quot;time&quot;</span>
<a name="gbab-6"></a><span class="nb">require</span> <span class="s2">&quot;safe_yaml/load&quot;</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a><span class="k">class</span> <span class="nc">Paths</span>
<a name="gbab-9"></a>  <span class="no">SOURCE_DIR</span> <span class="o">=</span> <span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="s2">&quot;../..&quot;</span><span class="p">,</span> <span class="n">__dir__</span><span class="p">))</span>
<a name="gbab-10"></a>  <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">test_dir</span><span class="p">;</span> <span class="n">source_dir</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;tmp&quot;</span><span class="p">,</span> <span class="s2">&quot;jekyll&quot;</span><span class="p">);</span> <span class="k">end</span>
<a name="gbab-11"></a>
<a name="gbab-12"></a>  <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">theme_gem_dir</span><span class="p">;</span> <span class="n">source_dir</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;tmp&quot;</span><span class="p">,</span> <span class="s2">&quot;jekyll&quot;</span><span class="p">,</span> <span class="s2">&quot;my-cool-theme&quot;</span><span class="p">);</span> <span class="k">end</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>  <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">output_file</span><span class="p">;</span> <span class="n">test_dir</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;jekyll_output.txt&quot;</span><span class="p">);</span> <span class="k">end</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>  <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">status_file</span><span class="p">;</span> <span class="n">test_dir</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;jekyll_status.txt&quot;</span><span class="p">);</span> <span class="k">end</span>
<a name="gbab-17"></a>
<a name="gbab-18"></a>  <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">jekyll_bin</span><span class="p">;</span> <span class="n">source_dir</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;exe&quot;</span><span class="p">,</span> <span class="s2">&quot;jekyll&quot;</span><span class="p">);</span> <span class="k">end</span>
<a name="gbab-19"></a>
<a name="gbab-20"></a>  <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">source_dir</span><span class="p">;</span> <span class="no">SOURCE_DIR</span><span class="p">;</span> <span class="k">end</span>
<a name="gbab-21"></a><span class="k">end</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a><span class="c1">#</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a><span class="k">def</span> <span class="nf">file_content_from_hash</span><span class="p">(</span><span class="n">input_hash</span><span class="p">)</span>
<a name="gbab-26"></a>  <span class="n">matter_hash</span> <span class="o">=</span> <span class="n">input_hash</span><span class="o">.</span><span class="n">reject</span> <span class="p">{</span> <span class="o">|</span><span class="n">k</span><span class="p">,</span> <span class="n">_v</span><span class="o">|</span> <span class="n">k</span> <span class="o">==</span> <span class="s2">&quot;content&quot;</span> <span class="p">}</span>
<a name="gbab-27"></a>  <span class="n">matter</span> <span class="o">=</span> <span class="n">matter_hash</span><span class="o">.</span><span class="n">map</span> <span class="k">do</span> <span class="o">|</span><span class="n">k</span><span class="p">,</span> <span class="n">v</span><span class="o">|</span>
<a name="gbab-28"></a>    <span class="s2">&quot;</span><span class="si">#{</span><span class="n">k</span><span class="si">}</span><span class="s2">: </span><span class="si">#{</span><span class="n">v</span><span class="si">}</span><span class="se">\n</span><span class="s2">&quot;</span>
<a name="gbab-29"></a>  <span class="k">end</span>
<a name="gbab-30"></a>
<a name="gbab-31"></a>  <span class="n">matter</span> <span class="o">=</span> <span class="n">matter</span><span class="o">.</span><span class="n">join</span><span class="o">.</span><span class="n">chomp</span>
<a name="gbab-32"></a>  <span class="n">content</span> <span class="o">=</span> <span class="p">\</span>
<a name="gbab-33"></a>    <span class="k">if</span> <span class="o">!</span><span class="n">input_hash</span><span class="o">[</span><span class="s2">&quot;input&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="o">!</span><span class="n">input_hash</span><span class="o">[</span><span class="s2">&quot;filter&quot;</span><span class="o">]</span>
<a name="gbab-34"></a>      <span class="k">then</span> <span class="n">input_hash</span><span class="o">[</span><span class="s2">&quot;content&quot;</span><span class="o">]</span>
<a name="gbab-35"></a>    <span class="k">else</span> <span class="s2">&quot;{{ </span><span class="si">#{</span><span class="n">input_hash</span><span class="o">[</span><span class="s2">&quot;input&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2"> | &quot;</span> <span class="p">\</span>
<a name="gbab-36"></a>        <span class="s2">&quot;</span><span class="si">#{</span><span class="n">input_hash</span><span class="o">[</span><span class="s2">&quot;filter&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2"> }}&quot;</span>
<a name="gbab-37"></a>  <span class="k">end</span>
<a name="gbab-38"></a>
<a name="gbab-39"></a>  <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">.</span><span class="n">strip_heredoc</span><span class="p">(</span><span class="o">&lt;&lt;-</span><span class="no">EOF</span><span class="p">)</span>
<a name="gbab-40"></a><span class="sh">    ---</span>
<a name="gbab-41"></a><span class="sh">    #{matter.gsub(</span>
<a name="gbab-42"></a><span class="sh">      %r!\n!, &quot;\n    &quot;</span>
<a name="gbab-43"></a><span class="sh">    )}</span>
<a name="gbab-44"></a><span class="sh">    ---</span>
<a name="gbab-45"></a><span class="sh">    #{content}</span>
<a name="gbab-46"></a><span class="no">  EOF</span>
<a name="gbab-47"></a><span class="k">end</span>
<a name="gbab-48"></a>
<a name="gbab-49"></a><span class="c1">#</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a><span class="k">def</span> <span class="nf">source_dir</span><span class="p">(</span><span class="o">*</span><span class="n">files</span><span class="p">)</span>
<a name="gbab-52"></a>  <span class="k">return</span> <span class="no">Paths</span><span class="o">.</span><span class="n">test_dir</span><span class="p">(</span><span class="o">*</span><span class="n">files</span><span class="p">)</span>
<a name="gbab-53"></a><span class="k">end</span>
<a name="gbab-54"></a>
<a name="gbab-55"></a><span class="c1">#</span>
<a name="gbab-56"></a>
<a name="gbab-57"></a><span class="k">def</span> <span class="nf">all_steps_to_path</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-58"></a>  <span class="n">source</span> <span class="o">=</span> <span class="n">source_dir</span>
<a name="gbab-59"></a>  <span class="n">dest</span>   <span class="o">=</span> <span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">path</span><span class="p">)</span><span class="o">.</span><span class="n">expand_path</span>
<a name="gbab-60"></a>  <span class="n">paths</span>  <span class="o">=</span> <span class="o">[]</span>
<a name="gbab-61"></a>
<a name="gbab-62"></a>  <span class="n">dest</span><span class="o">.</span><span class="n">ascend</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-63"></a>    <span class="k">break</span> <span class="k">if</span> <span class="n">f</span> <span class="o">==</span> <span class="n">source</span>
<a name="gbab-64"></a>    <span class="n">paths</span><span class="o">.</span><span class="n">unshift</span> <span class="n">f</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-65"></a>  <span class="k">end</span>
<a name="gbab-66"></a>
<a name="gbab-67"></a>  <span class="n">paths</span>
<a name="gbab-68"></a><span class="k">end</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a><span class="c1">#</span>
<a name="gbab-71"></a>
<a name="gbab-72"></a><span class="k">def</span> <span class="nf">jekyll_run_output</span>
<a name="gbab-73"></a>  <span class="k">if</span> <span class="no">Paths</span><span class="o">.</span><span class="n">output_file</span><span class="o">.</span><span class="n">file?</span>
<a name="gbab-74"></a>    <span class="k">then</span> <span class="k">return</span> <span class="no">Paths</span><span class="o">.</span><span class="n">output_file</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-75"></a><span class="k">end</span>
<a name="gbab-76"></a><span class="k">end</span>
<a name="gbab-77"></a>
<a name="gbab-78"></a><span class="c1">#</span>
<a name="gbab-79"></a>
<a name="gbab-80"></a><span class="k">def</span> <span class="nf">jekyll_run_status</span>
<a name="gbab-81"></a>  <span class="k">if</span> <span class="no">Paths</span><span class="o">.</span><span class="n">status_file</span><span class="o">.</span><span class="n">file?</span>
<a name="gbab-82"></a>    <span class="k">then</span> <span class="k">return</span> <span class="no">Paths</span><span class="o">.</span><span class="n">status_file</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-83"></a><span class="k">end</span>
<a name="gbab-84"></a><span class="k">end</span>
<a name="gbab-85"></a>
<a name="gbab-86"></a><span class="c1">#</span>
<a name="gbab-87"></a>
<a name="gbab-88"></a><span class="k">def</span> <span class="nf">run_bundle</span><span class="p">(</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-89"></a>  <span class="n">run_in_shell</span><span class="p">(</span><span class="s2">&quot;bundle&quot;</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="o">.</span><span class="n">strip</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot; &quot;</span><span class="p">))</span>
<a name="gbab-90"></a><span class="k">end</span>
<a name="gbab-91"></a>
<a name="gbab-92"></a><span class="c1">#</span>
<a name="gbab-93"></a>
<a name="gbab-94"></a><span class="k">def</span> <span class="nf">run_rubygem</span><span class="p">(</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-95"></a>  <span class="n">run_in_shell</span><span class="p">(</span><span class="s2">&quot;gem&quot;</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="o">.</span><span class="n">strip</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot; &quot;</span><span class="p">))</span>
<a name="gbab-96"></a><span class="k">end</span>
<a name="gbab-97"></a>
<a name="gbab-98"></a><span class="c1">#</span>
<a name="gbab-99"></a>
<a name="gbab-100"></a><span class="k">def</span> <span class="nf">run_jekyll</span><span class="p">(</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-101"></a>  <span class="n">args</span> <span class="o">=</span> <span class="n">args</span><span class="o">.</span><span class="n">strip</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot; &quot;</span><span class="p">)</span> <span class="c1"># Shellwords?</span>
<a name="gbab-102"></a>  <span class="n">process</span> <span class="o">=</span> <span class="n">run_in_shell</span><span class="p">(</span><span class="s2">&quot;ruby&quot;</span><span class="p">,</span> <span class="no">Paths</span><span class="o">.</span><span class="n">jekyll_bin</span><span class="o">.</span><span class="n">to_s</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="s2">&quot;--trace&quot;</span><span class="p">)</span>
<a name="gbab-103"></a>  <span class="n">process</span><span class="o">.</span><span class="n">exitstatus</span><span class="o">.</span><span class="n">zero?</span>
<a name="gbab-104"></a><span class="k">end</span>
<a name="gbab-105"></a>
<a name="gbab-106"></a><span class="c1">#</span>
<a name="gbab-107"></a><span class="k">def</span> <span class="nf">run_in_shell</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-108"></a>  <span class="nb">p</span><span class="p">,</span> <span class="n">output</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">::</span><span class="no">Exec</span><span class="o">.</span><span class="n">run</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-109"></a>
<a name="gbab-110"></a>  <span class="no">File</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="no">Paths</span><span class="o">.</span><span class="n">status_file</span><span class="p">,</span> <span class="nb">p</span><span class="o">.</span><span class="n">exitstatus</span><span class="p">)</span>
<a name="gbab-111"></a>  <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="no">Paths</span><span class="o">.</span><span class="n">output_file</span><span class="p">,</span> <span class="s2">&quot;wb&quot;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-112"></a>    <span class="n">f</span><span class="o">.</span><span class="n">print</span> <span class="s2">&quot;$ &quot;</span>
<a name="gbab-113"></a>    <span class="n">f</span><span class="o">.</span><span class="n">puts</span> <span class="n">args</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot; &quot;</span><span class="p">)</span>
<a name="gbab-114"></a>    <span class="n">f</span><span class="o">.</span><span class="n">puts</span> <span class="n">output</span>
<a name="gbab-115"></a>    <span class="n">f</span><span class="o">.</span><span class="n">puts</span> <span class="s2">&quot;EXIT STATUS: </span><span class="si">#{</span><span class="nb">p</span><span class="o">.</span><span class="n">exitstatus</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-116"></a>  <span class="k">end</span>
<a name="gbab-117"></a>
<a name="gbab-118"></a>  <span class="nb">p</span>
<a name="gbab-119"></a><span class="k">end</span>
<a name="gbab-120"></a>
<a name="gbab-121"></a><span class="c1">#</span>
<a name="gbab-122"></a>
<a name="gbab-123"></a><span class="k">def</span> <span class="nf">slug</span><span class="p">(</span><span class="n">title</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-124"></a>  <span class="k">if</span> <span class="o">!</span><span class="n">title</span>
<a name="gbab-125"></a>    <span class="k">then</span> <span class="no">Time</span><span class="o">.</span><span class="n">now</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%s%9N&quot;</span><span class="p">)</span> <span class="c1"># nanoseconds since the Epoch</span>
<a name="gbab-126"></a>  <span class="k">else</span> <span class="n">title</span><span class="o">.</span><span class="n">downcase</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r![^\w]!</span><span class="p">,</span> <span class="s2">&quot; &quot;</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r!\s+!</span><span class="p">,</span> <span class="s2">&quot;-&quot;</span><span class="p">)</span>
<a name="gbab-127"></a>  <span class="k">end</span>
<a name="gbab-128"></a><span class="c1">#</span>
<a name="gbab-129"></a>
<a name="gbab-130"></a><span class="k">def</span> <span class="nf">slug</span><span class="p">(</span><span class="n">title</span><span class="p">)</span>
<a name="gbab-131"></a>  <span class="n">title</span><span class="o">.</span><span class="n">downcase</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">/[^\w]/</span><span class="p">,</span> <span class="s2">&quot; &quot;</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">/\s+/</span><span class="p">,</span> <span class="s1">&#39;-&#39;</span><span class="p">)</span>
<a name="gbab-132"></a><span class="k">end</span>
<a name="gbab-133"></a>
<a name="gbab-134"></a><span class="k">def</span> <span class="nf">location</span><span class="p">(</span><span class="n">folder</span><span class="p">,</span> <span class="n">direction</span><span class="p">)</span>
<a name="gbab-135"></a>
<a name="gbab-136"></a>  <span class="o">[</span><span class="n">before</span> <span class="o">||</span> <span class="s2">&quot;.&quot;</span><span class="p">,</span>
<a name="gbab-137"></a>    <span class="n">after</span> <span class="o">||</span> <span class="s2">&quot;.&quot;</span><span class="o">]</span>
<a name="gbab-138"></a>  <span class="n">date</span><span class="p">,</span> <span class="n">time</span><span class="p">,</span> <span class="n">zone</span> <span class="o">=</span> <span class="n">datetime</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot; &quot;</span><span class="p">)</span>
<a name="gbab-139"></a>    <span class="n">zone</span> <span class="o">=</span> <span class="n">pieces</span><span class="o">[</span><span class="mi">4</span><span class="o">..</span><span class="mi">5</span><span class="o">].</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot; &quot;</span><span class="p">)</span>
<a name="gbab-140"></a><span class="c1">#</span>
<a name="gbab-141"></a>
<a name="gbab-142"></a>    <span class="n">date</span><span class="p">,</span> <span class="n">time</span><span class="p">,</span> <span class="n">zone</span> <span class="o">=</span> <span class="n">pieces</span>
<a name="gbab-143"></a>  <span class="k">return</span> <span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">path</span><span class="p">)</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-144"></a>    <span class="no">Regexp</span><span class="o">.</span><span class="n">escape</span><span class="p">(</span><span class="n">date</span><span class="p">),</span>
<a name="gbab-145"></a>    <span class="s2">&quot;</span><span class="si">#{</span><span class="n">time</span><span class="si">}</span><span class="s2">:</span><span class="se">\\</span><span class="s2">d{2}&quot;</span><span class="p">,</span>
<a name="gbab-146"></a>    <span class="n">after</span> <span class="o">||</span> <span class="s2">&quot;.&quot;</span><span class="p">,</span><span class="o">]</span>
<a name="gbab-147"></a>
<a name="gbab-148"></a>    <span class="no">Regexp</span><span class="o">.</span><span class="n">escape</span><span class="p">(</span><span class="n">zone</span><span class="p">)</span>
<a name="gbab-149"></a>  <span class="o">].</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;</span><span class="se">\\</span><span class="s2"> &quot;</span><span class="p">)</span>
<a name="gbab-150"></a><span class="k">end</span>
<a name="gbab-151"></a>
<a name="gbab-152"></a>
<a name="gbab-153"></a><span class="k">def</span> <span class="nf">seconds_agnostic_time</span><span class="p">(</span><span class="n">time</span><span class="p">)</span>
<a name="gbab-154"></a>  <span class="k">if</span> <span class="n">time</span><span class="o">.</span><span class="n">is_a?</span> <span class="no">Time</span>
<a name="gbab-155"></a>    <span class="n">time</span> <span class="o">=</span> <span class="n">time</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%H:%M:%S&quot;</span><span class="p">)</span>
<a name="gbab-156"></a>  <span class="o">]</span> <span class="p">\</span>
<a name="gbab-157"></a>  <span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;</span><span class="se">\\</span><span class="s2"> &quot;</span><span class="p">)</span>
<a name="gbab-158"></a>
<a name="gbab-159"></a><span class="k">def</span> <span class="nf">file_contents</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-160"></a><span class="c1">#</span>
<a name="gbab-161"></a>
<a name="gbab-162"></a>  <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="n">path</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">file</span><span class="o">|</span>
<a name="gbab-163"></a>  <span class="n">time</span> <span class="o">=</span> <span class="n">time</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%H:%M:%S&quot;</span><span class="p">)</span> <span class="k">if</span> <span class="n">time</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Time</span><span class="p">)</span>
<a name="gbab-164"></a>    <span class="no">Regexp</span><span class="o">.</span><span class="n">escape</span><span class="p">(</span><span class="n">zone</span><span class="p">),</span>
<a name="gbab-165"></a>  <span class="k">end</span>
<a name="gbab-166"></a>  <span class="o">[</span><span class="n">before</span> <span class="o">||</span> <span class="s1">&#39;.&#39;</span><span class="p">,</span> <span class="n">after</span> <span class="o">||</span> <span class="s1">&#39;.&#39;</span><span class="o">]</span>
<a name="gbab-167"></a>
<a name="gbab-168"></a><span class="c1"># Helper method for Windows</span>
<a name="gbab-169"></a><span class="k">def</span> <span class="nf">dst_active?</span>
<a name="gbab-170"></a>  <span class="n">config</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span><span class="s2">&quot;quiet&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-171"></a>  <span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;TZ&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;timezone&quot;</span><span class="o">]</span>
<a name="gbab-172"></a>  <span class="n">dst</span> <span class="o">=</span> <span class="no">Time</span><span class="o">.</span><span class="n">now</span><span class="o">.</span><span class="n">isdst</span>
<a name="gbab-173"></a>
<a name="gbab-174"></a>  <span class="c1"># reset variable to default state on Windows</span>
<a name="gbab-175"></a>  <span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;TZ&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-176"></a>  <span class="n">dst</span>
<a name="gbab-177"></a><span class="k">end</span>
<a name="gbab-178"></a><span class="k">end</span>
</pre></div>
</td></tr></table>