<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># Frozen-string-literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Utils</span>
<a name="gbab-5"></a>    <span class="k">module</span> <span class="nn">Ansi</span>
<a name="gbab-6"></a>      <span class="kp">extend</span> <span class="nb">self</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>      <span class="no">ESCAPE</span> <span class="o">=</span> <span class="nb">format</span><span class="p">(</span><span class="s2">&quot;%c&quot;</span><span class="p">,</span> <span class="mi">27</span><span class="p">)</span>
<a name="gbab-9"></a>      <span class="no">MATCH</span> <span class="o">=</span> <span class="sr">%r!</span><span class="si">#{</span><span class="no">ESCAPE</span><span class="si">}</span><span class="sr">\[(?:\d+)(?:;\d+)*(j|k|m|s|u|A|B|G)|\e\(B\e\[m!ix</span>
<a name="gbab-10"></a>      <span class="no">COLORS</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-11"></a>        <span class="ss">:red</span> <span class="o">=&gt;</span> <span class="mi">31</span><span class="p">,</span>
<a name="gbab-12"></a>        <span class="ss">:green</span> <span class="o">=&gt;</span> <span class="mi">32</span><span class="p">,</span>
<a name="gbab-13"></a>        <span class="ss">:black</span> <span class="o">=&gt;</span> <span class="mi">30</span><span class="p">,</span>
<a name="gbab-14"></a>        <span class="ss">:magenta</span> <span class="o">=&gt;</span> <span class="mi">35</span><span class="p">,</span>
<a name="gbab-15"></a>        <span class="ss">:yellow</span> <span class="o">=&gt;</span> <span class="mi">33</span><span class="p">,</span>
<a name="gbab-16"></a>        <span class="ss">:white</span> <span class="o">=&gt;</span> <span class="mi">37</span><span class="p">,</span>
<a name="gbab-17"></a>        <span class="ss">:blue</span> <span class="o">=&gt;</span> <span class="mi">34</span><span class="p">,</span>
<a name="gbab-18"></a>        <span class="ss">:cyan</span>    <span class="o">=&gt;</span> <span class="mi">36</span><span class="p">,</span>
<a name="gbab-19"></a>      <span class="p">}</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>      <span class="c1"># Strip ANSI from the current string.  It also strips cursor stuff,</span>
<a name="gbab-22"></a>      <span class="c1"># well some of it, and it also strips some other stuff that a lot of</span>
<a name="gbab-23"></a>      <span class="c1"># the other ANSI strippers don&#39;t.</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>      <span class="k">def</span> <span class="nf">strip</span><span class="p">(</span><span class="n">str</span><span class="p">)</span>
<a name="gbab-26"></a>        <span class="n">str</span><span class="o">.</span><span class="n">gsub</span> <span class="no">MATCH</span><span class="p">,</span> <span class="s2">&quot;&quot;</span>
<a name="gbab-27"></a>      <span class="k">end</span>
<a name="gbab-28"></a>
<a name="gbab-29"></a>      <span class="c1">#</span>
<a name="gbab-30"></a>
<a name="gbab-31"></a>      <span class="k">def</span> <span class="nf">has?</span><span class="p">(</span><span class="n">str</span><span class="p">)</span>
<a name="gbab-32"></a>        <span class="o">!!</span><span class="p">(</span><span class="n">str</span> <span class="o">=~</span> <span class="no">MATCH</span><span class="p">)</span>
<a name="gbab-33"></a>      <span class="k">end</span>
<a name="gbab-34"></a>      
<a name="gbab-35"></a>      <span class="c1"># Reset the color back to the default color so that you do not leak any</span>
<a name="gbab-36"></a>      <span class="c1"># colors when you move onto the next line. This is probably normally</span>
<a name="gbab-37"></a>      <span class="c1"># used as part of a wrapper so that we don&#39;t leak colors.</span>
<a name="gbab-38"></a>
<a name="gbab-39"></a>      <span class="k">def</span> <span class="nf">reset</span><span class="p">(</span><span class="n">str</span> <span class="o">=</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-40"></a>        <span class="vi">@ansi_reset</span> <span class="o">||=</span> <span class="nb">format</span><span class="p">(</span><span class="s2">&quot;%c[0m&quot;</span><span class="p">,</span> <span class="mi">27</span><span class="p">)</span>
<a name="gbab-41"></a>        <span class="s2">&quot;</span><span class="si">#{</span><span class="vi">@ansi_reset</span><span class="si">}#{</span><span class="n">str</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-42"></a>      <span class="k">end</span>
<a name="gbab-43"></a>
<a name="gbab-44"></a>      <span class="c1"># SEE: `self::COLORS` for a list of methods.  They are mostly</span>
<a name="gbab-45"></a>      <span class="c1"># standard base colors supported by pretty much any xterm-color, we do</span>
<a name="gbab-46"></a>      <span class="c1"># not need more than the base colors so we do not include them.</span>
<a name="gbab-47"></a>      <span class="c1"># Actually... if I&#39;m honest we don&#39;t even need most of the</span>
<a name="gbab-48"></a>      <span class="c1"># base colors.</span>
<a name="gbab-49"></a>
<a name="gbab-50"></a>      <span class="no">COLORS</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">color</span><span class="p">,</span> <span class="n">num</span><span class="o">|</span>
<a name="gbab-51"></a>        <span class="n">define_method</span> <span class="n">color</span> <span class="k">do</span> <span class="o">|</span><span class="n">str</span><span class="o">|</span>
<a name="gbab-52"></a>          <span class="s2">&quot;</span><span class="si">#{</span><span class="nb">format</span><span class="p">(</span><span class="s2">&quot;%c&quot;</span><span class="p">,</span> <span class="mi">27</span><span class="p">)</span><span class="si">}</span><span class="s2">[</span><span class="si">#{</span><span class="n">num</span><span class="si">}</span><span class="s2">m</span><span class="si">#{</span><span class="n">str</span><span class="si">}#{</span><span class="n">reset</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-53"></a>        <span class="k">end</span>
<a name="gbab-54"></a>      <span class="k">end</span>
<a name="gbab-55"></a>    <span class="k">end</span>
<a name="gbab-56"></a>  <span class="k">end</span>
<a name="gbab-57"></a><span class="k">end</span>
</pre></div>
</td></tr></table>