<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Utils</span>
<a name="gbab-5"></a>    <span class="kp">extend</span> <span class="nb">self</span>
<a name="gbab-6"></a>    <span class="nb">autoload</span> <span class="ss">:Ansi</span><span class="p">,</span> <span class="s2">&quot;jekyll/utils/ansi&quot;</span>
<a name="gbab-7"></a>    <span class="nb">autoload</span> <span class="ss">:Exec</span><span class="p">,</span> <span class="s2">&quot;jekyll/utils/exec&quot;</span>
<a name="gbab-8"></a>    <span class="nb">autoload</span> <span class="ss">:Internet</span><span class="p">,</span> <span class="s2">&quot;jekyll/utils/internet&quot;</span>
<a name="gbab-9"></a>    <span class="nb">autoload</span> <span class="ss">:Platforms</span><span class="p">,</span> <span class="s2">&quot;jekyll/utils/platforms&quot;</span>
<a name="gbab-10"></a>    <span class="nb">autoload</span> <span class="ss">:Rouge</span><span class="p">,</span> <span class="s2">&quot;jekyll/utils/rouge&quot;</span>
<a name="gbab-11"></a>    <span class="nb">autoload</span> <span class="ss">:ThreadEvent</span><span class="p">,</span> <span class="s2">&quot;jekyll/utils/thread_event&quot;</span>
<a name="gbab-12"></a>    <span class="nb">autoload</span> <span class="ss">:ThreadEvent</span><span class="p">,</span> <span class="s2">&quot;jekyll/utils/thread_event&quot;</span>
<a name="gbab-13"></a>    <span class="nb">autoload</span> <span class="ss">:WinTZ</span><span class="p">,</span> <span class="s2">&quot;jekyll/utils/win_tz&quot;</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>    <span class="c1"># Constants for use in #slugify</span>
<a name="gbab-16"></a>    <span class="no">SLUGIFY_MODES</span> <span class="o">=</span> <span class="sx">%w(raw default pretty ascii latin)</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-17"></a>    <span class="no">SLUGIFY_RAW_REGEXP</span> <span class="o">=</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s1">&#39;\\s+&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-18"></a>    <span class="no">SLUGIFY_DEFAULT_REGEXP</span> <span class="o">=</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;[^[:alnum:]]+&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-19"></a>    <span class="no">SLUGIFY_PRETTY_REGEXP</span> <span class="o">=</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;[^[:alnum:]._~!$&amp;&#39;()+,;=@]+&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-20"></a>    <span class="no">SLUGIFY_ASCII_REGEXP</span> <span class="o">=</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;[^[A-Za-z0-9]]+&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-21"></a>
<a name="gbab-22"></a>    <span class="c1"># Takes an indented string and removes the preceding spaces on each line</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>      <span class="n">str</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r!^[ \t]{</span><span class="si">#{</span><span class="p">(</span><span class="n">str</span><span class="o">.</span><span class="n">scan</span><span class="p">(</span><span class="o">%</span><span class="n">r</span><span class="sr">!</span><span class="o">^[</span> <span class="p">\</span><span class="n">t</span><span class="o">]*</span><span class="p">(</span><span class="sc">?=</span><span class="p">\</span><span class="n">S</span><span class="p">)</span><span class="o">!</span><span class="p">)</span><span class="o">.</span><span class="n">min</span> <span class="o">||</span> <span class="s2">&quot;&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">size</span><span class="p">}}</span><span class="o">!</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-25"></a>      <span class="n">str</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">/^[ \t]{</span><span class="si">#{</span><span class="p">(</span><span class="n">str</span><span class="o">.</span><span class="n">scan</span><span class="p">(</span><span class="sr">/^[ \t]*(?=\S)/</span><span class="p">)</span><span class="o">.</span><span class="n">min</span> <span class="o">||</span> <span class="s2">&quot;&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">size</span><span class="si">}</span><span class="sr">}/</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-26"></a>    <span class="k">end</span>
<a name="gbab-27"></a>
<a name="gbab-28"></a>    <span class="c1"># Takes a slug and turns it into a simple title.</span>
<a name="gbab-29"></a>
<a name="gbab-30"></a>      <span class="n">slug</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot;-&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">map!</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:capitalize</span><span class="p">)</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot; &quot;</span><span class="p">)</span>
<a name="gbab-31"></a>      <span class="k">end</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot; &quot;</span><span class="p">)</span>
<a name="gbab-32"></a>    <span class="k">def</span> <span class="nf">strip_heredoc</span><span class="p">(</span><span class="n">str</span><span class="p">)</span>
<a name="gbab-33"></a>      <span class="n">str</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">/^[ \t]{</span><span class="si">#{</span><span class="p">(</span><span class="n">str</span><span class="o">.</span><span class="n">scan</span><span class="p">(</span><span class="sr">/^[ \t]*(?=\S)/</span><span class="p">)</span><span class="o">.</span><span class="n">min</span> <span class="o">||</span> <span class="s2">&quot;&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">size</span><span class="si">}</span><span class="sr">}/</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-34"></a>    <span class="k">end</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>    <span class="c1"># Takes a slug and turns it into a simple title.</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>    <span class="k">def</span> <span class="nf">titleize_slug</span><span class="p">(</span><span class="n">slug</span><span class="p">)</span>
<a name="gbab-39"></a>      <span class="n">slug</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot;-&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">map!</span> <span class="k">do</span> <span class="o">|</span><span class="n">val</span><span class="o">|</span>
<a name="gbab-40"></a>        <span class="n">val</span><span class="o">.</span><span class="n">capitalize!</span>
<a name="gbab-41"></a>      <span class="k">end</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot; &quot;</span><span class="p">)</span>
<a name="gbab-42"></a>    <span class="k">end</span>
<a name="gbab-43"></a>
<a name="gbab-44"></a>    <span class="c1"># Non-destructive version of deep_merge_hashes! See that method.</span>
<a name="gbab-45"></a>    <span class="c1">#</span>
<a name="gbab-46"></a>    <span class="c1"># Returns the merged hashes.</span>
<a name="gbab-47"></a>    <span class="k">def</span> <span class="nf">deep_merge_hashes</span><span class="p">(</span><span class="n">master_hash</span><span class="p">,</span> <span class="n">other_hash</span><span class="p">)</span>
<a name="gbab-48"></a>      <span class="n">deep_merge_hashes!</span><span class="p">(</span><span class="n">master_hash</span><span class="o">.</span><span class="n">dup</span><span class="p">,</span> <span class="n">other_hash</span><span class="p">)</span>
<a name="gbab-49"></a>    <span class="k">end</span>
<a name="gbab-50"></a>      <span class="n">merge_values</span><span class="p">(</span><span class="n">target</span><span class="p">,</span> <span class="n">overwrite</span><span class="p">)</span>
<a name="gbab-51"></a>      <span class="n">merge_default_proc</span><span class="p">(</span><span class="n">target</span><span class="p">,</span> <span class="n">overwrite</span><span class="p">)</span>
<a name="gbab-52"></a>      <span class="n">duplicate_frozen_values</span><span class="p">(</span><span class="n">target</span><span class="p">)</span>
<a name="gbab-53"></a>
<a name="gbab-54"></a>        <span class="k">if</span> <span class="n">new_val</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-55"></a>          <span class="n">old_val</span>
<a name="gbab-56"></a>        <span class="k">else</span>
<a name="gbab-57"></a>          <span class="n">mergable?</span><span class="p">(</span><span class="n">old_val</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">mergable?</span><span class="p">(</span><span class="n">new_val</span><span class="p">)</span> <span class="p">?</span> <span class="n">deep_merge_hashes</span><span class="p">(</span><span class="n">old_val</span><span class="p">,</span> <span class="n">new_val</span><span class="p">)</span> <span class="p">:</span> <span class="n">new_val</span>
<a name="gbab-58"></a>          <span class="k">end</span>
<a name="gbab-59"></a>        <span class="k">end</span>
<a name="gbab-60"></a>
<a name="gbab-61"></a>    <span class="k">def</span> <span class="nf">duplicable?</span><span class="p">(</span><span class="n">obj</span><span class="p">)</span>
<a name="gbab-62"></a>      <span class="k">case</span> <span class="n">obj</span>
<a name="gbab-63"></a>      <span class="k">when</span> <span class="kp">nil</span><span class="p">,</span> <span class="kp">false</span><span class="p">,</span> <span class="kp">true</span><span class="p">,</span> <span class="no">Symbol</span><span class="p">,</span> <span class="no">Numeric</span>
<a name="gbab-64"></a>        <span class="kp">false</span>
<a name="gbab-65"></a>      <span class="k">else</span>
<a name="gbab-66"></a>        <span class="kp">true</span>
<a name="gbab-67"></a>      <span class="k">end</span>
<a name="gbab-68"></a>    <span class="k">end</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a>      <span class="k">if</span> <span class="n">target</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:default_proc</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">overwrite</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:default_proc</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">target</span><span class="o">.</span><span class="n">default_proc</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-71"></a>        <span class="n">target</span><span class="o">.</span><span class="n">default_proc</span> <span class="o">=</span> <span class="n">overwrite</span><span class="o">.</span><span class="n">default_proc</span>
<a name="gbab-72"></a>      <span class="k">end</span>
<a name="gbab-73"></a>
<a name="gbab-74"></a>        <span class="n">target</span>
<a name="gbab-75"></a>      <span class="k">end</span>
<a name="gbab-76"></a>
<a name="gbab-77"></a>    <span class="k">def</span> <span class="nf">mergable?</span><span class="p">(</span><span class="n">value</span><span class="p">)</span>
<a name="gbab-78"></a>      <span class="n">value</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span> <span class="o">||</span> <span class="n">value</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Drops</span><span class="o">::</span><span class="no">Drop</span><span class="p">)</span>
<a name="gbab-79"></a>    <span class="k">end</span>
<a name="gbab-80"></a>        <span class="n">value</span> <span class="o">=</span> <span class="n">value_from_singular_key</span><span class="p">(</span><span class="nb">hash</span><span class="p">,</span> <span class="n">singular_key</span><span class="p">)</span>
<a name="gbab-81"></a>        <span class="n">value</span> <span class="o">||=</span> <span class="n">value_from_plural_key</span><span class="p">(</span><span class="nb">hash</span><span class="p">,</span> <span class="n">plural_key</span><span class="p">)</span>
<a name="gbab-82"></a>        <span class="n">array</span> <span class="o">&lt;&lt;</span> <span class="n">value</span>
<a name="gbab-83"></a>      <span class="c1"># Read array from the supplied hash favouring the singular key</span>
<a name="gbab-84"></a>      <span class="c1"># and then the plural key, and handling any nil entries.</span>
<a name="gbab-85"></a>      <span class="c1">#</span>
<a name="gbab-86"></a>      <span class="c1"># hash - the hash to read from</span>
<a name="gbab-87"></a>      <span class="c1"># singular_key - the singular key</span>
<a name="gbab-88"></a>      <span class="c1"># plural_key - the plural key</span>
<a name="gbab-89"></a>      <span class="c1">#</span>
<a name="gbab-90"></a>      <span class="c1"># Returns an array</span>
<a name="gbab-91"></a>      <span class="k">def</span> <span class="nf">pluralized_array_from_hash</span><span class="p">(</span><span class="nb">hash</span><span class="p">,</span> <span class="n">singular_key</span><span class="p">,</span> <span class="n">plural_key</span><span class="p">)</span>
<a name="gbab-92"></a>        <span class="o">[].</span><span class="n">tap</span> <span class="k">do</span> <span class="o">|</span><span class="n">array</span><span class="o">|</span>
<a name="gbab-93"></a>          <span class="n">array</span> <span class="o">&lt;&lt;</span> <span class="p">(</span><span class="n">value_from_singular_key</span><span class="p">(</span><span class="nb">hash</span><span class="p">,</span> <span class="n">singular_key</span><span class="p">)</span> <span class="o">||</span> <span class="n">value_from_plural_key</span><span class="p">(</span><span class="nb">hash</span><span class="p">,</span> <span class="n">plural_key</span><span class="p">))</span>
<a name="gbab-94"></a>        <span class="k">end</span><span class="o">.</span><span class="n">flatten</span><span class="o">.</span><span class="n">compact</span>
<a name="gbab-95"></a>      <span class="k">end</span>
<a name="gbab-96"></a>      
<a name="gbab-97"></a>      <span class="k">def</span> <span class="nf">value_from_singular_key</span><span class="p">(</span><span class="nb">hash</span><span class="p">,</span> <span class="n">key</span><span class="p">)</span>
<a name="gbab-98"></a>      <span class="nb">hash</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="k">if</span> <span class="nb">hash</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="n">key</span><span class="p">)</span> <span class="o">||</span> <span class="p">(</span><span class="nb">hash</span><span class="o">.</span><span class="n">default_proc</span> <span class="o">&amp;&amp;</span> <span class="nb">hash</span><span class="o">[</span><span class="n">key</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-99"></a>      <span class="k">end</span>
<a name="gbab-100"></a>      
<a name="gbab-101"></a>      <span class="k">def</span> <span class="nf">value_from_plural_key</span><span class="p">(</span><span class="nb">hash</span><span class="p">,</span> <span class="n">key</span><span class="p">)</span>
<a name="gbab-102"></a>        <span class="k">if</span> <span class="nb">hash</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="n">key</span><span class="p">)</span> <span class="o">||</span> <span class="p">(</span><span class="nb">hash</span><span class="o">.</span><span class="n">default_proc</span> <span class="o">&amp;&amp;</span> <span class="nb">hash</span><span class="o">[</span><span class="n">key</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-103"></a>          <span class="n">val</span> <span class="o">=</span> <span class="nb">hash</span><span class="o">[</span><span class="n">key</span><span class="o">]</span>
<a name="gbab-104"></a>          <span class="k">case</span> <span class="n">val</span>
<a name="gbab-105"></a>          <span class="k">when</span> <span class="nb">String</span>
<a name="gbab-106"></a>            <span class="n">val</span><span class="o">.</span><span class="n">split</span>
<a name="gbab-107"></a>          <span class="k">when</span> <span class="nb">Array</span>
<a name="gbab-108"></a>            <span class="n">val</span><span class="o">.</span><span class="n">compact</span>
<a name="gbab-109"></a>          <span class="k">end</span>
<a name="gbab-110"></a>        <span class="k">end</span>
<a name="gbab-111"></a>      <span class="k">end</span>
<a name="gbab-112"></a>
<a name="gbab-113"></a>      <span class="k">def</span> <span class="nf">transform_keys</span><span class="p">(</span><span class="nb">hash</span><span class="p">)</span>
<a name="gbab-114"></a>        <span class="n">result</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-115"></a>        <span class="nb">hash</span><span class="o">.</span><span class="n">each_key</span> <span class="k">do</span> <span class="o">|</span><span class="n">key</span><span class="o">|</span>
<a name="gbab-116"></a>          <span class="n">result</span><span class="o">[</span><span class="k">yield</span><span class="p">(</span><span class="n">key</span><span class="p">)</span><span class="o">]</span> <span class="o">=</span> <span class="nb">hash</span><span class="o">[</span><span class="n">key</span><span class="o">]</span>
<a name="gbab-117"></a>        <span class="k">end</span>
<a name="gbab-118"></a>        <span class="n">result</span>
<a name="gbab-119"></a>      <span class="k">end</span>
<a name="gbab-120"></a>
<a name="gbab-121"></a>      <span class="c1"># Apply #to_sym to all keys in the hash</span>
<a name="gbab-122"></a>      <span class="c1">#</span>
<a name="gbab-123"></a>      <span class="c1"># hash - the hash to which to apply this transformation</span>
<a name="gbab-124"></a>      <span class="c1">#</span>
<a name="gbab-125"></a>      <span class="c1"># Returns a new hash with symbolized keys</span>
<a name="gbab-126"></a>      <span class="k">def</span> <span class="nf">symbolize_hash_keys</span><span class="p">(</span><span class="nb">hash</span><span class="p">)</span>
<a name="gbab-127"></a>        <span class="n">transform_keys</span><span class="p">(</span><span class="nb">hash</span><span class="p">)</span> <span class="p">{</span> <span class="o">|</span><span class="n">key</span><span class="o">|</span> <span class="n">key</span><span class="o">.</span><span class="n">to_sym</span> <span class="k">rescue</span> <span class="n">key</span> <span class="p">}</span>
<a name="gbab-128"></a>      <span class="k">end</span>
<a name="gbab-129"></a>
<a name="gbab-130"></a>      <span class="c1"># Apply #to_s to all keys in the Hash</span>
<a name="gbab-131"></a>      <span class="c1">#</span>
<a name="gbab-132"></a>      <span class="c1"># hash - the hash to which to apply this transformation</span>
<a name="gbab-133"></a>      <span class="c1">#</span>
<a name="gbab-134"></a>      <span class="c1"># Returns a new hash with stringified keys</span>
<a name="gbab-135"></a>      <span class="k">def</span> <span class="nf">stringify_hash_keys</span><span class="p">(</span><span class="nb">hash</span><span class="p">)</span>
<a name="gbab-136"></a>        <span class="n">transform_keys</span><span class="p">(</span><span class="nb">hash</span><span class="p">)</span> <span class="p">{</span> <span class="o">|</span><span class="n">key</span><span class="o">|</span> <span class="n">key</span><span class="o">.</span><span class="n">to_s</span> <span class="k">rescue</span> <span class="n">key</span> <span class="p">}</span>
<a name="gbab-137"></a>      <span class="k">end</span>
<a name="gbab-138"></a>
<a name="gbab-139"></a>      <span class="k">raise</span> <span class="no">Errors</span><span class="o">::</span><span class="no">InvalidDateError</span><span class="p">,</span> <span class="s2">&quot;Invalid date &#39;</span><span class="si">#{</span><span class="n">input</span><span class="si">}</span><span class="s2">&#39;: </span><span class="si">#{</span><span class="n">msg</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-140"></a>      <span class="c1">#</span>
<a name="gbab-141"></a>      <span class="c1"># input - the date/time to parse</span>
<a name="gbab-142"></a>      <span class="c1"># msg - (optional) the error message to show the user</span>
<a name="gbab-143"></a>      <span class="c1">#</span>
<a name="gbab-144"></a>    <span class="c1"># rubocop: disable PredicateName</span>
<a name="gbab-145"></a>      <span class="c1"># Returns the parsed date if successful, throws a FatalException</span>
<a name="gbab-146"></a>      <span class="o">!!</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="s2">&quot;rb&quot;</span><span class="p">,</span> <span class="o">&amp;</span><span class="ss">:readline</span><span class="p">)</span> <span class="o">=~</span> <span class="sr">%r!\A---\s*\r?\n!</span><span class="p">)</span>
<a name="gbab-147"></a>      <span class="k">def</span> <span class="nf">parse_date</span><span class="p">(</span><span class="n">input</span><span class="p">,</span> <span class="n">msg</span> <span class="o">=</span> <span class="s2">&quot;Input could not be parsed.&quot;</span><span class="p">)</span>
<a name="gbab-148"></a>      <span class="no">Time</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">input</span><span class="p">)</span><span class="o">.</span><span class="n">localtime</span>
<a name="gbab-149"></a>      <span class="k">rescue</span> <span class="no">ArgumentError</span>
<a name="gbab-150"></a>
<a name="gbab-151"></a>    <span class="c1"># Determine whether the given content string contains Liquid Tags or Vaiables</span>
<a name="gbab-152"></a>    <span class="c1">#</span>
<a name="gbab-153"></a>    <span class="c1"># Returns true is the string contains sequences of `{%` or `{{`</span>
<a name="gbab-154"></a>    <span class="k">def</span> <span class="nf">has_liquid_construct?</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-155"></a>      <span class="k">return</span> <span class="kp">false</span> <span class="k">if</span> <span class="n">content</span><span class="o">.</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">content</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-156"></a>      <span class="n">content</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;{%&quot;</span><span class="p">)</span> <span class="o">||</span> <span class="n">content</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;{{&quot;</span><span class="p">)</span>
<a name="gbab-157"></a>    <span class="k">end</span>
<a name="gbab-158"></a>    <span class="c1"># rubocop: enable PredicateName</span>
<a name="gbab-159"></a>        <span class="k">raise</span> <span class="no">Errors</span><span class="o">::</span><span class="no">FatalException</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;Invalid date &#39;</span><span class="si">#{</span><span class="n">input</span><span class="si">}</span><span class="s2">&#39;: &quot;</span> <span class="o">+</span> <span class="n">msg</span><span class="p">)</span>
<a name="gbab-160"></a>      <span class="k">end</span>
<a name="gbab-161"></a>
<a name="gbab-162"></a>    <span class="c1"># Determines whether a given file has</span>
<a name="gbab-163"></a>    <span class="c1">#</span>
<a name="gbab-164"></a>    <span class="c1"># Returns true if the YAML front matter is present.</span>
<a name="gbab-165"></a>    <span class="k">def</span> <span class="nf">has_yaml_header?</span><span class="p">(</span><span class="n">file</span><span class="p">)</span>
<a name="gbab-166"></a>      <span class="o">!!</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="s1">&#39;rb&#39;</span><span class="p">)</span> <span class="p">{</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span> <span class="n">f</span><span class="o">.</span><span class="n">readline</span> <span class="p">}</span> <span class="o">=~</span> <span class="sr">/\A---\s*\r?\n/</span><span class="p">)</span>
<a name="gbab-167"></a>    <span class="k">rescue</span> <span class="no">EOFError</span>
<a name="gbab-168"></a>      <span class="kp">false</span>
<a name="gbab-169"></a>    <span class="k">end</span>
<a name="gbab-170"></a>
<a name="gbab-171"></a>    <span class="c1"># Slugify a filename or title.</span>
<a name="gbab-172"></a>    <span class="c1">#</span>
<a name="gbab-173"></a>    <span class="c1"># string - the filename or title to slugify</span>
<a name="gbab-174"></a>    <span class="c1"># mode - how string is slugified</span>
<a name="gbab-175"></a>    <span class="c1"># cased - whether to replace all  uppercase letters with their</span>
<a name="gbab-176"></a>    <span class="c1"># lowercase counterparts</span>
<a name="gbab-177"></a>    <span class="c1">#</span>
<a name="gbab-178"></a>    <span class="c1"># When mode is &quot;none&quot;, return the given string.</span>
<a name="gbab-179"></a>    <span class="c1"># When mode is &quot;ascii&quot;, some everything else except ASCII characters</span>
<a name="gbab-180"></a>    <span class="c1"># a-z (lowercase), A-Z (uppercase) and 0-9 (numbers) are not replaced with hyphen.</span>
<a name="gbab-181"></a>    <span class="c1">#</span>
<a name="gbab-182"></a>    <span class="c1"># When mode is &quot;latin&quot;, the input string is first preprocessed so that</span>
<a name="gbab-183"></a>    <span class="c1"># any letters with accents are replaced with the plain letter. Afterwards,</span>
<a name="gbab-184"></a>    <span class="c1"># it follows the &quot;default&quot; mode of operation.</span>
<a name="gbab-185"></a>    <span class="c1">#</span>
<a name="gbab-186"></a>    <span class="c1">#</span>
<a name="gbab-187"></a>    <span class="c1"># When mode is &quot;raw&quot;, return the given string,</span>
<a name="gbab-188"></a>    <span class="c1"># with every sequence of spaces characters replaced with a hyphen.</span>
<a name="gbab-189"></a>        <span class="n">string</span> <span class="p">\</span>
<a name="gbab-190"></a>    <span class="c1">#</span>
<a name="gbab-191"></a>          <span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">/[^[:alnum:]]+/i</span><span class="p">,</span> <span class="s1">&#39;-&#39;</span><span class="p">)</span> <span class="p">\</span>
<a name="gbab-192"></a>    <span class="c1"># replaced with a hyphen too.</span>
<a name="gbab-193"></a>          <span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">/^\-|\-$/i</span><span class="p">,</span> <span class="s1">&#39;&#39;</span><span class="p">)</span> <span class="p">\</span>
<a name="gbab-194"></a>          <span class="c1"># Downcase it</span>
<a name="gbab-195"></a>          <span class="o">.</span><span class="n">downcase</span>
<a name="gbab-196"></a>    <span class="c1"># If cased is true, all uppercase letters in the result string are</span>
<a name="gbab-197"></a>      <span class="n">mode</span> <span class="o">||=</span> <span class="s2">&quot;default&quot;</span>
<a name="gbab-198"></a>    <span class="c1">#</span>
<a name="gbab-199"></a>    <span class="c1">#   slugify(&quot;The _config.yml file&quot;, &quot;ascii&quot;)</span>
<a name="gbab-200"></a>    <span class="c1">#   # =&gt; &quot;the-config-yml-file&quot;</span>
<a name="gbab-201"></a>    <span class="c1">#</span>
<a name="gbab-202"></a>    <span class="c1">#   slugify(&quot;The _config.yml file&quot;, &quot;latin&quot;)</span>
<a name="gbab-203"></a>    <span class="c1">#   # =&gt; &quot;the-config-yml-file&quot;</span>
<a name="gbab-204"></a>    <span class="c1">#</span>
<a name="gbab-205"></a>    <span class="c1"># are not replaced with hyphen.</span>
<a name="gbab-206"></a>    <span class="c1">#</span>
<a name="gbab-207"></a>    <span class="c1"># Examples:</span>
<a name="gbab-208"></a>    <span class="c1">#   slugify(&quot;The _config.yml file&quot;)</span>
<a name="gbab-209"></a>    <span class="c1">#   # =&gt; &quot;the-config-yml-file&quot;</span>
<a name="gbab-210"></a>        <span class="k">when</span> <span class="s2">&quot;raw&quot;</span>
<a name="gbab-211"></a>    <span class="c1">#   slugify(&quot;The _config.yml file&quot;, &quot;pretty&quot;)</span>
<a name="gbab-212"></a>        <span class="k">when</span> <span class="s2">&quot;default&quot;</span>
<a name="gbab-213"></a>    <span class="c1">#   # =&gt; &quot;The-_config.yml file&quot;</span>
<a name="gbab-214"></a>      <span class="k">if</span> <span class="n">mode</span> <span class="o">==</span> <span class="s2">&quot;latin&quot;</span>
<a name="gbab-215"></a>        <span class="no">I18n</span><span class="o">.</span><span class="n">config</span><span class="o">.</span><span class="n">available_locales</span> <span class="o">=</span> <span class="ss">:en</span> <span class="k">if</span> <span class="no">I18n</span><span class="o">.</span><span class="n">config</span><span class="o">.</span><span class="n">available_locales</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-216"></a>        <span class="n">string</span> <span class="o">=</span> <span class="no">I18n</span><span class="o">.</span><span class="n">transliterate</span><span class="p">(</span><span class="n">string</span><span class="p">)</span>
<a name="gbab-217"></a>      <span class="k">end</span>
<a name="gbab-218"></a>      <span class="n">string</span> <span class="o">=</span> <span class="o">::</span><span class="no">I18n</span><span class="o">.</span><span class="n">transliterate</span><span class="p">(</span><span class="n">string</span><span class="p">)</span> <span class="k">if</span> <span class="n">mode</span> <span class="o">==</span> <span class="s2">&quot;latin&quot;</span>
<a name="gbab-219"></a>        <span class="k">case</span> <span class="n">mode</span>
<a name="gbab-220"></a>      <span class="n">slug</span> <span class="o">=</span> <span class="n">replace_character_sequence_with_hyphen</span><span class="p">(</span><span class="n">string</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="n">mode</span><span class="p">)</span>
<a name="gbab-221"></a>      <span class="k">when</span> <span class="s1">&#39;raw&#39;</span>
<a name="gbab-222"></a>        <span class="no">SLUGIFY_DEFAULT_REGEXP</span>
<a name="gbab-223"></a>      <span class="k">when</span> <span class="s1">&#39;default&#39;</span>
<a name="gbab-224"></a>        <span class="no">Regexp</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s1">&#39;[^a-zA-Z0-9]+&#39;</span><span class="p">)</span>
<a name="gbab-225"></a>      <span class="k">when</span> <span class="s1">&#39;pretty&#39;</span>
<a name="gbab-226"></a>        <span class="no">SLUGIFY_PRETTY_REGEXP</span>
<a name="gbab-227"></a>      <span class="k">else</span>
<a name="gbab-228"></a>        <span class="k">return</span> <span class="n">string</span><span class="o">.</span><span class="n">downcase</span>
<a name="gbab-229"></a>      <span class="n">slug</span> <span class="o">=</span> <span class="n">string</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="n">re</span><span class="p">,</span> <span class="s1">&#39;-&#39;</span><span class="p">)</span>
<a name="gbab-230"></a>      <span class="n">slug</span> <span class="o">=</span> <span class="n">string</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="n">re</span><span class="p">,</span> <span class="s1">&#39;-&#39;</span><span class="p">)</span>
<a name="gbab-231"></a>
<a name="gbab-232"></a>        <span class="c1"># Remove leading/trailing hyphen</span>
<a name="gbab-233"></a>      <span class="n">slug</span><span class="o">.</span><span class="n">gsub!</span><span class="p">(</span><span class="sr">/^\-|\-$/i</span><span class="p">,</span> <span class="s1">&#39;&#39;</span><span class="p">)</span>
<a name="gbab-234"></a>
<a name="gbab-235"></a>      <span class="n">slug</span><span class="o">.</span><span class="n">downcase!</span> <span class="k">unless</span> <span class="n">cased</span>
<a name="gbab-236"></a>      <span class="n">slug</span>
<a name="gbab-237"></a>
<a name="gbab-238"></a>  <span class="k">end</span>
<a name="gbab-239"></a>    <span class="c1"># Add an appropriate suffix to template so that it matches the specified</span>
<a name="gbab-240"></a>    <span class="c1"># permalink style.</span>
<a name="gbab-241"></a>    <span class="c1">#</span>
<a name="gbab-242"></a>    <span class="c1"># template - permalink template without trailing slash or file extension</span>
<a name="gbab-243"></a>    <span class="c1"># permalink_style - permalink style, either built-in or custom</span>
<a name="gbab-244"></a>    <span class="c1">#</span>
<a name="gbab-245"></a>    <span class="c1"># The returned permalink template will use the same ending style as</span>
<a name="gbab-246"></a>    <span class="c1"># specified in permalink_style.  For example, if permalink_style contains a</span>
<a name="gbab-247"></a>    <span class="c1"># trailing slash (or is :pretty, which indirectly has a trailing slash),</span>
<a name="gbab-248"></a>    <span class="c1"># then so will the returned template.  If permalink_style has a trailing</span>
<a name="gbab-249"></a>    <span class="c1"># &quot;:output_ext&quot; (or is :none, :date, or :ordinal) then so will the returned</span>
<a name="gbab-250"></a>    <span class="c1"># template.  Otherwise, template will be returned without modification.</span>
<a name="gbab-251"></a>    <span class="c1">#</span>
<a name="gbab-252"></a>    <span class="c1"># Examples:</span>
<a name="gbab-253"></a>    <span class="c1">#   add_permalink_suffix(&quot;/:basename&quot;, :pretty)</span>
<a name="gbab-254"></a>    <span class="c1">#   # =&gt; &quot;/:basename/&quot;</span>
<a name="gbab-255"></a>    <span class="c1">#</span>
<a name="gbab-256"></a>    <span class="c1">#   add_permalink_suffix(&quot;/:basename&quot;, :date)</span>
<a name="gbab-257"></a>      <span class="n">template</span> <span class="o">=</span> <span class="n">template</span><span class="o">.</span><span class="n">dup</span>
<a name="gbab-258"></a>
<a name="gbab-259"></a>    <span class="c1">#   # =&gt; &quot;/:basename:output_ext&quot;</span>
<a name="gbab-260"></a>    <span class="c1">#</span>
<a name="gbab-261"></a>    <span class="c1">#   add_permalink_suffix(&quot;/:basename&quot;, &quot;/:year/:month/:title/&quot;)</span>
<a name="gbab-262"></a>    <span class="c1">#   # =&gt; &quot;/:basename/&quot;</span>
<a name="gbab-263"></a>    <span class="c1">#</span>
<a name="gbab-264"></a>    <span class="c1">#   add_permalink_suffix(&quot;/:basename&quot;, &quot;/:year/:month/:title&quot;)</span>
<a name="gbab-265"></a>    <span class="c1">#   # =&gt; &quot;/:basename&quot;</span>
<a name="gbab-266"></a>    <span class="c1">#</span>
<a name="gbab-267"></a>    <span class="c1"># Returns the updated permalink template</span>
<a name="gbab-268"></a>
<a name="gbab-269"></a>    <span class="k">def</span> <span class="nf">add_permalink_suffix</span><span class="p">(</span><span class="n">template</span><span class="p">,</span> <span class="n">permalink_style</span><span class="p">)</span>
<a name="gbab-270"></a>      <span class="k">case</span> <span class="n">permalink_style</span>
<a name="gbab-271"></a>
<a name="gbab-272"></a>    <span class="c1"># Work the same way as Dir.glob but seperating the input into two parts</span>
<a name="gbab-273"></a>    <span class="c1"># (&#39;dir&#39; + &#39;/&#39; + &#39;pattern&#39;) to make sure the first part(&#39;dir&#39;) does not act</span>
<a name="gbab-274"></a>    <span class="c1"># as a pattern.</span>
<a name="gbab-275"></a>    <span class="c1">#</span>
<a name="gbab-276"></a>    <span class="c1"># For example, Dir.glob(&quot;path[/*&quot;) always returns an empty array,</span>
<a name="gbab-277"></a>    <span class="c1"># because the method fails to find the closing pattern to &#39;[&#39; which is &#39;]&#39;</span>
<a name="gbab-278"></a>    <span class="c1">#</span>
<a name="gbab-279"></a>    <span class="c1"># Examples:</span>
<a name="gbab-280"></a>    <span class="c1">#   safe_glob(&quot;path[&quot;, &quot;*&quot;)</span>
<a name="gbab-281"></a>    <span class="c1">#   # =&gt; [&quot;path[/file1&quot;, &quot;path[/file2&quot;]</span>
<a name="gbab-282"></a>    <span class="c1">#   safe_glob(&quot;path&quot;, &quot;*&quot;, File::FNM_DOTMATCH)</span>
<a name="gbab-283"></a>    <span class="c1">#   # =&gt; [&quot;path/.&quot;, &quot;path/..&quot;, &quot;path/file1&quot;]</span>
<a name="gbab-284"></a>    <span class="c1">#</span>
<a name="gbab-285"></a>      <span class="n">pattern</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="nb">Array</span><span class="p">(</span><span class="n">patterns</span><span class="p">))</span>
<a name="gbab-286"></a>    <span class="c1">#   # =&gt; [&quot;path[/file1&quot;, &quot;path[/folder/file2&quot;]</span>
<a name="gbab-287"></a>    <span class="c1">#</span>
<a name="gbab-288"></a>    <span class="c1"># dir     - the dir where glob will be executed under</span>
<a name="gbab-289"></a>    <span class="c1">#           (the dir will be included to each result)</span>
<a name="gbab-290"></a>    <span class="c1"># patterns - the patterns (or the pattern) which will be applied under the dir</span>
<a name="gbab-291"></a>    <span class="c1"># flags   - the flags which will be applied to the pattern</span>
<a name="gbab-292"></a>    <span class="c1">#</span>
<a name="gbab-293"></a>    <span class="c1"># Returns matched pathes</span>
<a name="gbab-294"></a>    <span class="k">def</span> <span class="nf">safe_glob</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">patterns</span><span class="p">,</span> <span class="n">flags</span> <span class="o">=</span> <span class="mi">0</span><span class="p">)</span>
<a name="gbab-295"></a>      <span class="k">return</span> <span class="o">[]</span> <span class="k">unless</span> <span class="no">Dir</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span>
<a name="gbab-296"></a>      <span class="n">pattern</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="nb">Array</span> <span class="n">patterns</span><span class="p">)</span>
<a name="gbab-297"></a>      <span class="k">return</span> <span class="o">[</span><span class="n">dir</span><span class="o">]</span> <span class="k">if</span> <span class="n">pattern</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-298"></a>      <span class="no">Dir</span><span class="o">.</span><span class="n">chdir</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-299"></a>        <span class="no">Dir</span><span class="o">.</span><span class="n">glob</span><span class="p">(</span><span class="n">pattern</span><span class="p">,</span> <span class="n">flags</span><span class="p">)</span><span class="o">.</span><span class="n">map</span> <span class="p">{</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">f</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-300"></a>      <span class="k">end</span>
<a name="gbab-301"></a>    <span class="k">end</span>
<a name="gbab-302"></a>    <span class="kp">private</span>
<a name="gbab-303"></a>    <span class="k">def</span> <span class="nf">merge_values</span><span class="p">(</span><span class="n">target</span><span class="p">,</span> <span class="n">overwrite</span><span class="p">)</span>
<a name="gbab-304"></a>      <span class="n">target</span><span class="o">.</span><span class="n">merge!</span><span class="p">(</span><span class="n">overwrite</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">_key</span><span class="p">,</span> <span class="n">old_val</span><span class="p">,</span> <span class="n">new_val</span><span class="o">|</span>
<a name="gbab-305"></a>        <span class="k">if</span> <span class="n">new_val</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-306"></a>          <span class="n">old_val</span>
<a name="gbab-307"></a>        <span class="k">elsif</span> <span class="n">mergable?</span><span class="p">(</span><span class="n">old_val</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">mergable?</span><span class="p">(</span><span class="n">new_val</span><span class="p">)</span>
<a name="gbab-308"></a>      <span class="k">if</span> <span class="n">merged</span><span class="o">[</span><span class="ss">:encoding</span><span class="o">]</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">merged</span><span class="o">[</span><span class="ss">:encoding</span><span class="o">].</span><span class="n">start_with?</span><span class="p">(</span><span class="s2">&quot;bom|&quot;</span><span class="p">)</span>
<a name="gbab-309"></a>        <span class="n">merged</span><span class="o">[</span><span class="ss">:encoding</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;bom|</span><span class="si">#{</span><span class="n">merged</span><span class="o">[</span><span class="ss">:encoding</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-310"></a>      <span class="k">end</span>
<a name="gbab-311"></a>          <span class="n">deep_merge_hashes</span><span class="p">(</span><span class="n">old_val</span><span class="p">,</span> <span class="n">new_val</span><span class="p">)</span>
<a name="gbab-312"></a>        <span class="n">merged</span><span class="o">[</span><span class="s2">&quot;encoding&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;bom|</span><span class="si">#{</span><span class="n">merged</span><span class="o">[</span><span class="s2">&quot;encoding&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-313"></a>          <span class="n">new_val</span>
<a name="gbab-314"></a>        <span class="k">end</span>
<a name="gbab-315"></a>      <span class="k">end</span>
<a name="gbab-316"></a>    <span class="k">end</span>
<a name="gbab-317"></a>
<a name="gbab-318"></a>    <span class="kp">private</span>
<a name="gbab-319"></a>    <span class="k">def</span> <span class="nf">merge_default_proc</span><span class="p">(</span><span class="n">target</span><span class="p">,</span> <span class="n">overwrite</span><span class="p">)</span>
<a name="gbab-320"></a>      <span class="k">if</span> <span class="n">target</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">overwrite</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">target</span><span class="o">.</span><span class="n">default_proc</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-321"></a>        <span class="n">target</span><span class="o">.</span><span class="n">default_proc</span> <span class="o">=</span> <span class="n">overwrite</span><span class="o">.</span><span class="n">default_proc</span>
<a name="gbab-322"></a>      <span class="k">end</span>
<a name="gbab-323"></a>    <span class="k">end</span>
<a name="gbab-324"></a>
<a name="gbab-325"></a>    <span class="kp">private</span>
<a name="gbab-326"></a>    <span class="k">def</span> <span class="nf">duplicate_frozen_values</span><span class="p">(</span><span class="n">target</span><span class="p">)</span>
<a name="gbab-327"></a>      <span class="n">target</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">key</span><span class="p">,</span> <span class="n">val</span><span class="o">|</span>
<a name="gbab-328"></a>        <span class="n">target</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="o">=</span> <span class="n">val</span><span class="o">.</span><span class="n">dup</span> <span class="k">if</span> <span class="n">val</span><span class="o">.</span><span class="n">frozen?</span> <span class="o">&amp;&amp;</span> <span class="n">duplicable?</span><span class="p">(</span><span class="n">val</span><span class="p">)</span>
<a name="gbab-329"></a>      <span class="k">end</span>
<a name="gbab-330"></a>    <span class="k">end</span>
<a name="gbab-331"></a>
<a name="gbab-332"></a>      <span class="k">when</span> <span class="ss">:pretty</span>
<a name="gbab-333"></a>    <span class="c1"># Returns merged option hash for File.read of self.site (if exists)</span>
<a name="gbab-334"></a>    <span class="c1"># and a given param</span>
<a name="gbab-335"></a>    <span class="k">def</span> <span class="nf">merged_file_read_opts</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">opts</span><span class="p">)</span>
<a name="gbab-336"></a>      <span class="n">merged</span> <span class="o">=</span> <span class="p">(</span><span class="n">site</span> <span class="p">?</span> <span class="n">site</span><span class="o">.</span><span class="n">file_read_opts</span> <span class="p">:</span> <span class="p">{})</span><span class="o">.</span><span class="n">merge</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-337"></a>      <span class="k">if</span> <span class="n">merged</span><span class="o">[</span><span class="s2">&quot;encoding&quot;</span><span class="o">]</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">merged</span><span class="o">[</span><span class="s2">&quot;encoding&quot;</span><span class="o">].</span><span class="n">start_with?</span><span class="p">(</span><span class="s2">&quot;bom|&quot;</span><span class="p">)</span>
<a name="gbab-338"></a>        <span class="n">merged</span><span class="o">[</span><span class="s2">&quot;encoding&quot;</span><span class="o">].</span><span class="n">insert</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span> <span class="s2">&quot;bom|&quot;</span><span class="p">)</span>
<a name="gbab-339"></a>      <span class="k">end</span>
<a name="gbab-340"></a>      <span class="n">merged</span>
<a name="gbab-341"></a>    <span class="k">end</span>
<a name="gbab-342"></a>
<a name="gbab-343"></a>
<a name="gbab-344"></a>    <span class="c1"># Replace each character sequence with a hyphen.</span>
<a name="gbab-345"></a>    <span class="c1">#</span>
<a name="gbab-346"></a>    <span class="c1"># See Utils#slugify for a description of the character sequence specified</span>
<a name="gbab-347"></a>    <span class="c1"># by each mode.</span>
<a name="gbab-348"></a>    <span class="kp">private</span>
<a name="gbab-349"></a>    <span class="k">def</span> <span class="nf">replace_character_sequence_with_hyphen</span><span class="p">(</span><span class="n">string</span><span class="p">,</span> <span class="ss">mode</span><span class="p">:</span> <span class="s2">&quot;default&quot;</span><span class="p">)</span>
<a name="gbab-350"></a>      <span class="n">replaceable_char</span> <span class="o">=</span>
<a name="gbab-351"></a>        <span class="k">case</span> <span class="n">mode</span>
<a name="gbab-352"></a>        <span class="k">when</span> <span class="s2">&quot;raw&quot;</span>
<a name="gbab-353"></a>          <span class="no">SLUGIFY_RAW_REGEXP</span>
<a name="gbab-354"></a>        <span class="k">when</span> <span class="s2">&quot;pretty&quot;</span>
<a name="gbab-355"></a>          <span class="c1"># &quot;._~!$&amp;&#39;()+,;=@&quot; is human readable (not URI-escaped) in URL</span>
<a name="gbab-356"></a>          <span class="c1"># and is allowed in both extN and NTFS.</span>
<a name="gbab-357"></a>          <span class="no">SLUGIFY_PRETTY_REGEXP</span>
<a name="gbab-358"></a>        <span class="k">when</span> <span class="s2">&quot;ascii&quot;</span>
<a name="gbab-359"></a>          <span class="c1"># For web servers not being able to handle Unicode, the safe</span>
<a name="gbab-360"></a>          <span class="c1"># method is to ditch anything else but latin letters and numeric</span>
<a name="gbab-361"></a>          <span class="c1"># digits.</span>
<a name="gbab-362"></a>          <span class="no">SLUGIFY_ASCII_REGEXP</span>
<a name="gbab-363"></a>        <span class="k">else</span>
<a name="gbab-364"></a>          <span class="no">SLUGIFY_DEFAULT_REGEXP</span>
<a name="gbab-365"></a>        <span class="k">end</span>
<a name="gbab-366"></a>
<a name="gbab-367"></a>      <span class="c1"># Strip according to the mode</span>
<a name="gbab-368"></a>      <span class="n">string</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="n">replaceable_char</span><span class="p">,</span> <span class="s2">&quot;-&quot;</span><span class="p">)</span>
<a name="gbab-369"></a>    <span class="k">end</span>
<a name="gbab-370"></a>        <span class="n">template</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;/&quot;</span>
<a name="gbab-371"></a>      <span class="k">when</span> <span class="ss">:date</span><span class="p">,</span> <span class="ss">:ordinal</span><span class="p">,</span> <span class="ss">:none</span>
<a name="gbab-372"></a>        <span class="n">template</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;:output_ext&quot;</span>
<a name="gbab-373"></a>      <span class="k">else</span>
<a name="gbab-374"></a>        <span class="n">template</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;/&quot;</span> <span class="k">if</span> <span class="n">permalink_style</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">end_with?</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-375"></a>        <span class="n">template</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;:output_ext&quot;</span> <span class="k">if</span> <span class="n">permalink_style</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">end_with?</span><span class="p">(</span><span class="s2">&quot;:output_ext&quot;</span><span class="p">)</span>
<a name="gbab-376"></a>      <span class="k">end</span>
<a name="gbab-377"></a>      <span class="n">template</span>
<a name="gbab-378"></a>    <span class="k">end</span>
<a name="gbab-379"></a>
<a name="gbab-380"></a>    <span class="c1"># Add an appropriate suffix to template so that it matches the specified</span>
<a name="gbab-381"></a>    <span class="c1"># permalink style.</span>
<a name="gbab-382"></a>    <span class="c1">#</span>
<a name="gbab-383"></a>    <span class="c1"># template - permalink template without trailing slash or file extension</span>
<a name="gbab-384"></a>    <span class="c1"># permalink_style - permalink style, either built-in or custom</span>
<a name="gbab-385"></a>    <span class="c1">#</span>
<a name="gbab-386"></a>    <span class="c1"># The returned permalink template will use the same ending style as</span>
<a name="gbab-387"></a>    <span class="c1"># specified in permalink_style.  For example, if permalink_style contains a</span>
<a name="gbab-388"></a>    <span class="c1"># trailing slash (or is :pretty, which indirectly has a trailing slash),</span>
<a name="gbab-389"></a>    <span class="c1"># then so will the returned template.  If permalink_style has a trailing</span>
<a name="gbab-390"></a>    <span class="c1"># &quot;:output_ext&quot; (or is :none, :date, or :ordinal) then so will the returned</span>
<a name="gbab-391"></a>    <span class="c1"># template.  Otherwise, template will be returned without modification.</span>
<a name="gbab-392"></a>    <span class="c1">#</span>
<a name="gbab-393"></a>    <span class="c1"># Examples:</span>
<a name="gbab-394"></a>    <span class="c1">#   add_permalink_suffix(&quot;/:basename&quot;, :pretty)</span>
<a name="gbab-395"></a>    <span class="c1">#   # =&gt; &quot;/:basename/&quot;</span>
<a name="gbab-396"></a>    <span class="c1">#</span>
<a name="gbab-397"></a>    <span class="c1">#   add_permalink_suffix(&quot;/:basename&quot;, :date)</span>
<a name="gbab-398"></a>    <span class="c1">#   # =&gt; &quot;/:basename:output_ext&quot;</span>
<a name="gbab-399"></a>    <span class="c1">#</span>
<a name="gbab-400"></a>    <span class="c1">#   add_permalink_suffix(&quot;/:basename&quot;, &quot;/:year/:month/:title/&quot;)</span>
<a name="gbab-401"></a>    <span class="c1">#   # =&gt; &quot;/:basename/&quot;</span>
<a name="gbab-402"></a>    <span class="c1">#</span>
<a name="gbab-403"></a>    <span class="c1">#   add_permalink_suffix(&quot;/:basename&quot;, &quot;/:year/:month/:title&quot;)</span>
<a name="gbab-404"></a>    <span class="c1">#   # =&gt; &quot;/:basename&quot;</span>
<a name="gbab-405"></a>    <span class="c1">#</span>
<a name="gbab-406"></a>    <span class="c1"># Returns the updated permalink template</span>
<a name="gbab-407"></a>    <span class="k">def</span> <span class="nf">add_permalink_suffix</span><span class="p">(</span><span class="n">template</span><span class="p">,</span> <span class="n">permalink_style</span><span class="p">)</span>
<a name="gbab-408"></a>      <span class="k">case</span> <span class="n">permalink_style</span>
<a name="gbab-409"></a>      <span class="k">when</span> <span class="ss">:pretty</span>
<a name="gbab-410"></a>        <span class="n">template</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;/&quot;</span>
<a name="gbab-411"></a>      <span class="k">when</span> <span class="ss">:date</span><span class="p">,</span> <span class="ss">:ordinal</span><span class="p">,</span> <span class="ss">:none</span>
<a name="gbab-412"></a>        <span class="n">template</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;:output_ext&quot;</span>
<a name="gbab-413"></a>      <span class="k">else</span>
<a name="gbab-414"></a>        <span class="n">template</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;/&quot;</span> <span class="k">if</span> <span class="n">permalink_style</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">end_with?</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-415"></a>        <span class="n">template</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;:output_ext&quot;</span> <span class="k">if</span> <span class="n">permalink_style</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">end_with?</span><span class="p">(</span><span class="s2">&quot;:output_ext&quot;</span><span class="p">)</span>
<a name="gbab-416"></a>      <span class="k">end</span>
<a name="gbab-417"></a>      <span class="n">template</span>
<a name="gbab-418"></a>    <span class="k">end</span>
<a name="gbab-419"></a>
<a name="gbab-420"></a><span class="k">end</span>
</pre></div>
</td></tr></table>