<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="nx">alert</span><span class="p">(</span><span class="s2">&quot;From your theme.&quot;</span><span class="p">);</span>
</pre></div>
</td></tr></table>